<template>
  <q-dialog @hide="onHide"
    v-model="isOpen"
    full-height
    full-width
  >
    <q-layout view="Lhh lpR fff" container class="bg-dark">
      <q-header class="bg-black">
        <q-toolbar>
          <q-tabs v-model="tab" class="q-mt-sm text-secondary" inline-label align="justify">
            <q-tab label="Info" name="info" icon="info"/>
            <q-tab label="myh4c Profile" name="myh4c" icon="share"/>
            <q-tab label="Salesforce" name="salesforce" icon="cloud"/>
            <q-tab label="Cached" name="cache" icon="cached"/>
          </q-tabs>
          <q-space />
          <q-btn icon="close" :label="$q.lang.label.close" v-close-popup />
        </q-toolbar>
      </q-header>
      <q-footer class="bg-dark" v-if="tab === 'info'">
        <q-toolbar>
          <q-space />
          <q-btn icon="close" :label="$q.lang.label.close" v-close-popup />
          <q-btn class="q-ml-sm" icon="save" label="Guardar" v-close-popup @click="update" color="primary" text-color="dark"/>
        </q-toolbar>
      </q-footer>
      <q-page-container>
        <q-page>
          <div v-if="tab === 'info'" class="bg-dark text-white">
            <div v-if="$apollo.loading" class="row q-mt-md  q-pa-lg">
              <q-spinner
                style="margin: auto;"
                size="5em"
                color="secondary"
              ></q-spinner>
            </div>
            <div class="row q-pa-md" v-else dark>
              <div class="col-12">
                <v-form :data="initialData" :dark="true" ref="editForm"
                  :fields="[
                    {name: 'club', readOnly:'club.alias'},
                    {name: 'id', readOnly:'id'},
                    {name: 'v7_id', required: true},
                    {name: 'status', type:'Array', clearable: false, options: [
                      {value:'1', label:'Web Offer'},
                      {value:'2', label:'First Booking'},
                      {value:'3', label:'Debutant'},
                      {value:'4', label:'Client'},
                      {value:'5', label:'Member'},
                      {value:'6', label:'Ex-Member'}
                    ]},
                    {name: 'range', type:'Array', clearable: false, options: [
                      {value:'B', label:'Bronze'},
                      {value:'S', label:'Silver'},
                      {value:'G', label:'Gold'}
                    ]},
                    {name: 'syncSalesforcePending', type:'Boolean'},
                    {name: 'notSyncToSalesforce', type: 'Boolean'},
                    {name: 'walletBalance', type: 'Number'}
                  ]"/>
              </div>
            </div>
          </div>
          <iframe v-if="tab === 'myh4c'"
            style="position: absolute; height: 100%; border: none;"
            width="100%"
            :src="`${baseURLmyh4c}#/start_embed_app/${clubAlias}?resource=fitboxers/${v7_id}`"
            frameborder="0">
          </iframe>
          <div v-if="tab === 'salesforce'" class="q-pa-md text-white">
            <salesforce :id="initialData.id" />
          </div>
          <div v-if="tab === 'cache'" class="q-pa-md text-white">
            <redis-content :cacheKey="`cache$Fitboxer:${v7_id}`" />
          </div>
        </q-page>
      </q-page-container>
    </q-layout>
  </q-dialog>
</template>

<script>
import gql from 'graphql-tag'

import vForm from 'components/vuetyful/v-form'

import RedisContent from 'components/partials/Redis.content'
import Salesforce from 'components/forms/Fitboxer/Fitboxer.salesforce'

// Mixins
import notify from 'components/js/mixins/notify'

const uri = location.hostname === 'admin.brooklynfitzone.com'
  ? 'https://myh4c.brooklynfitzone.com/'
  : 'http://10.10.0.4/myh4c/'

export default {
  name: 'FitboxerForm',
  components: {
    vForm,
    Salesforce,
    RedisContent
  },
  mixins: [notify],
  props: {
    open: Boolean,
    initialData: {
      type: Object,
      default: () => null
    }
  },
  data () {
    return {
      baseURLmyh4c: uri,
      isOpen: false,
      tab: 'info',
      data: {
        unpayments: null
      }
    }
  },
  computed: {
    clubAlias () {
      return this.initialData && this.initialData.club.alias
    },
    v7_id () {
      return this.initialData && this.initialData.v7_id
    }
  },

  apollo: {
    fitboxer: {
      query: gql`query($id: String!){
        fitboxer(id: $id){
          id
          unpayments
        }
      }`,
      variables () {
        return {
          id: this.initialData.id
        }
      },
      manual: true,
      skip () {
        return this.isOpen !== true
      },
      result ({ data }) {
        for (const key in this.data) {
          this.data[key] = data.fitboxer[key]
        }
      }
    }
  },

  watch: {
    open: function (newValue, oldValue) {
      this.isOpen = newValue
    }
  },
  methods: {
    async update () {
      try {
        this.$q.loading.show()
        const newData = this.$refs.editForm.getValues()
        await this.$apollo.mutate({
          mutation: gql`mutation($data: String!, $id: String!){
            updateFitboxer(data: $data, id: $id){
              id
              v7_id
              profileId
              avatar
              firstName
              lastName
              nickname
              status
              email
              phone
              club{
                id
                alias
              }
              shopperReference
              range
              level
              w_avg
              syn
              pow
              karma_balance
              lastSession
              unpayments
              syncSalesforcePending
              notSyncToSalesforce
            }
          }`,
          variables: {
            data: JSON.stringify(newData),
            id: this.initialData.id
          }
        })
        this.notifyDone()
        // Actualizar row
        for (const key in newData) {
          this.initialData[key] = newData[key]
        }
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.$q.loading.hide()
      }
    },
    onHide () {
      this.$emit('hide')
    }
  }
}
</script>

<style>
</style>
