<template>
  <div>
    <div v-if="$apollo.loading" class="row q-mt-md  q-pa-lg">
      <q-spinner
        style="margin: auto;"
        size="5em"
        color="secondary"
      ></q-spinner>
    </div>
    <div class="row" v-else>
      <div :class="[$q.screen.gt.xs ? 'q-pa-md':'']"
        class="col-md-6 col-xs-12 row"
      >
        <div class="text-h6 q-pa-sm col-12">CRM</div>
        <div class="col-sm-6 col-12">
          <q-input dark
            :class="[$q.screen.gt.xs ? 'q-pa-xs':'']"
            :dense="$q.screen.lt.sm"
            v-model.trim="fitboxer.salesForceLeadId"
            label="Salesforce Lead Id"
          >
            <template v-slot:append>
              <q-btn round dense flat icon="open_in_new" @click="openLead"/>
            </template>
          </q-input>
        </div>
        <div class="col-sm-6 col-xs-12">
          <q-input dark
            :class="[$q.screen.gt.xs ? 'q-pa-xs':'']"
            :dense="$q.screen.lt.sm"
            v-model.trim="fitboxer.salesForceId"
            label="Salesforce Id"
          >
            <template v-slot:append>
              <q-btn round dense flat icon="open_in_new" @click="openFitboxer"/>
            </template>
          </q-input>
        </div>
      </div>

      <div :class="[$q.screen.gt.xs ? 'q-pa-md':'']"
        class="col-md-6 col-xs-12 row "
      >
        <div class="text-h6 q-pa-sm col-12">MARKETING CLOUD</div>
        <div class="col-sm-6 col-xs-12">
          <q-input dark
            :class="[$q.screen.gt.xs ? 'q-pa-xs':'']"
            :dense="$q.screen.lt.sm"
            v-model.trim="fitboxer.contactId"
            label="Contact Id"
          />
        </div>
        <div class="col-sm-6 col-xs-12">
          <q-btn @click="save" flat dark
            :class="[$q.screen.gt.xs ? 'q-pa-xs':'']"
            class="q-pa-sm"
            label="Guardar"
            color="primary"
            icon="save">
          </q-btn>
        </div>
      </div>
      <div :class="[$q.screen.gt.xs ? 'q-pa-md':'']"
        class="col-12 row "
      >
        <template v-if="fitboxer.salesForceWithErrors">
          <div class="text-subtitle1 col-12 text-grey-6">Last Error</div>
          <div class="text-h6 col-12 text-red">{{fitboxer.salesForceLastError}}</div>
        </template>
        <!-- Grid -->
        <queues-grid class="full-width"
          :list="fitboxer.salesForceJobs"
          :totalCount="fitboxer.salesForceJobs.length"
          :height="$q.screen.height - 312"
          queue="ThirdPartyManager"
          @refresh="refresh"
        >
        <template slot="pre-filters">
          <div class="text-h6 q-pa-sm">JOBS</div>
          <q-btn icon="refresh" rounded label="Refresh" @click="refresh()"/>
        </template>
        </queues-grid>
        <!-- Edit
        <q-dialog v-model="isJobOpened">
          <q-card style="width: 1200px; max-width: 80vw;" square>
            <q-bar class="bg-dark" dark>
              <div class="text-grey-6">Job detail</div>
              <q-space ></q-space>
              <q-btn dense flat icon="close" v-close-popup color="grey-6">
                <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
              </q-btn>
            </q-bar>
            <queue-job :it="jobData" queue="ThirdPartyManager"  :status="jobData && jobData.failedReason ? 'failed' : 'complete'"
            />
          </q-card>
        </q-dialog> -->
      </div>
    </div>
  </div>
</template>

<script>
import { openURL } from 'quasar'
import gql from 'graphql-tag'

import notify from 'components/js/mixins/notify'

import QueuesGrid from 'components/grids/Queues'
// import QueueJob from 'components/cards/QueueJob'

const uri = location.hostname === 'admin.brooklynfitzone.com'
  ? 'https://brooklynfitboxinginternational.lightning.force.com/lightning/r/'
  : 'https://brooklynfitboxinginternational--uat.lightning.force.com/lightning/r/'

export default {
  name: 'FitboxerSalesforce',
  mixins: [notify],
  components: {
    QueuesGrid
    // QueueJob
  },
  props: {
    id: String
  },
  data () {
    return {
      fitboxer: null,
      // View
      isJobOpened: false,
      jobData: null
    }
  },

  apollo: {
    fitboxer () {
      return {
        query: gql`query($id: String!){
          fitboxer(id: $id){
            id
            contactId
            salesForceLeadId
            salesForceId
            salesForceWithErrors
            salesForceLastError
            salesForceJobs
          }
        }`,
        variables () {
          return {
            id: this.id
          }
        },
        fetchPolicy: 'network-only'
      }
    }
  },
  methods: {
    openLead () {
      openURL(`${uri}Lead/${this.fitboxer.salesForceLeadId}/view`)
    },

    openFitboxer () {
      openURL(`${uri}Account/${this.fitboxer.salesForceId}/view`)
    },
    clickJob (data) {
      this.isJobOpened = true
      this.jobData = data
    },
    async save () {
      const _self = this
      this.$q.dialog({
        dark: true,
        message: '¿Deseas confirmar los cambios?'
      }).onOk(async () => {
        _self.$q.loading.show()
        try {
          const data = {
            salesForceLeadId: this.fitboxer.salesForceLeadId,
            salesForceId: this.fitboxer.salesForceId
          }
          await this.$apollo.mutate({
            mutation: gql`mutation($data: String!, $id: String!){
              updateFitboxer(data: $data, id: $id){
                id
                contactId
                salesForceLeadId
                salesForceId
                salesForceWithErrors
                salesForceLastError
                salesForceJobs
              }
            }`,
            variables: {
              data: JSON.stringify(data),
              id: _self.id
            }
          })
          _self.notifyDone()
        } catch (ex) {
          _self.notifyError(ex)
        } finally {
          _self.$q.loading.hide()
        }
      })
    },

    refresh () {
      this.$apollo.queries.fitboxer.refetch()
    }
  }
}
</script>

<style>
</style>
