<template>
  <div>
    <q-btn @click="isOpen = true" label="Editar Imagen ..." icon="image" class="full-width q-mt-xs" flat/>
    <q-dialog v-model="isOpen" transition-show="flip-down" transition-hide="flip-up">
      <q-card style="width: 80vw; height: 480px;">
        <q-bar>
          <div>Editar imagen</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <file-pond class="q-mt-lg"
          name="file"
          ref="pond"
          :label-idle="$t('profile.image.drop')"
          allow-multiple="true"
          instant-upload="true"
          accepted-file-types="image/jpeg, image/png"
          :server="server"
          imageEditInstantEdit="true"
          imageCropAspectRatio="1:1"
          v-bind:imageEditEditor="myDoka"
          v-bind:files="myFiles"
          v-on:init="handleFilePondInit"
          v-on:processfile="handleProcessFile"
        />
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
// Import Doka
import { create } from './vue-doka/lib/doka.esm.min'
import './vue-doka/lib/doka.min.css'

// Import Vue FilePond
import vueFilePond from 'vue-filepond'

// Import FilePond styles
import 'filepond/dist/filepond.min.css'

// Import plugin styles
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'
import 'filepond-plugin-image-edit/dist/filepond-plugin-image-edit.min.css'

// Import plugins
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
import FilePondPluginImageExifOrientation from 'filepond-plugin-image-exif-orientation'
import FilePondPluginImagePreview from 'filepond-plugin-image-preview'
import FilePondPluginImageEdit from 'filepond-plugin-image-edit'
import FilePondPluginImageCrop from 'filepond-plugin-image-crop'
import FilePondPluginImageResize from 'filepond-plugin-image-resize'
import FilePondPluginImageTransform from 'filepond-plugin-image-transform'

// Create component
const FilePond = vueFilePond(
  FilePondPluginFileValidateType,
  FilePondPluginImageExifOrientation,
  FilePondPluginImageCrop,
  FilePondPluginImageResize,
  FilePondPluginImagePreview,
  FilePondPluginImageEdit,
  FilePondPluginImageTransform
)

import notify from 'components/js/mixins/notify'

export default {
  name: 'UploadImage',
  mixins: [notify],
  components: {
    FilePond
  },
  props: {
    entity: String,
    value: String
  },
  data: function () {
    return {
      isOpen: false,
      myFiles: [],
      myDoka: create({
        cropAspectRatioOptions: [
          {
            label: 'Square',
            value: 1
          }
        ]
      }),
      server: {
        url: `${this.$axios.defaults.baseURL}/images`,
        process: {
          url: '/upload',
          withCredentials: false,
          headers: {
            authorization: this.$axios.defaults.headers.common['Authorization']
          }
        },
        revert: async (uniqueFileId, load, error) => {
          try {
            await this.$axios.delete(`/images/${uniqueFileId}`)
            load()
          } catch (ex) {
            error('oh my goodness')
          }
        }
      }
    }
  },
  methods: {
    handleFilePondInit: function () {
      // FilePond instance methods are available on `this.$refs.pond`
    },
    async handleProcessFile (ex, file) {
      if (ex) {
        this.notifyError(ex)
      } else {
        // Attacht File to Profile
        try {
          const { data } = await this.$axios.post(`images/attach_to/${this.entity}:${this.value}`, {
            fileExtension: file.fileExtension,
            fileSize: file.fileSize,
            serverId: file.serverId
          })
          this.$emit('ok', data)
          this.isOpen = false
        } catch (ex) {
          this.notifyError(ex)
        }
      }
    }
  }
}
</script>

<style>
.filepond--root {
  width: 90%;
  height: 400px;
  margin: auto;
}
@media (min-width: 40em) {
    .filepond--item {
        width: calc(50% - .5em);
    }
}

@media (min-width: 50em) {
    .filepond--item {
        width: calc(33.33% - .5em);
    }
}
</style>
