<template>
  <q-page padding>

    <file-pond
      name="file"
      ref="pond"
      :label-idle="$t('profile.image.drop')"
      allow-multiple="true"
      instant-upload="true"
      accepted-file-types="image/jpeg, image/png"
      :server="server"
      imageEditInstantEdit="true"
      imageCropAspectRatio="1:1"
      v-bind:imageEditEditor="myDoka"
      v-bind:files="myFiles"
      v-on:init="handleFilePondInit"
      v-on:processfile="handleProcessFile"
    />

  </q-page>
</template>

<script>
// Import Doka
import { create } from './vue-doka/lib/doka.esm.min'
import './vue-doka/lib/doka.min.css'

// Import Vue FilePond
import vueFilePond from 'vue-filepond'

// Import FilePond styles
import 'filepond/dist/filepond.min.css'

// Import plugin styles
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'
import 'filepond-plugin-image-edit/dist/filepond-plugin-image-edit.min.css'

// Import plugins
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
import FilePondPluginImageExifOrientation from 'filepond-plugin-image-exif-orientation'
import FilePondPluginImagePreview from 'filepond-plugin-image-preview'
import FilePondPluginImageEdit from 'filepond-plugin-image-edit'
import FilePondPluginImageCrop from 'filepond-plugin-image-crop'
import FilePondPluginImageResize from 'filepond-plugin-image-resize'
import FilePondPluginImageTransform from 'filepond-plugin-image-transform'

// Create component
const FilePond = vueFilePond(
  FilePondPluginFileValidateType,
  FilePondPluginImageExifOrientation,
  FilePondPluginImageCrop,
  FilePondPluginImageResize,
  FilePondPluginImagePreview,
  FilePondPluginImageEdit,
  FilePondPluginImageTransform
)

export default {
  name: 'UploadImage',
  components: {
    FilePond
  },
  data: function () {
    return {
      myFiles: [],
      myDoka: create({
        cropAspectRatioOptions: [
          {
            label: 'Free',
            value: null
          },
          {
            label: 'Portrait',
            value: 1.25
          },
          {
            label: 'Square',
            value: 1
          },
          {
            label: 'Landscape',
            value: 0.75
          }
        ]
      }),
      server: {
        url: `${this.$axios.defaults.baseURL}/images`,
        process: {
          url: '/upload',
          withCredentials: true
        },
        revert: async (uniqueFileId, load, error) => {
          try {
            await this.$axios.delete(`/images/${uniqueFileId}`)
            load()
          } catch (ex) {
            error('oh my goodness')
          }
        }
      }
    }
  },
  methods: {
    handleFilePondInit: function () {
      // FilePond instance methods are available on `this.$refs.pond`
    },
    async handleProcessFile (ex, file) {
      if (ex) {
        this.$q.notify({
          icon: 'error',
          message: (ex.response ? ex.response.data.message : ex.toString()),
          position: 'top',
          color: 'negative'
        })
      } else {
        // Attacht File to Profile
        try {
          const { data } = await this.$axios.post('images/attach_to/profiles', {
            fileExtension: file.fileExtension,
            fileSize: file.fileSize,
            serverId: file.serverId
          })
          // Cambiar la imagen en el perfil
          this.$store.dispatch('auth/setAvatar', data)
          // Redirigir
          this.$router.back()
        } catch (ex) {
          this.$q.notify({
            icon: 'error',
            message: (ex.response ? ex.response.data.message : ex.toString()),
            position: 'top',
            color: 'negative'
          })
        }
      }
    }
  }
}
</script>

<style>
.filepond--root {
  height: 400px;
}
@media (min-width: 40em) {
    .filepond--item {
        width: calc(50% - .5em);
    }
}

@media (min-width: 50em) {
    .filepond--item {
        width: calc(33.33% - .5em);
    }
}
</style>
