<template>
  <file-pond
    name="test"
    ref="pond"
    label-idle="Drop files here..."
    accepted-file-types="image/jpeg, image/png"
    server="/api"
    v-bind:files="myFiles"
    v-on:init="handleFilePondInit"
  />
</template>

<script>
import vueFilePond from 'vue-filepond'
import 'filepond/dist/filepond.min.css'

// Import image preview plugin styles
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'

// Import image preview and file type validation plugins
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
import FilePondPluginImagePreview from 'filepond-plugin-image-preview'

// Create component
const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginImagePreview)

export default {
  components: {
    FilePond
  },
  data: function () {
    return {
      myFiles: []
    }
  },
  methods: {
    handleFilePondInit: function () {
      // console.log('FilePond has initialized')
      // FilePond instance methods are available on `this.$refs.pond`
    }
  }
}
</script>

<style>
</style>
