<template>
  <div>
    <loading v-if="$apollo.loading" />
    <div class="row q-pa-none" v-else>
      <q-toolbar>
        <q-btn icon="refresh" flat rounded label="Refresh" @click="refresh()"/>
      </q-toolbar>
      <div class="col-12 col-xl-6 q-pa-xs"
        v-for="it in repeatableJobs" :key="it.id"
      >
        <repeatable-job :it="it" :queue="queueId"  @reload="refresh"/>
      </div>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'

import notify from 'components/js/mixins/notify'

import Loading from 'components/controls/Loading'
import RepeatableJob from 'components/cards/RepeatableJob'

export default {
  name: 'QueueRepeatableJobs',
  mixins: [notify],
  components: {
    Loading,
    RepeatableJob
  },
  props: {
    queueId: String
  },
  data () {
    return {
      repeatableJobs: []
    }
  },

  apollo: {
    repeatableJobs: {
      query: gql`query($id: String!){
        repeatableJobs(id: $id)
      }`,
      variables () {
        return {
          id: this.queueId
        }
      },
      fetchPolicy: 'network-only'
    }
  },
  methods: {
    refresh () {
      this.$apollo.queries.repeatableJobs.refetch()
      this.$emit('refresh')
    }
  }
}
</script>

<style>
</style>
