<template>
  <div>
    <loading v-if="$apollo.loading" />
    <div class="row q-pa-none" v-else>
      <q-toolbar class="bg-dark">
        <q-btn icon="refresh" flat rounded label="Refresh" @click="refresh()"/>
        <q-btn icon="save" flat rounded label="Save and Reload" @click="save"/>
        <q-space />
        <q-badge v-if="data.status === 'new'" label="Configuración no Establecida" color="grey-8"/>
      </q-toolbar>
      <div class="q-pa-lg">
        <q-input v-model.number="data.removeOnComplete" type="number" dark label="Completados"/>
        <q-input v-model.number="data.removeOnFail" type="number" dark label="Fallidos" :disable="true"/>
        <q-input v-model.number="data.every" type="number" dark label="Ejecutar cada (mins)"/>
        <q-toggle v-model="data.removeJobOnCompleted" dark label="Eliminar job al ejecutarse" />
      </div>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'

import notify from 'components/js/mixins/notify'

import Loading from 'components/controls/Loading'

export default {
  name: 'QueueRepeatableJobs',
  mixins: [notify],
  components: {
    Loading
  },
  props: {
    queueId: String
  },
  data () {
    return {
      data: null
    }
  },

  apollo: {
    jobCleanerConfig: {
      query: gql`query($id: String!){
        jobCleanerConfig(id: $id)
      }`,
      variables () {
        return {
          id: this.queueId
        }
      },
      result ({ data }) {
        const options = data.jobCleanerConfig || {
          removeOnComplete: 1000,
          removeOnFail: 1000,
          every: 2,
          removeJobOnCompleted: true,
          status: 'new'
        }
        this.data = options
      },
      fetchPolicy: 'network-only'
    }
  },
  methods: {
    async save () {
      try {
        this.$q.loading.show()
        const { data } = await this.$apollo.mutate({
          mutation: gql`mutation($id: String!, $data: String!){
            setJobCleanerConfig(id: $id, data: $data)
          }`,
          variables: {
            id: this.queueId,
            data: JSON.stringify(this.data)
          }
        })
        this.data = data.setJobCleanerConfig
        this.notifyDone()
        this.$emit('refresh')
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.$q.loading.hide()
      }
    },
    refresh () {
      this.$apollo.queries.jobCleanerConfig.refetch()
    }
  }
}
</script>

<style>
</style>
