<template>
  <div>
    <q-toolbar>
      <q-btn icon="add" flat rounded label="Add" @click="add"/>
      <q-btn icon="edit" flat rounded label="Edit" @click="edit" :disable="selected.length !== 1"/>
      <q-btn icon="delete_forever" flat rounded label="Remove" @click="remove" :disable="selected.length === 0"/>
      <q-btn icon="refresh" flat rounded label="Refresh" @click="refresh()"/>
    </q-toolbar>
    <q-table class="q-mt-sm" dark
      :grid="$q.screen.lt.sm"
      :data="queueAlerts"
      :columns="[
        {
          name: 'type',
          label: 'Type',
          field: 'type',
          align: 'left',
          sortable: true
        },
        {
          name: 'proc',
          label: 'Processes',
          field: 'processes',
          align: 'left'
        },
        {
          name: 'to',
          label: 'Send to',
          field: 'to',
          align: 'left'
        },
        {
          name: 'cc',
          label: 'CC',
          field: 'cc',
          align: 'left'
        },
        {
          name: 'bcc',
          label: 'BCC',
          field: 'bcc',
          align: 'left'
        },
        {
          name: 'data',
          label: 'Data',
          field: 'includeData',
          align: 'center'
        },
        {
          name: 'logs',
          label: 'Logs',
          field: 'includeLogs',
          align: 'center'
        },
        {
          name: 'output',
          label: 'Output',
          field: 'includeOutput',
          align: 'center'
        },
      ]"
      :loading="$apollo.loading"
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      binary-state-sort
      row-key="type"
      @row-click="rowClick"
      @row-dblclick="rowDblClick"

      :selected="selected"
      selection="single"
    >
      <!-- Loading -->
      <template v-slot:loading>
        <q-inner-loading showing color="primary" dark/>
      </template>

      <!-- Columns -->
      <template v-slot:body-cell-type="props">
        <q-td :props="props">
          <q-badge v-if="props.row.type === 'failed'"
            text-color="grey-1"
            color="negative"
            class="q-mx-xs text-bold"
            :label="props.row.type.toUpperCase()"
          />
          <q-badge v-else-if="props.row.type === 'completed'"
            text-color="grey-1"
            color="positive"
            class="q-mx-xs text-bold"
            :label="props.row.type.toUpperCase()"
          />
          <q-badge v-else
            text-color="grey-10"
            color="grey-2"
            class="q-mx-xs text-bold"
            :label="props.row.type.toUpperCase()"
          />
        </q-td>
      </template>

      <template v-slot:body-cell-proc="props">
        <q-td :props="props">
          <q-badge v-for="it of props.row.processes" :key="it"
            text-color="grey-1"
            color="grey-8"
            class="q-mx-xs"
          >
            {{it}}
          </q-badge>
        </q-td>
      </template>

      <template v-slot:body-cell-data="props">
        <q-td :props="props">
          <q-icon name="check_box" color="positive" size="sm" v-if="props.row.includeData"/>
          <q-icon name="check_box_outline_blank" color="grey-7" size="sm" v-else/>
        </q-td>
      </template>

      <template v-slot:body-cell-logs="props">
        <q-td :props="props">
          <q-icon name="check_box" color="positive" size="sm" v-if="props.row.includeLogs"/>
          <q-icon name="check_box_outline_blank" color="grey-7" size="sm" v-else/>
        </q-td>
      </template>

      <template v-slot:body-cell-output="props">
        <q-td :props="props">
          <q-icon name="check_box" color="positive" size="sm" v-if="props.row.includeOutput"/>
          <q-icon name="check_box_outline_blank" color="grey-7" size="sm" v-else/>
        </q-td>
      </template>
    </q-table>

    <q-dialog v-model="isAlertOpen">
      <q-card style="width: 600px; max-width: 80vw;" square class="bg-grey-10" dark>
        <q-bar class="bg-dark" dark>
          <div class="text-grey-6">Alert</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup color="grey-6">
            <q-tooltip>{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section class="q-pa-xs q-py-md">
          <div class="q-px-md text-grey-5"><small>Procesess</small></div>
          <q-toggle dark v-for="p of processes" :key="p"
            v-model="alert.processes"
            :val="p"
            :label="p"
          />
          <div class="q-pa-md">
            <q-select dark
              label="Type"
              v-model="alert.type"
              :options="['failed', 'completed', 'active', 'stalled', 'lock-extension-failed', 'resumed', 'removed', 'progress']"
            />
            <q-input v-model.trim="alert.to" label="to" dark/>
            <q-input v-model.trim="alert.cc" label="cc" dark/>
            <q-input v-model.trim="alert.bcc" label="bcc" dark/>
          </div>
          <div>
            <q-toggle dark v-model="alert.includeData" label="Incluir Input Data"/>
            <q-toggle dark v-model="alert.includeLogs" label="Incluir Logs"/>
            <q-toggle dark v-model="alert.includeOutput" label="Incluir Resultado"/>
          </div>
        </q-card-section>
        <q-separator />

        <q-card-actions align="right" class="q-pa-md bg-black">
          <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
          <q-btn @click="save" :disable="alert.processes.length === 0"
            :loading="$apollo.loading"
            label="Save and Reload"
            color="secondary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import gql from 'graphql-tag'

import notify from 'components/js/mixins/notify'

export default {
  name: 'QueueAlerts',
  mixins: [notify],
  components: {
  },
  props: {
    queueId: String,
    processes: Array
  },
  data () {
    return {
      queueAlerts: [],
      selected: [],
      isAlertOpen: false,
      alert: {
        processes: []
      },
      pagination: { rowsPerPage: 0 }
    }
  },

  apollo: {
    queueAlerts: {
      query: gql`query($id: String!){
        queueAlerts(id: $id)
      }`,
      variables () {
        return {
          id: this.queueId
        }
      },
      fetchPolicy: 'network-only'
    }
  },
  methods: {
    add () {
      this.alert = {
        processes: [],
        type: 'failed'
      }
      this.isAlertOpen = true
    },

    edit () {
      this.alert = {
        ...this.selected[0]
      }
      this.isAlertOpen = true
    },

    async save () {
      try {
        this.$q.loading.show()
        await this.$apollo.mutate({
          mutation: gql`mutation($id: String!, $data: String!){
            setAlert(id: $id, data: $data)
          }`,
          variables: {
            id: this.queueId,
            data: JSON.stringify(this.alert)
          }
        })
        this.isAlertOpen = false
        this.notifyDone()
        this.refresh()
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.$q.loading.hide()
      }
    },

    async remove () {
      this.$q.dialog({
        title: 'Eliminar Alertas',
        dark: true,
        message: 'Eliminará las alertas seleccionadas y reiniciará la cola',
        cancel: {
          color: 'accent',
          flat: true
        },
        ok: {
          color: 'secondary'
        },
        persistent: true
      }).onOk(async () => {
        try {
          this.$q.loading.show()
          await this.$apollo.mutate({
            mutation: gql`mutation{
              removeAlert(id: "${this.queueId}", alertId: "${this.selected[0].type}")
            }`
          })
          this.notifyDone(`Se ha reiniciado al cola correctamente.`)
          this.refresh()
        } catch (ex) {
          this.notifyError(ex)
        } finally {
          this.$q.loading.hide()
        }
      })
    },

    rowClick (ev, row) {
      this.selected = [row]
    },
    rowDblClick (ev, row) {
      this.edit()
    },
    refresh () {
      this.$apollo.queries.queueAlerts.refetch()
    }
  }
}
</script>

<style>
</style>
