<template>
  <div>
    <!-- Boton de más Opciones-->
    <q-btn-dropdown label="" dropdown-icon="more_vert" stretch flat dense>
      <q-list  style="max-width: 350px" class="bg-dark" dark>
        <q-item clickable v-close-popup @click="reload">
          <q-item-section>
            <q-item-label>Reiniciar cola</q-item-label>
            <q-item-label caption lines="2">Reinicia la cola actualizando los scripts y aplicando la configuración.</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator dark/>
        <q-item clickable v-close-popup @click="isOptionsOpen = true">
          <q-item-section>
            <q-item-label>Configuración...</q-item-label>
            <q-item-label caption lines="2">Permite configurar Tareas periodicas, el "Job Cleaner" y las Alertas.</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-btn-dropdown>
    <!-- Modal de Edición -->
    <q-dialog v-model="isOptionsOpen">
      <q-card style="width: 1200px; max-width: 80vw; min-height: 60vh;" square class="bg-grey-10" dark>
        <q-bar class="bg-dark" dark>
          <div class="text-grey-6">Options {{queueId}}</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup color="grey-6">
            <q-tooltip>{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section class="q-pa-none">
          <q-tabs v-model="tab" class="text-secondary col" inline-label align="left">
            <q-tab name="one" icon="delete" label="Job Cleaner" />
            <q-tab name="two" icon="notifications" label="Alertas" />
            <q-tab name="three" icon="repeat" label="Tareas periodicas" />
          </q-tabs>
          <q-tab-panels v-model="tab" animated dark>
            <q-tab-panel class="q-pa-none bg-grey-10" name="one">
              <cleaner-job-form :queueId="queueId" @refresh="$emit('refresh')"/>
            </q-tab-panel>
            <q-tab-panel class="q-pa-none bg-grey-10" name="two">
              <alerts :queueId="queueId" :processes="processes" @refresh="$emit('refresh')"/>
            </q-tab-panel>
            <q-tab-panel class="q-pa-none" name="three">
              <repeatable-jobs-form :queueId="queueId"/>
            </q-tab-panel>
          </q-tab-panels>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import gql from 'graphql-tag'

// Mixins
import notify from 'components/js/mixins/notify'

import RepeatableJobsForm from 'components/forms/Queue/Queue.repeatable'
import CleanerJobForm from 'components/forms/Queue/Queue.cleaner'
import Alerts from 'components/forms/Queue/Queue.alerts'

export default {
  name: 'QueueOptionsForm',
  components: {
    RepeatableJobsForm,
    CleanerJobForm,
    Alerts
  },
  mixins: [notify],
  props: {
    queueId: String,
    processes: Array
  },
  data () {
    return {
      isOptionsOpen: false,
      tab: 'one'
    }
  },
  computed: {
  },

  methods: {
    reload () {
      this.$q.dialog({
        title: 'Reiniciar Cola',
        dark: true,
        message: 'Este proceso aplicará todos los cambios producidos en Configuración y Workers.',
        cancel: {
          color: 'accent',
          flat: true
        },
        ok: {
          color: 'secondary'
        },
        persistent: true
      }).onOk(async () => {
        try {
          this.$q.loading.show()
          await this.$apollo.mutate({
            mutation: gql`mutation{
              reloadQueue(id: "${this.queueId}")
            }`
          })
          this.notifyDone(`Se ha reiniciado al cola correctamente.`)
          this.$emit('refresh')
        } catch (ex) {
          this.notifyError(ex)
        } finally {
          this.$q.loading.hide()
        }
      })
    }
  }
}
</script>

<style>
</style>
