<template>
  <v-chart :options="options" theme="default"/>
</template>

<style>
/**
 * The default size is 600px×400px, for responsive charts
 * you may need to set percentage values as follows (also
 * don't forget to provide a size for the container).
 */
.echarts {
  width: 100%;
  height: 100%;
}
</style>

<script>
import ECharts from 'vue-echarts'

import 'echarts/lib/chart/line'
import 'echarts/lib/component/legend'
import 'echarts/lib/component/tooltip'

import theme from './chart_theme.json'

ECharts.registerTheme('default', theme)

export default {
  components: {
    'v-chart': ECharts
  },
  props: {
    options: {
      type: Object,
      default: () => ({
        title: {
          text: 'ECharts entry example'
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        tooltip: {},
        legend: {
          data: ['Sales']
        },
        xAxis: {
          data: ['shirt', 'cardign', 'chiffon shirt', 'pants', 'heels', 'socks']
        },
        yAxis: {
        },
        series: [{
          name: 'Sales',
          smooth: true,
          type: 'line',
          data: [5, 20, 36, 10, 10, 20],
          areaStyle: {}
        }, {
          name: 'Test',
          smooth: true,
          type: 'line',
          data: [15, 30, 26, 30, 40, 10],
          areaStyle: {}
        }],
        animationDuration: 300
      })
    }
  }
}
</script>
