<template>
  <q-card dark class="bg-grey-10">
    <!-- Soporte para cuando no hay ninguno selecionado o varios -->
    <q-card-section class="q-pa-none">
      <!-- TOOLBAR PARA UNO A MAS ITEMS -->
      <q-toolbar v-if="list.length > 0">
        <div class="text-h6 text-accent">{{list.length === 1 ? it.name : 'Jobs'}}</div>
        <q-space/>
        <div class="q-ml-xl">
          <q-btn icon="check_circle" flat rounded v-if="status==='active'" @click="finishedConfirm">
           <q-tooltip>Forzar finalición selecionados</q-tooltip>
          </q-btn>
          <q-btn icon="cached" flat rounded v-if="hasError" @click="retryConfirm">
           <q-tooltip>Reintentar selecionados</q-tooltip>
          </q-btn>
          <q-btn icon="upgrade" v-if="canPromote" flat rounded @click="promoteConfirm">
            <q-tooltip>Promote selecionados</q-tooltip>
          </q-btn>
          <q-btn icon="edit" v-if="canEdit" flat rounded @click="edit" :disable="list.length > 1">
           <q-tooltip>Editar Job</q-tooltip>
          </q-btn>
          <q-btn icon="content_copy" flat rounded @click="clone" :disable="list.length > 1">
           <q-tooltip>Copiar Job</q-tooltip>
          </q-btn>
          <q-btn icon="delete_forever" flat rounded @click="removeConfirm">
           <q-tooltip>Eliminar selecionados</q-tooltip>
          </q-btn>
        </div>
      </q-toolbar>

      <!-- UN ITEM SELECCIONADO -->
      <div class="row" v-if="list.length === 1">
        <!-- Timeline -->
        <div class="col q-px-md" style="max-width: 230px;" v-if="isModal">
          <q-timeline layout="dense" side="left" color="accent">
            <q-timeline-entry v-if="it.finishedOn"
              :title="it.finishedOn | friendlyDate"
              subtitle="Finished at"
            >
              <span class="text-grey-6">{{timeDifference(it.processedOn, it.finishedOn)}}</span>
            </q-timeline-entry>

            <q-timeline-entry v-if="it.processedOn"
              :title="it.processedOn | friendlyDate"
              subtitle="Process started at"
            >
              <span class="text-grey-6">{{timeDifference(it.timestamp, it.processedOn)}}</span>
            </q-timeline-entry>

            <q-timeline-entry
              :title="it.timestamp | friendlyDate"
              subtitle="Added at"
            >
              <span class="text-grey-6" v-if="it.delay > 0">Delayed for {{timeDifference(it.timestamp, it.timestamp + it.delay)}}</span>
            </q-timeline-entry>

          </q-timeline>
        </div>
        <div class="col q-pa-md">
          <div>
             <q-btn-group rounded spread flat>
                <q-btn :color="tab === 'error' ? 'grey-8' :'dark'"
                  label="Error"
                  icon="error"
                  @click="tab = 'error'"
                  v-if="hasError"
                />
                <q-btn :color="tab === 'data' ? 'grey-8' :'dark'"
                  label="Data"
                  icon="input"
                  @click="tab = 'data'"
                />
                <q-btn :color="tab === 'options' ? 'grey-8' :'dark'"
                  label="Options"
                  icon="settings"
                  @click="tab = 'options'"
                />
                <q-btn :color="tab === 'logs' ? 'grey-8' :'dark'"
                  label="Logs"
                  icon="code"
                  @click="tab = 'logs'"
                >
                  <q-badge v-if="jobLogs" class="q-ml-sm" color="secondary">{{jobLogs.count}}</q-badge>
                </q-btn>
                <q-btn :color="tab === 'output' ? 'grey-8' :'dark'"
                  label="Output"
                  icon="mediation"
                  @click="tab = 'output'"
                  v-if="it.returnvalue"
                />
              </q-btn-group>
          </div>
          <div class="row">
            <q-tab-panels v-model="tab" animated class="col bg-grey-10">
              <q-tab-panel name="error">
                <div>Attempts Made: <b>{{it.attemptsMade}}</b></div>
                <div class="text-red text-subtitle1"><b>{{it.failedReason}}</b></div>
                <code-highlight language="powershell">
                  <pre v-for="(el, $index) in it.stacktrace" :key="$index">{{el}}</pre>
                </code-highlight>
              </q-tab-panel>

              <q-tab-panel name="data" class="q-px-none">
                <code-highlight :language="dataLang" v-if="Object.keys(it.data).length > 0">
                  <pre>{{dataContent}}</pre>
                </code-highlight>
                <div class="text-h6 text-grey-9" v-else>.No input data</div>
              </q-tab-panel>

              <q-tab-panel name="options" class="q-px-none">
                <code-highlight language="json">
                  <pre>{{it.opts}}</pre>
                </code-highlight>
              </q-tab-panel>

              <q-tab-panel name="logs" class="q-px-none">
                <div class="row">
                 <q-btn icon="refresh" class="col-auto" flat rounded @click="refreshLogs()">
                    <q-tooltip>Refresh</q-tooltip>
                  </q-btn>
                  <q-input dark class="col"
                    :autofocus="$q.screen.gt.sm"
                    clearable
                    v-model="logName"
                    label="Buscar"
                    debounce="300"
                    placeholder="Introduce el texto a buscar"
                  />
                </div>
                <loading v-if="!jobLogs" />
                <q-scroll-area :style="`height: ${height -206}px;`" v-else-if="seeLogs">
                  <code-highlight language="json">
                    <pre>{{filteredLogs}}</pre>
                  </code-highlight>
                </q-scroll-area>
              </q-tab-panel>

              <q-tab-panel name="output" class="q-px-none">
                <q-scroll-area :style="`height: ${height -150}px;`">
                  <code-highlight language="json">
                    <pre>{{it.returnvalue}}</pre>
                  </code-highlight>
                </q-scroll-area>
              </q-tab-panel>

            </q-tab-panels>
              <div class="col-auto q-pa-md">
                <q-circular-progress
                  show-value
                  font-size="12px"
                  :value="it.progress"
                  size="60px"
                  :thickness="0.15"
                  :color="it.progress === 100 ? 'positive' : (hasError ? 'negative' : 'secondary')"
                  track-color="grey-8"
                  class="q-mt-xs"
                >
                  <b>{{ it.progress }}%</b>
                </q-circular-progress>
              </div>
          </div>
        </div>
      </div>

      <!-- VARIOS SELECIONADOS -->
      <div class="q-pa-xl column items-center" v-if="list.length > 1">
        <div class="col-6 row" style="height: 30px; width: 50%;">
          <transition-group
            appear
            enter-active-class="animated rotateInDownLeft"
            leave-active-class="animated fadeOutDown"
          >
            <q-card class="bg-grey-9 col-6" v-for="(it, $index) of list" :key="it.id" style="position: absolute; margin: auto;" :style="{
              transform: $index + 1 === list.length ? null : `rotate(${POSITIONS[$index]}deg)`
            }">
              <q-card-section class="row">
                  <div class="col-3 q-pa-xs" style="height:30px;" v-for="i of [1,2,3,4]" :key="i">
                    <div class="bg-grey-8" style="height:30px;"></div>
                  </div>
                </q-card-section>
                <q-card-section>
                  <div class="bg-grey-8 text-grey-5 text-center q-py-lg" style="height:280px;">
                    <div class="text-h1">{{list.length}}</div>
                    <div class="text-h5 q-mx-xl">Jobs seleccionados</div>
                    <q-btn rounded class="q-mt-lg" label="Borrar seleccion" v-if="$index + 1 === list.length" icon="close" @click="$emit('cleanSelection')"/>
                  </div>
                </q-card-section>
            </q-card>
          </transition-group>
        </div>
      </div>
      <!-- VACIO -->
      <div class="q-pa-xl" v-if="list.length === 0">
        <q-card class="bg-dark">
          <q-card-section class="row">
            <div class="col-3 q-pa-xs" style="height:30px;" v-for="i of [1,2,3,4]" :key="i">
              <div class="bg-grey-9" style="height:30px;"></div>
            </div>
          </q-card-section>
          <q-card-section>
            <div class="bg-grey-10 text-grey-8 text-center q-py-lg" style="height:280px;">
              <div class="text-h2">Ningún</div>
              <div class="text-h5 q-mx-xl">Job seleccionado</div>
            </div>
          </q-card-section>
        </q-card>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import gql from 'graphql-tag'

import { date } from 'quasar'

import notify from 'components/js/mixins/notify'

import Loading from 'components/controls/Loading'
import { component as CodeHighlight } from 'vue-code-highlight'
import 'vue-code-highlight/themes/prism-vsc-dark-plus.css'

import 'prism-es6/components/prism-markup-templating'
import 'prism-es6/components/prism-json'
import 'prism-es6/components/prism-powershell'

import { isToday, isYesterday } from 'components/js/utils/date'

export default {
  mixins: [notify],
  components: {
    Loading,
    CodeHighlight
  },
  props: {
    height: {
      type: Number,
      default: 450
    },
    isModal: Boolean,
    queue: String,
    list: Array,
    status: String
  },
  data () {
    const sts = this.status
    let tab = 'data'
    if (sts === 'failed') tab = 'error'
    else if (sts === 'completed') tab = 'output'

    return {
      tab,
      jobLogs: null,
      POSITIONS: [2, 357, 5, 356, 6, 359],
      pagination: { rowsPerPage: 0 },
      logName: null,
      seeLogs: true
    }
  },
  computed: {
    it () {
      return this.list[0]
    },
    dataLang () {
      switch (this.queue) {
        case '__tasks_and_jobs__':
          return this.it.data.function ? 'javascript' : 'json'
        default:
          return 'json'
      }
    },
    filteredLogs () {
      const list = (this.jobLogs && this.jobLogs.logs) || []
      // Filter
      const filter = this.logName && this.logName.length && this.logName.toLowerCase()
      const result = []
      list.forEach(e => {
        let ok = true
        if (filter) ok = (e.toLowerCase().indexOf(filter) > -1)
        if (ok) result.push(e)
      })
      return result
    },
    dataContent () {
      switch (this.queue) {
        case '__tasks_and_jobs__':
          return this.it.data.function || this.it.data
        default:
          return this.it.data
      }
    },
    hasError () {
      return this.it.failedReason
    },
    canPromote () {
      return this.status === 'delayed'
    },
    canEdit () {
      return ['failed', 'delayed', 'paused', 'waiting'].indexOf(this.status) > -1
    }
  },
  filters: {
    friendlyDate (time) {
      if (isToday(time)) {
        return date.formatDate(time, 'HH:mm:ss')
      } else if (isYesterday(time)) {
        return 'Ayer ' + date.formatDate(time, 'HH:mm:ss')
      } else {
        return date.formatDate(time, 'DD/MM/YY HH:mm:ss')
      }
    }
  },

  apollo: {
    jobLogs: {
      query: gql`query($id: String!, $jobId: String!){
        jobLogs(id: $id, jobId: $jobId)
      }`,
      variables () {
        return {
          id: this.queue,
          jobId: this.it.id
        }
      },
      skip () {
        return this.tab !== 'logs' || !this.it
      },
      fetchPolicy: 'network-only'
    }
  },
  watch: {
    'it.id': function (nv) {
      if (!nv) this.jobLogs = null
    },
    logName: function () {
      this.seeLogs = false
      this.$nextTick(() => {
        this.seeLogs = true
      })
    }
  },
  methods: {
    clone () {
      this.$emit('clone', {
        jobType: this.it.name === '__default__' ? null : '*',
        name: this.it.name,
        data: { ...this.it.data },
        opts: { ...this.it.opts }
      })
    },
    edit () {
      this.$emit('edit', {
        jobType: this.it.name === '__default__' ? null : '*',
        name: this.it.name,
        id: this.it.id,
        data: this.it.data
      })
    },
    removeConfirm () {
      const _self = this
      this.$q.dialog({
        title: '¿Eliminar job(s)?', message: this.list.length === 1 ? this.it.id : `${this.list.length} jobs`, dark: true
      }).onOk(() => _self.jobAction('remove'))
    },
    retryConfirm () {
      const _self = this
      this.$q.dialog({
        title: '¿Reintenter job(s)?', message: this.list.length === 1 ? this.it.id : `${this.list.length} jobs`, dark: true
      }).onOk(() => _self.jobAction('retry'))
    },
    promoteConfirm () {
      const _self = this
      this.$q.dialog({
        title: '¿Promote job(s)?', message: this.list.length === 1 ? this.it.id : `${this.list.length} jobs`, dark: true
      }).onOk(() => _self.jobAction('promote'))
    },
    finishedConfirm () {
      const _self = this
      this.$q.dialog({
        title: '¿Finished job(s)?', message: this.list.length === 1 ? this.it.id : `${this.list.length} jobs`, dark: true
      }).onOk(() => _self.jobAction('finished'))
    },
    async jobAction (action) {
      try {
        this.$q.loading.show()
        for (const it of this.list) {
          await this.$apollo.mutate({
            mutation: gql`mutation{
              jobAction(id: "${this.queue}", jobId: "${it.id}", action: "${action}")
            }`
          })
        }
        this.notifyDone()
        const _self = this
        setTimeout(() => _self.$emit('reload'), 1000)
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.$q.loading.hide()
      }
    },
    timeDifference (from, to) {
      const diff = date.getDateDiff(to, from, 'seconds')
      if (diff < 1) {
        return 'less than a second'
      } else if (diff < 5) {
        return 'less than 5 seconds'
      } else if (diff < 60) {
        return 'less than a minute'
      } else if (diff < 120) {
        return 'less than 2 minutes'
      } else if (diff < 3600) {
        return 'less than an hour'
      } else {
        return `${Math.round(diff / 3600)} hour(s)`
      }
    },
    refreshLogs () {
      this.jobLogs = null
      this.$apollo.queries.jobLogs.refetch()
    }
  }
}
</script>

<style>
</style>
