<template>
  <q-card dark class="bg-grey-10">
    <q-card-section class="q-pa-none">
      <q-toolbar>
        <div class="text-h6 text-accent">#{{it.id || it.key}}</div>
        <q-space/>
        <div class="text-h6 text-accent">{{it.name}}</div>
        <div class="q-ml-xl">
          <q-btn icon="delete_forever" flat rounded @click="removeConfirm"/>
        </div>
      </q-toolbar>
      <div class="row">
        <div class="col q-pa-md">
          <q-markup-table class="full-width" dark flat>
            <tbody>
              <tr>
                <td class="text-grey-5">Next</td>
                <td><span class="text-h6">{{ it.next | friendlyDate}}</span></td>
              </tr>
              <tr v-if="it.tz">
                <td class="text-grey-5">Timezone</td>
                <td><span class="text-h6">{{ it.tz}}</span></td>
              </tr>
              <tr v-if="it.endDate">
                <td class="text-grey-5">End Date</td>
                <td><span class="text-h6">{{ it.endDate | friendlyDate}}</span></td>
              </tr>
              <tr v-if="it.cron">
                <td class="text-grey-5">Cron expression</td>
                <td><span class="text-h6">{{ it.cron}}</span></td>
              </tr>
              <tr v-if="every">
                <td class="text-grey-5">Every</td>
                <td><span class="text-h6">{{every}}</span> ({{it.every}} ms)</td>
              </tr>
            </tbody>
          </q-markup-table>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import gql from 'graphql-tag'

import { date } from 'quasar'

import notify from 'components/js/mixins/notify'

/*
import { component as CodeHighlight } from 'vue-code-highlight'
import 'vue-code-highlight/themes/prism-vsc-dark-plus.css'

import 'prism-es6/components/prism-markup-templating'
import 'prism-es6/components/prism-json'
import 'prism-es6/components/prism-powershell'
*/

import { isToday, isYesterday } from 'components/js/utils/date'

export default {
  mixins: [notify],
  components: {
    // CodeHighlight
  },
  props: {
    queue: String,
    it: Object
  },
  computed: {
    every () {
      if (!this.it.every) return null
      const timeInSec = this.it.every / 1000
      if (timeInSec < 60) {
        return `${timeInSec} seconds`
      } else if (timeInSec < 60 * 60) {
        return `${Math.round(timeInSec / 60)} minutes`
      } else {
        return `${Math.round(timeInSec / 60 / 60)} hours`
      }
    }
  },
  filters: {
    friendlyDate (time) {
      if (isToday(time)) {
        return date.formatDate(time, 'HH:mm:ss')
      } else if (isYesterday(time)) {
        return 'Ayer ' + date.formatDate(time, 'HH:mm:ss')
      } else {
        return date.formatDate(time, 'DD/MM/YY HH:mm:ss')
      }
    }
  },

  methods: {
    removeConfirm () {
      const _self = this
      this.$q.dialog({ title: '¿Eliminar job?', message: this.it.id || this.it.key, dark: true }).onOk(() => _self.jobAction('remove'))
    },

    async jobAction (action) {
      try {
        await this.$apollo.mutate({
          mutation: gql`mutation($id: String!, $opts: String!){
            queueRemoveRepeatableJob(id: $id, opts: $opts)
          }`,
          variables: {
            id: this.queue,
            opts: JSON.stringify(this.it)
          }
        })
        this.notifyDone()
        const _self = this
        setTimeout(() => _self.$emit('reload'), 1000)
      } catch (ex) {
        this.notifyError(ex, 0)
      }
    }
  }
}
</script>

<style>
</style>
