<template>
  <q-page padding class="bg-dark" keep-alive>
    <q-card dark>
      <q-toolbar class="bg-grey-10">
        <h5 class="q-ma-sm text-accent" :style="`width: ${spliterWidth}%;`"><q-icon name="email" /> Historico de Campañas</h5>

        <q-btn icon="refresh" flat rounded label="Refresh" @click="refresh()"/>
        <q-space />
      </q-toolbar>
      <q-separator />
      <q-splitter v-model="spliterWidth" :horizontal="$q.screen.lt.sm">

        <template v-slot:before>
          <div class="row q-pa-md">
            <q-toggle
              v-model="byClub"
              label="Buscar por Centro"
            />
            <template>
              <district-selector class="col-12 q-mb-sm" :value="club" @selected="onDistrictSelected" v-if="byClub"/>
              <q-date class="col-12" v-model="period" range dark text-color="dark" mask="YYYY-MM-DD"/>
            </template>
          </div>
        </template>

        <template v-slot:after>
          <!-- Grid -->
          <grid ref="grid"
            :loading="$apollo.loading"
            :list="historialCampaings"
            :flat="true"
            :hiddenColumns="['user', 'fitboxer']"
          />
        </template>
    </q-splitter>
    </q-card>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'
import { date } from 'quasar'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'
import processControl from 'components/js/mixins/processControl'

import Grid from 'components/grids/CampaingLogs'
import DistrictSelector from 'components/controls/DistrictSelector'

const today = new Date()

function dateToInput (time) {
  return date.formatDate(time, 'YYYY-MM-DD')
}

export default {
  name: 'CampaingLogs',
  mixins: [stateManager, notify, processControl],
  components: {
    Grid,
    DistrictSelector
  },
  data () {
    return {
      spliterWidth: 18,
      period: { to: dateToInput(today), from: dateToInput(date.subtractFromDate(today, { days: 7 })) },
      byClub: false,
      club: null,
      historialCampaings: [],
      // State
      stateToSave: ['byClub', 'club', 'period']
    }
  },

  apollo: {
    historialCampaings: {
      query: gql`query($clubId: Int, $from: String!, $to: String!){
        historialCampaings(clubId: $clubId, from: $from, to: $to){
          id
          campaing {
            id
            name
            receiver
            description
          }
          districtId
          executed
          recipients
          sent
          progress
          errors
        }
      }`,
      variables () {
        return {
          clubId: this.byClub ? this.club.v7_id : null,
          from: this.period.from,
          to: this.period.to
        }
      },
      skip () {
        return this.byClub ? !this.club || !this.period : !this.period
      }
    }
  },

  methods: {
    onDistrictSelected (payload) {
      this.club = payload
      this.refresh()
    },
    refresh (done) {
      this.$apollo.queries.historialCampaings.refetch()
      done && done()
    }
  }
}
</script>

<style>
</style>
