<template>
  <q-page class="bg-dark">
    <q-pull-to-refresh @refresh="refresh" :class="[$q.screen.lt.sm ? 'q-px-none' : 'q-px-md']" style="margin-bottom: 0;">
    <q-card dark>
      <q-toolbar class="bg-grey-10">
        <h5 class="q-ma-sm text-accent" :style="`width: ${spliterWidth}%;`" v-if="$q.screen.gt.sm"><q-icon name="music_video" /> {{challenge && challenge.id}}</h5>

        <q-btn icon="refresh" rounded label="Refresh" @click="refresh()"/>
        <q-btn icon="edit" rounded label="Edit" @click="edit"/>
        <q-btn icon="image" rounded label="Covers" @click="isAddCoversOpen = true"/>
        <q-btn icon="publish" rounded :color="challenge && challenge.published ? 'positive' : ''"
          label="Publish" @click="publish()" :loading="$apollo.loading"
        />
        <q-space />
      </q-toolbar>
      <q-separator :dark="false"/>
      <q-splitter v-model="spliterWidth" :horizontal="$q.screen.lt.md" :dark="false">

        <template v-slot:before>
          <div class="row q-pa-lg" v-if="challenge">
            <span class="text-accent col-12 q-mt-md">Desde</span>
            <div class="text-body1 col-12">{{new Date(challenge.from).toLocaleDateString()}}</div>
            <span class="text-accent col-12 q-mt-md">Hasta</span>
            <div class="text-body1 col-12">{{new Date(challenge.to).toLocaleDateString()}}</div>
            <span class="text-accent col-12 q-mt-md">Status</span>
            <div class="text-body1 col-12">
              <q-badge color="positive" v-if="challenge.published">Publicado</q-badge>
              <q-badge color="grey-8" v-else>Pendiente</q-badge>
            </div>
            <template v-if="$q.screen.gt.sm">
              <span class="text-accent col-12 q-mt-md">Total Size</span>
              <div class="text-body1 col-12">{{currentVideoSize}}</div>
              <span class="text-accent col-12 q-mt-md">Cover</span>
              <div class="col-12">
                  <template v-if="env === 'BROOKLYN'">
                    <img :src="challenge.cover_br" v-if="challenge.cover_br && challenge.cover_br.length > 0"  width="100">
                    <q-avatar rounded size="100px" color="grey-9" v-else>
                      <q-icon name="help" />
                    </q-avatar>
                  </template>

                  <template v-else-if="env === 'F3'">
                    <img :src="challenge.cover_f3" v-if="challenge.cover_f3 && challenge.cover_f3.length > 0"  width="100">
                    <q-avatar rounded size="100px" color="grey-9" v-else>
                      <q-icon name="help" />
                    </q-avatar>
                  </template>

                  <template v-else>
                    <img :src="challenge.cover_ho" v-if="challenge.cover_ho && challenge.cover_ho.length > 0"  width="100">
                    <q-avatar rounded size="100px" color="grey-9" v-else>
                      <q-icon name="help" />
                    </q-avatar>
                  </template>
              </div>
            </template>
          </div>
        </template>

        <template v-slot:after>
          <q-tabs v-model="tab" class="text-secondary q-pa-md" inline-label align="left">
            <q-tab name="rounds" label="Rounds" icon="sports_mma"/>
            <q-tab name="videos" label="Videos" icon="smart_display"/>
            <q-tab name="anywhere" label="Anywhere" icon="explore"/>
          </q-tabs>

          <q-tab-panels v-model="tab" animated dark transition-prev="fade" transition-next="fade">
            <q-tab-panel name="videos" v-if="challenge">
              <q-card dark class="bg-grey-10">
                <q-card-section class="q-pa-none">
                  <div class="row">
                    <div class="col-12 q-pa-md">
                      <q-btn-group rounded spread flat>
                        <q-btn :color="env === 'BROOKLYN' ? 'grey-8' :'dark'"
                          :label="$q.screen.gt.sm ? 'Brooklyn': 'BR'"
                          icon="home"
                          @click="env = 'BROOKLYN'"
                        >
                          <q-badge class="q-ml-sm" :color="brVideosCount > 0 ? 'secondary' : 'grey-9'">{{brVideosCount}}</q-badge>
                        </q-btn>

                        <q-btn :color="env === 'F3' ? 'grey-8' :'dark'"
                          label="F3"
                          icon="home"
                          @click="env = 'F3'"
                        >
                          <q-badge class="q-ml-sm" :color="f3VideosCount > 0 ? 'secondary' : 'grey-9'">{{f3VideosCount}}</q-badge>
                        </q-btn>

                        <q-btn :color="env === 'BFHOME' ? 'grey-8' :'dark'"
                          :label="$q.screen.gt.sm ? 'Brooklyn Home': 'HO'"
                          icon="home"
                          @click="env = 'BFHOME'"
                        >
                          <q-badge class="q-ml-sm" :color="homeVideosCount > 0 ? 'secondary' : 'grey-9'">{{homeVideosCount}}</q-badge>
                        </q-btn>
                      </q-btn-group>
                    </div>
                    <div class="col-12">
                      <challenge-videos-grid ref="videosGrid"
                        :list="currentVideoList || []"
                        @add="addVideo"
                        @edit="editVideo"
                        @remove="removeVideos"
                      />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-tab-panel>

            <q-tab-panel name="rounds" v-if="challenge">
              <q-card dark class="bg-grey-10">
                <q-card-section class="q-pa-none">
                  <div class="row">
                    <div class="col-12 q-pa-md">
                      <q-btn-group rounded spread flat>
                        <q-btn :color="env === 'BROOKLYN' ? 'grey-8' :'dark'"
                          :label="$q.screen.gt.sm ? 'Brooklyn': 'BR'"
                          icon="home"
                          @click="env = 'BROOKLYN'"
                        >
                          <q-badge class="q-ml-sm" :color="brRoundsCount > 0 ? 'secondary' : 'grey-9'">{{brRoundsCount}}</q-badge>
                        </q-btn>

                        <q-btn :color="env === 'F3' ? 'grey-8' :'dark'"
                          label="F3"
                          icon="home"
                          @click="env = 'F3'"
                        >
                          <q-badge class="q-ml-sm" :color="f3RoundsCount > 0 ? 'secondary' : 'grey-9'">{{f3RoundsCount}}</q-badge>
                        </q-btn>

                        <q-btn :color="env === 'BFHOME' ? 'grey-8' :'dark'"
                          :label="$q.screen.gt.sm ? 'Brooklyn Home': 'HO'"
                          icon="home"
                          @click="env = 'BFHOME'"
                        >
                          <q-badge class="q-ml-sm" :color="homeRoundsCount > 0 ? 'secondary' : 'grey-9'">{{homeRoundsCount}}</q-badge>
                        </q-btn>
                      </q-btn-group>
                    </div>
                    <div class="col-12">
                      <challenge-rounds-grid :list="currentRoundList || []" ref="roundsGrid"
                        :cheatsheet="challenge.cheatsheet"
                        :env="env"
                        @add="addRound"
                        @edit="editRound"
                        @remove="removeRounds"
                      />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-tab-panel>

            <q-tab-panel name="anywhere" v-if="challenge">
              <q-card dark class="bg-grey-10">
                <q-card-section class="q-pa-none">
                  <workouts-grid :list="challenge.anywhereResources || []" ref="workoutsGrid"
                    @add="addRound"
                    @edit="editRound"
                    @remove="removeRounds"
                  />
                </q-card-section>
              </q-card>
            </q-tab-panel>
          </q-tab-panels>

          <!-- Adding videos -->
          <q-dialog :maximized="$q.screen.lt.sm" v-model="isAddVideosOpen" isAddVideosOpen v-if="challenge">
            <q-card>
              <q-bar>
                <div>Upload videos {{env}}</div>
                <q-space ></q-space>
                <q-btn dense flat icon="close" v-close-popup>
                  <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
                </q-btn>
              </q-bar>
              <q-uploader dark
                color="secondary"
                :url="`${baseURLUploader}/challenges/videos/upload/${env.toLowerCase()}/${challenge.id.toLowerCase()}`"
                multiple
                field-name="file"
                accept="video/*"
                style="min-height: 500px; min-width: 500px;"
                auto-upload
                :max-file-size="1024 * 1024 * 1024"
                @failed="addVideosFailed"
                @finish="videosUploaded"
              />
            </q-card>
          </q-dialog>

          <q-dialog :maximized="$q.screen.lt.sm" v-model="isAddCoversOpen" v-if="challenge">
            <q-card>
              <q-bar>
                <div>Upload Covers</div>
                <q-space ></q-space>
                <q-btn dense flat icon="close" v-close-popup>
                  <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
                </q-btn>
              </q-bar>
              <q-uploader dark
                color="secondary"
                :url="`${baseURLUploader}/challenges/images/upload/${challenge.id.toLowerCase()}`"
                multiple
                field-name="file"
                accept="image/*"
                style="min-height: 500px; min-width: 500px;"
                auto-upload
                :max-file-size="1024 * 1024 * 1024"
                @failed="addCoversFailed"
                @finish="coversUploaded"
              />
            </q-card>
          </q-dialog>

          <!-- Other edit Forms -->
          <challenge-round-upsert :challenge="challenge ? challenge.id : ''"
            :open="isRoundOpen"
            :action="action"
            :env="env"
            :initialData="initialData"
            @hide="isRoundOpen = false"
            @add="addToChallengeRounds"
            @update="refresh"
          />

        </template>
    </q-splitter>
      <challenge-upsert v-if="challenge"
        :open="isModalOpen"
        :action="action"
        :initialData="initialData"
        @hide="isModalOpen = false"
      />
    </q-card>
    </q-pull-to-refresh>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'
import { humanFileSize } from 'components/js/utils/file'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'
import processControl from 'components/js/mixins/processControl'

import ChallengeUpsert from 'components/forms/Challenge.upsert'
import challengeVideosGrid from 'components/grids/ChallengeVideos'
import challengeRoundsGrid from 'components/grids/ChallengeRounds'
import workoutsGrid from 'components/grids/AnywhereResources'
import challengeRoundUpsert from 'components/forms/ChallengeRound.upsert'

export default {
  name: 'ChallengeDetail',
  mixins: [notify, processControl, stateManager],
  components: {
    ChallengeUpsert,
    challengeVideosGrid,
    challengeRoundsGrid,
    workoutsGrid,
    challengeRoundUpsert
  },
  data () {
    return {
      spliterWidth: 18,
      tab: 'rounds',
      challenge: null,
      env: 'BROOKLYN',
      // Rounds
      isModalOpen: false,
      isAddVideosOpen: false,
      isAddCoversOpen: false,
      isRoundOpen: false,
      action: 'add',
      initialData: null,
      // State
      stateToSave: ['district', 'grid:filters']
    }
  },
  computed: {
    baseURLUploader () {
      return location.hostname === 'admin.brooklynfitzone.com'
        ? 'https://admin.brooklynfitzone.com/api'
        : 'http://10.10.0.4:3050'
    },
    /* VIDEOS */
    brVideosCount () {
      return this.challenge.videos.filter(el => el.env === 'BROOKLYN').length
    },
    f3VideosCount () {
      return this.challenge.videos.filter(el => el.env === 'F3').length
    },
    homeVideosCount () {
      return this.challenge.videos.filter(el => el.env === 'BFHOME').length
    },
    currentVideoList () {
      const env = this.env
      return this.challenge.videos.filter(el => el.env === env)
    },
    currentVideoSize () {
      return humanFileSize(this.currentVideoList.reduce((acc, it) => acc + it.size, 0), true)
    },
    /* ROUNDS */
    brRoundsCount () {
      return this.challenge.rounds.filter(el => el.env === 'BROOKLYN').length
    },
    f3RoundsCount () {
      return this.challenge.rounds.filter(el => el.env === 'F3').length
    },
    homeRoundsCount () {
      return this.challenge.rounds.filter(el => el.env === 'BFHOME').length
    },
    currentRoundList () {
      const env = this.env
      return this.challenge.rounds.filter(el => el.env === env)
    }
  },

  filters: {
    formatNumber (value) {
      return new Intl.NumberFormat('es-ES').format(value)
    }
  },

  apollo: {
    challenge: {
      query: gql`query($id: String!){
        challenge(id: $id){
          id
          type
          from
          to
          published
          cheatsheet
          techMoves
          trainer
          calories
          duration
          vid_url
          vid_tec_url
          img_url
          cover_br
          cover_f3
          cover_ho
          desc_es
          desc_en
          desc_it
          desc_ru
          fund
          defaultHouse
          videos{
            id
            env
            order
            name
            size
            type
            filename
            uri
          }
          rounds{
            id
            env
            rnd
            sequence
            start_in
            hits
          }
          anywhereResources {
            id
            name
            type
            description
            duration
            img
            url
          }
        }
      }`,
      variables () {
        return {
          id: this.$route.params.id
        }
      }
    }
  },

  methods: {
    edit () {
      this.isModalOpen = true
      this.action = 'edit'
      this.initialData = { ...this.challenge }
    },
    async publish () {
      try {
        await this.$apollo.mutate({
          mutation: gql`mutation($data: String!, $action: String!){
            upsertChallenge(data: $data, action: $action){
              id
              published
            }
          }`,
          variables: {
            data: JSON.stringify({ id: this.challenge.id, published: !this.challenge.published }),
            action: 'edit'
          }
        })
      } catch (ex) {
        this.notifyError(ex)
      }
    },

    /* Covers */
    addCoversFailed (error) {
      // console.log(error)
      this.notifyError(error)
    },

    coversUploaded () {
      this.isAddCoversOpen = false
      this.refresh()
      this.notifyDone()
    },

    /* Videos */
    addVideo () {
      this.isAddVideosOpen = true
    },

    editVideo (data) {
      this.action = 'edit'
      this.initialData = data
    },
    async removeVideos (selected) {
      try {
        const selection = [ ...selected ]
        this.startProcess()
        for (const it of selection) {
          await this.$apollo.mutate({
            mutation: gql`mutation{
              removeVideo(id: "${it.id}", deleteAWS: true){
                id
              }
            }`
          })
        }
        this.refresh()
        this.$refs.videosGrid.selected = []
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.endProcess()
      }
    },
    addVideosFailed (error) {
      // console.log(error)
      this.notifyError(error)
    },

    videosUploaded () {
      this.isAddVideosOpen = false
      this.refresh()
      this.notifyDone()
    },

    /* Rounds */
    addRound () {
      this.action = 'add'
      this.initialData = null
      this.isRoundOpen = true
    },

    editRound (data) {
      this.action = 'edit'
      this.initialData = data
      this.isRoundOpen = true
    },
    async removeRounds (selected) {
      try {
        const selection = [ ...selected ]
        this.startProcess()
        for (const it of selection) {
          await this.$apollo.mutate({
            mutation: gql`mutation{
              removeRound(id: "${it.id}"){
                id
              }
            }`
          })
        }
        this.refresh()
        this.$refs.roundsGrid.selected = []
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.endProcess()
      }
    },

    async addToChallengeRounds (payload) {
      this.refresh()
      // this.challenge.rounds = this.challenge.rounds.concat(payload)
    },

    refresh (done) {
      this.$apollo.queries.challenge.refetch()
      done && done()
    }
  }
}
</script>

<style>
</style>
