<template>
  <q-page padding class="bg-dark">
    <q-card dark flat class="q-pa-sm">
      <q-toolbar class="bg-grey-10" dark>
          <h5 class="q-ma-sm text-accent"><q-icon name="music_video" /> Resources</h5>
          <q-btn-group class="q-ml-sm">
            <q-btn @click="view = 'BR'" label="Challenges"
              :color="view === 'BR' ? 'primary' : ''"
              :text-color="view === 'BR' ? 'dark' : ''"
            />
            <q-btn @click="view = 'CH'" label="Games"
              :color="view === 'CH' ? 'primary' : ''"
              :text-color="view === 'CH' ? 'dark' : ''"
            />
          </q-btn-group>
          <q-btn icon="refresh" flat rounded label="Refresh" @click="refresh()"/>
          <q-space />
      </q-toolbar>
      <q-separator :dark="false"/>
      <challenges-grid ref="grid" :height="$q.screen.height - 174"
        :loading="$apollo.loading"
        :list="challenges"
        :flat="false"
        @add="add"
        @edit="edit"
        @remove="remove"
        @addToList="addToList"
      />
      <challenge-upsert :key="`upsert${keyModal}`"
        :open="isModalOpen"
        :action="action"
        :initialData="initialData"
        @hide="hideModal"
        @add="addToList"/>
    </q-card>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'

import ChallengesGrid from 'components/grids/Challenges'
import ChallengeUpsert from 'components/forms/Challenge.upsert'

export default {
  name: 'Challenges',
  mixins: [notify, stateManager],
  components: {
    ChallengesGrid,
    ChallengeUpsert
  },
  data () {
    return {
      view: 'BR',
      action: 'add',
      initialData: null,
      loading: false,
      challenges: [],
      isModalOpen: false,
      keyModal: 1,
      // State
      stateToSave: ['view', 'grid:pagination', 'grid:filters']
    }
  },
  computed: {
  },

  apollo: {
    challenges: {
      query: gql`query($type: String!){
        challenges(type: $type){
          id
          published
          from
          to
          techMoves
          trainer
          calories
          duration
          vid_url
          vid_tec_url
          img_url
          cover_br
          cover_f3
          cover_ho
          desc_es
          desc_en
          desc_it
          desc_ru
          fund
          defaultHouse
        }
      }`,
      variables () {
        return {
          type: this.view
        }
      }
    }
  },

  methods: {
    add () {
      this.isModalOpen = true
      this.action = 'add'
      this.initialData = null
    },

    edit (data) {
      this.isModalOpen = true
      this.action = 'edit'
      this.initialData = data
    },

    hideModal () {
      this.isModalOpen = false
      this.keyModal++
    },

    async remove (selected) {
      const selection = [ ...selected ]
      this.$q.dialog({
        title: 'Eliminar Challenge',
        message: `¿Deseas eliminar el Challenge? Esta acción no se puede deshacer.`,
        options: {
          type: 'checkbox',
          model: ['del'],
          items: [
            { label: 'Borrar los recursos de videos de AWS', value: 'del', color: 'primary' }
          ]
        },
        cancel: true
      }).onOk(async (data) => {
        try {
          for (const it of selection) {
            this.$apollo.mutate({
              mutation: gql`mutation($id: String!, $deleteAWS: Boolean){
                removeChallenge(id: $id, deleteAWS: $deleteAWS){
                  id
                }
              }`,
              variables: {
                id: it.id,
                deleteAWS: data[0] === 'del'
              }
            })
            let index = this.challenges.findIndex(el => el.id === it.id)
            if (index > -1) {
              this.challenges.splice(index, 1)
            }
            selected.splice(0, 1)
            this.notifyDone()
          }
        } catch (error) {
          this.notifyError(error)
        }
      })
    },
    addToList (payload) {
      this.challenges.unshift(payload)
    },
    refresh (done) {
      this.$apollo.queries.challenges.refetch()
      done && done()
    }
  }
}
</script>

<style>
</style>
