<template>
   <q-page :padding="$q.screen.gt.xs" class="bg-dark">
    <q-card class="q-mb-xl">

      <q-card-section
        :style="{height: $q.screen.gt.sm ? '120px' : '80px'}"
        style="background: radial-gradient(circle, #f19833 0%, #ffcc00 100%);" />

      <q-item style="margin-top: -74px;">
        <q-item-section avatar>
          <q-avatar :size=" $q.screen.gt.sm ? '124px' : '80px'" >
            <img style="border: white solid 3px;"
              :src="`${IMAGES_URI}${club.avatar || 'company_ico.png'}`"
            />
          </q-avatar>
        </q-item-section>

        <q-item-section style="margin-top: 30px;">
          <div v-if="$q.screen.gt.sm" class="text-h5 text-grey-9 q-mb-sm">
            {{club.alias}} ({{club.v7_id}}) <q-btn color="white" round flat icon="edit" @click="edit = true"/>
          </div>
          <div v-else class="text-subtitle1 text-grey-9 q-mb-sm ellipsis">
            {{club.alias}} ({{club.v7_id}})
          </div>
          <div class="q-mb-xs">
            <span class="text-subtitle1">{{club.country || 'Country no indicado'}}</span>
          </div>
        </q-item-section>
      </q-item>

      <district-upsert :open="edit" action="edit" :initialData="club" @hide="edit = false" />

      <q-tabs v-model="tab" class="q-mt-sm text-secondary" inline-label align="justify">
        <!--
        <q-tab label="web: General" name="one" icon="account_balance"/>
        <q-tab label="web: Localización" name="two" icon="web"/>
        -->
        <q-tab label="Config" name="three" icon="settings"/>
        <q-tab label="Cached" name="cache" icon="cached"/>
        <q-tab label="devices" name="devices" icon="devices"/>
      </q-tabs>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="one">
          <!--
          <district-general :id="id"/>
          -->
        </q-tab-panel>

        <q-tab-panel name="two">
          <!--<district-web :id="id"/>-->
        </q-tab-panel>

        <q-tab-panel name="three">
          <district-config :id="id"/>
        </q-tab-panel>

        <q-tab-panel name="cache">
          <redis-content :cacheKey="`cache$District:${id}`" />
        </q-tab-panel>

        <q-tab-panel name="devices">
          <district-devices :club="club" />
        </q-tab-panel>

      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'
import processControl from 'components/js/mixins/processControl'

import { IMAGES_URI } from 'components/js/constants'

import DistrictUpsert from 'components/forms/District.upsert'
// import DistrictGeneral from 'components/partials/District.general'
// import DistrictWeb from 'components/partials/District.web'
import DistrictConfig from 'components/partials/District.config'
import DistrictDevices from 'components/partials/District.devices'
import RedisContent from 'components/partials/Redis.content'

export default {
  name: 'ClubProfile',
  mixins: [stateManager, notify, processControl],
  components: {
    DistrictUpsert,
    // DistrictGeneral,
    // DistrictWeb,
    DistrictConfig,
    DistrictDevices,
    RedisContent
  },
  data () {
    return {
      IMAGES_URI,
      club: {
        avatar: 'company_ico.png',
        alias: 'Loading...',
        country: {},
        state: {}
      },
      tab: 'three',
      // Edit
      edit: false,
      publishing: false
    }
  },
  computed: {
    id () {
      return this.$route.params.id
    }
  },
  apollo: {
    club () {
      return {
        query: gql`query($id: String!){
          club(id: $id){
            id
            v7_id
            alias
            avatar
            country
            postgreeId
            salesForceId
          }
        }`,
        variables () {
          return {
            id: this.id
          }
        }
      }
    }
  },
  methods: {
    refresh (done) {
      this.$apollo.queries.club.refetch()
      done && done()
    }
  }
}
</script>

<style>
</style>
