<template>
  <q-page class="bg-dark">
    <q-pull-to-refresh @refresh="refresh" :class="[$q.screen.lt.sm ? 'q-px-none' : 'q-px-md']" style="margin-bottom: 0;">
      <loading v-if="$apollo.loading" />
      <q-card dark v-else>
        <div class="bg-grey-10">
          <div class="row">
            <div class="col col-auto col-md-2">
              <h5 class="q-ma-sm text-accent" :style="`width: ${spliterWidth}%;`">
                Combat
              </h5>
            </div>
            <div class="col col-auto  q-my-md">
              <q-btn icon="refresh" rounded label="Refresh" @click="refresh()" />
            </div>
            <div class="col col-auto  q-my-md">
              <q-btn-dropdown rounded :class="$q.screen.lt.sm ? 'full-width' : ''" label="Finalizar combate"
                :disable="!combat.team1 || !combat.team2" v-if="combat">
                <q-list dark class="bg-grey-9">
                  <q-item clickable v-close-popup @click="finishCombat(0)">
                    <q-item-section>
                      <q-item-label>Establecer como nulo</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-separator dark />
                  <q-item clickable v-close-popup @click="finishCombat(1)" v-if="combat.team1">
                    <q-item-section>
                      <q-item-label>Ganador: {{ combat.team1.name }}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup @click="finishCombat(2)" v-if="combat.team2">
                    <q-item-section>
                      <q-item-label>Ganador: {{ combat.team2.name }}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup @click="forceFinishCombat()" v-if="combat.status === 'F'">
                    <q-item-section>
                      <q-item-label>Force Finish Combat</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-btn-dropdown>
            </div>
            <div class="col col-auto  q-my-md">
              <q-btn :class="$q.screen.lt.sm ? 'full-width' : ''" icon="replay" rounded label="Reiniciar"
                @click="restart()" />
            </div>
            <!-- <div class="col col-md-1 col-xs-6 ">
                  <q-btn icon="edit" rounded label="Editar" @click="openEdit()" />
                </div> -->
          </div>
        </div>
        <q-separator :dark="false" />
        <q-splitter v-model="spliterWidth" class="q-mt-md" :horizontal="$q.screen.lt.md" :dark="false">
          <template v-slot:before>
            <div class="row q-pa-lg" v-if="combat">
              <span class="text-accent col-12 q-mt-md">id</span>
              <div class="text-body1 col-12">{{ combat.id }}</div>
              <span class="text-accent col-12 q-mt-md">Hora</span>
              <div class="text-body1 col-12">{{ combat.time }}</div>
              <span class="text-accent col-12 q-mt-md">Arena</span>
              <div class="text-body1 col-12">{{ combat.arena }}</div>
              <span class="text-accent col-12 q-mt-md">Combat</span>
              <div class="text-body1 col-12">
                {{ combat.group ? combat.group.name : combat.name }}
              </div>
              <span class="text-accent col-12 q-mt-md">Status</span>
              <div class="text-body1 col-12">
                <q-badge color="secondary" v-if="combat.status === 'P'">Pendiente</q-badge>
                <q-badge color="green" v-else-if="combat.status === 'C'">En curso</q-badge>
                <q-badge color="grey-8" v-else>Terminado</q-badge>
              </div>
              <span class="text-accent col-12 q-mt-md">Game</span>
              <div class="text-body1 col-12">{{ combat.game }}</div>
              <span class="text-accent col-12 q-mt-md">Last combo</span>
              <div class="text-body1 col-12">{{ combat.lastCombo }}</div>
              <div class="row justify-center">
                <q-btn @click="openVotes">Ver Votos</q-btn>
              </div>
            </div>
          </template>

          <template v-slot:after>
            <div v-if="combat" class="col-12 q-pa-lg">
              <!-- Cabecera -->
              <div class="row">
                <div class="col" v-if="combat.team1">
                  <q-avatar rounded size="100px">
                    <img :src="combat.team1.logo" />
                  </q-avatar>
                  <div class="text-h6 text-secondary">
                    {{ combat.team1.name }}
                  </div>
                </div>
                <div class="col" v-else>
                  <q-avatar rounded size="100px" color="grey-9">{{
                    combat.team1Pos
                  }}</q-avatar>
                  <div class="text-h6 text-secondary">
                    {{ combat.team1Desc }}
                  </div>
                </div>
                <div class="col text-center">
                  <div class="q-mt-lg">
                    <span class="text-h2" :class="combat.winner === 1 ? 'text-primary' : ''">{{ combat.score1 }}</span>
                    <span class="text-h2 q-px-md text-grey-7">VS</span>
                    <span class="text-h2" :class="combat.winner === 2 ? 'text-primary' : ''">{{ combat.score2 }}</span>
                  </div>
                </div>
                <div class="col text-right" v-if="combat.team2">
                  <q-avatar rounded size="100px">
                    <img :src="combat.team2.logo" />
                  </q-avatar>
                  <div class="text-h6">{{ combat.team2.name }}</div>
                </div>
                <div class="col text-right" v-else>
                  <q-avatar rounded size="100px" color="grey-9">{{
                    combat.team2Pos
                  }}</q-avatar>
                  <div class="text-h6 text-secondary">
                    {{ combat.team2Desc }}
                  </div>
                </div>
              </div>
              <q-separator class="q-my-sm" />
              <!-- Participants -->
              <div class="row" v-if="combat.scoresData.length === 0">
                <div class="text-accent text-center full-width text-h6">
                  Participants
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="text-accent full-width text-center text-h6">
                    Trainer: {{ combat.team1.trainer.firstName }}
                    {{ combat.team1.trainer.lastName }}
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div v-for="it in combat.participants.team1" :key="it.id" class="row q-pa-md">
                        <div class="col q-mt-sm">
                          <q-avatar size="60px">
                            <img :src="it.logo" />
                          </q-avatar>
                        </div>
                        <div class="flex items-center col-auto text-h6 text-secondary">
                          {{ it.name }}
                        </div>
                        <div class="col q-mt-sm text-right">
                          <q-avatar size="60px" :color="it.bag > 0
                            ? 'secondary'
                            : bagDisabled[it.bag]
                              ? 'red'
                              : 'grey-9'
                            ">{{ it.bag }}</q-avatar>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="text-accent full-width text-center text-h6">
                    Trainer: {{ combat.team2.trainer.firstName }}
                    {{ combat.team2.trainer.lastName }}
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div v-for="it in combat.participants.team2" :key="it.id" class="row q-pa-md">
                        <div class="col q-mt-sm">
                          <q-avatar size="60px" :color="it.bag > 0 ? 'secondary' : 'grey-9'">{{ it.bag }}</q-avatar>
                        </div>
                        <div class="flex items-center col-auto text-h6 text-secondary text-white">
                          {{ it.name }}
                        </div>
                        <div class="col text-right">
                          <q-avatar size="60px">
                            <img :src="it.logo" />
                          </q-avatar>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Combo Details -->
              <div class="row" v-else-if="combat">
                <div class="col-12" v-for="it of combat.scoresData" :key="it.number">
                  <div class="row">
                    <div class="col-12">
                      <div class="full-width text-center">
                        <div class="col-12 text-h5">Combo {{ it.number }}</div>
                      </div>
                      <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12  q-px-sm">
                          <div v-for="el in energy1[it.number]" :key="el.id" class="row q-py-md">
                            <div class="col middle-center">
                              <q-avatar size="60px">
                                <img :src="el.logo" :class="bagDisabled[it.bag] ? 'disable-img' : ''
                                  " />
                              </q-avatar>
                              {{ it.bag }}
                            </div>
                            <div class="col text-h6 text-secondary middle-center">
                              {{ el.name }}

                            </div>
                            <div class="col text-right middle-center">
                              <span class="text-h6 q-pa-sm energy-item" @click="toggleBagEnergy(el, it.number)" :class="el.status === 'OK'
                                ? 'bg-secondary'
                                : 'bg-grey-9  line-through'
                                ">{{ el.energy }}</span>
                            <span class="q-ma-sm text-center">{{ el.bag }}</span>
                            </div>
                          </div>
                          <div class="row justify-end">
                            <div class="col-xs-4  col-md-4 text-center ">
                              <span class="text-h6 q-pa-sm bg-primary text-black" style="cursor: auto;">
                                {{ totalEnergy("team1", it.number) }}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12  q-px-sm q-my-sm"
                          style="border-left: 1px solid gray; border-right: 1px solid gray;">
                          <div v-for="(tag, $index) of [
                            'energy',
                            'technique',
                            'coordination',
                            'hits',
                            'ranges'
                          ]" :key="tag" class="full-width row q-pa-md q-my-xs"
                            :class="$index % 2 == 0 ? 'bg-grey-8' : 'bg-grey-9'">
                            <div class="col-auto text-h4">
                              {{ (POINTS[tag][it[tag]] || [0, 0])[0] }}
                            </div>
                            <div class="col text-h6 text-center text-uppercase">
                              {{ tag }}
                            </div>
                            <div class="col-auto text-h4 text-right">
                              {{ (POINTS[tag][it[tag]] || [0, 0])[1] }}
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12  q-px-sm">
                          <div v-for="el in energy2[it.number]" :key="el.id" class="row q-py-md">
                            <div class="col middle-center ">
                              <span class="text-h6 q-pa-sm energy-item" @click="toggleBagEnergy(el, it.number)" :class="el.status === 'OK'
                                ? 'bg-secondary'
                                : 'bg-grey-9  line-through'
                                ">{{ el.energy }}</span>
                            <span class="q-ma-sm text-center">{{ el.bag }}</span>
                            </div>
                            <div class="col text-h6 text-secondary text-white middle-center">
                              {{ el.name }}
                            </div>
                            <div class="col middle-center">
                              <q-avatar size="60px">
                                <img :src="el.logo" :class="bagDisabled[it.bag] ? 'disable-img' : ''
                                  " />
                              </q-avatar>
                            </div>
                          </div>
                          <div class="row ">
                            <div class="col-xs-4  col-md-4 text-center ">
                              <span class="text-h6 q-pa-sm bg-primary text-black" style="cursor: auto;">
                                {{ totalEnergy("team2", it.number) }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row text-center justify-center">
                    <span class="text-h4 q-pb-sm q-mb-sm">
                      {{ comboScores(it.number).team1 }} -  {{ comboScores(it.number).team2 }}
                    </span>
                  </div>
                  <q-separator class="q-my-sm" dark v-if="it.number > 0" />
                </div>
              </div>
              <div class="row">
                <div class="col-12 q-pa-md">
                  <q-table dark selection="multiple" :data="combat.referees" :columns="refereeColumns"
                    :hide-pagination="true" :selected.sync="selectedReferees" color="amber">
                    <template v-slot:top>
                      <div class="text-accent text-h6">Referees</div>
                      <q-space />
                      <div class="col-auto">
                        <q-btn flat round dense icon="add_circle" @click="openAddReferee" class="q-ml-md" />
                        <q-btn :disable="selectedReferees.length == 0" flat round dense icon="delete"
                          @click="removeReferee" class="q-ml-md" />
                      </div>
                    </template>
                  </q-table>
                </div>
              </div>
            </div>
          </template>
        </q-splitter>
      </q-card>
      <combat-upsert :key="`refereeVotes`" :open="showVotes" :combat="combat" :initialData="combat" @hide="hide" />
      <!-- <referee-votes :key="`refereeVotes`" :open="openVotes" :combat="combat" @hide="hideVotes"/> -->
    </q-pull-to-refresh>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'
import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'
import processControl from 'components/js/mixins/processControl'

import loading from 'components/controls/Loading'
import CombatUpsert from 'components/forms/Combat.upsert'

export default {
  name: 'CombatDetail',
  mixins: [notify, processControl, stateManager],
  components: { loading, CombatUpsert },
  data () {
    return {
      spliterWidth: 18,
      combat: null,
      editCombat: false,
      showVotes: false,
      stateToSave: [],
      initialData: {},
      refereeColumns: [
        {
          name: 'name',
          field: 'firstName',
          label: 'Name',
          format: (val, row) => `${row.firstName} ${row.lastName}`,
          align: 'left'
        },
        { name: 'email', align: 'left', label: 'Email', field: 'email' }
      ],
      selectedReferees: [],
      bagDisabled: {},
      POINTS: {
        energy: {
          0: [1, 1],
          1: [2, 0],
          2: [0, 2]
        },
        technique: {
          1: [2, 0],
          2: [0, 2]
        },
        coordination: {
          1: [1, 0],
          2: [0, 1]
        },
        hits: {
          1: [1, 0],
          2: [0, 1]
        },
        ranges: {
          1: [1, 0],
          2: [0, 1]
        }
      }
      // State
    }
  },
  computed: {
    // totalEnergy (team, comboNumber) {
    //   return 0
    // },
    energy1 () {
      const data = {}
      this.combat.scoresData.forEach(el => {
        data[el.number] =
          el.results &&
          el.results.team1 &&
          el.results.team1.detail?.filter(el => !!el)
      })
      return data
    },
    energy2 () {
      const data = {}
      this.combat.scoresData.forEach(el => {
        data[el.number] =
          el.results &&
          el.results.team2 &&
          el.results.team2.detail?.filter(el => !!el)
      })
      return data
    }
  },

  filters: {
    formatNumber (value) {
      return new Intl.NumberFormat('es-ES').format(value)
    }
  },

  apollo: {
    $client: 'fwg',
    combat: {
      query: gql`
        query($id: String!) {
          combat(id: $id) {
            id
            time
            arena
            game
            lastCombo
            status
            group {
              id
              name
            }
            team1 {
              id
              name
              logo
              trainer {
                firstName
                lastName
              }
            }
            team1Pos
            team1Desc
            score1
            team2 {
              id
              name
              logo
              trainer {
                firstName
                lastName
              }
            }
            team2Pos
            team2Desc
            score2
            winner
            participants
            scoresData
            referees {
              id
              firstName
              lastName
              email
            }
          }
        }
      `,
      variables () {
        return {
          id: this.$route.params.id
        }
      }
    }
  },

  methods: {
    totalEnergy (team, comboNumber) {
      const currentCombo = this.combat.scoresData.find(
        combo => combo.number === comboNumber
      )
      return (currentCombo?.results && currentCombo?.results[team]?.total) || 0
    },
    comboScores (comboNumber) {
      const valueMaps = {
        energy: 2,
        technique: 2,
        coordination: 1,
        hits: 1,
        ranges: 1
      }
      const comboScore = { team1: 0, team2: 0 }
      const combo = this.combat.scoresData.find(score => score.number === comboNumber)
      Object.keys(combo).forEach(item => {
        if (valueMaps[item]) {
          if (item === 'energy' && combo[item] === 0) {
            comboScore.team1 += 1
            comboScore.team2 += 1
          } else {
            comboScore.team1 += (combo[item] === 1 && valueMaps[item]) || 0
            comboScore.team2 += (combo[item] === 2 && valueMaps[item]) || 0
          }
        }
      })
      return comboScore
    },
    forceFinishCombat () {
      this.$q
        .dialog({
          title: 'Force finish combate',
          message: '¿Deseas finalizar el combate?',
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          try {
            this.$q.loading.show()
            await this.$apollo.mutate({
              mutation: gql`
                mutation($id: String!) {
                  forceFinishCombat(id: $id)
                }
              `,
              variables: {
                id: this.$route.params.id
              }
            })
            await this.refresh()
          } catch (ex) {
            this.notifyError(ex)
          } finally {
            this.$q.loading.hide()
          }
        })
    },
    finishCombat (winner) {
      this.$q
        .dialog({
          title: 'Finalizar combate',
          message: '¿Deseas finalizar el combate?',
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          try {
            this.$q.loading.show()
            await this.$apollo.mutate({
              mutation: gql`
                mutation($id: String!, $winner: Int!) {
                  finishCombat(id: $id, winner: $winner)
                }
              `,
              variables: {
                id: this.$route.params.id,
                winner
              }
            })
            await this.refresh()
          } catch (ex) {
            this.notifyError(ex)
          } finally {
            this.$q.loading.hide()
          }
        })
    },
    openEdit () {
      this.editCombat = true
      this.initialData = this.combat
    },
    openVotes () {
      this.showVotes = true
    },
    openAddReferee () {
      this.$q
        .dialog({
          title: 'Agregar Referee',
          class: 'prompt-referee',
          prompt: {
            model: ''
          },
          message: 'Email del referee',
          cancel: true
        })
        .onOk(async email => {
          if (!email) {
            this.notifyError('Correo invalido')
          }
          try {
            await this.$apollo.mutate({
              mutation: gql`
                mutation($email: String!, $combatId: String!) {
                  addRefereeToCombat(email: $email, combatId: $combatId) {
                    id
                  }
                }
              `,
              variables: {
                combatId: this.combat.id,
                email: email
              }
            })
            this.notifyDone('Referee agregado correctamente')
            await this.refresh()
            this.$emit('update')
          } catch (err) {
            this.notifyError(err)
          }
        })
    },
    removeReferee () {
      this.$q
        .dialog({
          title: 'Quitar referee',
          message: `¿Deseas remover ${this.selectedReferees.length > 1 ? 'los' : 'el'
          } del combate?`,
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          try {
            if (this.combat.referees.length === 1) {
              this.notifyError(
                'No se puede quitar el referee, debe haber al menos un referee para el combate'
              )
              return
            }
            this.$q.loading.show()
            for (const referee of this.selectedReferees) {
              await this.$apollo.mutate({
                mutation: gql`
                  mutation($combatId: String!, $email: String!) {
                    removeRefereeFromCombat(
                      combatId: $combatId
                      email: $email
                    ) {
                      id
                    }
                  }
                `,
                variables: {
                  combatId: this.combat.id,
                  email: referee.email
                }
              })
            }
            await this.refresh()
          } catch (ex) {
            this.notifyError(ex)
          } finally {
            this.$q.loading.hide()
          }
        })
    },
    restart () {
      this.$q
        .dialog({
          title: 'Reiniciar combate',
          message:
            '¿Deseas reiniciar el combate? Se perderán los datos actuales',
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          try {
            this.$q.loading.show()
            await this.$apollo.mutate({
              mutation: gql`
                mutation($id: String!) {
                  restartCombat(id: $id)
                }
              `,
              variables: {
                id: this.$route.params.id
              }
            })
            await this.refresh()
          } catch (ex) {
            this.notifyError(ex)
          } finally {
            this.$q.loading.hide()
          }
        })
    },
    toggleBagEnergy (fitboxer, comboNumber) {
      const data = {}
      const bagsEnergyList = [
        ...this.energy1[comboNumber],
        ...this.energy2[comboNumber]
      ]
      bagsEnergyList.forEach(fb => {
        if (fb.id === fitboxer.id) {
          data[fb.id] = fb.status === 'OK' ? 0 : true
        } else {
          data[fb.id] = fb.status === 'OK'
        }
      })
      const strMessage = `${fitboxer.status === 'OK' ? 'Desactivar' : 'Activar'}`
      this.$q
        .dialog({
          title: `${strMessage} energy para el saco ${fitboxer.bag}`,
          message: `¿Deseas ${strMessage} la energy de este saco?`,
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          try {
            // const data = {}
            this.$q.loading.show()
            this.loading = true
            await this.$apollo.mutate({
              mutation: gql`
                mutation($id: String!, $data: String!, $comboNumber: Int!) {
                  enableEnergies(
                    id: $id
                    data: $data
                    comboNumber: $comboNumber
                  )
                }
              `,
              variables: {
                id: this.combat.id,
                data: JSON.stringify(data),
                comboNumber: comboNumber
              }
            })
            await this.refresh()
            this.notifyDone()
            this.isOpen = false
          } catch (ex) {
            this.notifyError(ex)
          } finally {
            this.$q.loading.hide()
            this.loading = false
          }
        })
    },
    hide () {
      this.showVotes = false
      // this.refresh()
    },
    refresh (done) {
      this.$apollo.queries.combat.refetch()
      done && done()
    }
  }
}
</script>

<style>
.middle-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.line-through {
  text-decoration: line-through;
}

.disable-img {
  filter: grayscale(100%);
}

.energy-item {
  cursor: pointer;
}

.energy-item:hover {
  background-color: gray !important;
}
</style>
