<template>
  <q-page padding class="bg-dark">
    <q-card dark flat>
      <q-toolbar class="bg-grey-10" dark>
          <h5 class="q-ma-sm text-accent"><q-icon name="account_balance" /> Districts</h5>
          <q-btn icon="refresh" rounded label="Refresh" @click="refresh()"/>
          <!--<q-btn icon="delete_forever" rounded label="Delete" @click="remove" :disable="!selection > 0"/>-->
            <q-btn-dropdown rounded label="Publish to">
              <q-list dark class="bg-grey-9">
                <q-item clickable :disable="!selection > 0" v-close-popup @click="publishToLocaloo">
                  <q-item-section>
                    <q-item-label>Localoo...</q-item-label>
                  </q-item-section>
                </q-item>

                <q-item clickable :disable="!selection > 0" v-close-popup @click="publishToPublicWeb">
                  <q-item-section>
                    <q-item-label>Public Web...</q-item-label>
                  </q-item-section>
                </q-item>

                <q-separator dark/>
                <q-item clickable v-close-popup @click="clearCachePublicWeb">
                  <q-item-section>
                    <q-item-label>Clear Cache: Public Web</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          <q-space />
      </q-toolbar>
      <q-separator :dark="false"/>
      <!-- GRID -->
      <districts-grid ref="grid"
        :height="$q.screen.height - 230"
        :loading="$apollo.loading"
        :list="clubs"
        :flat="false"
        @selectionChange="selectionChange"
      />
      <!--
      <district-upsert :open="add" action="add" @hide="add = false" @add="addToList"/>
      -->
    </q-card>

    <q-page-sticky position="bottom-right" :offset="[12, 12]">
      <q-btn fab icon="add" color="primary" text-color="dark" @click="add = true"/>
    </q-page-sticky>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'

import DistrictsGrid from 'components/grids/Districts'
// import DistrictUpsert from 'components/forms/District.upsert'

export default {
  name: 'Districts',
  mixins: [notify, stateManager],
  components: {
    DistrictsGrid
    // DistrictUpsert
  },
  data () {
    return {
      loading: false,
      clubs: [],
      add: false,
      selection: 0,
      // State
      stateToSave: ['grid:text']
    }
  },
  computed: {
  },

  apollo: {
    clubs: {
      query: gql`query{
        clubs{
          id
          v7_id
          alias
          postgreeId
          salesForceId
          vpnAddress
        }
      }`
    }
  },

  methods: {
    selectionChange (length) {
      this.selection = length
    },
    async publishToLocaloo () {
      try {
        this.$q.loading.show()
        const grid = this.$refs.grid
        const selection = [ ...grid.selected ]
        for (const it of selection) {
          await this.$apollo.mutate({
            mutation: gql`mutation($id: String!){
              publishClubToLocaloo(id: $id)
            }`,
            variables: {
              id: it.id
            }
          })
          grid.selected.splice(0, 1)
          this.notifyDone()
        }
      } catch (error) {
        this.notifyError(error)
      } finally {
        this.$q.loading.hide()
      }
    },

    async publishToPublicWeb () {
      try {
        this.$q.loading.show()
        const grid = this.$refs.grid
        const selection = [ ...grid.selected ]
        for (const it of selection) {
          await this.$apollo.mutate({
            mutation: gql`mutation($id: String!){
              publishClubToPublicWeb(id: $id)
            }`,
            variables: {
              id: it.id
            }
          })
          grid.selected.splice(0, 1)
          this.notifyDone()
        }
      } catch (error) {
        this.notifyError(error)
      } finally {
        this.$q.loading.hide()
      }
    },

    async clearCachePublicWeb () {
      try {
        this.$q.loading.show()
        await this.$apollo.mutate({
          mutation: gql`mutation{
            clearPublicWebCache
          }`
        })
        this.notifyDone()
      } catch (error) {
        this.notifyError(error)
      } finally {
        this.$q.loading.hide()
      }
    },

    addToList (payload) {
      this.clubs.unshift(payload)
    },

    refresh (done) {
      this.$apollo.queries.clubs.refetch()
      done && done()
    }
  }
}
</script>

<style>
</style>
