<template>

  <div class="fixed-center text-center">
    <div class="q-py-xl text-center">
        <img src="statics/BF.png" style="height: 120px;">
    </div>
    <p class="q-mt-lg">
      <img
        src="~assets/sad.svg"
        style="width:30vw;max-width:150px;"
      >
    </p>
    <p class="text-grey-4 text-h6">Sorry, nothing here...<strong>(404)</strong></p>
    <q-btn
      color="secondary"
      style="width:200px;"
      @click="$router.back()"
    >Go back</q-btn>
  </div>
</template>

<script>
export default {
  name: 'Error404'
}
</script>
