<template>
  <q-page padding class="bg-dark">
    <q-pull-to-refresh @refresh="refresh" :class="[$q.screen.lt.sm ? 'q-pa-xs' : 'q-pa-sm']">
      <!--<h5 class="q-ma-sm text-accent">Fitboxers</h5>-->
      <q-tabs inline-label color="secondary" class="text-secondary q-mb-sm" align="left">
        <q-route-tab icon="sports_mma" label="Torneos FWG" to="/tournaments" exact />
        <q-route-tab icon="people" label="Equipos" to="/teams" exact />
        <q-route-tab icon="manage_accounts" label="Trainers" to="/trainersFwg" exact />
        <q-route-tab icon="manage_accounts" label="Fitboxers" to="/fitboxersFwg" exact />
        <q-route-tab icon="manage_accounts" label="Referees" to="/refereesFwg" exact />
      </q-tabs>
      <q-card dark flat>
        <q-toolbar class="bg-grey-10" dark>
          <q-btn icon="refresh" flat rounded label="Refresh" @click="refresh()" />
          <q-space />
        </q-toolbar>
        <q-separator :dark="false" />
        <users-fwg-grid
          ref="grid"
          :list="fitboxers"
          :visibleColumns="['email', 'Nick', 'Nombre', 'Apellido', 'Telf', 'Equipo']"
          :flat="false"
        />
      </q-card>
    </q-pull-to-refresh>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'
import UsersFwgGrid from 'components/grids/UsersFwg'
export default {
  name: 'FitboxersFWG',
  components: {
    UsersFwgGrid
  },
  mixins: [notify, stateManager],
  data () {
    return {
      action: 'add',
      initialData: null,
      loading: false,
      fitboxers: [],
      isModalOpen: false,
      keyModal: 1,
      stateToSave: ['grid:pagination', 'grid:filters']
    }
  },
  computed: {},

  apollo: {
    $client: 'fwg',
    fitboxers: {
      query: gql`
        query {
          fitboxers {
            id
            email
            nickName
            firstName
            lastName
            phone
            status
            isCaptain
            # team {
            #   id
            #   code
            #   name
            # }
          }
        }
      `
    }
  },

  methods: {
    add () {
      this.isModalOpen = true
      this.action = 'add'
      this.initialData = null
    },

    edit (data) {
      this.isModalOpen = true
      this.action = 'edit'
      this.initialData = data
    },

    hideModal () {
      this.isModalOpen = false
      this.keyModal++
    },

    async remove (selected) {
      const selection = [...selected]
      this.$q
        .dialog({
          title: 'Eliminar Fitboxer',
          message: `¿Deseas eliminar el Fitboxer? Esta acción no se puede deshacer`,
          cancel: true
        })
        .onOk(async () => {
          try {
            for (const it of selection) {
              this.$apollo.mutate({
                mutation: gql`
                  mutation($id: String!) {
                    removeUser(id: $id) {
                      id
                    }
                  }
                `,
                variables: {
                  id: it.id
                }
              })
              let index = this.fitboxers.findIndex(el => el.id === it.id)
              if (index > -1) {
                this.fitboxers.splice(index, 1)
              }
              selected.splice(0, 1)
              this.notifyDone()
            }
          } catch (error) {
            this.notifyError(error)
          }
        })
    },
    addToList (payload) {
      this.fitboxers.unshift(payload)
    },
    refresh (done) {
      this.$apollo.queries.fitboxers.refetch()
      done && done()
    }
  }
}
</script>

<style></style>
