<template>
  <q-page padding class="bg-dark">
    <q-card dark flat>
      <q-toolbar class="bg-grey-10" dark>
          <h5 class="q-ma-sm text-accent"><q-icon name="people" /> Fitboxers</h5>
          <q-btn icon="refresh" rounded label="Refresh" @click="refresh()"/>
          <q-btn icon="file_download" rounded label="Export to CSV" @click="exportCsv" :disable="!selection > 0"/>
          <q-space />
      </q-toolbar>
      <q-separator :dark="false"/>
      <!-- GRID -->
      <fitboxers-grid ref="grid"
        :list="fitboxers"
        :flat="false"
        :loading="loading"
        :totalCount="totalCount"
        :height="$q.screen.height - 162"
        @clubSelected="clubSelected"
        @textChanged="textChanged"
        @flagsChanged="flagsChanged"
        @fetchMore="fetchMore"
        @selectionChange="selectionChange"
      />
    </q-card>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'

import FitboxersGrid from 'components/grids/Fitboxers'

export default {
  name: 'Fitboxers',
  mixins: [notify, stateManager],
  components: {
    FitboxersGrid
  },
  data () {
    return {
      loading: false,
      // Search
      club: null,
      email: null,
      firstName: null,
      lastName: null,
      withErrors: false,
      page: 1,
      // Result
      totalCount: 0,
      fitboxers: [],
      selection: 0,
      // State
      stateToSave: ['grid:email']
    }
  },
  computed: {
  },
  methods: {
    clubSelected (payload) {
      this.club = payload
      this.initSearch()
    },
    textChanged ({ email, firstName, lastName }) {
      this.email = email
      this.firstName = firstName
      this.lastName = lastName
      this.initSearch()
    },

    flagsChanged ({ withErrors, errorType }) {
      this.withErrors = withErrors
      this.errorType = errorType
      this.initSearch()
    },

    async initSearch () {
      this.fitboxers = []
      this.page = 1
      this.loading = true
      try {
        // TotalCount
        const { data } = await this.$apollo.query({
          query: gql`query($club: Int, $email: String, $firstName: String, $lastName: String, $withErrors: Boolean, $errorType: String){
            fitboxersTotalCount(club: $club, email: $email, firstName: $firstName, lastName: $lastName, withErrors: $withErrors, errorType: $errorType)
          }`,
          variables: {
            club: this.club,
            email: this.email,
            firstName: this.firstName,
            lastName: this.lastName,
            withErrors: this.withErrors,
            errorType: this.errorType
          },
          fetchPolicy: 'network-only'
        })
        this.totalCount = data.fitboxersTotalCount
      } catch (e) {
        this.notifyError(e)
      }
      this.search()
    },

    async fetchMore () {
      this.page++
      this.search()
    },

    async search () {
      try {
        this.loading = true
        const { data } = await this.$apollo.query({
          query: gql`query($club: Int, $email: String, $firstName: String, $lastName: String, $withErrors: Boolean, $errorType: String, $page: Int!){
            fitboxers(club: $club, email: $email, firstName: $firstName, lastName: $lastName, withErrors: $withErrors, errorType: $errorType, page: $page){
              id
              v7_id
              profileId
              avatar
              firstName
              lastName
              nickname
              status
              email
              phone
              club{
                id
                alias
              }
              shopperReference
              range
              level
              w_avg
              syn
              pow
              karma_balance
              lastSession
              unpayments
              campaingsOn
              syncSalesforcePending
              notSyncToSalesforce
              salesForceWithErrors
              salesForceLastError
            }
          }`,
          variables: {
            club: this.club,
            email: this.email,
            firstName: this.firstName,
            lastName: this.lastName,
            withErrors: this.withErrors,
            errorType: this.errorType,
            page: this.page || 1
          },
          fetchPolicy: 'network-only'
        })
        this.fitboxers = [ ...this.fitboxers, ...data.fitboxers ]
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.loading = false
      }
    },

    selectionChange (length) {
      this.selection = length
    },

    async syncToSalesforce () {
      try {
        this.$q.loading.show()
        const grid = this.$refs.grid
        const selection = [ ...grid.selected ]
        for (const it of selection) {
          await this.$apollo.mutate({
            mutation: gql`mutation($id: String!){
              syncToSalesforce(id: $id)
            }`,
            variables: {
              id: it.id
            }
          })
          grid.selected.splice(0, 1)
          this.notifyDone()
        }
      } catch (error) {
        this.notifyError(error)
      } finally {
        this.$q.loading.hide()
      }
    },

    async deleteInSalesforce () {
      try {
        this.$q.loading.show()
        const grid = this.$refs.grid
        const selection = [ ...grid.selected ]
        for (const it of selection) {
          await this.$apollo.mutate({
            mutation: gql`mutation($id: String!){
              deleteInSalesforce(id: $id)
            }`,
            variables: {
              id: it.id
            }
          })
          grid.selected.splice(0, 1)
          this.notifyDone()
        }
      } catch (error) {
        this.notifyError(error)
      } finally {
        this.$q.loading.hide()
      }
    },

    exportCsv () {
      const grid = this.$refs.grid
      grid.exportTable('selected', 'fitboxers')
    },

    async remove () {
      const grid = this.$refs.grid
      const selection = [ ...grid.selected ]
      this.$q.dialog({
        dark: true,
        title: 'Eliminar Fitboxer',
        message: `¿Deseas eliminar el Fitboxer? Esta acción no se puede deshacer`,
        cancel: true
      }).onOk(async () => {
        try {
          this.$q.loading.show()
          for (const it of selection) {
            await this.$apollo.mutate({
              mutation: gql`mutation($id: String!){
                deleteFitboxer(id: $id){
                  id
                }
              }`,
              variables: {
                id: it.id
              }
            })
            let index = this.fitboxers.findIndex(el => el.id === it.id)
            if (index > -1) {
              this.fitboxers.splice(index, 1)
            }
            grid.selected.splice(0, 1)
            this.notifyDone()
          }
        } catch (error) {
          this.notifyError(error)
        } finally {
          this.$q.loading.hide()
        }
      })
    },

    refresh (done) {
      this.initSearch()
      done && done()
    }
  }
}
</script>

<style>
</style>
