<template>
  <q-page padding>
    <div class="row q-mt-md  q-pa-lg">
      <q-spinner
        style="margin: auto;"
        color="primary"
        size="5em"
      ></q-spinner>
    </div>
  </q-page>
</template>

<script>

export default {
  name: 'LoadingPage',
  mounted () {
    const router = this.$router
    const prevRoute = this.$q.localStorage.getItem('prevRoute')

    setTimeout(function () {
      if (prevRoute) {
        router.replace(prevRoute)
      } else {
        router.back()
      }
    }, 300)

    this.$q.localStorage.remove('prevRoute')
  }
}
</script>

<style>
</style>
