<template>
  <q-page class="bg-black">
    <div class="text-center q-my-xl">
        <img src="statics/BF.png" style="height: 140px;">
    </div>
    <div class="q-pa-md bg-black text-white" style="max-width: 400px; margin: auto;">
      <div class="text-center text-h3 text-secondary">Admin</div>
      <p class="text-center">
        Acceso restringido a Users Admin<br>
      </p>
      <q-form
        class="q-mt-md q-gutter-md"
        @submit="onSubmit"
      >
        <q-input dark
          autofocus
          outlined
          clearable
          v-model.trim="data.email"
          :label="$t('login.email')"
          lazy-rules
          :rules="[ val => val && val.length > 0 || $t('login.emailError')]"
        ></q-input>

        <q-input dark
          outlined
          clearable
          :type="seePwd ? 'text' : 'password'"
          v-model="data.password"
          :label="$t('login.pass')"
          lazy-rules
          :rules="[
            val => val !== null && val !== '' || $t('login.passError')
          ]"
        ><template v-slot:append>
            <q-icon
              :name="seePwd ? 'visibility' : 'visibility_off'"
              class="cursor-pointer"
              @click="seePwd = !seePwd"
            ></q-icon>
          </template>
        </q-input>

        <div>
          <q-btn
            :loading="submitting"
            class="full-width"
            :label="$t('common.continue')"
            type="submit"
            color="primary"
            text-color="grey-9"
            icon="forward">
          </q-btn>
        </div>
      </q-form>
      <form action="https://www.brooklynfitzone.com/index.php/login" method="post" ref="autologin">
        <input type="hidden" name="user" :value="data.email" />
        <input type="hidden" name="pass" :value="data.password" />
      </form>
    </div>

    <div class="bg-black text-center">
        <img class="text-right" src="statics/logo-H4C.png" style="height: 90px;">
    </div>
  </q-page>
</template>

<script>

import notify from 'components/js/mixins/notify'

export default {
  name: 'Login',
  mixins: [notify],
  data () {
    return {
      data: {
        email: '',
        password: ''
      },
      seePwd: false,
      submitting: false
    }
  },
  methods: {
    async onSubmit () {
      Object.values(this.$apollo.provider.clients).forEach(client => client.cache.reset())
      this.submitting = true
      const payload = {
        ...this.data,
        lang: this.$q.localStorage.getItem('lang')
      }
      // fuera del login para no parar el flujo del autenticacion
      try {
        if (this.$auth.isLogged()) {
        //  console.log('Desconexion vieja sesion')
          await this.$store.dispatch('auth/logout')
        }
      } catch (e) {
        console.log(e) // eslint-disable-line
      }

      try {
        await this.$auth.login(payload)
        this.$router.push('/districts')
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.submitting = false
      }
    }
  },

  async mounted () {
    // Si hay alguna carga pendiente que resulte de no autorizada quitar
    this.$q.loading.hide()
    const token = this.$route.query.token
    if (token) {
      try {
        this.$q.loading.show()
        const { data } = await this.$axios.get(`/user/autologin/${token}`)
        if (data) {
          this.data.email = data.email
          this.data.password = data.password
          this.onSubmit()
        }
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.$q.loading.hide()
      }
    }
  }
}
</script>

<style>
</style>
