<template>
  <q-page padding class="bg-dark" keep-alive>
    <q-pull-to-refresh @refresh="refresh" :class="[$q.screen.lt.sm ? 'q-pa-xs' : 'q-pa-sm']" style="margin-bottom: 0;">
    <q-card dark>
      <q-toolbar class="bg-grey-10">
        <h5 class="q-ma-sm text-accent" :style="`width: ${spliterWidth}%;`"><q-icon name="shopping_cart" /> Orders</h5>

        <q-btn icon="refresh" flat rounded label="Refresh" @click="refresh()"/>
        <q-btn icon="delete_forever" flat rounded label="Delete" @click="deleteConfirm" v-if="selection.length > 0"/>
        <q-space />
      </q-toolbar>
      <q-separator />
      <q-splitter v-model="spliterWidth" :horizontal="$q.screen.lt.sm">

        <template v-slot:before>
          <div class="row q-pa-md">
            <q-toggle
              v-model="byDistrict"
              label="Buscar por Centro"
            />
            <template v-if="byDistrict">
              <district-selector class="col-12 q-mb-sm" :value="district" @selected="onDistrictSelected"/>
              <q-date class="col-12" v-model="period" range dark text-color="dark"/>
            </template>
            <template v-else>
              <q-date class="col-12" v-model="date" dark text-color="dark"/>
            </template>
          </div>
        </template>

        <template v-slot:after>
          <!-- Grid -->
          <div class="q-pa-md">
            <orders-grid ref="grid"
              :loading="$apollo.loading"
              :list="orders"
              :flat="false"
              :hiddenColumns="['user', 'fitboxer']"
              @selectionChange="onSelectionChange"
            />
          </div>
        </template>
    </q-splitter>
    </q-card>
    </q-pull-to-refresh>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'
import { date } from 'quasar'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'
import processControl from 'components/js/mixins/processControl'

import OrdersGrid from 'components/grids/Orders'
import DistrictSelector from 'components/controls/DistrictSelector'

const today = new Date()

function dateToInput (time) {
  return date.formatDate(time, 'YYYY/MM/DD')
}

export default {
  name: 'Orders',
  mixins: [stateManager, notify, processControl],
  components: {
    OrdersGrid,
    DistrictSelector
  },
  data () {
    return {
      spliterWidth: 18,
      period: { from: dateToInput(today), to: dateToInput(today) },
      byDistrict: false,
      date: dateToInput(today),
      district: null,
      orders: [],
      selection: [],
      // State
      stateToSave: ['byDistrict', 'district', 'date', 'period', 'grid:pagination', 'grid:scroll', 'grid:filters']
    }
  },
  computed: {
  },

  apollo: {
    orders: {
      query: gql`query($district: Int, $from: String!, $to: String){
        orders(district: $district, from: $from, to: $to){
          id
          date
          userId
          v7_cen
          v7_clt
          productType
          shopperReference
          description
          amount
          currency
          status
          paymentMethod
        }
      }`,
      variables () {
        return {
          district: this.byDistrict ? this.district.v7_id : null,
          from: this.byDistrict ? (this.period.from || this.period) : this.date,
          to: this.byDistrict ? this.period.to : this.date
        }
      },
      skip () {
        return this.byDistrict ? !this.district || !this.period : !this.date
      }
    }
  },

  methods: {
    onSelectionChange (payload) {
      this.selection = payload
    },
    onDistrictSelected (payload) {
      this.district = payload
      this.refresh()
    },

    deleteConfirm () {
      const _self = this
      this.$q.dialog({ title: `¿Eliminar las ordenes seleccionadas (${this.selection.length})?`, dark: true }).onOk(() => _self.deleteOrders())
    },

    async deleteOrders () {
      try {
        const selection = [ ...this.selection ]
        this.startProcess()
        for (const id of selection) {
          await this.$apollo.mutate({
            mutation: gql`mutation{
              deleteOrder(id: "${id}"){
                id
              }
            }`
          })
          // Quitar de la lista y seleccion
          let index = this.orders.findIndex(el => el.id === id)
          if (index > -1) {
            this.orders.splice(index, 1)
          }
          this.selection.splice(0, 1)
        }
        this.$refs.grid.selected = this.selection
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.endProcess()
      }
    },

    setSelectedItem (index) {
      this.selectedItem = index
    },

    refresh (done) {
      this.$apollo.queries.orders.refetch()
      done && done()
    }
  }
}
</script>

<style>
</style>
