<template>
  <q-page padding class="bg-dark">
    <q-pull-to-refresh @refresh="refresh" :class="[$q.screen.lt.sm ? 'q-pa-xs' : 'q-pa-sm']" style="margin-bottom: 0;">
    <q-card dark>
      <q-toolbar class="bg-grey-10">
        <h5 class="q-ma-sm text-accent" :style="`width: ${spliterWidth}%;`"><q-icon name="shopping_cart" /> Order Detail</h5>

        <q-btn icon="refresh" flat rounded label="Refresh" @click="refresh()"/>
        <q-space />
      </q-toolbar>
      <q-separator :dark="false"/>
      <q-splitter v-model="spliterWidth" :horizontal="$q.screen.lt.sm" :dark="false">

        <template v-slot:before>
          <div class="row q-pa-lg" v-if="order">
            <span class="text-accent col-12 q-mt-sm">Id</span>
            <div class="text-body1 col-12">{{order.id}}</div>
            <span class="text-accent col-12 q-mt-md">Date</span>
            <div class="text-body1 col-12">{{new Date(order.date).toLocaleString()}}</div>
            <div class="col-12 q-mt-md"><span class="text-accent">User </span><span class="text-grey-8">{{order.userId}}</span></div>
            <div class="text-body1 col-12">
              {{order.User.name}}
              <span class="text-secondary">{{order.User.email}}</span>
            </div>
            <span class="col-12 q-mt-md"><span class="text-accent">Shopper Reference </span><span class="text-grey-8">{{order.shopperReference}}</span></span>
            <div class="text-body1 col-12">
            {{order.Fitboxer.fullName}}
              <span class="text-secondary">{{order.Fitboxer.email}}</span>
            </div>
          </div>
        </template>

        <template v-slot:after>
          <div class="q-pa-md" v-if="order">
            <q-card dark class="bg-grey-10">
              <q-card-section class="row">
                <span class="text-accent col-12">Product</span>
                <div class="text-body1 col-12">
                  <q-badge class="q-mr-sm" :color="{
                    'R': 'state-5',
                    'S': 'secondary',
                    'F': 'state-4',
                  }[order.productType] || 'accent'">{{order.productType}}</q-badge>
                  {{order.description}}
                </div>
                <span class="text-accent col-12 q-mt-md">Amount</span>
                <div class="text-body1 col-12">{{order.currency}} {{order.amount | amount}}</div>
                <span class="text-accent col-12 q-mt-md">Status</span>
                <div class="text-body1 col-12">
                  <q-badge square :color="STATUS[order.status].color">
                    {{STATUS[order.status].name}}
                  </q-badge>
                  {{order.status === 'F' ? order.error : ''}}
                </div>
                <span class="text-accent col-12 q-mt-md">Payment Reference</span>
                <div class="text-body1 col-12">{{order.paymentReference}}</div>
                <span class="text-accent col-12 q-mt-md">Metadata</span>
                <code-highlight language="json">
                  <pre>{{order.metadata}}</pre>
                </code-highlight>
              </q-card-section>
            </q-card>
          </div>
        </template>
    </q-splitter>
    </q-card>
    </q-pull-to-refresh>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import { component as CodeHighlight } from 'vue-code-highlight'
import 'vue-code-highlight/themes/prism-vsc-dark-plus.css'

import 'prism-es6/components/prism-markup-templating'
import 'prism-es6/components/prism-json'

import stateManager from 'components/js/mixins/stateManager'

import { ORDER_STATUS } from 'components/js/constants'

export default {
  name: 'Orders',
  mixins: [stateManager],
  components: {
    CodeHighlight
  },
  data () {
    return {
      STATUS: ORDER_STATUS,
      spliterWidth: 18,
      order: null,
      // State
      stateToSave: ['district', 'grid:filters']
    }
  },
  computed: {
  },

  filters: {
    amount (value) {
      return Math.round(value * 100) / 10000
    }
  },

  apollo: {
    order: {
      query: gql`query($id: String!){
        order(id: $id){
          id
          date
          userId
          User{
            id
            email
            name
          }
          v7_clt
          Fitboxer{
            id
            fullName
            email
          }
          productType
          shopperReference
          description
          amount
          currency
          status
          paymentMethod
          paymentReference
          error
          metadata
        }
      }`,
      variables () {
        return {
          id: this.$route.params.id
        }
      }
    }
  },

  methods: {
    refresh (done) {
      this.$apollo.queries.order.refetch()
      done && done()
    }
  }
}
</script>

<style>
</style>
