<template>
  <q-page padding class="bg-dark">
    <q-pull-to-refresh @refresh="refresh" class="q-pa-xs" style="margin-bottom: 0;">
    <redis-info type="queues" class="q-mb-md"/>
    <loading v-if="queues.length === 0" />
    <q-card dark v-else>
      <q-toolbar class="row bg-grey-10">
        <q-select class="col-auto"
          dark
          options-dark
          v-model="selectedQueue"
          :options="queues"
          label="Queues"
          map-options
          style="min-width: 200px"
          option-value="id"
          option-label="name"
          emit-value
        />
        <queue-options :queueId="selectedQueue" :processes="queue ? queue.processes : []" @refresh="refresh"/>
        <!-- <q-btn-group class="col-auto q-mx-md">
          <q-btn icon="view_list" @click="view = 'jobs'"
            :color="view === 'jobs' ? 'grey-8' : ''"
          />
          <q-btn icon="repeat" @click="view = 'repeat'"
            :color="view === 'repeat' ? 'grey-8' : ''"
          />
        </q-btn-group> -->
        <!-- <span class="text-grey-5 q-ml-md q-mr-sm">View</span>
        <q-btn-group>
          <q-btn icon="reorder" @click="listView = 'grid'"
            :color="listView === 'grid' ? 'primary' : ''"
            :text-color="listView === 'grid' ? 'dark' : ''"
          />
          <q-btn icon="view_module" @click="listView = 'card'"
            :color="listView === 'card' ? 'primary' : ''"
            :text-color="listView === 'card' ? 'dark' : ''"
          />
        </q-btn-group> -->
        <q-tabs v-model="tabStatus" class="text-secondary col" inline-label align="left" v-if="queue">
          <q-tab name="active" label="Active" :disable="queue.active === 0">
            <q-badge class="q-ml-sm" :color="queue.active > 0 ? 'secondary' : 'grey-9'">{{queue.active}}</q-badge>
          </q-tab>
          <q-tab name="waiting" label="Waiting" :disable="queue.waiting === 0">
            <q-badge class="q-ml-sm" :color="queue.waiting > 0 ? 'secondary' : 'grey-9'">{{queue.waiting}}</q-badge>
          </q-tab>
          <q-tab name="completed" label="Completed">
            <q-badge class="q-ml-sm" :color="queue.completed > 0 ? 'positive' : 'grey-9'">{{queue.completed}}</q-badge>
          </q-tab>
          <q-tab name="failed" label="Failed" :disable="queue.failed === 0">
            <q-badge class="q-ml-sm" :color="queue.failed > 0 ? 'negative' : 'grey-9'">{{queue.failed}}</q-badge>
          </q-tab>
          <q-tab name="delayed" label="Delayed" :disable="queue.delayed === 0">
            <q-badge class="q-ml-sm" :color="queue.delayed > 0 ? 'primary' : 'grey-9'">{{queue.delayed}}</q-badge>
          </q-tab>
          <q-tab name="paused" label="Paused" :disable="queue.paused === 0">
            <q-badge class="q-ml-sm" :color="queue.paused > 0 ? 'secondary' : 'grey-9'">{{queue.paused}}</q-badge>
          </q-tab>
        </q-tabs>
        <template v-else>
          <div class="text-h5 text-accent q-ml-md q-pa-sm">Repeteable Jobs</div>
          <q-space />
        </template>

        <div class="q-ml-md" v-if="queue">
          <q-btn icon="add" flat rounded @click="addJob(null)" v-if="!queue.processes"/>
          <q-btn icon="add" flat rounded icon-right="arrow_drop_down" v-else>
            <q-menu dark>
              <q-list>
                <q-item clickable v-close-popup @click="addJob(it)" v-for="it in queue.processes" :key="it">
                  <q-item-section>
                    <q-item-label v-if="queue.id === '__tasks_and_jobs__'">
                      {{it === '*' ? 'Manual Script' : it}}
                    </q-item-label>
                    <q-item-label v-else>
                      {{it === '*' ? 'Default Process' : it}}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
          <q-btn icon="not_started" flat rounded dense v-if="queue.paused > 0" @click="resumeConfirm">
            <q-tooltip>
              Reanunar la cola
            </q-tooltip>
          </q-btn>
          <q-btn icon="pause_circle_filled" flat rounded dense v-else @click="pauseConfirm">
            <q-tooltip>
              Pausar la cola
            </q-tooltip>
          </q-btn>
          <!-- <q-btn icon="delete_forever" flat rounded label="Empty" @click="emptyConfirm"/> -->
        </div>
      </q-toolbar>
      <q-separator />

      <q-tab-panels v-model="tabStatus" animated dark>
        <q-tab-panel class="q-pa-none" v-for="sts in ['active', 'waiting', 'completed', 'failed', 'delayed', 'paused']" :key="sts" :name="sts">
          <div class="row">
            <!-- <q-toolbar>
              <q-btn icon="refresh" flat rounded label="Refresh" @click="refresh()"/>
              <q-btn icon="delete_forever" flat rounded label="Clear all" @click="clearConfirm" :disable="!queue[sts]"/>

              <q-btn v-if="sts === 'failed'"
                icon="cached" flat rounded label="Retry all" @click="retryConfirm" :disable="!queue[sts]"
              />

              <q-space />
              <template v-if="listView === 'card'">
                <q-pagination v-if="queue[sts] > 10"
                  v-model="pagination[sts]"
                  color="secondary"
                  :max="Math.ceil(queue[sts] / 10)"
                  :max-pages="6"
                  :boundary-numbers="true"
                />
              </template>
            </q-toolbar> -->
            <!-- Grid -->
            <queues-grid  class="full-width"
              :queue="selectedQueue"
              :status="sts"
              :list="jobs"
              :totalCount="queue[tabStatus]"
              :height="$q.screen.height - 218"
              :loading="loadingJobs !== 0"
              @fetchMore="fetchMore"
              @clone="clone"
              @edit="edit"
              @refresh="refresh"
              @stopQuery="setStopQuery"
            >
              <template slot="pre-filters">
                <div class="col-auto">
                  <q-btn icon="refresh" flat rounded @click="refresh()">
                    <q-tooltip>Refresh</q-tooltip>
                  </q-btn>
                  <q-btn icon="delete_forever" flat rounded @click="clearConfirm" :disable="!queue[sts]">
                    <q-tooltip>Clear all</q-tooltip>
                  </q-btn>

                  <q-btn v-if="sts === 'failed'"
                    icon="cached" flat rounded @click="retryConfirm" :disable="!queue[sts]"
                  >
                    <q-tooltip>Retry all</q-tooltip>
                  </q-btn>

                  <q-space />
                </div>
              </template>
            </queues-grid>
            <!-- View Detail -->
            <!-- <q-scroll-area v-else :style="`height: ${$q.screen.height - 450}px; width: 100%;`">
              <div class="col-12 col-xl-6 q-pa-xs"
                v-for="it in jobs" :key="it.id"
              >
                <queue-job :it="it" :queue="selectedQueue"  :status="sts"
                  @reload="refresh"
                  @clone="clone"
                  @edit="edit"
                />
              </div>
            </q-scroll-area> -->
          </div>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
    </q-pull-to-refresh>

    <!-- Add -->
    <job-upsert :queue="selectedQueue" :open="add" :jobType="jobType" :initialData="jobInitialData"
      @hide="add = false"
      @ok="refresh"
    />
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'

import Loading from 'components/controls/Loading'
import RedisInfo from 'components/partials/Redis.info'
import QueueOptions from 'components/forms/Queue/Queue.options'
import QueuesGrid from 'components/grids/Queues'

import JobUpsert from 'components/forms/Job.upsert'

export default {
  name: 'Queues',
  mixins: [stateManager, notify],
  components: {
    Loading,
    RedisInfo,
    QueueOptions,
    QueuesGrid,
    JobUpsert
  },
  data () {
    return {
      pagination: {
        active: 1,
        waiting: 1,
        completed: 1,
        failed: 1,
        delayed: 1,
        paused: 1
      },
      loadingJobs: 0,
      spliterWidth: 18,
      loading: false,
      selectedQueue: null,
      tabStatus: 'completed',
      queues: [],
      jobs: [],
      stopQuery: false,
      // Add
      add: false,
      jobType: null,
      jobInitialData: {},
      // State
      stateToSave: ['selectedQueue', 'tabStatus', 'pagination']
    }
  },
  computed: {
    queue () {
      const it = this.queues.find(el => el.id === this.selectedQueue)
      if (it) it.waiting = it.paused > 0 ? 0 : it.waiting
      return it
    },
    paginationStart () {
      const start = this.pagination[this.tabStatus] - 1
      return start * 100
    },
    paginationEnd () {
      return this.paginationStart + 99
    }
  },

  apollo: {
    queues: {
      query: gql`query{
        queues
      }`,
      result ({ data }) {
        if (!this.selectedQueue) this.selectedQueue = data.queues[0].id
      }
    },
    jobs: {
      query: gql`query($id: String!, $status: String, $start: Int, $end: Int){
        jobs(id: $id, status: $status, start: $start, end: $end)
      }`,
      variables () {
        return {
          id: this.selectedQueue,
          status: this.tabStatus,
          start: this.paginationStart,
          end: this.paginationEnd
        }
      },
      skip () {
        return !this.selectedQueue
      },
      manual: true,
      result ({ data }) {
        const newList = (data && data.jobs) || []
        this.jobs = [ ...this.jobs, ...newList ]
      },
      fetchPolicy: 'network-only',
      loadingKey: 'loadingJobs'
    },
    repeatableJobs: {
      query: gql`query($id: String!){
        repeatableJobs(id: $id)
      }`,
      variables () {
        return {
          id: this.selectedQueue
        }
      },
      skip () {
        return !this.selectedQueue || this.view !== 'repeat'
      },
      fetchPolicy: 'network-only',
      loadingKey: 'loadingJobs'
    }
  },

  watch: {
    'queue.id': function (newValue, oldValue) {
      this.jobs = []
      this.pagination[this.tabStatus] = 1
      if (this.queue.active > 0) {
        this.tabStatus = 'active'
      } else if (this.queue.failed > 0) {
        this.tabStatus = 'failed'
      } else if (this.queue.paused > 0) {
        this.tabStatus = 'paused'
      } else {
        this.tabStatus = 'completed'
      }
    },
    tabStatus: function () {
      this.pagination[this.tabStatus] = 1
      this.jobs = []
    }
  },

  methods: {
    // List
    fetchMore () {
      if (this.stopQuery) return
      this.pagination[this.tabStatus] += 1
    },
    setStopQuery (state) {
      this.stopQuery = state
    },
    // Actions
    addJob (jobType) {
      this.jobType = jobType
      this.jobInitialData = {
        name: jobType !== '*' ? jobType : null
      }
      this.add = true
    },
    clone ({ jobType, name, data, opts }) {
      this.jobType = jobType
      this.jobInitialData = {
        name, data, opts
      }
      this.add = true
    },
    edit (payload) {
      const { jobType, id, name, data } = payload
      this.jobType = jobType
      this.jobInitialData = {
        id, name, data
      }
      this.add = true
    },
    clearConfirm () {
      const _self = this
      this.$q.dialog({ title: '¿Limpiar todo?', dark: true }).onOk(() => _self.queueAction('clear'))
    },
    retryConfirm () {
      const _self = this
      this.$q.dialog({ title: '¿Reintentar todo?', dark: true }).onOk(() => _self.queueAction('retry'))
    },
    pauseConfirm () {
      const _self = this
      this.$q.dialog({ title: '¿Pausar cola?', dark: true }).onOk(() => _self.queueAction('pause'))
    },
    resumeConfirm () {
      const _self = this
      this.$q.dialog({ title: '¿Reanudar cola?', dark: true }).onOk(() => _self.queueAction('resume'))
    },
    emptyConfirm () {
      const _self = this
      this.$q.dialog({ title: '¿Vaciar cola?', dark: true }).onOk(() => _self.queueAction('empty'))
    },
    async queueAction (action) {
      try {
        await this.$apollo.mutate({
          mutation: gql`mutation{
            queueAction(id: "${this.selectedQueue}", action: "${action}", status: "${this.tabStatus}")
          }`
        })
        this.notifyDone()
        const _self = this
        setTimeout(_self.refresh, 2000)
      } catch (ex) {
        this.notifyError(ex)
      }
    },

    // Others
    addToList (payload) {
    },
    refresh (done) {
      this.$apollo.queries.queues.refetch()
      this.jobs = []
      this.pagination[this.tabStatus] = 1
      this.stopQuery = false
      this.$apollo.queries.jobs.refetch()
      done && done()
    }
  }
}
</script>

<style>
</style>
