<template>
  <q-page padding class="bg-dark">
    <q-card dark flat>
      <q-toolbar class="bg-grey-10" dark>
          <h5 class="q-ma-sm text-accent"><q-icon name="cached" /> Cached Keys</h5>
          <q-btn icon="refresh" rounded label="Refresh" @click="refresh()"/>
          <q-btn icon="delete_forever" rounded label="Delete" @click="remove" :disable="!selection > 0"/>
          <q-space />
      </q-toolbar>
      <q-separator :dark="false"/>
      <!-- GRID -->
      <redis-keys-grid ref="grid"
        :list="redisKeys"
        :flat="false"
        :loading="$apollo.loading"
        :height="$q.screen.height - 162"
        @textChanged="textChanged"
        @selectionChange="selectionChange"
      />
    </q-card>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'

import RedisKeysGrid from 'components/grids/RedisKeys'

export default {
  name: 'Fitboxers',
  mixins: [notify, stateManager],
  components: {
    RedisKeysGrid
  },
  data () {
    return {
      loading: false,
      // Search
      pattern: null,
      // Result
      redisKeys: [],
      selection: 0,
      // State
      stateToSave: []
    }
  },
  computed: {
  },
  apollo: {
    redisKeys: {
      query: gql`query($pattern: String!){
        redisKeys(pattern: $pattern)
      }`,
      variables () {
        return {
          pattern: this.pattern || ''
        }
      },
      fetchPolicy: 'network-only',
      update: data => data.redisKeys ? data.redisKeys.map((el) => { return { id: el } }) : []
    }
  },
  methods: {
    textChanged (pattern) {
      this.pattern = pattern
    },

    selectionChange (length) {
      this.selection = length
    },

    async remove () {
      const grid = this.$refs.grid
      const selection = [ ...grid.selected ]
      this.$q.dialog({
        dark: true,
        title: 'Eliminar keys',
        message: `¿Deseas eliminar las keys seleccionadas?`,
        cancel: true
      }).onOk(async () => {
        try {
          for (const it of selection) {
            await this.$apollo.mutate({
              mutation: gql`mutation($key: String!){
                deleteRedisKey(key: $key)
              }`,
              variables: {
                key: it.id
              }
            })
            let index = this.redisKeys.findIndex(el => el.id === it.id)
            if (index > -1) {
              this.redisKeys.splice(index, 1)
            }
            grid.selected.splice(0, 1)
            this.notifyDone()
          }
        } catch (error) {
          this.notifyError(error)
        }
      })
    },

    refresh (done) {
      this.$apollo.queries.redisKeys.refetch()
      done && done()
    }
  }
}
</script>

<style>
</style>
