<template>
  <q-page padding class="bg-dark">

  <q-pull-to-refresh @refresh="refresh" :class="[$q.screen.lt.sm ? 'q-pa-xs' : 'q-pa-sm']">
    <!--<h5 class="q-ma-sm text-accent">Fitboxers</h5>-->
      <q-tabs inline-label color="secondary" class="text-secondary q-mb-sm" align="left">
        <q-route-tab icon="sports_mma" label="Torneos FWG" to="/tournaments" exact/>
        <q-route-tab icon="people"          label="Equipos" to="/teams" exact/>
        <q-route-tab icon="manage_accounts" label="Trainers" to="/trainersFwg" exact/>
        <q-route-tab icon="manage_accounts" label="Fitboxers" to="/fitboxersFwg" exact/>
        <q-route-tab icon="manage_accounts" label="Referees" to="/refereesFwg" exact/>
      </q-tabs>
    <q-card dark flat>
        <q-toolbar class="bg-grey-10" dark>
          <q-btn icon="refresh" flat rounded label="Refresh" @click="refresh()"/>
          <q-space />
          <q-btn icon="add" flat rounded label="Add Referee" @click="add"/>
          <q-btn icon="delete" flat rounded label="Remove Referee" @click="deleteReferee"/>
        </q-toolbar>
        <q-separator :dark="false" />
        <users-fwg-grid ref="grid" :list="referees" :visibleColumns="[
            'Nombre',
            'Apellido',
            'Telf',
            'email',
          ]"
        :flat="false" @onSelect="refereeSelected"/>
        <referee-upsert
          :key="`upsert${keyModal}`"
          :open="isModalOpen"
          :action="action"
          :initialData="initialData"
          @hide="hideModal"
          @add="refresh"
          @edit="edit"
        />
    </q-card>
    </q-pull-to-refresh>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'
import UsersFwgGrid from 'components/grids/UsersFwg'
import RefereeUpsert from 'components/forms/Referee.upsert'
export default {
  name: 'RefereesFWG',
  components: {
    UsersFwgGrid,
    RefereeUpsert
  },
  mixins: [notify, stateManager],
  data () {
    return {
      action: 'add',
      initialData: null,
      loading: false,
      referees: [],
      refereesSelected: [],
      isModalOpen: false,
      keyModal: 1,
      stateToSave: ['grid:pagination', 'grid:filters']
    }
  },
  computed: {
  },

  apollo: {
    $client: 'fwg',
    referees: {
      query: gql`query{
        referees {
          id
          email
          nickName
          firstName
          lastName
          phone
          status
        }
      }`
    }
  },

  methods: {
    refereeSelected (selected) {
      this.refereesSelected = selected
    },
    add () {
      this.isModalOpen = true
      this.action = 'add'
      this.initialData = null
    },

    edit (data) {
      this.isModalOpen = true
      this.action = 'edit'
      this.initialData = data
    },

    hideModal () {
      this.isModalOpen = false
      this.keyModal++
    },

    async deleteReferee () {
      this.$q.dialog({
        title: 'Eliminar Referee',
        message: `¿Deseas eliminar el Referee? Esta acción no se puede deshacer`,
        cancel: true
      }).onOk(async () => {
        try {
          for (const it of this.refereesSelected) {
            this.$apollo.mutate({
              mutation: gql`mutation($id: String!){
                removeUser(id: $id){
                  id
                }
              }`,
              variables: {
                id: it.id
              }
            })
            let index = this.referees.findIndex(el => el.id === it.id)
            if (index > -1) {
              this.referees.splice(index, 1)
            }
            this.refereesSelected.splice(0, 1)
            this.notifyDone()
          }
        } catch (error) {
          this.notifyError(error)
        }
      })
    },
    addToList (payload) {
      this.referees.unshift(payload)
    },
    refresh (done) {
      this.$apollo.queries.referees.refetch()
      done && done()
    }
  }
}
</script>

<style>
</style>
