<template>
  <q-page padding class="bg-dark">
    <q-pull-to-refresh @refresh="refresh" :class="[$q.screen.lt.sm ? 'q-pa-xs' : 'q-pa-sm']" style="margin-bottom: 0;">
    <q-card dark>
      <q-toolbar class="bg-grey-10">
        <h5 class="q-ma-sm text-accent" :style="`width: ${spliterWidth}%;`"><q-icon name="favorite" /> Temporada H4C</h5>

        <q-btn icon="refresh" flat rounded label="Refresh" @click="refresh()"/>
        <q-space />
      </q-toolbar>
      <q-separator :dark="false"/>
      <q-splitter v-model="spliterWidth" :horizontal="$q.screen.lt.sm" :dark="false">

        <template v-slot:before>
          <div class="row q-pa-lg" v-if="season">
            <span class="text-accent col-12 q-mt-sm">Id</span>
            <div class="text-body1 col-12">{{season.id}}</div>
            <span class="text-accent col-12 q-mt-sm">Nombre</span>
            <div class="text-body1 col-12">{{season.name}}</div>
            <span class="text-accent col-12 q-mt-sm">Fondo</span>
            <div class="text-body1 col-12">${{season.found}}</div>
            <span class="text-accent col-12 q-mt-md">Desde</span>
            <div class="text-body1 col-12">{{new Date(season.from).toLocaleDateString()}}</div>
            <span class="text-accent col-12 q-mt-md">Hasta</span>
            <div class="text-body1 col-12">{{new Date(season.to).toLocaleDateString()}}</div>
            <span class="text-accent col-12 q-mt-md">Fitboxers apoyando</span>
            <div class="text-body1 col-12">{{totalFitboxers | formatNumber}}</div>
            <span class="text-accent col-12 q-mt-md">Karma recibido</span>
            <div class="text-body1 col-12">{{totalKarma | formatNumber}}</div>
          </div>
        </template>

        <template v-slot:after>
          <projects-grid :loading="$apollo.loading"
            :list="season ? season.projects : []"
            @add="add"
            @edit="edit"
            @remove="remove"
          />
          <project-upsert :seasonId="season ? season.id : ''"
            :ongs="ongs"
            :open="isProjectOpen"
            :action="action"
            :initialData="initialData"
            @hide="isProjectOpen = false"
            @add="addToProjectList"
          />
        </template>
    </q-splitter>
    </q-card>
    </q-pull-to-refresh>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'

import ProjectsGrid from 'components/grids/Projects'
import ProjectUpsert from 'components/forms/Project.upsert'

export default {
  name: 'seasons',
  mixins: [notify, stateManager],
  components: {
    ProjectsGrid,
    ProjectUpsert
  },
  data () {
    return {
      spliterWidth: 18,
      season: null,
      ongs: [],
      // Projects
      isProjectOpen: false,
      action: 'add',
      initialData: null,
      // State
      stateToSave: ['district', 'grid:filters']
    }
  },
  computed: {
    totalFitboxers () {
      return this.season && this.season.projects.reduce((prev, cur) => prev + cur.heroes, 0)
    },
    totalKarma () {
      return this.season && this.season.projects.reduce((prev, cur) => prev + cur.karma, 0)
    }
  },

  filters: {
    formatNumber (value) {
      return new Intl.NumberFormat('es-ES').format(value)
    }
  },

  apollo: {
    season: {
      query: gql`query($id: String!){
        season(id: $id){
          id
          name
          found
          from
          to
          projects{
            id
            name
            description
            webDescription
            picture
            karma
            heroes
            ong {
              id
              name
            }
            gratitude
            translations
            countries
          }
        }
      }`,
      variables () {
        return {
          id: this.$route.params.id
        }
      }
    },
    ongs: {
      query: gql`query{
        ongs{
          id
          name
        }
      }`
    }
  },

  methods: {
    add () {
      this.isProjectOpen = true
      this.action = 'add'
      this.initialData = null
    },

    edit (data) {
      this.isProjectOpen = true
      this.action = 'edit'
      this.initialData = data
    },
    async remove (selected) {
      const selection = [ ...selected ]
      this.$q.dialog({
        title: 'Eliminar Proyecto',
        message: `¿Deseas eliminar el Proyecto? Esta acción no se puede deshacer`,
        cancel: true
      }).onOk(async () => {
        try {
          for (const it of selection) {
            this.$apollo.mutate({
              mutation: gql`mutation($id: String!){
                deleteProject(id: $id)
              }`,
              variables: {
                id: it.id
              }
            })
            let index = this.seasons.projects.findIndex(el => el.id === it.id)
            if (index > -1) {
              this.seasons.projects.splice(index, 1)
            }
            selected.splice(0, 1)
            this.notifyDone()
          }
        } catch (error) {
          this.notifyError(error)
        }
      })
    },
    addToProjectList (payload) {
      this.season.projects.unshift(payload)
    },
    refresh (done) {
      this.$apollo.queries.season.refetch()
      done && done()
    }
  }
}
</script>

<style>
</style>
