<template>
  <q-page padding class="bg-dark">

  <q-pull-to-refresh @refresh="refresh" :class="[$q.screen.lt.sm ? 'q-pa-xs' : 'q-pa-sm']">

      <q-tabs inline-label color="secondary" class="text-secondary q-mb-sm" align="left">
        <q-route-tab icon="sports_mma" label="Torneos FWG" to="/tournaments" exact/>
        <q-route-tab icon="people"          label="Equipos" to="/teams" exact/>
        <q-route-tab icon="manage_accounts" label="Trainers" to="/trainersFwg" exact/>
        <q-route-tab icon="manage_accounts" label="Fitboxers" to="/fitboxersFwg" exact/>
        <q-route-tab icon="manage_accounts" label="Referees" to="/refereesFwg" exact/>
      </q-tabs>
    <q-card dark flat>
      <q-toolbar class="bg-grey-10" dark>
          <!-- <h5 class="q-ma-sm text-accent"><q-icon name="sports_mma" /> Torneos</h5> -->
          <q-btn icon="refresh" flat rounded label="Refresh" @click="refresh()"/>
          <q-space />
      </q-toolbar>
      <q-separator :dark="false"/>
      <teams-grid ref="grid"
        :list="tournament.teams"
        :flat="false"
        @add="add"
        @edit="edit"
        @remove="remove"
        @showCreateOrderDialog="showCreateOrderDialog"
      />
      <team-upsert :key="`upsert${keyModal}`"
        :open="isModalOpen"
        :initialData="initialData"
        @hide="hideModal"
        @add="addToList"/>
    </q-card>
    </q-pull-to-refresh>
    <q-dialog v-model="openCreateOrderDialog"  transition-show="flip-down" transition-hide="flip-up" >
      <q-card dark style="height:200px;  width:340px" >
        <q-bar>
          <div>Fecha de caducidad</div>
          <q-space></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{
              $q.lang.label.close
            }}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-form @submit="createPaymentOrder()">
          <div class="row q-mt-md" style="width:100%">
            <q-input datetime filled :value="expirationDate" dark readonly>
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                    <q-date v-model="expirationDate" :mask="dateMask">
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Close" color="primary" flat />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                    <q-time v-model="expirationDate"  :mask="dateMask" format24h>
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Close" color="primary" flat />
                      </div>
                    </q-time>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <q-card-actions align="right">
            <q-btn :label="$q.lang.label.close" v-close-popup flat />
            <q-btn :label="$q.lang.label.ok" color="secondary" :loading="loading" type="submit"/>
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'

import TeamsGrid from 'components/grids/Teams'
import TeamUpsert from 'components/forms/Team.upsert'
import { date } from 'quasar'

export default {
  name: 'Teams',
  mixins: [notify, stateManager],
  components: {
    TeamsGrid,
    TeamUpsert
  },
  data () {
    return {
      dateMask: 'YYYY-MM-DD HH:mm',
      expirationDate: new Date(),
      openCreateOrderDialog: false,
      action: 'add',
      initialData: null,
      loading: false,
      tournament: { teams: [] },
      isModalOpen: false,
      keyModal: 1,
      // State
      stateToSave: ['grid:pagination', 'grid:filters']
    }
  },
  computed: {
  },

  apollo: {
    $client: 'fwg',
    tournament: {
      query: gql`query {
        tournament (final: true){
          teams {
            id
            code
            name
            motto
            city
            state
            standingPosition
            rankingPosition
            trainer {
              id
              email 
              firstName
              nickName
            }
            tournament {
              id
              date
              clubAlias
              clubMerchantAlias          
            }
          }
        }
      }`
    }
  },
  mounted () {
  },
  methods: {
    add () {
      this.isModalOpen = true
      this.initialData = null
    },

    edit (data) {
      this.isModalOpen = true
      this.initialData = data
    },

    async hideModal () {
      this.isModalOpen = false
      this.keyModal++
      this.$apollo.queries.teams.refetch()
    },

    async remove (selected) {
      const selection = [ ...selected ]
      this.$q.dialog({
        title: 'Eliminar Equipo',
        message: `¿Deseas eliminar el Equipo? Esta acción no se puede deshacer`,
        cancel: true
      }).onOk(async () => {
        try {
          const teamSelected = selection[0]
          await this.$apollo.mutate({
            mutation: gql`mutation($code: String!){
                deleteCode(code: $code){
                  id
                }
              }`,
            variables: {
              code: teamSelected.code
            }
          })
          let index = this.teams.findIndex(el => el.id === teamSelected.id)
          if (index > -1) {
            this.teams.splice(index, 1)
          }
          selected.splice(0, 1)
          this.notifyDone()
        } catch (error) {
          this.notifyError(error)
        }
      })
    },
    showCreateOrderDialog (teamsSelected) {
      this.teamsSelected = teamsSelected
      this.openCreateOrderDialog = true
    },
    async createPaymentOrder () {
      this.$q.dialog({
        title: 'Crear ordenes de pago',
        message: `¿Deseas crear order de pago para los equipos seleccionados ? `,
        cancel: true
      }).onOk(async () => {
        try {
          this.openCreateOrderDialog = false
          for (const team of this.teamsSelected) {
            await this.$apollo.mutate({
              mutation: gql`mutation($code: String!, $expirationDate: DateTime ){
                  createPaymentOrder(code: $code, expirationDate: $expirationDate) 
                }`,
              variables: {
                code: team.code,
                expirationDate: date.extractDate(this.expirationDate, 'YYYY-MM-DD HH:mm')
              }
            })
          }
          this.notifyDone('Creacion de ordenes ejecutadas correctamente')
        } catch (error) {
          this.notifyError(error)
        }
      })
    },
    addToList (payload) {
      this.teams.unshift(payload)
    },
    async refresh (done) {
      this.$apollo.queries.teams.refetch()
      done && done()
    }
  }
}
</script>

<style>
</style>
