<template>
  <q-page padding class="bg-dark">
    <q-pull-to-refresh
      @refresh="refresh"
      :class="[$q.screen.lt.sm ? 'q-pa-xs' : 'q-pa-sm']"
    >
      <!--<h5 class="q-ma-sm text-accent">Fitboxers</h5>-->
      <q-tabs inline-label color="secondary" class="text-secondary q-mb-sm" align="left">
        <q-route-tab icon="sports_mma" label="Torneos FWG" to="/tournaments" exact/>
        <q-route-tab icon="people"          label="Equipos" to="/teams" exact/>
        <q-route-tab icon="manage_accounts" label="Trainers" to="/trainersFwg" exact/>
        <q-route-tab icon="manage_accounts" label="Fitboxers" to="/fitboxersFwg" exact/>
        <q-route-tab icon="manage_accounts" label="Referees" to="/refereesFwg" exact/>
      </q-tabs>
      <q-card dark flat>
        <q-toolbar class="bg-grey-10" dark>
          <!-- <h5 class="q-ma-sm text-accent"><q-icon name="sports_mma" /> Torneos</h5> -->
          <q-btn
            icon="refresh"
            flat
            rounded
            label="Refresh"
            @click="refresh()"
          />
          <q-space />
        </q-toolbar>
        <q-separator :dark="false" />
        <tournaments-grid
          ref="grid"
          :list="tournaments"
          :flat="false"
          @add="add"
          @edit="edit"
          @remove="remove"
          @publish="publish"
        />
        <tournament-upsert
          :key="`upsert${keyModal}`"
          :open="isModalOpen"
          :action="action"
          :initialData="initialData"
          @hide="hideModal"
          @add="addToList"
          @edit="edit"
        />
      </q-card>
    </q-pull-to-refresh>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'

import TournamentsGrid from 'components/grids/Tournaments'
import TournamentUpsert from 'components/forms/Tournament.upsert'

export default {
  name: 'Tournaments',
  mixins: [notify, stateManager],
  components: {
    TournamentsGrid,
    TournamentUpsert
  },
  data () {
    return {
      action: 'add',
      initialData: null,
      loading: false,
      tournaments: [],
      isModalOpen: false,
      keyModal: 1,
      // State
      stateToSave: ['grid:pagination', 'grid:filters']
    }
  },
  computed: {},

  apollo: {
    $client: 'fwg',
    tournaments: {
      query: gql`
        query {
          tournaments {
            id
            date
            name
            clubAlias
            clubMerchantAlias
            status
            price
            published
            currency
            createdAt
            updatedAt
            capacity
            teams {
              id
              code
              name
              motto
            }
          }
        }
      `
    },
    fetchPolicy: 'network-only'
  },

  methods: {
    add () {
      this.isModalOpen = true
      this.action = 'add'
      this.initialData = null
    },

    edit (data) {
      this.isModalOpen = true
      this.action = 'edit'
      this.initialData = data
    },

    async hideModal () {
      this.isModalOpen = false
      this.keyModal++
      await this.$apollo.queries.tournaments.refetch()
    },

    async remove (selected) {
      const selection = [...selected]
      this.$q
        .dialog({
          title: 'Eliminar Torneo',
          message: '¿Deseas eliminar el Torneo? Esta acción no se puede deshacer',
          cancel: true
        })
        .onOk(async () => {
          try {
            for (const it of selection) {
              await this.$apollo.mutate({
                mutation: gql`
                  mutation($id: String!) {
                    deleteTournament(id: $id) {
                      id
                    }
                  }
                `,
                variables: {
                  id: it.id
                }
              })
              let index = this.tournaments.findIndex(el => el.id === it.id)
              if (index > -1) {
                this.tournaments.splice(index, 1)
              }
              selected.splice(0, 1)
              this.notifyDone()
            }
          } catch (error) {
            this.notifyError(error)
          }
        })
    },
    addToList (payload) {
      this.tournaments.unshift(payload)
    },

    async refresh (done) {
      await this.$apollo.queries.tournaments.refetch()
      done && done()
    },
    async publish (selected, published) {
      this.loading = true
      if (selected && selected.length) {
        for (const it of selected) {
          await this.$apollo.mutate({
            mutation: gql`
              mutation($id: String!, $published: Boolean) {
                publishTournament(id: $id, published: $published) {
                  id
                }
              }
            `,
            variables: {
              id: it.id,
              published: published
            }
          })
        }
      }
      this.$apollo.queries.tournaments.refetch()
      this.loading = false
      // done && done()
    }
  }
}
</script>

<style></style>
