<template>
  <q-page class="bg-dark">
    <q-pull-to-refresh @refresh="refresh" :class="[$q.screen.lt.sm ? 'q-px-none' : 'q-px-md']" style="margin-bottom: 0;">
    <loading v-if="$apollo.loading"/>
    <q-card dark v-else>
      <q-toolbar class="bg-grey-10">
        <h5 class="q-ma-sm text-accent" :style="`width: ${spliterWidth}%;`">Tournament</h5>

        <q-btn icon="refresh" rounded label="Refresh" @click="refresh()"/>
        <q-btn icon="add_circle" rounded label="Build Calendar" @click="buildCalendar()"/>
        <q-btn v-if="selectedPhase.type === 'L'"
          icon="restart" rounded label="Update Classification" @click="updateClassification()"
        />
      </q-toolbar>
      <q-separator :dark="false"/>
      <q-splitter v-model="spliterWidth" class="q-mt-md" :horizontal="$q.screen.lt.md" :dark="false">

        <template v-slot:before>
          <q-tabs inline-label
            active-color="primary" indicator-color="primary"
            v-model="phaseView"
            vertical
          >
            <q-tab :name="it.id" :label="it.name.replaceAll('_', ' ')" v-for="it in phases" :key="it.id"
              icon="emoji_events"
            />
          </q-tabs>
        </template>

        <template v-slot:after>
          <q-tabs v-model="tabInfo" class="text-secondary" inline-label align="justify">
            <q-tab name="combats" label="Combats" />
            <q-tab name="classification" label="Standings"  v-if="selectedPhase.type === 'L'" />
          </q-tabs>
          <div v-if="tabInfo === 'combats'" class="row full-width justify-between">
            <div>
              <div class="row">
                  <div class="q-pa-md">
                    <q-select
                      dark
                      options-dark
                      v-model="statusSelected"
                      outlined
                      :options="[
                        {value: 'P', label: 'Pending'},
                        {value: 'C', label: 'Current'},
                        {value: 'F', label: 'Finished'}
                      ]"
                      label="Combat status"
                      style="width: 150px"
                      clearable
                      placeholder="Pending"/>
                </div>
              </div>
            </div>
            <div class="text-right">
                <q-btn-toggle
                  v-model="currentView"
                  toggle-color="primary"
                  flat
                  :options="[
                    { slot: 'grid', value: 'grid'},
                    { slot: 'table', value: 'table'}
                  ]"
                >
                <template v-slot:grid>
                  <div class="row items-center no-wrap">
                    <q-icon  name="view_module" />
                  </div>
                </template>
                <template v-slot:table>
                  <div class="row items-center no-wrap">
                    <q-icon  name="table_rows" />
                  </div>
                </template>
                </q-btn-toggle>
            </div>
          </div>
          <q-tab-panels v-model="tabInfo" animated dark>
            <q-tab-panel name="combats">
              <loading v-if="$apollo.loading" />
              <div v-else class="row full-width">
                <div v-if="currentView === 'grid'" class="full-width">
                  <div class="row full-width">
                    <div v-for="it in currentCombatsList" :key="it.id"
                      class="col-12 col-lg-6 q-pa-md cursor-pointer"
                      @click="$router.push(`../combats/${it.id}`)"
                    >
                      <div class="text-center">
                        <q-badge color="green" class="q-mx-sm" v-if="it.status === 'C'"/> <span class="text-grey-5">{{it.time}}</span> {{it.groupId ? groups[it.groupId] : it.name}} <q-badge color="grey-8" v-if="it.status === 'F'">Terminado</q-badge>
                      </div>
                      <div class="row">
                        <div class="col" v-if="it.team1">
                          <q-avatar rounded size="100px">
                            <img :src="it.team1.logo">
                          </q-avatar>
                          <div class="  text-h6 text-secondary">{{it.team1.name}}</div>
                        </div>
                        <div class="col" v-else>
                          <q-avatar rounded size="100px" color="grey-9">{{it.team1Pos}}</q-avatar>
                          <div class="text-h6 text-secondary">{{it.team1Desc}}</div>
                        </div>
                        <div class="col text-center">
                          <div class="q-mt-lg">
                            <span class="text-h2" :class="it.winner === 1 ? 'text-primary': ''">{{it.score1}}</span>
                            <span class="text-h2 q-px-md text-grey-7">VS</span>
                            <span class="text-h2" :class="it.winner === 2 ? 'text-primary': ''">{{it.score2}}</span>
                          </div>
                          <div class="q-mt-lg">
                            <span class="text-grey-6">{{` Arena: ${it.arena}`}}</span>
                          </div>
                        </div>
                        <div class="col text-right" v-if="it.team2">
                          <q-avatar rounded size="100px">
                            <img :src="it.team2.logo">
                          </q-avatar>
                          <div class="text-h6">{{it.team2.name}}</div>
                        </div>
                        <div class="col text-right" v-else>
                          <q-avatar rounded size="100px" color="grey-9">{{it.team2Pos}}</q-avatar>
                          <div class="text-h6 text-secondary">{{it.team2Desc}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else class="row full-width">
                  <combats ref="combatsGrid" :list="currentCombatsList" :loading="$apollo.loading" :groups="groups" ></combats>
                </div>
              </div>
            </q-tab-panel>
            <q-tab-panel name="classification">
              <div v-for="(name, key) in groups" :key="key"
                  class="col-12 col-lg-6 q-pa-md"
              >
                <div class="text-h6 text-secondary">{{name}}</div>
                <q-markup-table>
                  <thead>
                    <tr>
                      <th class="text-left">#</th>
                      <th class="" width="50%">Team</th>
                      <th class="">W</th>
                      <th class="">L</th>
                      <th class="">PF</th>
                      <th class="">PA</th>
                      <th class="">DIF</th>
                      <th class="">T</th>
                      <th class="">E</th>
                       <th class="">Max. Avg</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="clas in currentClassificationList[key]" :key="clas.id">
                      <td class="text-left">{{clas.order}}</td>
                      <td class="text-bold">
                        <q-avatar size="40px">
                          <img :src="clas.team.logo">
                        </q-avatar>
                        <span class="q-ml-md">{{clas.team.name}}</span>
                      </td>
                      <td class="text-center text-bold">{{clas.won}}</td>
                      <td class="text-center">{{clas.lose}}</td>
                      <td class="text-center">{{clas.pf}}</td>
                      <td class="text-center">{{clas.pa}}</td>
                      <td class="text-center text-bold">{{clas.dif}}</td>
                      <td class="text-center">{{clas.technique}}</td>
                      <td class="text-center">{{clas.energy}}</td>
                      <td class="text-center">{{clas.maxAvgEnergy}}</td>
                    </tr>
                  </tbody>
                </q-markup-table>
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </template>
    </q-splitter>
    </q-card>
    </q-pull-to-refresh>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'
import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'
import processControl from 'components/js/mixins/processControl'

import loading from 'components/controls/Loading'
import Combats from '../components/grids/Combats.vue'

export default {
  name: 'TournamentDetail',
  mixins: [notify, processControl, stateManager],
  components: { loading, Combats },
  data () {
    return {
      statusSelected: {
        label: 'Current',
        value: 'C'
      },
      spliterWidth: 18,
      tournament: null,
      phaseView: null,
      tabInfo: 'combats',
      currentView: 'grid',
      stateToSave: ['currentView', 'phaseView', 'tabInfo', 'statusSelected', 'combatsGrid:selectedIndex']
    }
  },
  computed: {
    phases () {
      return this.tournament ? this.tournament.phases : []
    },

    groups () {
      const data = {}
      this.tournament && this.tournament.groups.forEach(el => {
        data[el.id] = el.name
      })
      return data
    },

    selectedPhase () {
      return this.phases.find(el => el.id === this.phaseView) || {}
    },

    currentCombatsList () {
      let combats = (this.tournament?.combats || []).filter(el => el.phaseId === this.phaseView)
      if (this.statusSelected?.value) {
        combats = combats.filter(it => {
          return it.status === this.statusSelected.value
        })
      }
      return combats
    },

    currentClassificationList () {
      const result = {}
      const list = [ ...this.tournament.classification ]
      list.sort()
      list.filter(el => el.phaseId === this.phaseView)
      for (const it of list) {
        if (!result[it.groupId]) result[it.groupId] = []
        result[it.groupId].push(it)
      }
      return result
    }
  },

  filters: {
    formatNumber (value) {
      return new Intl.NumberFormat('es-ES').format(value)
    }
  },

  apollo: {
    $client: 'fwg',
    tournament: {
      query: gql`query($id: String!){
        tournament(id: $id){
            id
            date
            status
            price
            currency
            clubAlias
            clubMerchantAlias
            createdAt
            updatedAt
            referees {
                id
                firstName
                lastName
            }
            phases {
              id
              name
              type
            }
            groups {
              id
              name
            }
            combats {
              id
              arena
              name
              phaseId
              time
              groupId
              status
              lastCombo
              game
              team1 {
                id
                name
                logo
              }
              team1Pos
              team1Desc
              score1
              team2 {
                id
                name
                logo
              }
              team2Pos
              team2Desc
              score2
              winner
              referees {
                id
                firstName
                lastName
              }
            }
            classification {
              id
              phaseId
              groupId
              order
              won
              lose
              pa
              pf
              dif
              technique
              energy
              maxAvgEnergy
              team{
                logo
                id
                name
              }
            }
          }
      }`,
      variables () {
        return {
          id: this.$route.params.id
        }
      },
      result: function ({ data }) {
        if (this.phaseView === null) {
          const firstPhase = data.tournament.phases.find(phase => phase.name === 'GROUP_STAGE')
          if (firstPhase) this.phaseView = firstPhase.id
        }
      }
    }
  },

  methods: {
    async buildCalendar () {
      this.$q.dialog({
        title: 'Build Calendar',
        message: '¿Deseas generar un calendario?',
        cancel: true,
        persistent: true
      }).onOk(async () => {
        try {
          this.$q.loading.show()
          await this.$apollo.mutate({
            mutation: gql`mutation($id: String!){
              buildCalendar(id: $id){
                id
              }
            }`,
            variables: {
              id: this.$route.params.id
            }
          })
          await this.refresh()
        } catch (ex) {
          this.notifyError(ex)
        } finally {
          this.$q.loading.hide()
        }
      })
    },

    async updateClassification () {
      this.$q.dialog({
        title: 'Actualizar Clasificación',
        message: '¿Deseas actualizar la clasificacion?',
        cancel: true,
        persistent: true
      }).onOk(async () => {
        try {
          this.$q.loading.show()
          await this.$apollo.mutate({
            mutation: gql`mutation($id: String!){
              updateClassification(id: $id)
            }`,
            variables: {
              id: this.$route.params.id
            }
          })
          await this.refresh()
        } catch (ex) {
          this.notifyError(ex)
        } finally {
          this.$q.loading.hide()
        }
      })
    },

    refresh (done) {
      this.$apollo.queries.tournament.refetch()
      done && done()
    },
    scrollToSelected () {
      const index = this.selectedIndex
      if (index > 0) {
        this.$nextTick(() => {
          this.$refs.Grid && this.$refs.Grid.scrollTo(index, 'center-force')
        })
      }
    }
  },
  mounted () {
    const grid = this.$refs.combatsGrid
    if (grid && grid.selectedIndex > 0) {
      grid.scrollToSelected()
    }
  }
}
</script>

<style>
</style>
