<template>
  <q-page padding class="bg-dark">
    <q-pull-to-refresh
      @refresh="refresh"
      :class="[$q.screen.lt.sm ? 'q-pa-xs' : 'q-pa-sm']"
    >
      <!--<h5 class="q-ma-sm text-accent">Fitboxers</h5>-->
      <q-tabs
        inline-label
        color="secondary"
        class="text-secondary q-mb-sm"
        align="left"
      >
        <q-route-tab
          icon="sports_mma"
          label="Torneos FWG"
          to="/tournaments"
          exact
        />
        <q-route-tab icon="people" label="Equipos" to="/teams" exact />
        <q-route-tab
          icon="manage_accounts"
          label="Trainers"
          to="/trainersFwg"
          exact
        />
        <q-route-tab
          icon="manage_accounts"
          label="Fitboxers"
          to="/fitboxersFwg"
          exact
        />
        <q-route-tab icon="manage_accounts" label="Referees" to="/refereesFwg" exact/>
      </q-tabs>
      <q-card dark flat>
        <q-toolbar class="bg-grey-10" dark>
          <q-btn
            icon="refresh"
            flat
            rounded
            label="Refresh"
            @click="refresh()"
          />
          <q-btn
            icon="delete"
            flat
            rounded
            :disable="selectedTrainers.length === 0"
            label="Eliminar"
            @click="remove()"
          />
          <q-btn
            :disable="selectedTrainers.length == 0"
            flat
            rounded
            dense
            icon="check"
            @click="verify()"
            label="Verificar"
            class="q-ml-md">
          </q-btn>
          <q-space />
        </q-toolbar>
        <q-separator :dark="false" />
        <users-fwg-grid
          ref="grid"
          :list="trainers"
          selection='multiple'
          :flat="false"
          @onSelect="trainerSelected"
          type="TRAINER"
          :visibleColumns="[
            'email',
            'Nick',
            'Nombre',
            'Apellido',
            'Telf',
            'Verificado'
          ]"
        />
      </q-card>
    </q-pull-to-refresh>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'
import UsersFwgGrid from 'components/grids/UsersFwg'
export default {
  name: 'TrainersFWG',
  components: {
    UsersFwgGrid
  },
  mixins: [notify, stateManager],
  data () {
    return {
      action: 'add',
      initialData: null,
      loading: false,
      trainers: [],
      selectedTrainers: [],
      isModalOpen: false,
      keyModal: 1,
      stateToSave: ['grid:pagination', 'grid:filters']
    }
  },
  computed: {},

  apollo: {
    $client: 'fwg',
    trainers: {
      query: gql`
        query {
          trainers {
            id
            email
            nickName
            firstName
            lastName
            phone
            status
            verified
          }
        }
      `
    }
  },

  methods: {
    add () {
      this.isModalOpen = true
      this.action = 'add'
      this.initialData = null
    },

    edit (data) {
      this.isModalOpen = true
      this.action = 'edit'
      this.initialData = data
    },

    hideModal () {
      this.isModalOpen = false
      this.keyModal++
    },
    trainerSelected (param) {
      this.selectedTrainers = param
    },

    async verify () {
      this.loading = true
      try {
        for (const it of this.selectedTrainers) {
          await this.$apollo.mutate({
            mutation: gql`
              mutation($id: String) {
                requestVerification(id: $id){
                  id
                }
              }
            `,
            variables: {
              id: it.id
            }
          })
        }
        this.notifyDone('Email de verificacion enviado')
        this.refresh()
      } catch (error) {
        this.notifyError(error)
        this.loading = false
      }
    },

    async remove () {
      const selection = [...this.selectedTrainers]
      this.$q
        .dialog({
          title: `Eliminar Trainer${this.selectedTrainers.length > 1 && 's'}`,
          message: `¿Deseas eliminar ${this.selectedTrainers.length === 1 ? 'el trainer' : 'los trainers'} ?,  Esta acción no se puede deshacer`,
          cancel: true
        })
        .onOk(async () => {
          try {
            for (const it of selection) {
              const { errors } = await this.$apollo.mutate({
                mutation: gql`
                  mutation($id: String!) {
                    deleteTrainer(id: $id){
                      id
                    }
                  }
                `,
                variables: {
                  id: it.id
                }
              })
              if (errors && errors.length) {
                errors.forEach(err => {
                  this.notifyError(err.message)
                })
              } else {
                let index = this.trainers.findIndex(el => el.id === it.id)
                if (index > -1) {
                  this.trainers.splice(index, 1)
                }
                this.selectedTrainers.splice(0, 1)
                this.notifyDone()
              }
            }
          } catch (error) {
            this.notifyError(error)
          }
        })
    },

    addToList (payload) {
      this.trainers.unshift(payload)
    },

    refresh (done) {
      this.$apollo.queries.trainers.refetch()
      done && done()
    }
  }
}
</script>

<style></style>
