<template>
  <q-page padding class="bg-dark">
    <q-pull-to-refresh @refresh="refresh" :class="[$q.screen.lt.sm ? 'q-pa-xs' : 'q-pa-sm']">
      <h5 class="q-ma-sm text-accent">Users</h5>

      <users-grid ref="grid"
        :flat="false"
        :users="users"
        @findUsers="findUsers"
      />
    </q-pull-to-refresh>

    <q-page-sticky position="bottom-left" :offset="[12, 12]">
      <q-btn fab icon="refresh" color="secondary" @click="refresh()"/>
    </q-page-sticky>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import stateManager from 'components/js/mixins/stateManager'

import UsersGrid from 'components/grids/Users'

export default {
  name: 'Users',
  mixins: [stateManager],
  components: {
    UsersGrid
  },
  data () {
    return {
      loading: false,
      users: [],
      // State
      stateToSave: ['grid:pagination', 'grid:text', 'text'],
      text: null
    }
  },

  apollo: {
    users: {
      query: gql`query($text: String!){
        users(text: $text){
          id
          name
          email
        }
      }`,
      variables () {
        return {
          text: this.text
        }
      },
      skip () {
        return !this.text
      }
    }
  },

  methods: {
    refresh (done) {
      this.$apollo.queries.users.refetch()
      done && done()
    },
    async findUsers (text) {
      this.text = text && text.length > 0 ? text : null
    }
  }
}
</script>

<style>
</style>
