<template>
  <q-page :padding="$q.screen.gt.xs" class="bg-dark">
    <q-card class="">
      <q-card-section
        :style="{height: $q.screen.gt.sm ? '120px' : '80px'}"
        style="background: radial-gradient(circle, #f19833 0%, #ffcc00 100%);" />
          <q-item style="margin-top: -74px;">
        <q-item-section avatar>
          <q-avatar :size=" $q.screen.gt.sm ? '124px' : '80px'" >
            <img style="border: white solid 3px;"
              :src="`${IMAGES_URI}${user.avatar}`"
            />
          </q-avatar>
        </q-item-section>

        <q-item-section style="margin-top: 30px;">
          <div v-if="$q.screen.gt.sm" class="text-h5 text-grey-9 q-mb-sm">
            {{user.name}}
          </div>
          <div v-else class="text-subtitle1 text-grey-9 q-mb-sm ellipsis">
            {{user.name}}
          </div>
          <div class="q-mb-xs">
            <span class="text-subtitle1">{{user.email}}</span>
          </div>
          <q-item-label v-if="user.permissions[0]">{{user.permissions[0].role}} - {{user.permissions[0].club.alias}}</q-item-label>
        </q-item-section>
      </q-item>

      <q-tabs v-model="tab" class="q-mt-sm text-secondary" inline-label align="justify">
        <q-tab label="Active Sessions" name="sessions" icon="event_available"/>
        <q-tab label="Events" name="events" icon="event_note"/>
        <q-tab label="Permissions" name="permissions" icon="vpn_key"/>
      </q-tabs>
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel class="no-padding no-margin" name="sessions">
          <user-events @refresh="refresh" :events="sessions" :height="$q.screen.height - 362" :loading="$apollo.loading"/>
        </q-tab-panel>
        <q-tab-panel class="no-padding no-margin" name="events">
          <user-events @refresh="refresh" :events="user.events" :height="$q.screen.height - 402" :loading="$apollo.loading"/>
        </q-tab-panel>

        <q-tab-panel class="no-padding no-margin" name="permissions">
          <user-permissions @addPermissions="permissionDialog" :permissions="user.permissions" :height="$q.screen.height - 362" :loading="$apollo.loading"/>
          <add-permissions :open="addPermission" :initialData="getPermission" @hide="addPermission = false" @add="addData" @refresh="refresh"></add-permissions>
        </q-tab-panel>

      </q-tab-panels>
    </q-card>
    <q-page-sticky position="bottom-left" :offset="[12, 12]">
      <q-btn fab icon="refresh" color="secondary" @click="refresh()"/>
    </q-page-sticky>

    <q-page-sticky position="bottom-right" :offset="[12, 12]">
      <q-fab icon="more_horiz" direction="up" color="secondary">
        <q-fab-action @click="block" color="negative" icon="app_blocking" disable/>
        <q-fab-action @click="reset" color="primary" icon="lock_open" text-color="dark" disable/>
      </q-fab>
    </q-page-sticky>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'

import UserEvents from 'components/grids/UserEvents'
import UserPermissions from 'components/grids/UserPermissions'
import AddPermissions from 'components/forms/Permissions'

export default {
  name: 'UserProfile',
  components: {
    UserEvents,
    UserPermissions,
    AddPermissions
  },
  data () {
    return {
      user: {
        avatar: 'man_ico.png',
        name: 'Loading...',
        email: '...',
        permissions: [],
        events: []
      },
      tab: 'sessions',
      IMAGES_URI: 'https://www.brooklynfitzone.com/resources/images/',
      // Edit
      publishing: false,
      addPermission: false,
      permission: {}
    }
  },
  computed: {
    id () {
      return this.$route.params.id
    },
    sessions () {
      return this.user.events.filter(el => el.type === 'LOGIN' && el.status === 200)
    },
    getPermission () {
      return this.permission
    }
  },
  apollo: {
    user () {
      return {
        query: gql`query($id: String!){
          user(id: $id){
            id
            name
            email
            avatar
            permissions {
              id
              role
              club {
                id
                alias
              }
            }
            events {
              id
              type
              createdAt
              ip
              userAgent
              status
              value
              token
            }
          }
        }`,
        variables () {
          return {
            id: this.id
          }
        }
      }
    }
  },
  methods: {
    async reset () {
      //
    },
    async block () {
      alert('Función aún no disponible')
    },
    refresh (done) {
      this.$apollo.queries.user.refetch()
      done && done()
    },
    permissionDialog (event) {
      this.permission = event != null ? event : {}
      this.addPermission = true
    },
    addData (event) {
      this.user.permissions.unshift(event)
    }
  }
}
</script>

<style>
</style>
