<template>
  <q-page padding class="bg-dark" keep-alive>
    <q-pull-to-refresh @refresh="refresh" :class="[$q.screen.lt.sm ? 'q-pa-xs' : 'q-pa-sm']" style="margin-bottom: 0;">
    <q-card dark>
      <q-toolbar class="bg-grey-10">
        <h5 class="q-ma-sm text-accent" :style="`width: ${spliterWidth}%;`"><q-icon name="account_balance_wallet" /> Wallet</h5>

        <q-btn icon="refresh" flat rounded label="Refresh" @click="refresh()"/>
        <!-- <q-btn icon="delete_forever" flat rounded label="Delete" @click="deleteConfirm" v-if="selection.length > 0"/> -->
         <q-btn icon="file_download" rounded label="Export to CSV" @click="exportCsv" />
        <q-space />
      </q-toolbar>
      <q-separator />
      <q-splitter v-model="spliterWidth" :horizontal="$q.screen.lt.sm">

        <template v-slot:before>
          <div class="row q-pa-md">
            <q-date class="col-12" v-model="period" range dark text-color="dark"/>
          </div>
        </template>

        <template v-slot:after>
          <!-- Grid -->
          <div class="q-pa-md">
            <wallet-grid ref="grid"
              :loading="$apollo.loading"
              :list="walletSettlements"
              :flat="false"
              @selectionChange="onSelectionChange"
            />
          </div>
        </template>
    </q-splitter>
    </q-card>
    </q-pull-to-refresh>
  </q-page>
</template>

<script>
import gql from 'graphql-tag'
import { date } from 'quasar'

import stateManager from 'components/js/mixins/stateManager'
import notify from 'components/js/mixins/notify'
import processControl from 'components/js/mixins/processControl'

import WalletGrid from 'components/grids/Wallet'

const today = new Date()

function dateToInput (time) {
  return date.formatDate(time, 'YYYY/MM/DD')
}

export default {
  name: 'Wallet',
  mixins: [stateManager, notify, processControl],
  components: {
    WalletGrid
  },
  data () {
    return {
      clubs: [],
      spliterWidth: 18,
      period: { from: dateToInput(today), to: dateToInput(today) },
      walletSettlements: [],
      selection: [],
      // State
      stateToSave: []
    }
  },
  computed: {
    // cacheClubs () {
    //   if (this.clubs.length === 0) return null
    //   const list = {}
    //   this.clubs.forEach(el => {
    //     list[el.v7_id] = el
    //   })
    //   return list
    // },
    // netBalance () {
    //   console.log('Calcula Netbalance', this.walletSettlements)
    //   const object = {}
    //   const list = this.walletSettlements
    //   for (const it of list) {
    //     let club = this.cacheClubs[it.clubRef].alias
    //     if (!object[club]) object[club] = 0
    //     object[club]++

    //     club = this.cacheClubs[it.clubTarget].alias
    //     if (!object[club]) object[club] = 0
    //     object[club]--
    //   }
    //   console.log(object)
    //   return object
    // }
  },

  apollo: {
    // clubs: {
    //   query: gql`query{
    //     clubs{
    //       id
    //       v7_id
    //       name
    //       alias
    //     }
    //   }`
    // },
    walletSettlements: {
      query: gql`query($from: String!, $to: String!){
        walletSettlements(from: $from, to: $to){
          id
          fitboxerId
          clubRef
          clubTarget
          concept
          amount
          time
        }
      }`,
      variables () {
        return {
          from: this.period.from || this.period,
          to: this.period.to || this.period
        }
      }
    }
  },

  methods: {
    exportCsv () {
      const grid = this.$refs.grid
      grid.exportTable('list', 'wallet')
    },
    onSelectionChange (payload) {
      this.selection = payload
    },

    deleteConfirm () {
      const _self = this
      this.$q.dialog({ title: `¿Eliminar las ordenes seleccionadas (${this.selection.length})?`, dark: true }).onOk(() => _self.deleteOrders())
    },

    async deleteOrders () {
      try {
        const selection = [ ...this.selection ]
        this.startProcess()
        for (const id of selection) {
          await this.$apollo.mutate({
            mutation: gql`mutation{
              deleteOrder(id: "${id}"){
                id
              }
            }`
          })
          // Quitar de la lista y seleccion
          let index = this.orders.findIndex(el => el.id === id)
          if (index > -1) {
            this.orders.splice(index, 1)
          }
          this.selection.splice(0, 1)
        }
        this.$refs.grid.selected = this.selection
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.endProcess()
      }
    },

    setSelectedItem (index) {
      this.selectedItem = index
    },

    refresh (done) {
      this.$apollo.queries.walletSettlements.refetch()
      done && done()
    }
  }
}
</script>

<style>
</style>
