<template>
  <q-select
    dark
    options-dark
    use-input
    fill-input
    hide-selected
    input-debounce="0"
    v-model="selected"
    :options="options"
    :label="label || 'Current District'"
    :outlined="outlined"
    :clearable="clearable"
    map-options
    @filter="filterClubs"
    style="min-width: 150px"
    option-value="id"
    option-label="alias"
  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">
          Sin resultados
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script>
import gql from 'graphql-tag'

export default {
  name: 'DistrictSelector',
  props: {
    value: Object,
    label: String,
    outlined: {
      type: Boolean,
      default: true
    },
    clearable: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      clubs: [],
      options: [],
      selected: this.value || null
    }
  },

  apollo: {
    clubs: {
      query: gql`query{
        clubs{
          id
          v7_id
          name
          alias
        }
      }`
    }
  },

  watch: {
    selected (val, oldVal) {
      this.$emit('selected', this.selected)
    }
  },

  methods: {
    filterClubs (val, update) {
      if (val === '') {
        update(() => {
          this.options = this.clubs
        })
        return
      }
      update(() => {
        if (isNaN(val)) {
          const needle = val.toLowerCase()
          this.options = this.clubs.filter(v => v.alias.toLowerCase().indexOf(needle) > -1)
        } else {
          this.options = this.clubs.filter(v => v.v7_id === parseInt(val))
        }
      })
    }
  }
}
</script>

<style>
</style>
