<template>
  <q-menu
    touch-position
    context-menu
  >

    <q-list dense style="min-width: 100px">
      <q-item clickable @mouseenter="open" @mouseleave="close">
        <q-item-section avatar>
          <q-icon color="accent" name="file_copy" />
        </q-item-section>
        <q-item-section>Copiar...</q-item-section>
        <q-item-section side>
          <q-icon name="keyboard_arrow_right" />
        </q-item-section>

        <q-menu anchor="top right" self="top left" ref="copyMenu" @mouseenter="open" @mouseleave="close" transition-show="" transition-hide="">
          <q-list dense >
            <q-item clickable v-close-popup @click="copy(it.name)">
              <q-item-section avatar>
                <q-icon color="accent" name="account_box" />
              </q-item-section>
              <q-item-section>Nombre</q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="copy(it.eml)">
              <q-item-section avatar>
                <q-icon color="accent" name="email" />
              </q-item-section>
              <q-item-section>Email</q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="copy(it.tfn)">
              <q-item-section avatar>
                <q-icon color="accent" name="phone" />
              </q-item-section>
              <q-item-section>Teléfono</q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-item>
      <q-separator />
      <q-item clickable v-close-popup v-if="it.clt_tip > '2' && it.clt_tip !== '5'" @click="$router.push(`/join_as_member/${it.id}`)">
        <q-item-section avatar>
          <q-icon color="state-5" name="add_circle" />
        </q-item-section>
        <q-item-section>Hacer socio</q-item-section>
      </q-item>
      <q-item clickable v-close-popup v-if="it.clt_tip === '5'" @click="$router.push(`/unsubscribe/${it.id}`)">
        <q-item-section avatar>
          <q-icon color="negative" name="block" />
        </q-item-section>
        <q-item-section>Dar de baja</q-item-section>
      </q-item>
      <q-separator />
      <q-item clickable v-close-popup v-if="it.clt_tip === '0'" @click="removeContact(it)">
        <q-item-section avatar>
          <q-icon color="negative" name="delete" />
        </q-item-section>
        <q-item-section>Eliminar contacto...</q-item-section>
      </q-item>
    </q-list>
  </q-menu>
</template>

<script>
import gql from 'graphql-tag'
import { copyToClipboard } from 'quasar'

import notify from 'components/js/mixins/notify'

export default {
  name: 'FitboxerContextualMenu',
  mixins: [notify],
  props: {
    it: Object
  },
  data () {
    return {
      contactToRemove: null
    }
  },

  methods: {
    async copy (value) {
      try {
        await copyToClipboard(value)
      } catch (ex) {
        this.notifyError(ex)
      }
    },

    open () {
      this.$refs.copyMenu && this.$refs.copyMenu.show()
    },

    close () {
      this.$refs.copyMenu && this.$refs.copyMenu.hide()
    },

    removeContact (it) {
      this.contactToRemove = it
      const _self = this
      this.$q.dialog({
        message: `¿Deseas eliminar el contacto ${it.name}?`,
        cancel: {
          color: 'accent',
          flat: true
        },
        ok: {
          color: 'secondary'
        }
      }).onOk(() => {
        _self.deleteContact(it.id)
      })
    },

    async deleteContact (id) {
      try {
        this.$q.loading.show()
        await this.$apollo.mutate({
          mutation: gql`mutation($id: Int!){
            deleteContact(id: $id)
          }`,
          variables: {
            id
          }
        })
        this.$emit('deleted', id)
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.$q.loading.hide()
      }
    }
  }
}
</script>

<style>
</style>
