<template>
  <div class="row q-mt-md q-pa-lg">
    <q-spinner
      style="margin: auto;"
      size="5em"
      color="secondary"
    ></q-spinner>
  </div>
</template>

<script>

export default {
  name: 'Loading'
}
</script>

<style>
</style>
