<template>
  <div>
    <q-btn-group rounded>
      <q-btn @click="openSelectDate('Months')"
        color="primary" text-color="black" rounded :label="$q.lang.date.monthsShort[month -1]"
      />
      <q-btn @click="openSelectDate('Years')"
        color="grey-10" rounded :label="year"
      />
    </q-btn-group>

    <q-dialog v-model="openDate" transition-show="flip-down" transition-hide="flip-up">
      <q-card class="bg-grey-3">
        <q-bar>
          <div>Seleccionar</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.cancel}}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-date @input="okDate"
          dark
          text-color="grey-10"
          minimal
          emit-immediately
          v-model="dateSelected"
          :default-view="dateType"
        />
      </q-card>
    </q-dialog>
  </div>
</template>

<script>

export default {
  props: {
    initialYear: Number,
    initialMonth: Number
  },

  data () {
    return {
      openDate: false,
      year: this.initialYear,
      month: this.initialMonth,
      dateSelected: `${this.initialYear}/${this.month < 10 ? '0' : ''}${this.initialMonth}/01`,
      dateType: 'Months'
    }
  },

  methods: {
    openSelectDate (option) {
      this.dateType = option
      const _self = this
      setTimeout(function () {
        _self.openDate = true
      }, 100)
    },

    okDate (value, reason, details) {
      if (reason === 'month') {
        if (new Date(value) > new Date()) {
          this.year--
        }
        this.month = details.month
      } else {
        if (new Date(value) > new Date()) {
          this.month = new Date().getMonth() + 1
        }
        this.year = details.year
      }
      this.openDate = false
      this.dateSelected = `${this.year}/${this.month < 10 ? '0' : ''}${this.month}/01`
      this.$emit('periodSelected', {
        year: this.year,
        month: this.month
      })
    }
  }
}
</script>

<style>
</style>
