<template>
<div>
  <q-select
    options-dark
    :ref="reference"
    v-model="selected"
    clearable
    use-input
    fill-input
    hide-selected
    :options="options"
    label="Fitboxer"
    outlined
    @filter="filter"
    :option-value="item => item.id"
    :option-label="(item) => item.name"
  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">
          Sin resultados
        </q-item-section>
      </q-item>
    </template>

    <template v-slot:option="it">
      <q-item clickable @click="select(it.opt)"
        :class="[it.focused ? 'bg-black': '']"
      >
        <q-item-section top avatar>
          <q-avatar class="shadow-3">
            <q-img :src="imageURI + it.opt.show_img" />
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <div class="ellipsis">{{it.opt.name}}</div>
          <div class="text-accent text-caption ellipsis">
            <q-badge
              class="shadow-1"
              :class="[it.opt.clt_tip ? `bg-state-${it.opt.clt_tip}` : '']"
              size="24px">{{CLT_TYPES[it.opt.clt_tip || '0']}}
            </q-badge>
            <span class="q-ml-xs">{{it.opt.eml}}</span>
          </div>
         </q-item-section>
      </q-item>
    </template>
  </q-select>
</div>
</template>

<script>

import { fitzoneInstance } from 'boot/axios'

const IMAGES_URI = 'https://www.brooklynfitzone.com/resources/images/'

export default {
  name: 'SelFitboxer',
  props: {
    reference: {
      type: String,
      default: 'fitboxerSelector'
    },
    value: Object
  },
  data () {
    return {
      imageURI: IMAGES_URI,
      CLT_TYPES: {
        '0': '', '1': 'W', '2': '1', '3': 'D', '4': 'C', '5': 'M', '6': 'X'
      },
      options: [],
      selected: this.value || null
    }
  },

  watch: {
    selected (val, oldVal) {
      this.$emit('select', this.selected)
    }
  },

  methods: {
    async filter (val, update, abort) {
      const _self = this
      if (val.length < 3) {
        update(() => {
          _self.options = []
        })
        return
      }

      try {
        // console.log('Busca')
        const { data } = await fitzoneInstance.post('/app/fitboxers', {
          text: val
        })
        // console.log('Datos recibidos', data)
        update(() => {
          // console.log('Datos update', data)
          _self.options = data
        })
      } catch (ex) {
        this.$q.notify({
          icon: 'error',
          message: (ex.response ? ex.response.data.message : ex.toString()),
          position: 'top',
          color: 'negative'
        })
        update(() => {
          _self.options = []
        })
      }
    },
    select (it) {
      this.selected = it
      const ref = this.reference
      this.$refs[ref].hidePopup()
    }
  },
  mounted () {
  }
}
</script>

<style>
</style>
