<template>
  <codemirror :options="cmOptions" :value="value" @input="onCodeChange"/>
</template>

<script>
// Components
import { codemirror } from 'vue-codemirror'
import 'codemirror/lib/codemirror.css'

// language
import 'codemirror/mode/javascript/javascript.js'

// theme css
import 'codemirror/theme/darcula.css'

// hint
import 'codemirror/addon/hint/show-hint.js'
import 'codemirror/addon/hint/show-hint.css'
import 'codemirror/addon/hint/javascript-hint.js'
import 'codemirror/addon/selection/active-line.js'

// Edit
import 'codemirror/mode/clike/clike.js'
import 'codemirror/addon/edit/matchbrackets.js'
import 'codemirror/addon/edit/closebrackets.js'
import 'codemirror/addon/dialog/dialog.js'
import 'codemirror/addon/dialog/dialog.css'
import 'codemirror/addon/search/searchcursor.js'
import 'codemirror/addon/search/search.js'
import 'codemirror/keymap/sublime.js'

import 'codemirror/addon/lint/lint.js'

export default {
  name: 'JobForm',
  components: {
    codemirror
  },
  props: {
    initial: String
  },
  data () {
    return {
      value: this.initial
    }
  },
  computed: {
    cmOptions () {
      return {
        theme: 'darcula',
        tabSize: 2,
        lineNumbers: true,
        line: true,
        styleActiveLine: true,
        matchBrackets: true,
        autoCloseBrackets: true,
        mode: {
          name: 'javascript',
          json: true
        },
        lint: true,
        hintOptions: {
          completeSingle: false
        },
        keymap: 'subllime',
        extraKeys: { 'Ctrl': 'autocomplete' }
      }
    }
  },
  watch: {

  },
  methods: {
    onCodeChange (newCode) {
      this.value = newCode
      this.$emit('change', newCode)
    }
  }
}
</script>

<style>
</style>
