<template>
  <div>
    <div v-if="$apollo.loading" class="row q-mt-md  q-pa-lg">
      <q-spinner
        style="margin: auto;"
        size="5em"
        color="secondary"
      ></q-spinner>
    </div>
    <div class="row" v-else>
      <div :class="[$q.screen.gt.xs ? 'q-pa-md':'']"
        class="col-sm-6 col-xs-12"
      >
        <div class="text-h6 q-pa-sm">Capacidad</div>
        <div class="row justify-between">
          <div class="col-sm-4 col-xs-6 q-pa-sm">
            <q-select dark :dense="$q.screen.lt.sm"
              v-model="roomsCount"
              :options="[1, 2]"
              label="Salas"
              outlined
              map-options
              style="min-width: 150px"
            />
          </div>
          <div class="col-sm-4 col-xs-6 q-pa-sm">
            <q-input dark :dense="$q.screen.lt.sm"
              type="number"
              outlined
              v-model.number="mainRoom"
              label="Principal"
            />
          </div>
          <div class="col-sm-4 col-xs-6 q-pa-sm">
            <q-input dark v-if="roomsCount === 2"
              type="number" :dense="$q.screen.lt.sm"
              outlined
              v-model.number="secondRoom"
              label="Secundaria"
            />
          </div>
          <div class="col-12 text-left">
            <q-btn @click="saveRooms" flat dark
              class="q-pa-sm"
              label="Guardar"
              color="primary"
              icon="save">
            </q-btn>
          </div>
        </div>
        <div class="text-h6 q-px-sm row q-mt-sm">
          <div class="col-6">Fitcoins</div>
          <!--
          <div class="col-6 text-right">
            <q-btn @click="openExtraFitcoins = true" flat dark
              label="Paquetes Fitcoins extra"
              color="primary"
              icon="edit">
            </q-btn>
          </div>
          -->
        </div>
        <div class="row justify-between">
          <div class="col-sm-3 col-xs-6 q-pa-sm" v-for="it in club.fitcoins" :key="it.id">
            <q-input :dense="$q.screen.lt.sm"
              outlined
              v-model.trim="it.price"
              :label="it.id.toString()"
              lazy-rules
              :rules="[ val => val > 0]"
            ></q-input>
          </div>
        </div>
        <div class="text-h6 q-pa-sm q-mt-sm">Plataforma de pago</div>
        <div class="row justify-between">
          <div class="col-sm-3 col-xs-6 q-pa-sm">
            <q-select dark :dense="$q.screen.lt.sm"
              v-model="club.paymentMethod"
              :options="[{
                value: 'A', label: 'Adyen'
              }, {
                value: 'U', label: 'Uniteller'
              }, {
                value: 'S', label: 'Stripe'
              }
              ]"
              label="Plataforma"
              outlined
              map-options
              style="min-width: 150px"
            />
          </div>
          <!-- Adyen -->
          <div class="col-sm-3 col-xs-6 q-pa-sm" v-if="club.paymentMethod === 'A' || club.paymentMethod.value === 'A'">
            <q-select dark :dense="$q.screen.lt.sm"
              v-model="club.adyenEnv"
              :options="[{
                value: 'test', label: 'Test'
              }, {
                value: 'live', label: 'Live Europe'
              }, {
                value: 'live-us', label: 'Live USA'
              }, {
                value: 'live-au', label: 'Live Australia'
              }
              ]"
              label="Entorno"
              outlined
              map-options
              style="min-width: 150px"
            />
          </div>
          <div class="col-sm-6 col-xs-12 q-pa-sm" v-if="club.paymentMethod === 'A' || club.paymentMethod.value === 'A'">
            <q-input :dense="$q.screen.lt.sm"
              outlined
              v-model.trim="club.adyenMerchantAccount"
              label="Merchant Account"
              lazy-rules
              :rules="[ val => val !== '']"
            ></q-input>
          </div>
          <!-- Uniteller -->
          <div class="col-sm-3 col-xs-6 q-pa-sm" v-if="club.paymentMethod === 'U' || club.paymentMethod.value === 'U'">
            <q-input :dense="$q.screen.lt.sm"
              outlined
              v-model.trim="club.unitellerShopIDP"
              label="Merchant Shop IDP"
              lazy-rules
              :rules="[ val => val !== '']"
            ></q-input>
          </div>
          <div class="col-sm-6 col-xs-12 q-pa-sm" v-if="club.paymentMethod === 'U' || club.paymentMethod.value === 'U'">
            <q-input :dense="$q.screen.lt.sm"
              outlined
              v-model.trim="club.unitellerPassword"
              label="Merchant Password"
              lazy-rules
              :rules="[ val => val !== '']"
            ></q-input>
          </div>
        </div>
        <!-- Otros -->
        <div class="text-h6 q-pa-sm q-mt-sm">Otros</div>
        <div class="row justify-between">
          <div class="col-12 q-pa-sm">
            <q-toggle outlined :dense="$q.screen.lt.sm"
              v-model="club.isTsActived"
              label="Puede impartir Technical Sessions"
            />
          </div>
          <div class="col-12 q-pa-sm">
            <q-toggle outlined :dense="$q.screen.lt.sm"
              v-model="club.globalPass"
              label="GlobalPass"
            />
          </div>
          <!-- <div class="col-12 q-pa-sm">
            <q-toggle outlined :dense="$q.screen.lt.sm"
              v-model="club.isCovidPassRequired"
              label="Requiere de verificación Pasaporte Covid"
            />
          </div> -->
        </div>
      </div>

       <div :class="[$q.screen.gt.xs ? 'q-pa-md':'']"
        class="col-sm-6 col-xs-12"
      >
        <div class="text-h6 q-pa-sm">VPN</div>
        <div class="row justify-between">
          <div class="col-sm-4 col-xs-6 q-pa-sm">
            <q-input dark :dense="$q.screen.lt.sm"
              type="text"
              outlined
              v-model.trim="club.vpnAddress"
              label="VPN Address"
            />
          </div>
        </div>
      </div>

      <div :class="[$q.screen.gt.xs ? 'q-pa-md':'']"
        class="col-12 text-right"
      >
        <q-btn @click="save" flat dark
          class="q-pa-sm"
          label="Guardar"
          color="primary"
          icon="save">
        </q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'

import notify from 'components/js/mixins/notify'

import { dateIsValid } from 'components/js/utils/date'

export default {
  name: 'ClubProfileWeb',
  mixins: [notify],
  props: {
    id: String
  },
  data () {
    return {
      club: null,
      roomsCount: 1,
      mainRoom: 24,
      secondRoom: 24,
      openExtraFitcoins: false
    }
  },

  apollo: {
    club () {
      return {
        query: gql`query($id: String!){
          club(id: $id){
            id
            fitcoins{
              id
              price
            }
            paymentMethod
            adyenMerchantAccount
            adyenEnv
            rooms
            isTsActived
            # isMinigamesActive
            globalPass
            unitellerShopIDP
            unitellerPassword
            isCovidPassRequired
            vpnAddress
          }
        }`,
        variables () {
          return {
            id: this.id
          }
        },
        async result (result) {
          const data = result.data.club
          this.roomsCount = Object.keys(data.rooms || {}).length
          if (this.roomsCount === 2) {
            this.mainRoom = data.rooms.A
            this.secondRoom = data.rooms.B
          } else if (this.roomsCount === 1) {
            this.mainRoom = data.rooms.F
          }
        }
      }
    }
  },
  methods: {
    isValid (value) {
      return dateIsValid(value) || this.$t('common.invalidDate')
    },

    async saveRooms () {
      const _self = this
      this.$q.dialog({
        message: '¿Deseas confirmar los cambios?'
      }).onOk(async () => {
        _self.$q.loading.show()
        const data = _self.roomsCount === 2
          ? { A: _self.mainRoom, B: _self.secondRoom }
          : { F: _self.mainRoom }
        try {
          await this.$apollo.mutate({
            mutation: gql`mutation($data: String!, $id: String!){
              saveRooms(data: $data, id: $id){
                id
                rooms
              }
            }`,
            variables: {
              data: JSON.stringify(data),
              id: _self.id
            }
          })
          _self.notifyDone()
        } catch (ex) {
          _self.notifyError(ex)
        } finally {
          _self.$q.loading.hide()
        }
      })
    },

    async save () {
      const _self = this
      this.$q.dialog({
        message: '¿Deseas confirmar los cambios?'
      }).onOk(async () => {
        _self.$q.loading.show()
        try {
          const data = { ...this.club }

          delete data.id
          delete data.__typename

          await this.$apollo.mutate({
            mutation: gql`mutation($data: String!, $id: String!){
              districtUpsert(data: $data, id: $id){
                id
                fitcoins{
                  id
                  price
                }
                paymentMethod
                adyenMerchantAccount
                adyenEnv
                rooms
                isTsActived
                isMinigamesActive
                globalPass
                unitellerShopIDP
                unitellerPassword
                isCovidPassRequired
                vpnAddress
              }
            }`,
            variables: {
              data: JSON.stringify(data),
              id: _self.id
            }
          })
          _self.notifyDone()
        } catch (ex) {
          _self.notifyError(ex)
        } finally {
          _self.$q.loading.hide()
        }
      })
    }
  }
}
</script>

<style>
</style>
