<template>
    <div v-if="$apollo.loading" class="row q-mt-md  q-pa-lg">
      <q-spinner style="margin: auto;" size="5em" color="secondary"></q-spinner>
    </div>
    <div class="row" v-else>
      <div :class="[$q.screen.gt.xs ? 'q-pa-md' : '']" class="col-sm-7 text-left">
          <div class="row">
              <div class="col-6">
                <div class="text-h6 q-pa-sm">Bags</div>
              </div>
              <div class="col-6 justify-right text-right">
              <q-btn-dropdown rounded :class="$q.screen.lt.sm ? 'full-width' : ''" label="Acciones "
                :disable="!selectedBags.length">
                <q-list dark class="bg-grey-9">
                  <q-item clickable v-close-popup @click="executeAction('REBOOT')">
                    <q-item-section>
                      <q-item-label>Reiniciar</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-separator dark />
                  <q-item clickable v-close-popup @click="openModalColor">
                    <q-item-section>
                      <q-item-label>Test Light</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-btn-dropdown>
              </div>
          </div>

          <div class="row">
              <div class="col">
                <q-table
                  class="scroll-table"
                  virtual-scroll
                  :virtual-scroll-sticky-size-start="48"
                  :loading="$apollo.loading"
                  flat
                  selection="multiple"
                  row-key="bag_number"
                  :selected.sync="selectedBags"
                  :pagination="{
                    rowsPerPage: 30
                  }"
                  :data="bagsList"
                  :columns="columns"
                  />
              </div>
           </div>
      </div>
      <div :class="[$q.screen.gt.xs ? 'q-pa-md' : '']" class="col-md-5">
          <div class="text-h6 q-pa-sm">Minipc</div>
          <div class="row justify-between">
            <div class="col-sm-4 col-xs-6 q-pa-sm">
              <q-input readonly dark :dense="$q.screen.lt.sm" type="text" outlined v-model="minipc.vpn_address"
                label="VPN Address" />
            </div>
            <div class="col-sm-4 col-xs-6 q-pa-sm">
              <q-input readonly dark :dense="$q.screen.lt.sm" type="text" outlined v-model="minipc.current_version" label="Backend Version" />
            </div>
          </div>
      </div>
    </div>
</template>
<script>

import notify from 'components/js/mixins/notify'

import { dateIsValid } from 'components/js/utils/date'

export default {
  name: 'DistrictDevices',
  mixins: [notify],
  props: {
    club: Object
  },
  data () {
    return {
      //   bags: [],
      selectedBags: [],
      bagsList: [],
      minipc: {},
      visibleColumns: ['ip', 'mac', 'bag_number'],
      columns: [
        {
          name: 'ip',
          label: 'ip',
          field: 'ip',
          align: 'left'
        },
        {
          name: 'bag_number',
          label: 'Bag Number',
          field: 'bag_number',
          align: 'left',
          sortable: true
        },
        {
          name: 'mac',
          label: 'mac',
          field: 'mac',
          align: 'left'
        },
        {
          name: 'firmware',
          label: 'firmware',
          field: 'firmware',
          align: 'left'
        },
        {
          name: 'status',
          label: 'status',
          field: 'status',
          align: 'left'
        }]
    }
  },
  async mounted () {
    const { data: minipcInfo } = await this.$iot.get(`/${this.$props.club.alias}/info`)
    const { data: bags } = await this.$iot.get(`/${this.$props.club.alias}/bags`)
    this.bagsList = Object.keys(bags).map((bagNumber) => bags[bagNumber]).filter(bag => bag.ip)
    this.minipc = minipcInfo
  },
  apollo: {
  },
  methods: {
    openModalColor () {
    },
    executeAction (command) {
      if (command === 'REBOOT') {
        this.$q.dialog({
          title: 'Confirmar reinicio',
          message: `¿Desea reiniciar ${this.selectedBags.length > 1 ? 'los sacos' : 'el saco'}: [${this.selectedBags.map(it => it.bag_number).join(',')}] ?`,
          dark: true
        }).onOk(async () => {
          try {
            const bagNumberList = this.selectedBags.map(bag => bag.bag_number)
            await this.$iot.get(`/${this.$props.club.alias}/bags/reboot/?bags=${bagNumberList.join(',')}`)
          } catch (err) {
            this.notifyError(err)
          }
        })
      }
    },
    isValid (value) {
      return dateIsValid(value) || this.$t('common.invalidDate')
    }
  }
}
</script>

<style></style>
