<template>
  <div>
    <div v-if="$apollo.loading" class="row q-mt-md  q-pa-lg">
      <q-spinner
        style="margin: auto;"
        size="5em"
        color="secondary"
      ></q-spinner>
    </div>
    <div class="row" v-else>
      <div :class="[$q.screen.gt.xs ? 'q-pa-md':'']"
        class="col-sm-6 col-xs-12"
      >
        <div class="text-h6 q-pa-sm">Mapa</div>
        <div class="row">
          <div class="col-sm-4 col-xs-6 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model.number="club.zoomMap"
              label="zoomMap"
            />
          </div>
          <div class="col-sm-4 col-xs-6 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model.number="club.latitude"
              label="latitude"
            />
          </div>
          <div class="col-sm-4 col-xs-6 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model.number="club.longitude"
              label="longitude"
            />
          </div>
          <div class="col-sm-4 col-xs-6 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model.number="club.mapCenterLatitude"
              label="mapCenterLatitude"
            />
          </div>
          <div class="col-sm-4 col-xs-6 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model.number="club.mapCenterLongitude"
              label="mapCenterLongitude"
            />
          </div>
        </div>
        <div class="text-h6 q-pa-sm">Localización</div>
        <div class="row">
          <div class="col-sm-8 col-xs-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.email"
              label="email"
              lazy-rules
              :rules="[ val => val && val.length > 0 || $t('common.fieldRequired')]"
            />
          </div>
          <div class="col-sm-4 col-xs-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.telephone"
              label="Teléfono"
            />
          </div>
          <div class="col-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.address"
              label="Dirección 1"
              lazy-rules
              :rules="[ val => val && val.length > 0 || $t('common.fieldRequired')]"
            />
          </div>
          <div class="col-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.address2"
              label="Dirección 2"
            />
          </div>
          <div class="col-sm-8 col-xs-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.city"
              label="Población"
              lazy-rules
              :rules="[ val => val && val.length > 0 || $t('common.fieldRequired')]"
            />
          </div>
          <div class="col-sm-4 col-xs-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.zipCode"
              label="Código Postal"
              lazy-rules
              :rules="[ val => val && val.length > 0 || $t('common.fieldRequired')]"
            />
          </div>
          <div class="col-12">
            <q-toggle
              v-model="club.parking"
              checked-icon="check"
              label="Dispone de Parking"
              unchecked-icon="clear"
            />
          </div>
        </div>
      </div>
      <div :class="[$q.screen.gt.xs ? 'q-pa-md':'']"
        class="col-sm-6 col-xs-12"
      >
        <div class="text-h6 q-pa-sm">Marketing</div>
        <div class="row justify-between">
          <div class="col-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model.trim="club.facebookUid"
              label="facebookUid"
            />
          </div>
          <div class="col-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model.trim="club.instagramUid"
              label="instagramUid"
            />
          </div>
          <div class="col-12 q-pa-sm">
            <q-select outlined :dense="$q.screen.lt.sm"
              v-model="club.callCenter"
              label="callCenter"
              :options="['own-management', 'calls-and-requests']"
            />
          </div>
          <div class="col-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.director"
              label="Director"
            />
          </div>
          <div class="col-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model.trim="club.twilioPhone"
              label="twilioPhone"
            />
          </div>
          <div class="col-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model.trim="club.agileUrlShort"
              label="agileUrlShort"
            />
          </div>
        </div>
      </div>
      <div :class="[$q.screen.gt.xs ? 'q-pa-md':'']"
        class="col-12 text-right"
      >
        <q-btn @click="save" flat dark
          class="q-pa-sm"
          label="Guardar"
          color="primary"
          icon="save">
        </q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'

import notify from 'components/js/mixins/notify'

export default {
  name: 'ClubProfileWeb',
  mixins: [notify],
  props: {
    id: String
  },
  data () {
    return {
      club: null
    }
  },

  apollo: {
    club () {
      return {
        query: gql`query($id: String!){
          club(id: $id){
            id
            zoomMap
            latitude
            longitude
            mapCenterLatitude
            mapCenterLongitude
            email
            telephone
            address
            address2
            zipCode
            city
            parking
            facebookUid
            instagramUid
            callCenter
            director
            twilioPhone
            agileUrlShort
          }
        }`,
        variables () {
          return {
            id: this.id
          }
        }
      }
    }
  },
  methods: {
    async save () {
      const _self = this
      this.$q.dialog({
        message: '¿Deseas confirmar los cambios?'
      }).onOk(async () => {
        _self.$q.loading.show()
        try {
          const data = { ...this.club }
          delete data.id
          delete data.__typename
          await this.$apollo.mutate({
            mutation: gql`mutation($data: String!, $id: String!){
              districtUpsert(data: $data, id: $id){
                id
                zoomMap
                latitude
                longitude
                mapCenterLatitude
                mapCenterLongitude
                email
                telephone
                address
                address2
                zipCode
                city
                parking
                facebookUid
                instagramUid
                callCenter
                director
                twilioPhone
                agileUrlShort
              }
            }`,
            variables: {
              data: JSON.stringify(data),
              id: _self.id
            }
          })
          _self.notifyDone()
        } catch (ex) {
          _self.notifyError(ex)
        } finally {
          _self.$q.loading.hide()
        }
      })
    }
  }
}
</script>

<style>
</style>
