<template>
  <div>
    <div v-if="$apollo.loading" class="row q-mt-md  q-pa-lg">
      <q-spinner
        style="margin: auto;"
        size="5em"
        color="secondary"
      ></q-spinner>
    </div>
    <div class="row" v-else>
      <div :class="[$q.screen.gt.xs ? 'q-pa-md':'']"
        class="col-sm-6 col-xs-12"
      >
        <div class="text-h6 q-pa-sm">Estado</div>
        <div class="row">
          <div class="col-sm-3 col-xs-6 q-pa-sm">
            <q-toggle outlined :dense="$q.screen.lt.sm"
              v-model="club.published"
              label="Publicado"
            />
          </div>
          <div class="col-sm-3 col-xs-6 q-pa-sm">
            <q-toggle outlined :dense="$q.screen.lt.sm"
              v-model.number="club.preopening"
              label="Preapertura"
            />
          </div>
          <div class="col-sm-3 col-xs-6 q-pa-sm">
            <q-toggle outlined :dense="$q.screen.lt.sm"
              v-model="club.open"
              label="Abierto"
            />
          </div>
          <div class="col-sm-3 col-xs-6 q-pa-sm">
            <q-toggle outlined :dense="$q.screen.lt.sm"
              v-model="club.offer"
              label="Mostrar ofertas"
            />
          </div>
        </div>
        <div class="text-h6 q-pa-sm">Avisos</div>
        <div class="row">
          <div class="col-12 q-pa-sm" v-if="club.preopening">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.opening"
              label="opening"
            />
          </div>
          <div class="col-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.notice"
              label="notice"
            />
          </div>
          <div class="col-12 q-pa-sm" v-if="!club.offer">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.noOfferAvailable"
              label="noOfferAvailable"
            />
          </div>
          <div class="col-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.membership"
              label="membership"
            />
          </div>
        </div>
      </div>
      <div :class="[$q.screen.gt.xs ? 'q-pa-md':'']"
        class="col-sm-6 col-xs-12"
      >
        <div class="text-h6 q-pa-sm">SEO</div>
        <div class="row">
          <div class="col-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.title"
              label="Title"
            />
          </div>
          <div class="col-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.description"
              label="Description"
            />
          </div>
          <div class="col-12 q-pa-sm">
            <q-input outlined :dense="$q.screen.lt.sm"
              v-model="club.ogImageFile"
              label="og_image_name"
            />
          </div>
        </div>
      </div>
      <div :class="[$q.screen.gt.xs ? 'q-pa-md':'']"
        class="col-12 text-right"
      >
        <q-btn @click="save" flat dark
          class="q-pa-sm"
          label="Guardar"
          color="primary"
          icon="save">
        </q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'

import notify from 'components/js/mixins/notify'

export default {
  name: 'ClubProfileWeb',
  mixins: [notify],
  props: {
    id: String
  },
  data () {
    return {
      club: null
    }
  },

  apollo: {
    club () {
      return {
        query: gql`query($id: String!){
          club(id: $id){
            id
            published
            open
            offer
            preopening
            opening
            notice
            noOfferAvailable
            membership
            title
            description
            ogImageFile
          }
        }`,
        variables () {
          return {
            id: this.id
          }
        }
      }
    }
  },
  methods: {
    async save () {
      const _self = this
      this.$q.dialog({
        message: '¿Deseas confirmar los cambios?'
      }).onOk(async () => {
        _self.$q.loading.show()
        try {
          const data = { ...this.club }
          delete data.id
          delete data.__typename
          await this.$apollo.mutate({
            mutation: gql`mutation($data: String!, $id: String!){
              districtUpsert(data: $data, id: $id){
                id
                published
                open
                offer
                preopening
                opening
                notice
                noOfferAvailable
                membership
                title
                description
                ogImageFile
              }
            }`,
            variables: {
              data: JSON.stringify(data),
              id: _self.id
            }
          })
          _self.notifyDone()
        } catch (ex) {
          _self.notifyError(ex)
        } finally {
          _self.$q.loading.hide()
        }
      })
    }
  }
}
</script>

<style>
</style>
