<template>
  <div class="full-width">
    <q-table
      class="q-mt-md full-width"
      dark
      :grid="$q.screen.lt.sm"
      :data="filteredList"
      :columns="columns"
      :pagination.sync="pagination"
      :visibleColumns="visibleColumns"
      binary-state-sort
      selection="multiple"
      :selected.sync="selected"
      @row-click="rowClick"
    >
      <!-- Filters -->
      <template v-slot:top class="q-gutter-md">
        <div class="col-auto">
          <q-btn
            flat
            round
            dense
            icon="add_circle"
            @click="openAddFitboxer"
            class="q-ml-md"
          />
          <q-btn
            :disable="selected.length == 0"
            flat
            round
            dense
            icon="delete"
            @click="openRemoveFitboxer"
            class="q-ml-md"
          />
          <q-btn
            :disable="selected.length != 1"
            flat
            round
            dense
            icon="military_tech"
            @click="setCaptain"
            class="q-ml-md"
          >
          <q-tooltip>Capitan</q-tooltip>
          </q-btn>
        </div>

      </template>
    </q-table>
    <q-dialog
      :maximized="$q.screen.lt.sm"
      v-model="isOpenAddFitboxer"
      transition-show="flip-down"
      transition-hide="flip-up"
    >
      <q-card dark style="width: 1000px; max-width: 80vw;">
        <q-bar>
          <div>Add Fitboxer</div>
          <q-space></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{
              $q.lang.label.close
            }}</q-tooltip>
          </q-btn>
        </q-bar>
      </q-card>
    </q-dialog>
    <q-dialog>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm"
            >¿Desea remover
            {{ selected.length > 1 ? 'los fitboxers' : 'el fitboxer' }}
            {{ selected.join(',') }} del equipo ?
          </span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Turn on Wifi" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import notify from 'components/js/mixins/notify'
const QUERY_TEAM = gql`
        query($code: String!) {
          team(code: $code) {
            id
            code
            name
            motto
            fitboxers {
              id
              email
              firstName
              lastName
              isCaptain
            }
          }
        }`
export default {
  mixins: [notify],
  props: {
    team: {
      type: String
    },
    list: {
      type: Array,
      default: () => []
    }
  },
  apollo: {
    $client: 'fwg',
    team: {
      query: QUERY_TEAM,
      variables () {
        return {
          code: this.team
        }
      },
      skip () {
        return true
      },
      fetchPolicy: 'network-only'
    }
  },
  data () {
    return {
      isOpenAddFitboxer: false,
      visibleColumns: ['id', 'nombre', 'nickName', 'email', 'phone', 'Rol'],
      fitboxers: this.$props.list,
      columns: [
        {
          name: 'id',
          label: 'id',
          field: 'id',
          align: 'left'
        },
        {
          name: 'nickName',
          label: 'Nick',
          field: 'nickName',
          align: 'left'
        },
        {
          name: 'email',
          label: 'Correo',
          field: 'email',
          align: 'left'
        },
        {
          name: 'nombre',
          label: 'Nombre Completo',
          field: 'firstName',
          align: 'left',
          format: (val, row) => `${row.firstName || ''} ${row.lastName || ''}`
        },
        {
          name: 'phone',
          label: 'Telf.',
          field: 'phone',
          align: 'left'
        },
        {
          name: 'Rol',
          label: 'Rol',
          field: 'isCaptain',
          align: 'left',
          format: (val, row) => row.isCaptain ? 'Captain' : 'Fitboxer'
        }
      ],
      pagination: {
        rowsPerPage: 15
      },
      dense: {
        type: Boolean
      },
      flat: Boolean,
      loading: Boolean,
      text: null,
      selected: []
    }
  },
  computed: {
    filteredList () {
      if (this.text && this.text.length > 0) {
        const needle =
          this.text &&
          this.text.length > 0 &&
          (isNaN(this.text) ? this.text.toLowerCase() : parseFloat(this.text))
        return this.fitboxers.filter(el => {
          let ok = true
          // Filtro
          if (typeof needle === 'string') {
            ok = el.name.toLowerCase().indexOf(needle) > -1
          } else if (typeof needle === 'number') {
            ok = el.found === needle || el.name === needle.toString()
          }
          return ok
        })
      } else {
        return this.fitboxers
      }
    }
  },
  async mounted () {
    try {
      await this.refresh()
    } catch (err) {
      this.notifyError(err)
    }
  },
  methods: {
    async setCaptain () {
      const fitboxer = this.selected[0]
      try {
        await this.$apollo.mutate({
          mutation: gql`
                mutation($id: String!, $teamCode: String!) {
                  setCaptain(id: $id, teamCode: $teamCode) {
                    id
                  }
                }
              `,
          variables: {
            id: fitboxer.id,
            teamCode: this.team
          }
        })
        this.notifyDone(`Fitboxer cambiado a capitan correctamente`)
        await this.refresh()
      } catch (err) {
        this.notifyError(err)
      }
    },
    openAddFitboxer () {
      // this.isOpenAddTeam = true7
      this.$q
        .dialog({
          title: 'Agregar fitboxer',
          class: 'prompt-team-code',
          prompt: {
            model: ''
          },
          message: `Correo del fitboxer`,
          cancel: true
        })
        .onOk(async email => {
          if (!email) {
            this.notifyError('Correo invalido')
          }
          try {
            await this.$apollo.mutate({
              mutation: gql`
                mutation($email: String!, $code: String!) {
                  addFitboxerToTeam(email: $email, code: $code) {
                    id
                  }
                }
              `,
              variables: {
                email: email,
                code: this.team
              }
            })
            this.notifyDone('Fitboxer agregado correctamente')
            await this.refresh()
          } catch (err) {
            this.notifyError(err)
          }
        })
    },
    openRemoveFitboxer () {
      this.$q
        .dialog({
          title: 'Eliminar',
          message: `¿Deseas eliminar ${
            this.selected.length > 1
              ? 'los fitboxers seleccionados'
              : ' el fitboxer'
          } del equipo?, Esta acción no se puede deshacer`,
          cancel: true
        })
        .onOk(async () => {
          try {
            for (const it of this.selected) {
              await this.$apollo.mutate({
                mutation: gql`
                  mutation($fitboxerId: String!, $code: String!) {
                    removeFitboxer(fitboxerId: $fitboxerId, code: $code) {
                      id
                      code
                    }
                  }
                `,
                variables: {
                  fitboxerId: it.id,
                  code: this.team
                }
              })
              let index = this.fitboxers.findIndex(el => el.id === it.id)
              if (index > -1) {
                this.fitboxers.splice(index, 1)
              }
            }
            await this.refresh()
            this.notifyDone()
          } catch (error) {
            this.notifyError(error)
          }
        })
    },
    rowClick (ev, row) {
      // this.$router.push(`/challenges/${row.id}`)
    },
    async refresh () {
      // const data = await this.$apollo.queries.team.refetch()
      const { data } = await this.$apollo.query({
        query: QUERY_TEAM,
        variables: {
          code: this.team
        },
        fetchPolicy: 'network-only'
      })
      if (data && data.team && data.team.fitboxers) {
        this.fitboxers = data.team.fitboxers
      }
    }
  }
}
</script>

<style></style>
