<template>
  <div>
    <div v-if="$apollo.loading" class="row q-mt-md  q-pa-lg">
      <q-spinner
        style="margin: auto;"
        size="5em"
        color="secondary"
      ></q-spinner>
    </div>
    <div class="full-width row" v-else>
      <div class="col">
        <span class="text-accent col-12 q-mt-sm">Key</span>
        <div class="text-body1 col-12">{{cacheKey }}</div>
      </div>
      <div class="col">
        <span class="text-accent col-12 q-mt-sm">Expire In</span>
        <div class="text-body1 col-12" v-if="expireIn">{{expireIn | timeDifference}}</div>
        <div class="text-body1 col-12" v-else>Key does not Exists!</div>
      </div>
      <div class="col">
        <q-btn icon="delete_forever" rounded label="Delete" @click="deleteCache" :disable="!content"/>
      </div>
    </div>
    <code-highlight language="json" v-if="content">
        <pre>{{content}}</pre>
      </code-highlight>
      <h4 class="text-grey-7 text-center" v-else>.No Content</h4>
  </div>
</template>

<script>
import gql from 'graphql-tag'

import notify from 'components/js/mixins/notify'

import { component as CodeHighlight } from 'vue-code-highlight'
import 'vue-code-highlight/themes/prism-vsc-dark-plus.css'

import 'prism-es6/components/prism-markup-templating'
import 'prism-es6/components/prism-json'

export default {
  name: 'RedisContent',
  mixins: [notify],
  components: {
    CodeHighlight
  },
  props: {
    cacheKey: { type: String, required: true }
  },
  data () {
    return {
      expireIn: null,
      content: null
    }
  },

  computed: {
  },

  filters: {
    timeDifference (value) {
      if (value < 1) {
        return 'less than a second'
      } else if (value < 60) {
        return 'less than 1 minute'
      } else if (value < 3600) {
        const min = Math.round(value / 60)
        return `about ${min} minutes`
      } else {
        return `about ${Math.round(value / 3600)} hour(s)`
      }
    }
  },

  apollo: {
    content: {
      query: gql`query($key: String!){
        getRedisByKey(key: $key)
      }`,
      variables () {
        return {
          key: this.cacheKey
        }
      },
      fetchPolicy: 'network-only',
      manual: true,
      result ({ data }) {
        const info = data.getRedisByKey
        if (info) {
          this.expireIn = info.remainingTime
          this.content = info.data
        } else {
          this.expireIn = null
          this.content = null
        }
      }
    }
  },
  methods: {
    async deleteCache () {
      try {
        this.$q.loading.show()
        await this.$apollo.mutate({
          mutation: gql`mutation($key: String!){
            deleteRedisKey(key: $key)
          }`,
          variables: {
            key: this.cacheKey
          }
        })
        this.content = null
        this.expireIn = 0
        this.notifyDone()
        this.$emit('delete', this.cacheKey)
      } catch (error) {
        this.notifyError(error)
      } finally {
        this.$q.loading.hide()
      }
    }
  }
}
</script>

<style>
</style>
