<template>
  <div class="full-width">
    <q-table
      class="q-mt-md full-width"
      dark
      :grid="$q.screen.lt.sm"
      :data="filteredList"
      :columns="columns"
      :pagination.sync="pagination"
      :visibleColumns="visibleColumns"
      binary-state-sort
      selection="multiple"
      :selected.sync="selected"
    >
      <!-- Filters -->
      <template v-slot:top class="q-gutter-md">
        <div class="col-auto">
          <q-btn
            flat
            round
            dense
            icon="add_circle"
            @click="openAddReferee"
            class="q-ml-md"
          />
          <q-btn
            :disable="selected.length == 0"
            flat
            round
            dense
            icon="delete"
            @click="openRemoveReferee"
            class="q-ml-md"
          />
        </div>
      </template>
    </q-table>
    <q-dialog
      :maximized="$q.screen.lt.sm"
      v-model="isOpenAddReferee"
      transition-show="flip-down"
      transition-hide="flip-up"
      dark
    >
      <q-card dark style="width: 1000px; max-width: 80vw;">
        <q-bar>
          <div>Add Team</div>
          <q-space></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{
              $q.lang.label.close
            }}</q-tooltip>
          </q-btn>
        </q-bar>
      </q-card>
    </q-dialog>

    <q-dialog persistent dark>
      <q-card dark >
        <q-card-section class="row items-center">
          <span class="q-ml-sm"
            >¿Desea remover
            {{ selected.length > 1 ? 'los equipos' : 'el equipo' }}
            {{ selected.join(',') }} del torneo ?
          </span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Turn on Wifi" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import notify from 'components/js/mixins/notify'
const QUERY_TOURNAMENT = gql`
  query($id: String) {
    tournament(id: $id) {
      id
      status
      date
      referees {
        id
        firstName
        lastName
        email
        photo
      }
    }
  }
`
export default {
  mixins: [notify],
  props: {
    tournament: {
      type: String
    },
    list: {
      type: Array,
      default: () => []
    }
  },
  apollo: {
    $client: 'fwg'
  },
  data () {
    return {
      isOpenAddReferee: false,
      visibleColumns: ['id', 'name', 'lastName', 'email'],
      referees: this.$props.list,
      columns: [
        {
          name: 'id',
          label: 'id',
          field: 'id',
          align: 'left'
        },
        {
          name: 'name',
          label: 'Nombre',
          field: 'firstName',
          align: 'left'
        },
        {
          name: 'lastName',
          label: 'Apellido',
          field: 'lastName',
          align: 'left'
        },
        {
          name: 'email',
          label: 'Email',
          field: 'email',
          align: 'left'
        }
      ],
      pagination: {
        rowsPerPage: 15
      },
      dense: {
        type: Boolean
      },
      flat: Boolean,
      loading: Boolean,
      text: null,
      selected: []
    }
  },
  computed: {
    filteredList () {
      if (this.text && this.text.length > 0) {
        const needle =
          this.text &&
          this.text.length > 0 &&
          (isNaN(this.text) ? this.text.toLowerCase() : parseFloat(this.text))
        return this.referees.filter(el => {
          let ok = true
          // Filtro
          if (typeof needle === 'string') {
            ok = el.name.toLowerCase().indexOf(needle) > -1
          } else if (typeof needle === 'number') {
            ok = el.found === needle || el.name === needle.toString()
          }
          return ok
        })
      } else {
        return this.referees
      }
    }
  },
  async mounted () {
    try {
      await this.refresh()
    } catch (err) {
      this.notifyError(err)
    }
  },
  methods: {
    openAddReferee () {
      this.$q
        .dialog({
          title: 'Agregar Referee',
          class: 'prompt-referee',
          prompt: {
            model: ''
          },
          message: `Email del referee`,
          cancel: true
        })
        .onOk(async email => {
          if (!email) {
            this.notifyError('Correo invalido')
          }
          try {
            await this.$apollo.mutate({
              mutation: gql`
                mutation($email: String!, $tournamentId: String!) {
                  addRefereeToTournament(email: $email, tournamentId: $tournamentId) {
                    id
                  }
                }
              `,
              variables: {
                tournamentId: this.tournament,
                email: email
              }
            })
            this.notifyDone('Referee agregado correctamente')
            await this.refresh()
            this.$emit('update')
          } catch (err) {
            this.notifyError(err)
          }
        })
    },
    openRemoveReferee () {
      this.$q
        .dialog({
          title: 'Eliminar',
          message: `¿Deseas eliminar ${
            this.selected.length > 1
              ? 'los referees seleccionados'
              : ' el referee'
          } del torneo?, Esta acción no se puede deshacer`,
          cancel: true
        })
        .onOk(async () => {
          try {
            for (const it of this.selected) {
              await this.$apollo.mutate({
                mutation: gql`
                  mutation($email: String!, $tournamentId: String!) {
                    removeRefereeFromTournament(email: $email, tournamentId: $tournamentId) {
                      id
                    }
                  }
                `,
                variables: {
                  tournamentId: this.tournament,
                  email: it.email
                }
              })
              let index = this.referees.findIndex(el => el.id === it.id)
              if (index > -1) {
                this.referees.splice(index, 1)
              }
            }
            await this.refresh()
            this.notifyDone()
            this.$emit('update')
          } catch (error) {
            this.notifyError(error)
          }
        })
    },
    async refresh () {
      const { data } = await this.$apollo.query({
        query: QUERY_TOURNAMENT,
        variables: {
          id: this.tournament
        },
        fetchPolicy: 'network-only'
      })
      if (data && data.tournament && data.tournament.referees) {
        this.status = data.tournament.status
        this.referees = data.tournament.referees
      }
    }
  }
}
</script>

<style></style>
