// app global css
body {
  font-family: 'Helvetica Neue', Roboto;
}
a {
  color: #f19833
  text-decoration: none;
}

a:hover: {
  text-decoration: underline;
}

.text-state-1 {
  color: #D0D0D0;
}
.bg-state-1 {
  background: #D0D0D0;
  color: black;
}

.text-state-2 {
  color:  #ffcc00;
}
.bg-state-2 {
  background:  #ffcc00;
  color: black;
}

.text-state-3 {
  color: #c0a16b;
}
.bg-state-3 {
  background: #c0a16b;
  color: whitesmoke;
}

.text-state-4 {
  color: #337ab7;
}
.bg-state-4 {
  background: #337ab7;
  color: whitesmoke;
}

.text-state-5 {
  color: #359435;
}
.bg-state-5 {
  background: #359435;
  color: whitesmoke;
}

.text-state-6 {
  color: black;
}
.bg-state-6 {
  background: black;
  color: red
}

.bg-gold {
  background: gold;
  color: black 
}

.text-gold {
  color: gold
}

.bg-silver {
  background: silver;
  color: black 
}

.text-silver {
  color: silver
}

.bg-bronze {
  background: #cd7f32; 
  color: black 
}

.text-bronze {
  color: #cd7f32;
}

.bg-cream {
  background: #f9f6f1
}

.gradient {
   background: linear-gradient(145deg,#fc0 11%,#F19833 75%);
 }
.dark-gradient {
   background: linear-gradient(180deg, #616161 0%, rgb(33 33 33) 41%);
 }

.q-pull-to-refresh {
  margin-bottom: 70px;
}