<template>
  <div id="q-app">
    <transition name="fade">
      <router-view />
    </transition>
  </div>
</template>

<!--<script>
import gql from 'graphql-tag'

export default {
  name: 'App',
  data () {
    return {
      fitboxer: {},
      skipQuery: true
    }
  },
  apollo: {
    fitboxer () {
      return {
        query: gql`query{
          fitboxer{
            id
            karma_balance
            clt_tip
            fitcoins{
              id
              fch_cad
              dis
            }
          }
        }`,
        skip () {
          return this.skipQuery
        },
        async result (result) {
          try {
            await this.$store.dispatch('profile/load', result.data.fitboxer)
          } finally {
            this.$q.loading.hide()
          }
        }
      }
    }
  },

  methods: {
  },

  mounted () {
    this.skipQuery = !this.$auth.isFitboxer()
  }
}
</script>-->

<style>
</style>
