<template>
  <div>
    <q-table dark
      :grid="$q.screen.lt.sm"
      :data="list"
      :columns="columns"
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      :visibleColumns="visibleColumns"
      binary-state-sort
      selection="multiple"
      :selected.sync="selected"
      @row-click="rowClick"
      :style="`height: ${$q.screen.height - 234}px;`"
      virtual-scroll
    >
    <!-- Filters -->
      <template v-slot:top>
        <q-space />
        <div class="col-auto">
          <q-btn
            flat round dense
            icon='add_circle'
            @click="add"
            class="q-ml-md"
          />
          <!--
          <q-btn :disable="selected.length == 0 || selected.length > 1"
            flat round dense
            icon='download'
            @click="download"
            class="q-ml-md"
          />
          -->
          <q-btn :disable="selected.length == 0"
            flat round dense
            icon='delete'
            @click="deleteConfirm"
            class="q-ml-md"
          />
        </div>
        <div class="col-auto q-ml-md">
          <q-select dark
            v-model="visibleColumns"
            multiple
            borderless
            dense
            options-dense
            :display-value="$q.lang.table.columns"
            emit-value
            map-options
            options-dark
            :options="columns"
            option-value="name"
            style="min-width: 150px"
          />
        </div>

      </template>

      <!-- Columnas -->
      <template v-slot:body-cell-name="props">
      <q-td :props="props">
        <q-item>
          <q-item-section avatar top>
            <q-avatar rounded color="grey-9">
              <img :src="props.row.img" v-if="props.row.img">
              <q-icon name="help" v-else/>
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <div class="text-body2 text-bold">{{props.row.name}}</div>
            <q-badge v-if="props.row.type === 'S'" color="secondary" style="width: 58px;" text-color="dark">Strength</q-badge>
            <q-badge v-else-if="props.row.type === 'B'" style="width: 58px;" color="grey-8">Balance</q-badge>
          </q-item-section>
        </q-item>
      </q-td>
      </template>

    </q-table>
    <!-- Detail -->

    <q-dialog :maximized="$q.screen.lt.sm" v-model="isDetailOpen" v-if="row">
      <q-card dark style="min-width: 50vw; max-width: 80vw;">
        <q-bar>
          <div>Workout</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip>{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>

        <q-form @submit="upsert">
          <div class="row q-mt-md">
            <div class="col-12 q-px-md">
              <q-input outlined
                v-model="row.name"
                label="Name"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
            <div class="col-12 q-px-md">
              <q-input outlined
                v-model="row.description"
                label="Description"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
            <div class="col-4 q-px-md">
              <q-input outlined
                v-model.number="row.duration"
                label="Duration"
                type="number"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
            <div class="col-4 q-px-md">
              <q-select
                dark
                options-dark
                emit-value
                v-model="row.type"
                :options="[
                  {label: 'Stregth', value: 'S'},
                  {label: 'Balance', value: 'B'}
                ]"
                label="Type"
                outlined
                map-options
                style="min-width: 50px"
              />
            </div>
            <div class="col-12 q-px-md">
              <q-input outlined
                v-model="row.img"
                label="Image"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
            <div class="col-12 q-px-md">
              <q-input outlined
                v-model="row.url"
                label="Video URL"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
          </div>
          <q-card-section class="q-gutter-md">
          </q-card-section>

          <q-card-actions align="right">
            <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
            <q-btn
              :loading="loading"
              type="submit"
              :label="$q.lang.label.ok"
              color="secondary" />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import gql from 'graphql-tag'

// Mixins
import notify from 'components/js/mixins/notify'

import { humanFileSize } from 'components/js/utils/file'
export default {
  props: {
    list: {
      type: Array,
      default: () => []
    }
  },
  mixins: [notify],
  data () {
    return {
      visibleColumns: ['type', 'name', 'duration', 'desc', 'size'],
      columns: [
        {
          name: 'name',
          label: 'Nombre',
          field: 'name',
          align: 'left'
        },
        {
          name: 'duration',
          label: 'Duration',
          field: 'duration',
          format: val => `${val} min.`,
          align: 'left'
        },
        {
          name: 'desc',
          label: 'Description',
          field: 'description',
          align: 'left'
        },
        {
          name: 'size',
          label: 'Tamaño',
          field: row => row.url ? (row.size > 0 ? humanFileSize(row.size, true) : 'Linked') : '.empty'
        },
        {
          name: 'url',
          label: 'Url',
          field: 'url',
          align: 'left'
        }
      ],
      pagination: {
        rowsPerPage: 0
      },
      selected: [],
      row: null,
      isDetailOpen: false,
      action: 'add',
      loading: false
    }
  },

  methods: {
    download () {
      // saveAs(this.selected[0].uri, this.selected[0].filename)
    },
    rowClick (ev, row) {
      this.action = 'edit'
      this.isDetailOpen = true
      this.row = { ...row }
    },

    async add () {
      this.action = 'add'
      this.isDetailOpen = true
      this.row = {
        duration: 25,
        type: 'S'
      }
    },

    async upsert () {
      try {
        // Mutation
        this.loading = true
        const data2save = { ...this.row, challenge: this.challenge }
        const { data } = await this.$apollo.mutate({
          mutation: gql`mutation($data: String!, $id: String!){
            upsertAnywhereResource(data: $data, id: $id){
              id
              name
              type
              description
              duration
              img
              url
            }
          }`,
          variables: {
            data: JSON.stringify(data2save),
            id: this.action === 'add' ? 'add' : this.row.id
          }
        })
        if (this.action === 'add') this.$emit('add', data.upsertAnywhereResource)
        // else this.$emit('update')
        this.notifyDone()
        this.isDetailOpen = false
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.loading = false
      }
    },

    deleteConfirm () {
      const _self = this
      this.$q.dialog({
        title: `¿Eliminar los workouts seleccionados (${this.selected.length})?`,
        dark: true
      }).onOk(() => _self.$emit('remove', _self.selected))
    }
  }
}
</script>

<style>
</style>
