<template>
  <div>
    <q-table class="q-mt-sm" dark
      :style="`height: ${$q.screen.height - 194}px;`"
      virtual-scroll
      :flat="flat"
      :dense="dense"
      :grid="$q.screen.lt.sm"
      :data="list"
      :columns="columns"
      :visible-columns="visibleColumns"
      :loading="loading"
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      binary-state-sort
      @row-click="open"
    >
      <!-- Filters -->
      <!-- Loading -->
      <template v-slot:loading>
        <q-inner-loading showing color="primary" dark/>
      </template>

      <template v-slot:top>
        <q-space />

        <q-select v-if="columnSelector" dark
          v-model="visibleColumns"
          multiple
          borderless
          dense
          options-dense
          :display-value="$q.lang.table.columns"
          emit-value
          map-options
          options-dark
          :options="columns"
          option-value="name"
          style="min-width: 150px"
        />

      </template>

      <!-- Columnas -->
      <template v-slot:body-cell-cen="props" v-if="cacheDistricts">
        <q-td :props="props" style="max-width: 150px" class="ellipsis">
          {{cacheDistricts[props.row.districtId].alias}}
        </q-td>
      </template>

      <template v-slot:body-cell-audience="props">
        <q-td :props="props" style="max-width: 150px" class="ellipsis">
          <q-badge v-for="i of props.row.campaing.receiver.split(',').sort()" :key="i"
            class="shadow-1 q-mr-xs"
            :class="[i ? `bg-state-${i}` : '']"
            size="24px">{{CLT_TYPES[i || '0']}}
          </q-badge>
        </q-td>
      </template>

    </q-table>

    <!-- Dialog -->
    <q-dialog v-model="isOpen">
      <q-card class="bg-grey-3" v-if="detail" style="max-width: 80vw;">
        <q-bar>
          <div>{{ detail.campaing.name }}</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.cancel}}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section>
          <div class="text-h6 q-my-sm">Mensaje</div>
          <div class="row">
            <div class="col-12" v-html="detail.campaing.description"/>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import { CLT_TYPES } from 'components/js/constants'

export default {
  name: 'OrdersGrid',
  props: {
    club: null,
    list: {
      type: Array,
      default: () => []
    },
    hiddenColumns: {
      type: Array,
      default: () => []
    },
    dense: {
      type: Boolean
    },
    flat: Boolean,
    loading: Boolean,
    columnSelector: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      CLT_TYPES,
      visibleColumns: [],
      clubs: [],
      columns: [
        {
          name: 'date',
          label: 'Ejecutada',
          field: 'executed',
          format: val => new Date(val).toLocaleString()
        },
        {
          name: 'cen',
          label: 'Club',
          field: 'districtId',
          align: 'left'
        },
        {
          name: 'campaing',
          label: 'Campaña',
          field: row => row.campaing.name,
          align: 'left',
          classes: ['text-bold'],
          sortable: true
        },
        {
          name: 'audience',
          label: 'Audiencia',
          field: row => row.campaing.receiver,
          align: 'left'
        },
        {
          name: 'dest',
          label: 'Destinatarios',
          field: 'recipients',
          format: val => (val === 0 ? '' : val)
        },
        {
          name: 'send',
          label: 'Enviados',
          field: 'sent',
          classes: ['text-bold'],
          format: val => (val === 0 ? '' : val)
        },
        {
          name: 'error',
          label: 'Errores',
          field: 'errors',
          classes: ['text-negative'],
          format: val => (val === 0 ? '' : val)
        }
      ],
      pagination: { rowsPerPage: 0 },
      // form
      isOpen: false,
      detail: null
    }
  },

  computed: {
    cacheDistricts () {
      if (this.clubs.length === 0) return null
      const list = {}
      this.clubs.forEach(el => {
        list[el.v7_id] = el
      })
      return list
    }
  },

  apollo: {
    clubs: {
      query: gql`query{
        clubs{
          id
          v7_id
          name
          alias
        }
      }`
    }
  },

  methods: {
    open (ev, row, index) {
      this.isOpen = true
      this.detail = row
    }
  },

  created () {
    const hidden = this.hiddenColumns
    this.visibleColumns = this.columns.map(el => el.name).filter(el => hidden.indexOf(el) === -1)
  }
}
</script>

<style>
</style>
