<template>
  <div>
    <q-table dark
      :grid="$q.screen.lt.sm"
      :data="list"
      :columns="columns"
      :pagination.sync="pagination"
      :visibleColumns="visibleColumns"
      binary-state-sort
      selection="multiple"
      :selected.sync="selected"
      @row-click="rowClick"

    >
    <!-- Filters -->
      <template v-slot:top class="row q-gutter-sm">
        <q-space />
        <div class="col-auto">
          <q-btn v-if="env === 'BROOKLYN'"
            flat round dense
            icon='add_circle'
            @click="$emit('add')"
            class="q-ml-md"
          />
          <q-btn :disable="selected.length == 0 || selected.length > 1"
            flat round dense
            icon='edit'
            @click="$emit('edit', selected[0])"
            class="q-ml-md"
          />
          <q-btn :disable="selected.length == 0" v-if="env === 'BROOKLYN'"
            flat round dense
            icon='delete'
            @click="deleteConfirm"
            class="q-ml-md"
          />
        </div>
        <div class="col-auto q-ml-md">
          <q-select dark
            v-model="visibleColumns"
            multiple
            borderless
            dense
            options-dense
            :display-value="$q.lang.table.columns"
            emit-value
            map-options
            options-dark
            :options="columns"
            option-value="name"
            style="min-width: 150px"
          />
        </div>

      </template>

      <template v-slot:body-cell-sequence="props">
      <q-td :props="props">
          <div v-if="typeof cheatsheet[props.row.rnd] === 'string'" class="text-accent">
            <b>{{cheatsheet[props.row.rnd]}}</b>
          </div>
          <div v-else >
            <q-badge v-for="(it, $index) of cheatsheet[props.row.rnd]" :key="$index"
              text-color="dark"
              :color="it.length ? 'grey-5' : 'grey-9'"
              class="q-mx-xs text-bold"
            >
              {{it.length ? it : '-'}}
            </q-badge>
          </div>
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script>
// import gql from 'graphql-tag'

// const IMAGES_URI = 'https://www.brooklynfitzone.com/resources/images/'
export default {
  props: {
    list: {
      type: Array,
      default: () => []
    },
    cheatsheet: Object,
    env: String
  },
  data () {
    return {
      visibleColumns: ['rnd', 'hits', 'start_in', 'sequence'],
      columns: [
        {
          name: 'rnd',
          label: 'Round',
          field: 'rnd',
          align: 'left'
        },
        {
          name: 'sequence',
          label: 'Secuencia',
          field: 'sequence',
          align: 'left'
        },
        {
          name: 'start_in',
          label: 'Empieza en',
          field: 'start_in'
        },
        {
          name: 'hits',
          label: 'Nº Golpes',
          field: 'hits'
        }
      ],
      pagination: {
        rowsPerPage: 15
      },
      dense: {
        type: Boolean
      },
      flat: Boolean,
      loading: Boolean,
      text: null,
      selected: []
    }
  },

  methods: {
    rowClick (ev, row) {
      this.$emit('edit', row)
    },

    deleteConfirm () {
      const _self = this
      this.$q.dialog({
        title: `¿Eliminar los rounds seleccionados (${this.selected.length})?`,
        dark: true
      }).onOk(() => _self.$emit('remove', _self.selected))
    }
  }
}
</script>

<style>
</style>
