<template>
  <div>
    <q-table dark
      :flat="flat"
      :dense="dense"
      :grid="$q.screen.lt.sm"
      :data="list"
      :columns="columns"
      :visible-columns="visibleColumns"
      :loading="loading"
      :pagination="{ rowsPerPage: 0 }"
      binary-state-sort
      @row-click="open"
      :rows-per-page-options="[0]"
      hide-bottom
    >
      <!-- Filters -->
      <template v-slot:top class="row q-gutter-sm">
        <div class="text-h6 text-accent">Proyectos</div>
        <q-space />

        <q-select v-if="columnSelector" dark class="col-auto q-ml-md"
          v-model="visibleColumns"
          multiple
          borderless
          dense
          options-dense
          :display-value="$q.lang.table.columns"
          emit-value
          map-options
          options-dark
          :options="columns"
          option-value="name"
          style="min-width: 150px"
        />
      </template>

      <!-- Columnas -->
      <template v-slot:body-cell-name="props">
      <q-td :props="props">
          <q-item>
            <q-item-section avatar top>
              <q-avatar rounded color="grey-9">
                <!-- <q-icon :name="`img:house/${H4C_HOUSES[props.row.h4cHouse]}.svg`" size="md"/> -->
                <img :src="`statics/houses/${H4C_HOUSES[props.row.h4cHouse]}.svg`" />
              </q-avatar>
            </q-item-section>
            <q-item-section>
              <div class="text-body2 text-bold">{{H4C_HOUSES_NAMES[props.row.h4cHouse]}}</div>
              <div class="text-caption text-accent ellipsis" style="max-width: 480px;">
                {{Object.values(props.row.countries).join(', ')}}
              </div>
            </q-item-section>
          </q-item>
        </q-td>
      </template>

    </q-table>
  </div>
</template>

<script>

import { H4C_HOUSES, H4C_HOUSES_NAMES } from 'components/js/constants'

export default {
  name: 'ProjectsGrid',
  props: {
    club: null,
    list: {
      type: Array,
      default: () => []
    },
    hiddenColumns: {
      type: Array,
      default: () => []
    },
    dense: {
      type: Boolean
    },
    flat: Boolean,
    loading: Boolean,
    columnSelector: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      H4C_HOUSES,
      H4C_HOUSES_NAMES,
      visibleColumns: ['name', 'heroes', 'karma'],
      columns: [
        {
          name: 'id',
          label: 'Id',
          field: 'id',
          align: 'left'
        },
        {
          name: 'name',
          label: 'Nombre',
          field: 'name',
          align: 'left'
        },
        {
          name: 'heroes',
          label: 'Fitboxers apoyando',
          field: 'heroes',
          align: 'center',
          format: val => new Intl.NumberFormat('es-ES').format(val)
        },
        {
          name: 'karma',
          label: 'Energy donado',
          field: 'karma',
          align: 'center',
          format: val => new Intl.NumberFormat('es-ES').format(val)
        }
      ]
    }
  },

  methods: {
    open (ev, row, index) {
      // Abrir los Countries
    }
  }

  // created () {
  //   const hidden = this.hiddenColumns
  //   this.visibleColumns = this.columns.map(el => el.name).filter(el => hidden.indexOf(el) === -1)
  // }
}
</script>

<style>
</style>
