<template>
  <div>
    <q-table dark
      :grid="$q.screen.lt.sm"
      :data="list"
      :columns="columns"
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      :visibleColumns="visibleColumns"
      binary-state-sort
      selection="multiple"
      :selected.sync="selected"
      @row-click="rowClick"
      :style="`height: ${$q.screen.height - 304}px;`"
      virtual-scroll
    >
    <!-- Filters -->
      <template v-slot:top class="row q-gutter-sm">

        <q-space />
        <div class="col-auto">
          <q-btn
            flat round dense
            icon='add_circle'
            @click="$emit('add')"
            class="q-ml-md"
          />
          <!--
          <q-btn :disable="selected.length == 0 || selected.length > 1"
            flat round dense
            icon='download'
            @click="download"
            class="q-ml-md"
          />
          -->
          <q-btn :disable="selected.length == 0"
            flat round dense
            icon='delete'
            @click="deleteConfirm"
            class="q-ml-md"
          />
        </div>
        <div class="col-auto q-ml-md">
          <q-select dark
            v-model="visibleColumns"
            multiple
            borderless
            dense
            options-dense
            :display-value="$q.lang.table.columns"
            emit-value
            map-options
            options-dark
            :options="columns"
            option-value="name"
            style="min-width: 150px"
          />
        </div>

      </template>

      <!-- Columnas -->
      <template v-slot:body-cell-name="props">
      <q-td :props="props">
          <q-item>
            <q-item-section avatar top>
              <q-avatar rounded color="grey-9">
                <img :src="`https://brooklyn-videos.s3.eu-west-1.amazonaws.com/images/${(props.row.type === 'OTHERS' ? props.row.name.replace(' ', '') : props.row.type.replace('_', '')).toLowerCase()}.png`">
              </q-avatar>
            </q-item-section>
            <q-item-section>
              <div class="text-body2 text-bold">{{props.row.name}}</div>
              <div class="text-caption text-accent">{{props.row.type}}</div>
            </q-item-section>
          </q-item>
        </q-td>
      </template>

    </q-table>
    <!-- Video Detail -->
    <q-dialog :maximized="$q.screen.lt.sm" v-model="isVideoOpen" v-if="row">
      <q-card dark style="min-width: 50vw; max-width: 80vw;">
        <q-bar>
          <div>Video</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-video
          :ratio="4/3"
          :src="row.uri"
        />
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { humanFileSize } from 'components/js/utils/file'
export default {
  props: {
    list: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      visibleColumns: ['order', 'name', 'filename', 'size'],
      columns: [
        {
          name: 'order',
          label: 'Orden',
          field: 'order',
          align: 'left',
          sortable: true
        },
        {
          name: 'name',
          label: 'Nombre',
          field: 'name',
          align: 'left',
          sortable: true
        },
        {
          name: 'size',
          label: 'Tamaño',
          field: 'size',
          sortable: true,
          format: (val) => val > 0 ? humanFileSize(val, true) : 'Linked'
        },
        {
          name: 'filename',
          label: 'Archivo',
          field: 'filename',
          sortable: true
        },
        {
          name: 'uri',
          label: 'Url',
          field: 'uri',
          align: 'left'
        }
      ],
      pagination: {
        rowsPerPage: 0
      },
      dense: {
        type: Boolean
      },
      flat: Boolean,
      loading: Boolean,
      selected: [],
      row: null,
      isVideoOpen: false
    }
  },

  methods: {
    download () {
      // saveAs(this.selected[0].uri, this.selected[0].filename)
    },
    rowClick (ev, row) {
      this.isVideoOpen = true
      this.row = row
    },

    deleteConfirm () {
      const _self = this
      this.$q.dialog({
        title: `¿Eliminar los videos seleccionados (${this.selected.length})?`,
        dark: true
      }).onOk(() => _self.$emit('remove', _self.selected))
    }
  }
}
</script>

<style>
</style>
