<template>
  <div>
    <q-table class="q-mt-sm" dark
      :grid="$q.screen.lt.sm"
      :data="filteredList"
      :columns="columns"
      :visibleColumns="visibleColumns"
      binary-state-sort
      selection="multiple"
      :selected.sync="selected"
      @row-click="rowClick"
      :loading="loading"
      :style="`height: ${height || $q.screen.height - 260}px;`"
      :pagination="{ rowsPerPage: 0 }"
      :rows-per-page-options="[0]"
      virtual-scroll

    >
      <!-- Loading -->
      <template v-slot:loading>
        <q-inner-loading showing color="primary" dark/>
      </template>
      <!-- Filters -->
      <template v-slot:top class="row q-gutter-sm">
        <div class="col">
          <q-input class="full-width" dark
            :autofocus="$q.screen.gt.sm"
            clearable
            v-model="text"
            :label="`${$q.lang.label.search}...`"
          ></q-input>
        </div>

        <q-space />
        <div class="col-auto">
          <q-btn
            flat round dense
            icon='add_circle'
            @click="$emit('add')"
            class="q-ml-md"
          />
          <q-btn :disable="selected.length == 0 || selected.length > 1"
            flat round dense
            icon='edit'
            @click="$emit('edit', selected[0])"
            class="q-ml-md"
          />
        </div>
        <q-btn-dropdown dropdown-icon="more_vert" flat dense round class="q-ml-md">
          <q-list  style="max-width: 350px" class="bg-grey-10" dark>
            <q-item clickable>
            <q-item-section avatar>
                <q-icon color="grey-2" name="auto_awesome_motion" />
              </q-item-section>
              <q-item-section>Editar</q-item-section>
              <q-item-section side>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>

              <q-menu anchor="top end" self="top start" dark>
                <q-list dense style="min-width: 100px" class="bg-grey-10">
                  <q-item clickable v-close-popup :disable="selected.length == 0" @click="copy">
                    <q-item-section>Copiar</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup @click="isOpen = true">
                    <q-item-section>Importar...</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-item>
            <q-separator dark/>
            <q-item clickable v-close-popup @click="createAsGame" :disable="selected.length == 0">
              <q-item-section avatar>
                <q-icon color="grey-2" name="content_paste_go" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Crear Game</q-item-label>
                <q-item-label caption lines="2">Crea una versión "Game" de los challenges seleccionados</q-item-label>
              </q-item-section>
            </q-item>
            <q-separator dark/>
            <q-item clickable v-close-popup @click="$emit('remove', selected)" :disable="selected.length == 0">
              <q-item-section avatar>
                <q-icon color="negative" name="delete" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Eliminar</q-item-label>
              </q-item-section>
            </q-item>
            <slot></slot>
          </q-list>
        </q-btn-dropdown>

        <div class="col-auto q-ml-md">
          <q-select dark
            v-model="visibleColumns"
            multiple
            borderless
            dense
            options-dense
            :display-value="$q.lang.table.columns"
            emit-value
            map-options
            options-dark
            :options="columns"
            option-value="name"
            style="min-width: 150px"
          />
        </div>
        <!-- <div class="col-auto">
          <q-btn
            flat round dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            class="q-ml-md"
          />
        </div> -->

      </template>
    </q-table>
    <q-dialog v-model="isOpen" transition-show="flip-down" transition-hide="flip-up" persistent>
      <q-card dark style="width: 900px; max-width: 90vw; height: 678px; max-height: 80vh;" ref="Import">
        <q-bar>
          <div>Importar Challenges del portapapeles</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-dark text-primary">{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section class="q-pa-none">
          <cm-editor @change="dataToImportChange"/>
        </q-card-section>
        <q-separator />

        <q-card-actions align="right" class="q-pa-md bg-black">
          <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
          <q-btn @click="paste"
            :loading="$apollo.loading"
            :label="$q.lang.label.ok"
            color="primary" text-color="dark"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import { copyToClipboard } from 'quasar'

import notify from 'components/js/mixins/notify'

// Components
import CmEditor from 'components/partials/codemirror'

// const IMAGES_URI = 'https://www.brooklynfitzone.com/resources/images/'
export default {
  mixins: [notify],
  components: {
    CmEditor
  },
  props: {
    height: Number,
    dense: {
      type: Boolean
    },
    flat: Boolean,
    loading: Boolean,
    list: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      visibleColumns: ['id', 'from', 'to', 'published'],
      columns: [
        {
          name: 'id',
          label: 'id',
          field: 'id',
          align: 'left',
          sortable: true
        },
        {
          name: 'from',
          label: 'Desde',
          field: 'from',
          format: (val) => new Date(val).toLocaleDateString()
        },
        {
          name: 'to',
          label: 'Hasta',
          field: 'to',
          format: (val) => new Date(val).toLocaleDateString()
        },
        {
          name: 'published',
          label: 'Publicado',
          field: 'published',
          format: (val) => val ? 'SI' : ''
        }
      ],
      text: null,
      selected: [],
      isOpen: false,
      dataToImport: null
    }
  },
  computed: {
    filteredList () {
      if (this.text && this.text.length > 0) {
        const needle = this.text && this.text.length > 0 && (isNaN(this.text) ? this.text.toLowerCase() : parseInt(this.text))
        return this.list.filter((el) => {
          let ok = true
          // Filtro
          if (needle) {
            ok = (el.id.toLowerCase().indexOf(needle) > -1)
          }
          return ok
        })
      } else {
        return this.list
      }
    }
  },

  methods: {
    rowClick (ev, row) {
      this.$router.push(`/challenges/${row.id}`)
    },
    async getChallengeDetail (id) {
      try {
        const { data } = await this.$apollo.query({
          query: gql`query{
            challenge(id: "${id}"){
              id
              type
              from
              to
              published
              techMoves
              trainer
              calories
              duration
              vid_url
              vid_tec_url
              img_url
              cover_br
              cover_f3
              cover_ho
              desc_es
              desc_en
              desc_it
              desc_ru
              videos{
                id
                env
                order
                name
                size
                type
                filename
                uri
                checksum
              }
              rounds{
                id
                env
                rnd
                sequence
                start_in
                hits
              }
            }
          }`,
          fetchPolicy: 'network-only'
        })
        return data.challenge
      } catch (ex) {
        return null
      }
    },

    async copy () {
      try {
        const list = []
        for (const it of this.selected) {
          // Obtener por cada challenge detalle + videos + rounds
          const id = it.id
          const challenge = await this.getChallengeDetail(id)
          if (challenge) list.push(challenge)
        }
        // Crear Json
        const json = JSON.stringify({
          info: 'ChallengeList',
          list
        }, null, '\t')
        await copyToClipboard(json)
        this.notifyDone('Los datos se han copiado en el portapapeles correctamente')
      } catch (ex) {
        this.notifyError(ex)
      }
    },
    dataToImportChange (payload) {
      if (payload.length > 0) {
        this.dataToImport = payload
      } else {
        this.dataToImport = null
      }
    },
    async paste () {
      try {
        this.$q.loading.show()
        // Llamar a los metodos creación/Modificación
        const { info, list } = JSON.parse(this.dataToImport)
        if (info !== 'ChallengeList') throw new Error('Formato del json incorrecto')
        for (const it of list) {
          // Check exists
          const id = it.id
          this.$q.loading.show({
            message: `Importando Challenge ${id}...`
          })
          const previus = await this.getChallengeDetail(id)
          if (previus) throw new Error(`El challenge ${id} ya existe. Por favor, elimínalo e inténtalo de nuevo`)
          const { videos, rounds } = it
          // Create Challenge
          const { data } = await this.$apollo.mutate({
            mutation: gql`mutation($data: String!, $action: String!){
              upsertChallenge(data: $data, action: $action){
                id
                published
                from
                to
                techMoves
                trainer
                calories
                duration
                vid_url
                vid_tec_url
                img_url
                cover_br
                cover_f3
                cover_ho
                desc_es
                desc_en
                desc_it
                desc_ru
              }
            }`,
            variables: {
              data: JSON.stringify({
                ...it, pub: false, videos: null, rounds: null
              }),
              action: 'add'
            }
          })
          // Create videos
          for (const it of videos) {
            const {
              env,
              type,
              order,
              name,
              uri,
              filename,
              size,
              checksum
            } = it
            this.$q.loading.show({
              message: `Importando Challenge ${id}... [Video ${order}. ${name}]`
            })
            await this.$apollo.mutate({
              mutation: gql`mutation($data: String!, $id: String!){
                createVideo(data: $data, id: $id){
                  id
                }
              }`,
              variables: {
                data: JSON.stringify({
                  env,
                  type,
                  order,
                  name,
                  uri,
                  filename,
                  size,
                  checksum

                }),
                id
              }
            })
          }
          // Create rounds
          const VIDEOS_TO_ADD = [1, 2, 4, 5]
          for (const it of rounds) {
            if (VIDEOS_TO_ADD.indexOf(it.rnd) > -1) {
              const { env, rnd, sequence, start_in: start, hits } = it
              this.$q.loading.show({
                message: `Importando Challenge ${id}... [Round ${rnd}]`
              })
              await this.$apollo.mutate({
                mutation: gql`mutation($data: String!, $id: String!){
                  upsertRound(data: $data, id: $id){
                    id
                  }
                }`,
                variables: {
                  data: JSON.stringify({
                    challenge: id,
                    env,
                    rnd,
                    sequence,
                    start_in: start,
                    hits

                  }),
                  id: 'add'
                }
              })
            }
          }
          this.$emit('addToList', data.upsertChallenge)
          this.notifyDone()
          this.isOpen = false
        }
      // Challenge, Round y videos
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.$q.loading.hide()
      }
    },

    async createAsGame () {
      // Llamar a método de Mutación
      try {
        this.$q.loading.show()
        for (const it of this.selected) {
          // Obtener por cada challenge detalle + videos + rounds
          const id = it.id
          const challenge = await this.getChallengeDetail(id)
          if (challenge) {
            const number = parseInt(challenge.id.replace('BR', ''))
            const gameId = `CH${number}`
            // Check Destino
            const previus = await this.getChallengeDetail(gameId)
            if (previus) throw new Error(`El Game ${gameId} ya existe. Por favor, elimínalo e inténtalo de nuevo`)
            // Crear Challenge como Game
            const { data } = await this.$apollo.mutate({
              mutation: gql`mutation($data: String!, $action: String!){
                upsertChallenge(data: $data, action: $action){
                  id
                }
              }`,
              variables: {
                data: JSON.stringify({
                  ...it, id: gameId, videos: null, rounds: null
                }),
                action: 'add'
              }
            })
            // Llamar a metodo conversor a Game
            const result = data && data.upsertChallenge
            if (result) {
              await this.$apollo.mutate({
                mutation: gql`mutation{
                  createGameMode(id: "${gameId}"){
                    id
                  }
                }`
              })
            }
          }
        }
        this.selected = []
        this.notifyDone()
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.$q.loading.hide()
      }
    }
  }
}
</script>

<style>
 .CodeMirror {
   height: 577px; max-height: 61vh;
 }
</style>
