<template>
  <div class="full-width col-12">
    <q-table
      ref="Grid"
      :flat="true"
      :data="filteredList"
      dark
      :columns="columns"
      :visible-columns="visibleColumns"
      :loading="loading"
      binary-state-sort
      :style="$q.screen.gt.xs ? `height: ${height}px;` : ''"
      virtual-scroll
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      @row-click="rowClick"
    >
      <!-- Loading -->
      <template v-slot:loading>
        <q-inner-loading showing color="primary" dark />
      </template>
      <!-- Columnas -->
      <template v-slot:body-cell-time="props">
        <q-td :props="props">
          <q-icon v-if="props.row.status === 'C'" color="green" name="fiber_manual_record"></q-icon>
          <b> {{ props.row.time }}</b>
        </q-td>
      </template>
      </q-table>
  </div>
</template>
<script>
export default {
  props: {
    loading: Boolean,
    groups: {
      type: Object
    },
    list: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      height: 700,
      selectedIndex: -1,
      visibleColumns: ['time', 'group', 'arena', 'team1', 'team2', 'status', 'lastCombo', 'result', 'game'],
      columns: [
        {
          name: 'time',
          label: 'Time',
          field: 'time',
          align: 'left',
          sortable: true,
          sort: (a, b) => {
            if (a.time < b.time) return -1
            if (a.time > b.time) return 1
            return 0
          }
        },
        {
          name: 'arena',
          label: 'Arena',
          field: 'arena',
          align: 'left',
          sortable: true
        },
        {
          name: 'group',
          label: 'Group',
          field: 'groupId',
          format: (val, row) => `${this.$props.groups[val] || ''}`,
          align: 'left',
          sortable: true
          // sort: (a, b) => {
          //   if (a.arena < b.arena) return -1
          //   if (a.arena > b.arena) return 1
          //   return 0
          // }
        },
        {
          name: 'team1',
          label: 'Team 1',
          field: 'team1',
          align: 'left',
          sortable: true,
          format: (val, row) => {
            if (!val) return ''
            return `${val?.name} (${row.score1 ?? '0'})`
          }
        },
        {
          name: 'team2',
          label: 'Team 2',
          field: 'team2',
          align: 'left',
          sortable: true,
          format: (val, row) => {
            if (!val) return ''
            return `${val?.name} (${row.score2 ?? '0'})`
          }
        },
        {
          name: 'result',
          label: 'Result',
          align: 'left',
          format: (val, row) => {
            return `${row.score1 ?? '0'} - ${row.score2 ?? '0'} `
          }
        },
        {
          name: 'lastCombo',
          label: 'Combo',
          field: 'lastCombo',
          align: 'left'
        },
        {
          name: 'game',
          label: 'Game',
          field: 'game',
          align: 'left'
        },
        {
          name: 'status',
          label: 'Status',
          field: 'status',
          sortable: true,
          align: 'left'
        }
      ],
      pagination: {
        rowsPerPage: 100,
        sortBy: 'status'
      },
      dense: {
        type: Boolean
      },
      flat: Boolean,
      text: null,
      selected: []
    }
  },
  computed: {
    filteredList () {
      return this.$props.list
    }
  },

  mounted () {
    const grid = this.$refs.Grid
    if (grid && grid.selectedIndex > 0) {
      grid.scrollToSelected()
    }
  },
  methods: {
    scrollToSelected () {
      const index = this.selectedIndex
      if (index > 0) {
        this.$nextTick(() => {
          this.$refs.Grid && this.$refs.Grid.scrollTo(index, 'center-force')
        })
      }
    },
    rowClick (ev, row, index) {
      this.selectedIndex = index
      this.$router.push(`../combats/${row.id}`)
    }
  }
}
</script>

<style></style>
