<template>
  <div>
    <q-table class="q-mt-sm" dark
      :grid="$q.screen.lt.sm"
      :data="filteredList"
      :columns="columns"
      :visibleColumns="visibleColumns"
      binary-state-sort
      :flat="flat"

      :selected.sync="selected"
      selection="multiple"

      @row-click="rowClick"

      :loading="loading"
      :style="`height: ${height || $q.screen.height - 260}px;`"
      :pagination="{ rowsPerPage: 0 }"
      :rows-per-page-options="[0]"
      virtual-scroll

    >
      <!-- Filters -->
      <template v-slot:top="props">
        <div class="col">
          <q-input class="full-width q-ml-md" dark
            :autofocus="$q.screen.gt.sm"
            clearable
            v-model="text"
            :label="`${$q.lang.label.search}...`"
          ></q-input>
        </div>

        <q-space />
        <div class="col-auto q-ml-md">
          <q-select dark
            v-model="visibleColumns"
            multiple
            borderless
            dense
            options-dense
            :display-value="$q.lang.table.columns"
            emit-value
            map-options
            options-dark
            :options="columns"
            option-value="name"
            style="min-width: 150px"
          />
        </div>
        <div class="col-auto">
          <q-btn
            flat round dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            class="q-ml-md"
          />
        </div>
      </template>
       <!-- Loading -->
      <template v-slot:loading>
        <q-inner-loading showing color="primary" dark/>
      </template>
    </q-table>
  </div>
</template>

<script>
// import gql from 'graphql-tag'

// const IMAGES_URI = 'https://www.brooklynfitzone.com/resources/images/'
export default {
  props: {
    dense: Boolean,
    flat: Boolean,
    loading: Boolean,
    height: Number,
    list: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      visibleColumns: ['id', 'v7_id', 'alias', 'country', 'vpnAddress'],
      columns: [
        {
          name: 'id',
          label: 'id',
          field: 'id',
          align: 'left'
        },
        {
          name: 'postgreeId',
          label: 'Postgree Id',
          field: 'postgreeId',
          align: 'left',
          sortable: true
        },
        {
          name: 'v7_id',
          label: 'V7_id',
          field: 'v7_id',
          align: 'left',
          sortable: true
        },
        {
          name: 'salesForceId',
          label: 'SalesForceId',
          field: 'salesForceId',
          align: 'left',
          sortable: true
        },
        {
          name: 'alias',
          label: 'Alias',
          field: 'alias',
          align: 'left',
          sortable: true
        },
        {
          name: 'vpnAddress',
          label: 'VPN',
          field: 'vpnAddress',
          align: 'left',
          sortable: true
        },
        {
          name: 'country',
          label: 'Country',
          field: 'country',
          format: (val) => val ? val.name : '',
          align: 'left'
        }
      ],
      filtersOpen: false,
      text: null,
      filter: {
        byName: false,
        symbol: '',
        byCountry: false
      },
      selected: []
    }
  },
  computed: {
    filteredList () {
      if (this.text && this.text.length > 0) {
        const needle = this.text && this.text.length > 0 && (isNaN(this.text) ? this.text.toLowerCase() : parseFloat(this.text))
        return this.list.filter((el) => {
          let ok = true
          // Filtro
          if (typeof needle === 'string') {
            ok = (el.alias.toLowerCase().indexOf(needle) > -1) || el.id === needle
          } else if (typeof needle === 'number') {
            ok = el.v7_id === needle
          }
          return ok
        })
      } else {
        return this.list
      }
    }
  },
  watch: {
    selected: function () {
      this.$emit('selectionChange', this.selected.length)
    }
  },
  methods: {
    rowClick (ev, row) {
      this.$router.push(`/districts/${row.id}`)
    }
  }
}
</script>

<style>
</style>
