<template>
  <div>
    <q-table class="q-mt-sm" dark
      :style="`height: ${height}px;`"
      :grid="$q.screen.lt.sm"
      :data="list"
      :columns="columns"
      :loading="loading"
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      :pagination-label="getPaginationLabel"
      :visibleColumns="visibleColumns"
      binary-state-sort
      row-key="id"
      @row-click="rowClick"

      :selected.sync="selected"
      selection="multiple"

      virtual-scroll
      @virtual-scroll="onScroll"
      :virtual-scroll-sticky-size-start="55"
      :virtual-scroll-sticky-size-end="55"
      :virtual-scroll-item-size="72"
    >
    <!-- Filters -->
      <template v-slot:top="props" class="row q-gutter-sm">
        <div class="col">
          <q-input dark class="q-ml-md"
            :autofocus="$q.screen.gt.sm"
            clearable
            v-model="email"
            label="Email o v7_id"
            v-on:keyup.13="find"
          />
        </div>
        <div class="col-auto q-ml-md">
          <!-- <q-input dark
            clearable
            v-model="firstName"
            label="First Name"
            v-on:keyup.13="find"
          /> -->
          <q-toggle
            v-model="withErrors"
            color="negative"
            label="With sync errors"
            @input="flags"
          />
        </div>
       <div class="col q-ml-md">
          <q-select :disable="!withErrors"
            dark
            options-dark
            v-model="errorType"
            :options="[
              {value: 'invalid email', label: 'invalid email address'},
              {value: 'LastName', label: 'LastName missing'},
              {value: 'ExternalID__c duplicates', label: 'ExternalID__c duplicates'}
            ]"
            label="Error type"
            style="min-width: 150px"
            clearable
            placeholder="all Errors"
            @input="flags"
          />
        </div>
        <div class="col q-ml-md">
          <q-select label="Fitboxer Type"
            dark
            options-dark
            v-model="fitboxerType"
            :options="[
              {value: '1', label: 'Web Offer'},
              {value: '2', label: 'First Booking'},
              {value: '3', label: 'Debutant'},
              {value: '4', label: 'Client'},
              {value: '5', label: 'Member'},
              {value: '6', label: 'Ex-Member'},
              {value: '0', label: 'Pre-Order Lead'},
            ]"
            style="min-width: 150px"
            clearable
            placeholder="all Types"
            @input="flags"
          />
        </div>
        <district-selector class="col q-mx-md" label="Club"
          :outlined="false"
          :clearable="true"
          :value="district"
          @selected="onDistrictSelected"
        />
        <q-space />
        <div class="col-auto q-ml-md">
          <q-select dark
            v-model="visibleColumns"
            multiple
            borderless
            dense
            options-dense
            :display-value="$q.lang.table.columns"
            emit-value
            map-options
            options-dark
            :options="columns"
            option-value="name"
            style="min-width: 150px"
          />
        </div>
        <div class="col-auto">
          <q-btn
            flat round dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            class="q-ml-md"
          />
        </div>

      </template>
      <!-- Columnas -->
      <template v-slot:body-cell-fullname="props">
        <q-td :props="props">
          <q-item>
            <q-item-section avatar top>
              <q-avatar rounded><img :src="imageURI + props.row.avatar"></q-avatar>
            </q-item-section>
            <q-item-section>
              <div class="text-body2">
                <q-badge v-if="props.row.status"
                  class="shadow-1 q-mr-xs"
                  :class="[props.row.status ? `bg-state-${props.row.status}` : '']"
                  size="24px">{{CLT_TYPES[props.row.status || '0']}}
                </q-badge>
                {{props.row.firstName}} {{props.row.lastName}}
              </div>
              <div class="text-caption text-accent">{{props.row.email}}</div>
            </q-item-section>
          </q-item>
        </q-td>
      </template>

      <template v-slot:body-cell-level="props">
        <q-td :props="props">
          <q-badge v-if="props.row.range"
            class="shadow-1 q-mr-xs"
            :class="[props.row.status ? `bg-${KARMA_RANGE[props.row.range].name}` : '']"
            size="24px">{{KARMA_RANGE[props.row.range].name}}
          </q-badge>
          {{props.row.level}}
        </q-td>
      </template>

      <template v-slot:body-cell-sync="props">
        <q-td :props="props">
          <q-avatar :color="props.row.salesForceWithErrors ? 'negative': 'positive'" size="20px" />
        </q-td>
      </template>

      <!-- Loading -->
      <template v-slot:loading>
        <q-inner-loading showing color="primary" dark/>
      </template>

    </q-table>
    <!-- FORM -->
    <fitboxer-form ref="form"
      :open="isFitboxerFormOpen"
      :initialData="fitboxerFormData"
      @hide="isFitboxerFormOpen = false"
    />
  </div>
</template>

<script>
import { date } from 'quasar'
// Mixins
import notify from 'components/js/mixins/notify'
import exportCsv from 'components/js/mixins/exportCsv'

import DistrictSelector from 'components/controls/DistrictSelector'
import FitboxerForm from 'components/forms/Fitboxer/Fitboxer.edit'

import { IMAGES_URI, CLT_TYPES, KARMA_RANGE } from 'components/js/constants'

export default {
  props: {
    list: {
      type: Array,
      default: () => []
    },
    loading: Boolean,
    totalCount: Number,
    height: Number
  },
  components: {
    DistrictSelector,
    FitboxerForm
  },
  mixins: [notify, exportCsv],
  data () {
    return {
      imageURI: IMAGES_URI,
      CLT_TYPES,
      KARMA_RANGE,
      visibleColumns: ['v7_id', 'sync', 'club', 'fullname', 'phone', 'level', 'avgs'],
      columns: [
        {
          name: 'id',
          label: 'id',
          field: 'id',
          align: 'left',
          sortable: true
        },
        {
          name: 'v7_id',
          label: 'v7_id',
          field: 'v7_id',
          align: 'left',
          sortable: true
        },
        {
          name: 'sync',
          label: 'Sync',
          field: 'salesForceWithErrors'
        },
        {
          name: 'profileId',
          label: 'Profile Id',
          field: 'profileId',
          align: 'left',
          sortable: true
        },
        {
          name: 'club',
          label: 'Club',
          field: 'club',
          format: (val) => val.alias || '??????',
          align: 'left',
          sortable: true,
          sort: (a, b) => {
            if (a.alias < b.alias) return -1
            if (a.alias > b.alias) return 1
            return 0
          }
        },
        {
          name: 'fullname',
          label: 'Name',
          align: 'left',
          sortable: true,
          field: (row) => `${row.firstName} ${row.lastName}`
        },
        {
          name: 'email',
          label: 'Email',
          field: 'email',
          align: 'left'
        },
        {
          name: 'phone',
          label: 'Phone',
          field: 'phone',
          align: 'left'
        },
        {
          name: 'nickname',
          label: 'Nickname',
          field: 'nickname',
          align: 'left'
        },
        {
          name: 'level',
          label: 'Level',
          field: 'range',
          align: 'left'
        },
        {
          name: 'avgs',
          label: 'Avgs',
          field: (row) => `S: ${row.syn}%,  P: ${row.pow}, E: ${row.w_avg}%`,
          align: 'center'
        },
        {
          name: 'karma',
          label: 'Karma Balance',
          field: 'karma_balance',
          align: 'center'
        },
        {
          name: 'lastSession',
          label: 'Last Session',
          field: 'lastSession',
          align: 'left',
          sortable: true,
          format: (val) => date.formatDate(val, 'ddd D MMMM, HH:mm', this.$q.lang.date)
        },
        {
          name: 'shopperReference',
          label: 'shopperReference',
          field: 'shopperReference',
          align: 'left',
          sortable: true
        },
        {
          name: 'salesForceLastError',
          label: 'Last Error',
          field: 'salesForceLastError',
          align: 'left',
          sortable: true
        }
      ],
      pagination: { rowsPerPage: 0 },
      email: null,
      firstName: null,
      lastName: null,
      district: null,
      withErrors: false,
      errorType: null,
      fitboxerType: null,
      selected: [],
      // Forms
      isFitboxerFormOpen: false,
      fitboxerFormData: null
    }
  },
  computed: {
    hasMoreContent () {
      return this.totalCount > this.list.length
    },
    rowsInViewport () {
      const header = 55 + 56
      const footer = 55
      return Math.round((this.height - header - footer) / 71)
    },
    lastIndex () {
      return this.list.length
    }
  },
  watch: {
    selected: function () {
      this.$emit('selectionChange', this.selected.length)
    }
  },
  methods: {
    rowClick (ev, row) {
      this.isFitboxerFormOpen = true
      this.fitboxerFormData = row
    },

    find () {
      this.$emit('textChanged', {
        email: this.email,
        firstName: this.firstName,
        lastName: this.lastName
      })
    },
    flags () {
      this.$emit('flagsChanged', {
        withErrors: this.withErrors,
        errorType: this.errorType && this.errorType.value,
        fitboxerType: this.fitboxerType && this.fitboxerType.value
      })
    },
    onDistrictSelected (payload) {
      this.district = payload
      this.$emit('clubSelected', this.district ? this.district.v7_id : null)
    },
    getPaginationLabel (firstRowIndex, endRowIndex) {
      return `${endRowIndex} of ${this.totalCount}`
    },

    onScroll ({ index, direction }) {
      if (direction === 'decrease') return

      const lastIndex = this.lastIndex
      const to = index + this.rowsInViewport

      // console.log('to', to, 'last', lastIndex, 'rowsIn', this.rowsInViewport, 'index', index)

      if (this.loading !== true && this.hasMoreContent && to >= lastIndex) {
        // console.log('Refreca')
        this.$emit('fetchMore')
      }
    }
  }
}
</script>

<style lang="stylus">
.sticky-dynamic
    /* height or max-height is important */
    height: calc(100vh - 52px)
    height: calc(100vh - 52px)

  .q-table--dense,
  .q-table__top
    padding: 0px !important

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #1d1d1d

  thead tr th
    position: sticky
    z-index: 1

  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 28px
  thead tr:first-child th
    top: 0
</style>
