<template>
  <div>
    <q-card v-if="list.length > 0" dark>
      <q-list v-if="$q.screen.gt.xs" dark>
        <q-item>
          <q-item-section v-for="(val, type, $index) in resume" :key="type">
            <q-separator vertical v-if="$index > 0"/>
            <q-item-label>{{val.currency}} {{val.amount | amount}}</q-item-label>
            <q-item-label caption><small>{{val.name}} ({{val.count}})</small></q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
      <q-card-section class="row text-center q-pa-sm" v-else>
        <div v-for="(val, type, $index) in resume" :key="type" class="col-4">
          <q-separator v-if="$index > 2" />
          <span>{{val.currency}} {{Math.round(val.amount * 100)/100}}</span><br>
          <span class="text-caption text-accent"><small>{{val.name}} ({{val.count}})</small></span>
        </div>
      </q-card-section>
    </q-card>

    <q-table class="q-mt-sm" dark
      selection="multiple"
      :style="`height: ${$q.screen.height - 260}px;`"
      virtual-scroll
      :selected.sync="selected"
      :flat="flat"
      :dense="dense"
      :grid="$q.screen.lt.sm"
      :data="filteredList"
      :columns="columns"
      :visible-columns="visibleColumns"
      :loading="loading"
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      binary-state-sort
      @row-click="open"
      @virtual-scroll="scrollChanges"
    >
      <!-- Filters -->
      <template v-slot:top="props">
        <q-btn rounded dark
          unelevated
          :text-color="filtersOpen ? '' : 'grey-6'"
          :color="filtersOpen ? 'secondary' : ''"
          :outline="!filtersOpen"
          @click="filtersOpen = !filtersOpen"
          :label="$q.screen.gt.xs ? $q.lang.label.filter :''"
          icon="filter_list"
        >
          <q-badge v-if="activeFilters > 0" color="orange" class="q-ml-xs">{{activeFilters}}</q-badge>
        </q-btn>

        <q-space />

        <q-select v-if="columnSelector" dark
          v-model="visibleColumns"
          multiple
          borderless
          dense
          options-dense
          :display-value="$q.lang.table.columns"
          emit-value
          map-options
          options-dark
          :options="columns"
          option-value="name"
          style="min-width: 150px"
        />
        <q-btn dark
          flat round dense
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
          class="q-ml-md"
        />
        <br>
        <q-slide-transition class="col-12">
          <q-list v-show="filtersOpen">
            <q-item>
              <q-item-section>
                <q-input class="full-width" dark
                  :autofocus="$q.screen.gt.sm"
                  clearable
                  v-model="text"
                  :label="`${$q.lang.label.search}...`"
                ></q-input>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-toggle
                  v-model="filters.byStatus"
                  :label="$t('payments.status.title')"
                />
                <q-select dark
                  :disable="!filters.byStatus"
                  style="min-width: 100px; max-width: 200px"
                  dense
                  outlined
                  v-model="filters.status"
                  :options="statusOptions"
                  options-dark
                />
              </q-item-section>
              <q-item-section>
                <q-toggle
                  v-model="filters.byMethod"
                  label="Plataforma"
                />
                <q-select dark
                  :disable="!filters.byMethod"
                  style="min-width: 100px; max-width: 200px"
                  dense
                  outlined
                  v-model="filters.method"
                  :options="[
                    { value: 'A', label: 'Adyen' },
                    { value: 'S', label: 'Stripe' },
                    { value: 'U', label: 'Uniteller' },
                    { value: 'C', label: 'En el centro' }
                  ]"
                  options-dark
                />
              </q-item-section>
              <q-item-section>
                <q-toggle
                  v-model="filters.byType"
                  :label="$t('payments.types.title')"
                />
                <q-select dark
                  :disable="!filters.byType"
                  style="min-width: 100px; max-width: 200px"
                  dense
                  outlined
                  v-model="filters.type"
                  :options="types"
                  options-dark
                />
              </q-item-section>

              <q-item-section side>
                <q-btn class="q-mt-lg" flat color="accent" @click="clearFilters">{{$q.lang.label.clear}}</q-btn>
              </q-item-section>
            </q-item>
          </q-list>
        </q-slide-transition>
      </template>

      <!-- Columnas -->
      <template v-slot:body-cell-description="props">
        <q-td :props="props">
          <q-badge class="q-mr-sm" :color="{
            'R': 'state-5',
            'S': 'secondary',
            'F': 'state-4',
          }[props.row.productType] || 'accent'">{{props.row.productType}}</q-badge>
          <b>{{props.row.description}}</b>
        </q-td>
      </template>

      <template v-slot:body-cell-cen="props" v-if="cacheDistricts">
        <q-td :props="props" style="max-width: 150px" class="ellipsis">
          {{cacheDistricts[props.row.v7_cen].alias}}
        </q-td>
      </template>

      <template v-slot:body-cell-amount="props">
        <q-td :props="props">
          <b>{{props.row.currency}} {{props.row.amount | amount}}</b>
        </q-td>
      </template>

      <template v-slot:body-cell-sts="props">
        <q-td :props="props">
          <q-badge square :color="STATUS[props.row.status].color">
            {{STATUS[props.row.status].name}}
          </q-badge>
        </q-td>
      </template>

      <template v-slot:body-cell-method="props">
        <q-td :props="props">
          <img v-if="props.row.paymentMethod !== 'C'" :src="`statics/payment_icons/${props.row.paymentMethod}_method.png`" style="height: 18px;"/>
          <span v-else>En el centro</span>
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script>
import gql from 'graphql-tag'

import { ORDER_TYPES, ORDER_STATUS } from 'components/js/constants'

export default {
  name: 'OrdersGrid',
  props: {
    club: null,
    list: {
      type: Array,
      default: () => []
    },
    hiddenColumns: {
      type: Array,
      default: () => []
    },
    dense: {
      type: Boolean
    },
    flat: Boolean,
    loading: Boolean,
    columnSelector: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      STATUS: ORDER_STATUS,
      visibleColumns: [],
      clubs: [],
      columns: [
        {
          name: 'date',
          label: 'Date',
          field: 'date',
          format: val => new Date(val).toLocaleString()
        },
        {
          name: 'cen',
          label: 'District',
          field: 'v7_cen',
          align: 'left'
        },
        {
          name: 'user',
          label: 'User',
          field: 'userId',
          align: 'left'
        },
        {
          name: 'fitboxer',
          label: 'Fitboxer',
          field: 'v7_clt',
          align: 'left',
          sortable: true
        },
        {
          name: 'shopper',
          label: 'Shopper Reference',
          field: 'shopperReference',
          align: 'left',
          sortable: true
        },
        {
          name: 'description',
          label: 'Producto',
          field: 'description',
          align: 'left',
          sortable: true
        },
        {
          name: 'amount',
          label: 'Importe',
          field: 'amount',
          format: val => (val === 0 ? '' : val)
        },
        {
          name: 'sts',
          label: 'Status',
          field: 'status'
        },
        {
          name: 'method',
          label: 'Plataforma',
          field: 'paymentMethod'
        }
      ],
      selected: [],
      // Filters
      filtersOpen: false,
      text: '',
      filters: {
        byStatus: false,
        status: '',
        byType: false,
        type: '',
        byMethod: false,
        method: ''
      },
      pagination: { rowsPerPage: 0 },
      scroll: null,
      statusOptions: Object.keys(ORDER_STATUS).map(el => {
        return {
          value: el,
          label: ORDER_STATUS[el].name
        }
      })
    }
  },

  filters: {
    amount (value) {
      return Math.round(value * 100) / 10000
    }
  },

  computed: {
    types () {
      const list = []
      const added = []
      this.list.forEach(el => {
        const type = el.productType
        if (added.indexOf(type) === -1) {
          added.push(type)
          list.push({ value: type, label: ORDER_TYPES[type] })
        }
      })
      return list
    },

    resume () {
      const resume = {}
      this.list.forEach(el => {
        const type = el.productType
        if (!resume[type]) {
          resume[type] = { name: ORDER_TYPES[type], amount: 0, count: 0, currency: el.currency }
        }
        resume[type].amount += el.amount
        resume[type].count++
      })
      return resume
    },

    cacheDistricts () {
      if (this.clubs.length === 0) return null
      const list = {}
      this.clubs.forEach(el => {
        list[el.v7_id] = el
      })
      return list
    },

    activeFilters () {
      return (this.text ? this.text.length > 0 : 0) + this.filters.byStatus + this.filters.byType + this.filters.byMethod
    },

    filteredList () {
      if (this.activeFilters > 0) {
        const needle = this.text && this.text.length > 0 && (isNaN(this.text) ? this.text.toLowerCase() : parseFloat(this.text))
        const status = this.filters.byStatus && this.filters.status.value
        const type = this.filters.byType && this.filters.type.value
        const method = this.filters.byMethod && this.filters.method.value

        return this.list.filter((el) => {
          let ok = true
          // Filtro por Texto o Numero
          if (typeof needle === 'string') {
            ok =
              (el.id.toLowerCase().indexOf(needle) > -1) ||
              (el.description.toLowerCase().indexOf(needle) > -1) ||
              (el.userId.toLowerCase().indexOf(needle) > -1) ||
              (el.shopperReference.toLowerCase().indexOf(needle) > -1)
          } else if (typeof needle === 'number') {
            ok = el.v7_clt === needle
          }
          if (ok && status) {
            ok = (el.status === status)
          }
          if (ok && type) {
            ok = (el.productType === type)
          }
          if (ok && method) {
            ok = (el.paymentMethod === method)
          }
          return ok
        })
      } else {
        return this.list
      }
    }
  },

  apollo: {
    clubs: {
      query: gql`query{
        clubs{
          id
          v7_id
          name
          alias
        }
      }`
    }
  },

  watch: {
    list: function () {
      /*
      const scroll = this.scroll
      if (scroll) {
        setTimeout(() => {
          this.$nextTick(() => {
            this.$children[1].scrollTo && this.$children[1].scrollTo(scroll.index, 'start-force')
          })
        }, 200)
      } */
    },
    selected: function () {
      this.$emit('selectionChange', this.selected.map(el => el.id))
    }
  },

  methods: {
    scrollChanges (details) {
      this.scroll = details
    },
    clearFilters () {
      this.text = ''
      this.filters.byType = false
      this.filters.byStatus = false
      this.filters.byMethod = false
      this.filtersOpen = false
    },

    open (ev, row, index) {
      this.$router.push(`/orders/${row.id}`)
    }
  },

  created () {
    const hidden = this.hiddenColumns
    this.visibleColumns = this.columns.map(el => el.name).filter(el => hidden.indexOf(el) === -1)
  }
}
</script>

<style>
</style>
