<template>
  <div>
    <q-table class="q-mt-sm" dark
      selection="multiple"
      :style="`height: ${$q.screen.height - 260}px;`"
      :selected.sync="selected"
      :flat="flat"
      :dense="dense"
      :grid="$q.screen.lt.sm"
      :data="list"
      :columns="columns"
      :visible-columns="visibleColumns"
      :loading="loading"
      :pagination.sync="pagination"
      binary-state-sort
      @row-click="open"
    >
      <!-- Filters -->
      <template v-slot:top="props" class="row q-gutter-sm">
        <div class="text-h6 text-accent">Proyectos</div>
        <q-space />
        <div class="col-auto">
          <q-btn
            flat round dense
            icon='add_circle'
            @click="$emit('add')"
            class="q-ml-md"
          />
          <q-btn :disable="selected.length == 0 || selected.length > 1"
            flat round dense
            icon='edit'
            @click="$emit('edit', selected[0])"
            class="q-ml-md"
          />
          <q-btn :disable="selected.length == 0"
            flat round dense
            icon='delete'
            @click="$emit('remove', selected)"
            class="q-ml-md"
          />
        </div>
        <q-select v-if="columnSelector" dark class="col-auto q-ml-md"
          v-model="visibleColumns"
          multiple
          borderless
          dense
          options-dense
          :display-value="$q.lang.table.columns"
          emit-value
          map-options
          options-dark
          :options="columns"
          option-value="name"
          style="min-width: 150px"
        />
        <q-btn dark
          flat round dense
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
          class="q-ml-md"
        />
      </template>

      <!-- Columnas -->
      <template v-slot:body-cell-name="props">
      <q-td :props="props">
          <q-item>
            <q-item-section avatar top>
              <q-avatar rounded color="grey-9">
                <img :src="imageURI + props.row.picture" v-if="props.row.picture">
                <q-icon name="help" v-else/>
              </q-avatar>
            </q-item-section>
            <q-item-section>
              <div class="text-body2 text-bold">{{props.row.name}}</div>
              <div class="text-caption text-accent">{{props.row.ong.name}}</div>
            </q-item-section>
          </q-item>
        </q-td>
      </template>

    </q-table>
  </div>
</template>

<script>

import { IMAGES_URI } from 'components/js/constants'

export default {
  name: 'ProjectsGrid',
  props: {
    club: null,
    list: {
      type: Array,
      default: () => []
    },
    hiddenColumns: {
      type: Array,
      default: () => []
    },
    dense: {
      type: Boolean
    },
    flat: Boolean,
    loading: Boolean,
    columnSelector: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      imageURI: IMAGES_URI + 'projects/',
      visibleColumns: [],
      columns: [
        {
          name: 'id',
          label: 'Id',
          field: 'id',
          align: 'left'
        },
        {
          name: 'name',
          label: 'Nombre',
          field: 'name',
          align: 'left'
        },
        {
          name: 'heroes',
          label: 'Fitboxers apoyando',
          field: 'heroes',
          align: 'center',
          format: val => new Intl.NumberFormat('es-ES').format(val)
        },
        {
          name: 'karma',
          label: 'Karma recibido',
          field: 'karma',
          align: 'center',
          format: val => new Intl.NumberFormat('es-ES').format(val)
        }
      ],
      selected: [],
      // Filters
      pagination: { rowsPerPage: 10 }
    }
  },

  methods: {
    open (ev, row, index) {
      this.$emit('edit', row)
    }
  },

  created () {
    const hidden = this.hiddenColumns
    this.visibleColumns = this.columns.map(el => el.name).filter(el => hidden.indexOf(el) === -1)
  }
}
</script>

<style>
</style>
