<template>
  <div>
    <q-splitter v-model="splitterWidth" :horizontal="$q.screen.lt.sm" :style="`height: ${height}px;`">
      <template v-slot:before>
        <q-table class="q-mt-sm" dark
          :style="`height: ${height - 8}px;`"
          :grid="$q.screen.lt.sm"
          :data="filteredList"
          :columns="columns"
          :loading="loading"
          :pagination.sync="pagination"
          :rows-per-page-options="[0]"
          :pagination-label="getPaginationLabel"
          :visibleColumns="visibleColumns"
          binary-state-sort
          row-key="id"
          @row-click="rowClick"
          @row-dblclick="rowDblClick"

          :selected.sync="selected"
          selection="multiple"

          virtual-scroll
          @virtual-scroll="onScroll"
          :virtual-scroll-sticky-size-start="55"
          :virtual-scroll-sticky-size-end="55"
          :virtual-scroll-item-size="72"
        >
        <!-- Filters -->
          <template v-slot:top class="row q-gutter-sm">
            <slot name="pre-filters"></slot>
            <div class="col">
              <q-input dark class="q-ml-md"
                :autofocus="$q.screen.gt.sm"
                clearable
                v-model="name"
                label="Name"
                v-on:keyup.13="find"
                debounce="500"
                placeholder="Tipo de Job"
              />
            </div>
            <div class="col q-ml-md">
              <q-input dark
                clearable
                v-model="data"
                label="Data"
                v-on:keyup.13="find"
                debounce="500"
                placeholder="Contenido en Data o Output"
              />
            </div>

            <q-space />
            <div class="col-auto q-ml-md">
              <q-select dark
                v-model="visibleColumns"
                multiple
                borderless
                dense
                options-dense
                :display-value="$q.lang.table.columns"
                emit-value
                map-options
                options-dark
                :options="columns"
                option-value="name"
                style="min-width: 100px"
              />
            </div>
            <!-- <div class="col-auto">
              <q-btn
                flat round dense
                :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                @click="props.toggleFullscreen"
                class="q-ml-md"
              />
            </div> -->

          </template>

          <template v-slot:body-cell-name="props">
            <q-td :props="props">
              <q-avatar :color="props.row.failedReason ? 'negative': 'positive'" size="16px" />
              <span class="q-ml-sm text-bold">{{props.row.name}}</span>
            </q-td>
          </template>
          <!-- Columnas -->

          <!-- Loading -->
          <template v-slot:loading>
            <q-inner-loading showing color="primary" dark/>
          </template>

        </q-table>
      </template>
        <q-card :style="`width: ${100 - splitterWidth}vw; min-width: 565px; height: ${height}px;`" square dark class="bg-grey-10">
            <queue-job :height="height" :list="selected" :queue="queue" :status="status ? status : (selected[0] || {}).failedReason ? 'failed' : 'complete'" :style="`width=${splitterWidth}vw;`"
              @reload="refresh"
              @clone="clone"
              @edit="edit"
              @cleanSelection="selected = []"
            />
        </q-card>
       <template v-slot:after>
      </template>
    </q-splitter>

    <!-- Edit -->
    <q-dialog v-model="isJobOpened" v-if="jobData">
      <q-card style="width: 1200px; max-width: 80vw;" square>
        <q-bar class="bg-dark" dark>
          <div class="text-grey-6">#{{jobData.id}}</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup color="grey-6">
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <queue-job :list="[jobData]" :queue="queue"  :status="status || jobData.failedReason ? 'failed' : 'complete'"
          :isModal="true"
          @reload="refresh"
          @clone="clone"
          @edit="edit"
        />
      </q-card>
    </q-dialog>

    <!-- Progress Bar -->
    <q-dialog v-model="isProgressOpened" position="bottom">
      <q-card class="full-width bg-dark" dark>
        <q-card-section class="row">
          <div class="col-auto q-pa-sm">{{progress}}%</div>
          <div class="col">
            <q-linear-progress dark stripe rounded size="20px" :value="progress/100" color="secondary" class="q-mt-sm" />
          </div>
          <div class="col-auto">
            <q-btn label="Cancelar" flat @click="stopProgress = true; isProgressOpened = false"/>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { date } from 'quasar'
// Mixins
import notify from 'components/js/mixins/notify'

import QueueJob from 'components/cards/QueueJob'

import { isToday, isYesterday } from 'components/js/utils/date'

function friendlyDate (time) {
  if (isToday(time)) {
    return date.formatDate(time, 'HH:mm:ss')
  } else if (isYesterday(time)) {
    return 'Ayer ' + date.formatDate(time, 'HH:mm:ss')
  } else {
    return date.formatDate(time, 'DD/MM/YY HH:mm:ss')
  }
}

export default {
  props: {
    list: {
      type: Array,
      default: () => []
    },
    queue: String,
    status: String,
    loading: Boolean,
    totalCount: Number,
    height: Number
  },
  components: {
    QueueJob
  },
  mixins: [notify],
  data () {
    return {
      splitterWidth: 60,
      name: null,
      data: null,
      visibleColumns: ['name', 'created', 'processed', 'finished', 'attempts'],
      columns: [
        {
          name: 'name',
          label: 'Name',
          field: 'name',
          align: 'left',
          sortable: true
        },
        {
          name: 'created',
          label: 'Created',
          field: 'timestamp',
          align: 'left',
          sortable: true,
          format: val => val > 0 ? friendlyDate(val) : ''
        },
        {
          name: 'processed',
          label: 'Processed',
          field: 'processedOn',
          align: 'left',
          sortable: true,
          format: val => val > 0 ? friendlyDate(val) : ''
        },
        {
          name: 'attempts',
          label: 'Attempts',
          field: 'attemptsMade',
          sortable: true,
          format: val => val > 0 ? val : ''
        },
        {
          name: 'finished',
          label: 'Finished',
          field: 'finishedOn',
          align: 'left',
          sortable: true,
          format: val => val > 0 ? friendlyDate(val) : ''
        },
        {
          name: 'id',
          label: 'id',
          field: 'id',
          align: 'left',
          sortable: true
        }
      ],
      pagination: { rowsPerPage: 0 },
      selected: [],
      // View
      isJobOpened: false,
      jobData: null,
      // Progress
      isProgressOpened: false,
      progress: 0,
      stopProgress: false
    }
  },
  computed: {
    activeFilters () {
      return (this.name ? this.name.length > 0 : 0) + (this.data ? this.data.length > 0 : 0) + (this.output ? this.output.length > 0 : 0)
    },
    filteredList () {
      if (this.activeFilters > 0) {
        const name = this.name && this.name.length && this.name.toLowerCase()
        const data = this.data && this.data.length && this.data.toLowerCase()

        return this.list.filter((el) => {
          let ok = true
          // Filtro por Texto o Numero
          if (name) {
            ok = (el.name.toLowerCase().indexOf(name) > -1)
          }
          if (ok && data) {
            ok = JSON.stringify(el.data).toLowerCase().indexOf(data) > -1 || JSON.stringify(el.returnvalue).toLowerCase().indexOf(data) > -1
          }
          return ok
        })
      } else {
        return this.list
      }
    },
    hasMoreContent () {
      return this.totalCount > this.list.length
    },
    rowsInViewport () {
      const header = 55 + 56
      const footer = 55
      return Math.round((this.height - header - footer) / 55)
    },
    lastIndex () {
      return this.filteredList.length
    }
  },
  watch: {
    name: function () {
      this.$emit('stopQuery', false)
    },
    data: function () {
      this.$emit('stopQuery', false)
    },
    queue: function () {
      this.selected = []
    },
    selected: function () {
      this.$emit('selectionChange', this.selected.length)
    },
    'list.length': function () {
      if (this.activeFilters > 0 && this.hasMoreContent) {
        if (this.stopProgress) {
          this.$emit('stopQuery', true)
          this.stopProgress = false
          return
        }
        if (!this.isProgressOpened) this.isProgressOpened = true
        this.progress = Math.round(this.list.length / this.totalCount * 100)
        this.$emit('fetchMore')
      } else if (this.activeFilters > 0) {
        this.isProgressOpened = false
      }
    }
  },
  methods: {
    rowClick (ev, row) {
      // this.$emit('rowClick', row)
      this.selected = []
      this.$nextTick(() => {
        this.selected = [row]
      })
    },
    rowDblClick (ev, row) {
      this.jobData = row
      this.isJobOpened = true
    },
    refresh () {
      this.selected = []
      this.$emit('refresh')
    },
    clone (payload) {
      this.$emit('clone', payload)
    },
    edit (payload) {
      this.$emit('edit', payload)
    },
    find () {
      this.$emit('refresh')
    },

    getPaginationLabel (firstRowIndex, endRowIndex) {
      return `${endRowIndex} of ${this.totalCount}`
    },

    onScroll ({ index, direction }) {
      if (direction === 'decrease') return

      const lastIndex = this.lastIndex
      const to = index + this.rowsInViewport

      // console.log('to', to, 'last', lastIndex, 'rowsIn', this.rowsInViewport, 'index', index)

      if (this.loading !== true && this.hasMoreContent && to >= lastIndex) {
        // console.log('Refreca')
        this.$emit('fetchMore')
      }
    }
  }
}
</script>

<style lang="stylus">
.sticky-dynamic
    /* height or max-height is important */
    height: calc(100vh - 52px)
    height: calc(100vh - 52px)

  .q-table--dense,
  .q-table__top
    padding: 0px !important

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #1d1d1d

  thead tr th
    position: sticky
    z-index: 1

  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 28px
  thead tr:first-child th
    top: 0
</style>
