<template>
  <div>
    <q-table class="q-mt-sm" dark
      :style="`height: ${height}px;`"
      :grid="$q.screen.lt.sm"
      :data="list"
      :columns="columns"
      :loading="loading"
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      :visibleColumns="visibleColumns"
      binary-state-sort
      row-key="id"
      @row-click="rowClick"

      :selected.sync="selected"
      selection="multiple"

      virtual-scroll

      :virtual-scroll-sticky-size-start="55"
      :virtual-scroll-sticky-size-end="55"
      :virtual-scroll-item-size="72"
    >
    <!-- Filters -->
      <template v-slot:top="props" class="row q-gutter-sm">
        <div class="col">
          <q-input dark class="q-ml-md"
            :autofocus="$q.screen.gt.sm"
            clearable
            v-model="pattern"
            label="Pattern"
            v-on:keyup.13="find"
          />
        </div>

        <q-space />
        <div class="col-auto q-ml-md">
          <q-select dark
            v-model="visibleColumns"
            multiple
            borderless
            dense
            options-dense
            :display-value="$q.lang.table.columns"
            emit-value
            map-options
            options-dark
            :options="columns"
            option-value="name"
            style="min-width: 150px"
          />
        </div>
        <div class="col-auto">
          <q-btn
            flat round dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            class="q-ml-md"
          />
        </div>

      </template>
      <!-- Loading -->
      <template v-slot:loading>
        <q-inner-loading showing color="primary" dark/>
      </template>

    </q-table>
    <!-- FORM -->
    <q-dialog
      v-model="isFormOpen"
      full-height
      full-width
    >
      <q-layout view="Lhh lpR fff" container class="bg-dark">
        <q-header class="bg-black">
          <q-toolbar>
            <q-space />
            <q-btn icon="close" :label="$q.lang.label.close" v-close-popup />
          </q-toolbar>
        </q-header>
        <q-footer class="bg-black">
          <q-toolbar>
            <q-space />
            <q-btn icon="close" :label="$q.lang.label.close" v-close-popup />
          </q-toolbar>
        </q-footer>
        <q-page-container>
          <q-page>
            <div class="q-pa-md text-white" v-if="formData">
              <redis-content :cacheKey="formData.id" @delete="removeKey"/>
            </div>
          </q-page>
        </q-page-container>
      </q-layout>
    </q-dialog>
  </div>
</template>

<script>

// Mixins
import notify from 'components/js/mixins/notify'

import RedisContent from 'components/partials/Redis.content'

export default {
  props: {
    list: {
      type: Array,
      default: () => []
    },
    loading: Boolean,
    height: Number
  },
  components: {
    RedisContent
  },
  mixins: [notify],
  data () {
    return {
      visibleColumns: ['id'],
      columns: [
        {
          name: 'id',
          label: 'id',
          field: 'id',
          align: 'left',
          sortable: true
        }
      ],
      pattern: null,
      pagination: { rowsPerPage: 0 },
      selected: [],
      // Forms
      isFormOpen: false,
      formData: null
    }
  },
  computed: {
  },
  watch: {
    selected: function () {
      this.$emit('selectionChange', this.selected.length)
    }
  },
  methods: {
    rowClick (ev, row) {
      this.isFormOpen = true
      this.formData = row
    },
    find () {
      this.$emit('textChanged', this.pattern)
    },
    removeKey (key) {
      const index = this.list.findIndex(el => el.id === key)
      this.list.splice(index, 1)
    }
  }
}
</script>

<style lang="stylus">
.sticky-dynamic
    /* height or max-height is important */
    height: calc(100vh - 52px)
    height: calc(100vh - 52px)

  .q-table--dense,
  .q-table__top
    padding: 0px !important

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #1d1d1d

  thead tr th
    position: sticky
    z-index: 1

  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 28px
  thead tr:first-child th
    top: 0
</style>
