<template>
  <div>
    <q-table class="q-mt-sm" dark
      :grid="$q.screen.lt.sm"
      :data="filteredList"
      :columns="columns"
      :pagination.sync="pagination"
      :visibleColumns="visibleColumns"
      binary-state-sort
      selection="single"
      :selected.sync="selected"
      @row-click="rowClick"

    >
    <!-- Filters -->
      <template v-slot:top="props" class="row q-gutter-sm">
        <div class="col">
          <q-input class="full-width" dark
            :autofocus="$q.screen.gt.sm"
            clearable
            v-model="text"
            :label="`${$q.lang.label.search}...`"
          ></q-input>
        </div>

        <q-space />
        <div class="col-auto">
          <q-btn
            flat round dense
            icon='add_circle'
            @click="$emit('add')"
            class="q-ml-md"
          />
          <q-btn :disable="selected.length == 0 || selected.length > 1"
            flat round dense
            icon='content_copy'
             @click="$emit('copy', selected[0])"
            class="q-ml-md"
          />
          <q-btn :disable="selected.length == 0 || selected.length > 1"
            flat round dense
            icon='edit'
            @click="$emit('edit', selected[0])"
            class="q-ml-md"
          />
          <q-btn :disable="selected.length == 0"
            flat round dense
            icon='delete'
            @click="$emit('remove', selected)"
            class="q-ml-md"
          />
        </div>
        <div class="col-auto q-ml-md">
          <q-select dark
            v-model="visibleColumns"
            multiple
            borderless
            dense
            options-dense
            :display-value="$q.lang.table.columns"
            emit-value
            map-options
            options-dark
            :options="columns"
            option-value="name"
            style="min-width: 150px"
          />
        </div>
        <div class="col-auto">
          <q-btn
            flat round dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            class="q-ml-md"
          />
        </div>

      </template>
    </q-table>
  </div>
</template>

<script>
// import gql from 'graphql-tag'

// const IMAGES_URI = 'https://www.brooklynfitzone.com/resources/images/'
export default {
  props: {
    list: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      visibleColumns: ['id', 'name', 'found', 'from', 'to'],
      columns: [
        {
          name: 'id',
          label: 'id',
          field: 'id',
          align: 'left'
        },
        {
          name: 'name',
          label: 'Nombre',
          field: 'name',
          align: 'left',
          sortable: true
        },
        {
          name: 'found',
          label: 'Fondo',
          field: 'found',
          // align: 'left',
          sortable: true,
          format: val => '$' + val
        },
        {
          name: 'from',
          label: 'Desde',
          field: 'from',
          format: (val) => new Date(val).toLocaleDateString()
        },
        {
          name: 'to',
          label: 'Hasta',
          field: 'to',
          format: (val) => new Date(val).toLocaleDateString()
        }
      ],
      pagination: {
        rowsPerPage: 15
      },
      dense: {
        type: Boolean
      },
      flat: Boolean,
      loading: Boolean,
      text: null,
      selected: []
    }
  },
  computed: {
    filteredList () {
      if (this.text && this.text.length > 0) {
        const needle = this.text && this.text.length > 0 && (isNaN(this.text) ? this.text.toLowerCase() : parseFloat(this.text))
        return this.list.filter((el) => {
          let ok = true
          // Filtro
          if (typeof needle === 'string') {
            ok = (el.name.toLowerCase().indexOf(needle) > -1)
          } else if (typeof needle === 'number') {
            ok = el.found === needle || el.name === needle.toString()
          }
          return ok
        })
      } else {
        return this.list
      }
    }
  },

  methods: {
    rowClick (ev, row) {
      this.$router.push(`/seasons/${row.id}`)
    }
  }
}
</script>

<style>
</style>
