<template>
  <div>
    <q-table class="q-mt-sm" dark
      :grid="$q.screen.lt.sm"
      :data="filteredList"
      :columns="columns"
      :pagination.sync="pagination"
      :visibleColumns="visibleColumns"
      binary-state-sort
      selection="multiple"
      :selected.sync="selected"
      @row-dblclick="rowClick"

    >
    <!-- Filters -->
      <template v-slot:top="props" class="row q-gutter-sm">
        <div class="col">
          <q-input class="full-width" dark
            :autofocus="$q.screen.gt.sm"
            clearable
            v-model="text"
            :label="`${$q.lang.label.search}...`"
          ></q-input>
        </div>

        <q-space />
        <div class="col-auto">
          <q-btn :disable="selected.length == 0 || selected.length > 1"
            flat round dense
            icon='edit'
            @click="$emit('edit', selected[0])"
            class="q-ml-md"
          />
          <q-btn :disable="selected.length == 0"
            flat round dense
            icon='delete'
            @click="$emit('remove', selected)"
            class="q-ml-md"
          />
          <q-btn :disable="selected.length == 0"
            flat round dense
            icon='assignment'
            @click="$emit('showCreateOrderDialog', selected)"
            class="q-ml-md"
          />
        </div>
        <div class="col-auto q-ml-md">
          <q-select dark
            v-model="visibleColumns"
            multiple
            borderless
            dense
            options-dense
            :display-value="$q.lang.table.columns"
            emit-value
            map-options
            options-dark
            :options="columns"
            option-value="name"
            style="min-width: 150px"
          />
        </div>
        <div class="col-auto">
          <q-btn
            flat round dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            class="q-ml-md"
          />
        </div>

      </template>
    </q-table>
  </div>
</template>

<script>
import { date } from 'quasar'

// const IMAGES_URI = 'https://www.brooklynfitzone.com/resources/images/'
export default {
  props: {
    list: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      visibleColumns: ['Codigo', 'Nombre', 'Motto', 'Trainer', 'Provincia', 'Tournament Date', 'Tournament Club', 'Ranking Position', 'Standing Position'],
      columns: [
        {
          name: 'id',
          label: 'id',
          field: 'id',
          align: 'left'
        },
        {
          name: 'Codigo',
          label: 'Codigo',
          field: 'code',
          align: 'left'
        },
        {
          name: 'Nombre',
          label: 'Nombre',
          field: 'name',
          align: 'left',
          sortable: true
        },
        {
          name: 'Motto',
          label: 'Motto',
          field: 'motto',
          align: 'left'
        },
        {
          name: 'Trainer',
          label: 'Trainer',
          field: 'trainer',
          align: 'left',
          sortable: true,
          format: (val, row) => {
            return val.email
          }
        },
        {
          name: 'Ciudad',
          label: 'Ciudad',
          field: 'city',
          align: 'left',
          sortable: true
        },
        {
          name: 'Provincia',
          label: 'Provincia',
          field: 'state',
          align: 'left',
          sortable: true
        },
        {
          name: 'Tournament Date',
          label: 'Fecha Torneo',
          field: 'tournament',
          align: 'left',
          sortable: true,
          sort: (a, b) => new Date(a.date).getTime() - new Date(b.date).getTime(),
          format: (val, row) => {
            return val ? `${date.formatDate(val.date, 'YYYY-MM-DD HH:mm')}` : ''
          }
        },
        {
          name: 'Tournament Club',
          label: 'Club Torneo',
          field: 'tournament',
          align: 'left',
          sortable: true,
          format: (val, row) => {
            return val ? `${val.clubAlias}` : ''
          }
        },
        {
          name: 'Ranking Position',
          label: 'Ranking Position',
          field: 'rankingPosition',
          align: 'left',
          sortable: true
        },
        {
          name: 'Standing Position',
          label: 'Standing Position',
          field: 'standingPosition',
          align: 'left',
          sortable: true
        }
      ],
      pagination: {
        rowsPerPage: 15
      },
      dense: {
        type: Boolean
      },
      flat: Boolean,
      loading: Boolean,
      text: null,
      selected: []
    }
  },
  computed: {
    filteredList () {
      if (this.text && this.text.length > 0) {
        const inputText =
          this.text && this.text.length > 0 &&
          (isNaN(this.text) ? this.text.toLowerCase() : parseFloat(this.text))
        return this.list.filter(el => {
          const row = Object.keys(el).map(key => el[key])
          let ok = true
          // Filtro
          ok = row.filter(it => it && it.toString().toLowerCase().includes(inputText)).length > 0
          return ok
        })
      } else {
        return this.list
      }
    }
  },

  methods: {
    rowClick (ev, row) {
      this.$emit('edit', row)
    }
  }
}
</script>

<style>
</style>
