<template>
  <div class="full-width">
    <q-table
      class="q-mt-sm"
      dark
      :grid="$q.screen.lt.sm"
      :data="filteredList"
      :columns="columns"
      :pagination.sync="pagination"
      :visibleColumns="visibleColumns"
      binary-state-sort
      selection="multiple"
      :selected.sync="selected"
      @row-dblclick ="rowClick"
    >
      <!-- Filters -->
      <template v-slot:top="props" class="row q-gutter-sm">
        <div class="col">
          <q-input
            class="full-width"
            dark
            :autofocus="$q.screen.gt.sm"
            clearable
            v-model="text"
            :label="`${$q.lang.label.search}...`"
          ></q-input>
        </div>

        <q-space />
        <div class="col-auto">
          <q-btn
            flat
            round
            dense
            icon="add_circle"
            @click="$emit('add')"
            class="q-ml-md"
          >
            <q-tooltip>Añadir</q-tooltip>
          </q-btn>
          <q-btn
            :disable="selected.length == 0 || selected.length > 1"
            flat
            round
            dense
            icon="edit"
            @click="$emit('edit', selected[0])"
            class="q-ml-md"
          >
            <q-tooltip>
              Editar
            </q-tooltip>
          </q-btn>
          <q-btn
            :disable="selected.length == 0"
            flat
            round
            dense
            icon="delete"
            @click="$emit('remove', selected)"
            class="q-ml-md"
          >
            <q-tooltip>Eliminar</q-tooltip>
          </q-btn>
          <q-btn-dropdown
            rounded
            icon="publish"
            :disable="selected.length === 0"
          >
            <q-list dark class="bg-grey-9">
              <q-item
                clickable
                v-close-popup
                @click="$emit('publish', selected, true)"
              >
                <q-item-section>
                  <q-item-label>Publicar</q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                clickable
                v-close-popup
                @click="$emit('publish', selected, false)"
              >
                <q-item-section>
                  <q-item-label>Despublicar</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </div>
        <div class="col-auto q-ml-md">
          <q-select
            dark
            v-model="visibleColumns"
            multiple
            borderless
            dense
            options-dense
            :display-value="$q.lang.table.columns"
            emit-value
            map-options
            options-dark
            :options="columns"
            option-value="name"
            style="min-width: 150px"
          />
        </div>
        <div class="col-auto">
          <q-btn
            flat
            round
            dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            class="q-ml-md"
          />
        </div>
      </template>
    </q-table>
  </div>
</template>

<script>
import { date } from 'quasar'

export default {
  props: {
    list: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      visibleColumns: [
        'Club',
        'Fecha',
        'Precio',
        'Estado',
        'Equipos',
        'Publicado'
      ],
      columns: [
        {
          name: 'Id',
          label: 'id',
          field: 'id',
          align: 'left'
        },
        {
          name: 'Fecha',
          label: 'Fecha',
          field: 'date',
          align: 'left',
          sortable: true,
          format: val => date.formatDate(val, 'YYYY-MM-DD HH:mm')
          // format: (val) => val
        },
        {
          name: 'Club',
          label: 'Club',
          field: 'clubAlias',
          align: 'left'
        },
        {
          name: 'Centro cobro',
          label: 'Centro de cobro',
          field: 'clubMerchantAlias',
          align: 'left'
        },
        {
          name: 'Precio',
          label: 'Precio',
          field: 'price',
          align: 'left',
          sortable: true
        },
        {
          name: 'Equipos',
          label: 'Equipos',
          field: 'teams',
          align: 'left',
          format: (val, row) => (`${val ? val.length : 0} / ${row.capacity || 8}`),
          sortable: true
        },
        {
          name: 'Estado',
          label: 'Estado',
          field: 'status',
          align: 'left'
        },
        {
          name: 'moneda',
          label: 'Moneda',
          field: 'currency',
          align: 'left'
        },
        {
          name: 'Publicado',
          label: 'Publicado',
          field: 'published',
          format: val => (val ? 'SI' : 'NO')
        },
        {
          name: 'F. Creacion',
          label: 'F. Creacion',
          field: 'createdAt',
          align: 'left'
        },
        {
          name: 'F. Actualizacion',
          label: 'F. Actualizacion',
          field: 'updatedAt',
          align: 'left'
        }
      ],
      pagination: {
        rowsPerPage: 30,
        sortBy: 'Fecha',
        descending: true
      },
      dense: {
        type: Boolean
      },
      flat: Boolean,
      loading: Boolean,
      text: null,
      selected: []
    }
  },
  computed: {
    filteredList () {
      if (this.text && this.text.length > 0) {
        const inputText =
          this.text &&
          this.text.length > 0 &&
          (isNaN(this.text) ? this.text.toLowerCase() : parseFloat(this.text))
        return this.list.filter(el => {
          const row = Object.keys(el).map(key => el[key])

          let ok = true
          // Filtro
          ok = row.filter(it => {
            return (
              it &&
              it.toString()
                .toLowerCase()
                .includes(inputText.toString().trim())
            )
          }).length > 0
          return ok
        })
      } else {
        return this.list
      }
    }
  },

  methods: {
    rowClick (ev, row) {
      this.$router.push(`/tournaments/${row.id}`)
    }
  }
}
</script>

<style></style>
