<template>
  <div>
    <q-table class="q-mt-sm"
      :grid="$q.screen.lt.sm"
      :data="filteredList"
      :visibleColumns="visibleColumns"
      :columns="columns"
      binary-state-sort
      selection="multiple"
      :selected.sync="selected"
      @row-click="rowClick"
      :loading="loading"
      :style="`height: ${height || $q.screen.height - 260}px;`"
      :pagination="{ rowsPerPage: 0 }"
      :rows-per-page-options="[0]"
      virtual-scroll

    >
      <!-- Loading -->
      <template v-slot:loading>
        <q-inner-loading showing color="primary" dark/>
      </template>

      <!-- Filters -->
      <template v-slot:top="props" class="row">
        <div class="col">
          <q-input class="full-width"
            :autofocus="$q.screen.gt.sm"
            clearable
            v-model="text"
            :label="`${$q.lang.label.search}...`"
          ></q-input>
        </div>
        <q-space />

        <div class="col-auto">
          <q-btn :disable="selected.length == 0"
            flat round dense
            icon="remove_circle"
            class="q-ml-md"
            @click="ejectEvent(selected)"
          />
          <q-btn :disable="selected.length == 0"
            flat round dense
            icon="delete"
            class="q-ml-md"
            @click="deleteEvent(selected)"
          />
          <q-btn
            flat round dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            class="q-ml-md"
          />
        </div>

      </template>
      <template v-slot:body-cell-status="props">
        <q-td :props="props">
          <div>
            <q-badge :class="status(props).color" :label="status(props).text"></q-badge>
          </div>
        </q-td>
      </template>
      <template v-slot:body-cell-value="props">
        <q-td :props="props">
          {{props.row.token || props.row.value}}
        </q-td>
      </template>
    </q-table>
    <redis-key :open="isFormOpen" :cacheKey="formKey" @hide="isFormOpen = false"/>
  </div>
</template>

<script>
import gql from 'graphql-tag'

import notify from 'components/js/mixins/notify'

import RedisKey from 'components/forms/RedisKey'

export default {
  mixins: [notify],
  props: {
    height: Number,
    loading: Boolean,
    events: {
      type: Array,
      default: () => []
    }
  },
  components: {
    RedisKey
  },
  data () {
    return {
      visibleColumns: ['type', 'createdAt', 'status', 'value', 'ip', 'userAgent'],
      columns: [
        {
          name: 'id',
          label: 'id',
          field: 'id',
          align: 'left'
        },
        {
          name: 'type',
          label: 'TYPE',
          field: 'type',
          align: 'left',
          sortable: true
        },
        {
          name: 'createdAt',
          label: 'CREATED AT',
          field: 'createdAt',
          align: 'left',
          format: val => new Date(val).toLocaleString(),
          sortable: true
        },
        {
          name: 'status',
          label: 'STATUS',
          field: 'status',
          align: 'left',
          sortable: true
        },
        {
          name: 'ip',
          label: 'IP',
          field: 'ip',
          align: 'left'
        },
        {
          name: 'value',
          label: 'VALUE',
          field: 'value',
          align: 'left'
        },
        {
          name: 'userAgent',
          label: 'USER AGENT',
          field: 'userAgent',
          align: 'left'
        }
      ],
      selected: [],
      text: '',
      isFormOpen: false,
      formKey: null
    }
  },
  computed: {
    filteredList () {
      if (this.text && this.text.length > 0) {
        const needle = this.text && this.text.length > 0 && this.text.toLowerCase()
        return this.events.filter((el) => {
          let ok = true
          ok = el.type.toLowerCase().indexOf(needle) > -1
          return ok
        })
      } else {
        return this.events
      }
    }
  },
  methods: {
    rowClick (ev, row) {
      // console.log(row)
      if (row.type === 'LOGIN' && (row.token || row.value)) {
        this.isFormOpen = true
        this.formKey = `sess:${row.token || row.value}`
      }
    },
    async deleteEvent (selected) {
      const selection = [ ...this.selected ]
      this.$q.dialog({
        title: 'Eliminar Eventos',
        message: `¿Deseas eliminar estos eventos al usuario? Esta acción no se puede deshacer`,
        cancel: true
      }).onOk(async () => {
        selection.forEach(event => {
          try {
            this.$apollo.mutate({
              mutation: gql`mutation($id: String!){
                deleteUserEvent(id: $id)
              }`,
              variables: {
                id: event.id
              }
            })
            let index = this.events.findIndex(el => el.id === event.id)
            if (index > -1) {
              this.events.splice(index, 1)
            }
            this.selected.splice(0, 1)
            this.notifyDone()
          } catch (error) {
            this.notifyError(error)
          } finally {
          }
        })
        // this.$emit('refresh')
        // this.selected = []
      })
    },
    status (props) {
      if (props.value === 200) {
        return { text: 'OK', color: 'bg-green' }
      } else if (props.value === 403) {
        return { text: 'FORBIDDEN', color: 'bg-secondary' }
      } else if (props.value === 401) {
        return { text: 'UNAUTHORIZED', color: 'bg-secondary' }
      } else if (props.value === 404) {
        return { text: 'ERROR', color: 'bg-red' }
      } else if (props.value === 410) {
        return { text: 'EXPIRED', color: 'bg-grey-8' }
      } else {
        return { text: 'UNKNOWN ERROR', color: 'bg-black' }
      }
    },
    async ejectEvent (selected) {
      this.$q.dialog({
        title: 'Expulsar',
        message: `¿Deseas eliminar este evento para este usuario? Esta acción no se puede deshacer`,
        cancel: true
      }).onOk(async () => {
        selected.forEach(event => {
          try {
            this.$apollo.mutate({
              mutation: gql`mutation($id: String!, $token: String!){
                ejectUserEvent(id: $id, token: $token){
                  id
                  status
                }
              }`,
              variables: {
                id: event.id,
                token: event.token
              }
            })
            this.notifyDone()
          } catch (error) {
            this.notifyError(error)
          } finally {
          }
        })
        this.$emit('refresh')
        this.selected = []
      })
    }
  }
}
</script>

<style>
</style>
