<template>
  <div>
    <q-table class="q-mt-sm" dark
      :grid="$q.screen.lt.sm"
      :data="users"
      :columns="columns"
      :pagination.sync="pagination"
      :visibleColumns="visibleColumns"
      binary-state-sort
      @row-click="getUser"
      autofocus

    >
    <!-- Filters -->
      <template v-slot:top="props" class="row q-gutter-sm">
        <div class="col">
          <q-input class="full-width" dark
            :autofocus="$q.screen.gt.sm"
            clearable
            v-model="text"
            :label="`${$q.lang.label.search}...`"
            v-on:keyup.13="findUsers"
          ></q-input>
        </div>

        <q-space />
        <div class="col-auto">
          <q-btn
            flat round dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            class="q-ml-md"
          />
        </div>

      </template>
    </q-table>
  </div>
</template>

<script>
// Mixins
import notify from 'components/js/mixins/notify'

export default {
  props: {
    users: {
      type: Array,
      default: () => []
    }
  },
  mixins: [notify],
  data () {
    return {
      visibleColumns: ['name', 'email'],
      columns: [
        {
          name: 'id',
          label: 'id',
          field: 'id',
          align: 'left'
        },
        {
          name: 'name',
          label: 'Name',
          field: 'name',
          align: 'left'
        },
        {
          name: 'email',
          label: 'Email',
          field: 'email',
          align: 'left'
        }
      ],
      pagination: {
        rowsPerPage: 15
      },
      text: '',
      selected: []
    }
  },
  methods: {
    getUser (ev, row) {
      this.$router.push(`/users/${row.id}`)
    },
    findUsers () {
      this.$emit('findUsers', this.text)
    }
  }
}
</script>

<style>
</style>
