<template>
  <div class="full-width">
    <q-table
      class="q-mt-sm"
      dark
      :grid="$q.screen.lt.sm"
      :data="filterList"
      :columns="grid.columns"
      :pagination.sync="grid.pagination"
      :visibleColumns="visibleColumns"
      binary-state-sort
      :selected.sync="selected"
      :selection="selection"
      @selection="onSelect"
    >
      <!-- Filters -->
      <template v-slot:top="props" class="row q-gutter-sm">
        <div class="col">
          <q-input
            class="full-width"
            dark
            :autofocus="$q.screen.gt.sm"
            clearable
            v-model="text"
            :label="`${$q.lang.label.search}...`"
          ></q-input>
        </div>
        <div class="col-auto q-ml-md">
          <q-select
            dark
            v-model="visibleColumns"
            multiple
            borderless
            dense
            options-dense
            :display-value="$q.lang.table.columns"
            emit-value
            map-options
            options-dark
            :options="grid.columns"
            option-value="name"
            style="min-width: 150px"
          />
        </div>
        <div class="col-auto">
          <q-btn
            flat
            round
            dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            class="q-ml-md"
          />
        </div>
      </template>
    </q-table>
  </div>
</template>

<script>
export default {
  props: {
    selection: {
      type: String,
      default: () => 'single'
    },
    list: {
      type: Array,
      default: () => []
    },
    type: {
      type: String,
      default: () => 'FITBOXER'
    },
    visibleColumns: {
      type: Array,
      default: () => ['email', 'Nick', 'Nombre', 'Apellido', 'Telf']
    }
  },
  apollo: {
    $client: 'fwg'
  },
  data () {
    return {
      // visibleColumns: this.visibleColumns,
      grid: {
        columns: [
          {
            name: 'id',
            label: 'id',
            field: 'id',
            align: 'left'
          },
          {
            name: 'email',
            label: 'Correo',
            field: 'email',
            align: 'left',
            sortable: true
          },
          {
            name: 'Nick',
            label: 'Nick',
            field: 'nickName',
            align: 'left',
            sortable: true

          },
          {
            name: 'Nombre',
            label: 'Nombre',
            field: 'firstName',
            align: 'left',
            sortable: true
          },
          {
            name: 'Apellido',
            label: 'Apellido',
            field: 'lastName',
            align: 'left',
            sortable: true
          },
          {
            name: 'Estado',
            label: 'Estado',
            field: 'status',
            align: 'left'
          },
          {
            name: 'Telf',
            label: 'Telf',
            field: 'phone',
            align: 'left'
          },
          {
            name: 'Verificado',
            label: 'Verificado',
            field: 'verified',
            align: 'left',
            sortable: true,
            format: (val) => val ? 'Si' : 'No'
          },
          {
            name: 'Equipo',
            label: 'Equipo',
            field: 'team',
            align: 'left',
            sortable: true,
            format: (val) => val ? val.name : ''
          }
        ],
        pagination: {
          rowsPerPage: 15
        }
      },
      dense: {
        type: Boolean
      },
      flat: Boolean,
      loading: Boolean,
      text: null,
      selected: []
    }
  },
  computed: {
    filterList () {
      if (this.text && this.text.length > 0) {
        const inputText =
          this.text &&
          this.text.length > 0 &&
          (isNaN(this.text) ? this.text.toLowerCase().trim() : parseFloat(this.text))
        return this.list.filter(el => {
          const row = Object.keys(el).map(key => el[key])
          let ok = true
          ok = row.filter(it => {
            let tempArr = []
            if (it && typeof it === 'object') {
              tempArr = Object.keys(it).map(k => it[k].toString().trim().toLowerCase())
            }
            return (it && it.toString().trim().toLowerCase().includes(inputText)) || tempArr.filter(item => item.includes(inputText)).length > 0
          }).length > 0
          return ok
        })
      } else {
        return this.list
      }
    }
  },
  mounted () {},
  methods: {
    onSelect (val) {
      this.$emit('onSelect', [...this.selected, ...val.rows])
    },
    rowClick (ev, row) {
      this.$emit('edit', row)
    }
  }
}
</script>

<style></style>
