<template>
  <div>
    <q-table class="q-mt-sm"
      :grid="$q.screen.lt.sm"
      :data="permissions"
      :visibleColumns="visibleColumns"
      binary-state-sort
      selection="multiple"
      :columns="columns"
      :selected.sync="selected"
      @row-dblclick="editPermission"

      :loading="loading"
      :style="`height: ${height || $q.screen.height - 260}px;`"
      :pagination="{ rowsPerPage: 0 }"
      :rows-per-page-options="[0]"
      virtual-scroll
    >
      <!-- Loading -->
      <template v-slot:loading>
        <q-inner-loading showing color="primary" dark/>
      </template>

      <!-- Filters -->
      <template v-slot:top="props" class="row q-gutter-sm">
        <q-space />

        <div class="col-auto">
          <q-btn
            flat round dense
            icon='add_circle'
            @click="$emit('addPermissions', null)"
            class="q-ml-md"
          />
          <q-btn :disable="selected.length == 0 || selected.length > 1"
            flat round dense
            icon='edit'
            @click="$emit('addPermissions', selected[0])"
            class="q-ml-md"
          />
          <q-btn :disable="selected.length == 0"
            flat round dense
            icon='delete'
            @click="deletePermission(selected)"
            class="q-ml-md"
          />
          <q-btn
            flat round dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            class="q-ml-md"
          />
        </div>
      </template>
    </q-table>
  </div>
</template>

<script>
import gql from 'graphql-tag'

import notify from 'components/js/mixins/notify'

// const IMAGES_URI = 'https://www.brooklynfitzone.com/resources/images/'
export default {
  mixins: [notify],
  props: {
    loading: Boolean,
    height: Number,
    permissions: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      visibleColumns: ['role', 'club'],
      add: true,
      edit: false,
      selected: [],
      data: [],
      columns: [
        {
          name: 'id',
          label: 'id',
          field: 'id',
          align: 'left'
        },
        {
          name: 'role',
          label: 'ROLE',
          field: 'role',
          align: 'left',
          sortable: true
        },
        {
          name: 'club',
          label: 'CLUB',
          field: row => row.club.alias,
          align: 'left'
        }
      ]
    }
  },
  computed: {
    list () {
      return this.permissions
    }
  },
  methods: {
    async deletePermission (selected) {
      const selection = [ ...this.selected ]
      this.$q.dialog({
        title: 'Eliminar permisos',
        message: `¿Deseas eliminar este permiso al usuario? Esta acción no se puede deshacer`,
        cancel: true
      }).onOk(async () => {
        selection.forEach(permission => {
          try {
            this.$apollo.mutate({
              mutation: gql`mutation($id: String!){
                deleteUserPermission(id: $id)
              }`,
              variables: {
                id: permission.id
              }
            })
            let index = this.permissions.findIndex(el => el.id === permission.id)
            if (index > -1) {
              this.permissions.splice(index, 1)
            }
            this.selected.splice(0, 1)
            this.notifyDone()
          } catch (error) {
            this.notifyError(error)
          } finally {
          }
        })
        // this.$emit('refresh')
        // this.selected = []
      })
    },
    editPermission (ev, row) {
      this.$emit('addPermissions', row)
    }
  }
}
</script>

<style>
</style>
