<template>
  <div>
    <q-table class="q-mt-sm" dark
      selection="multiple"
      :style="`height: ${$q.screen.height - 260}px;`"
      virtual-scroll
      :selected.sync="selected"
      :grid="$q.screen.lt.sm"
      :data="list"
      :columns="columns"
      :visible-columns="visibleColumns"
      :loading="loading"
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      binary-state-sort
      @virtual-scroll="scrollChanges"
    >
      <!-- filters -->
      <template v-slot:top class="row q-gutter-sm">
        <q-space />
        <div class="col-auto q-ml-md">
          <q-select dark
            v-model="visibleColumns"
            multiple
            borderless
            dense
            options-dense
            :display-value="$q.lang.table.columns"
            emit-value
            map-options
            options-dark
            :options="columns"
            option-value="name"
            style="min-width: 150px"
          />
        </div>
      </template>
      <!-- Columnas -->
    </q-table>
  </div>
</template>

<script>
import gql from 'graphql-tag'
// Mixins
import notify from 'components/js/mixins/notify'
import exportCsv from 'components/js/mixins/exportCsv'

// Utils
import { adjustTimetableTime } from 'components/js/utils/date'

export default {
  name: 'WalletGrid',
  props: {
    list: {
      type: Array,
      default: () => []
    },
    loading: Boolean,
    columnSelector: {
      type: Boolean,
      default: true
    }
  },
  mixins: [notify, exportCsv],
  data () {
    return {
      visibleColumns: ['time', 'concept', 'fitboxer', 'from', 'target', 'targetName', 'amount'],
      columns: [
        {
          name: 'time',
          label: 'Date',
          field: 'time',
          format: val => new Date(adjustTimetableTime(val).localTime).toLocaleString(),
          sortable: true
        },
        {
          name: 'fitboxer',
          label: 'Fitboxer',
          field: 'fitboxerId',
          align: 'left',
          sortable: true
        },
        {
          name: 'from',
          label: 'From',
          field: 'clubRef',
          format: val => this.cacheDistricts[val].name,
          align: 'left'
        },
        {
          name: 'concept',
          label: 'Concept',
          field: 'concept',
          align: 'left'
        },
        {
          name: 'target',
          label: 'Target',
          field: 'clubTarget'
        },
        {
          name: 'targetName',
          label: 'Target Name',
          field: 'clubTarget',
          format: val => this.cacheDistricts[val].name,
          sortable: true,
          align: 'left'
        },
        {
          name: 'amount',
          label: 'Amount (€)',
          field: 'amount',
          format: val => (val === 0 ? '' : val / 100)
        }
      ],
      clubs: [],
      selected: [],
      pagination: { rowsPerPage: 0 }
    }
  },

  filters: {
    amount (value) {
      return Math.round(value * 100) / 10000
    }
  },

  computed: {
    cacheDistricts () {
      if (this.clubs.length === 0) return null
      const list = {}
      this.clubs.forEach(el => {
        list[el.v7_id] = el
      })
      return list
    }
  },

  apollo: {
    clubs: {
      query: gql`query{
        clubs{
          id
          v7_id
          name
          alias
        }
      }`
    }
  },

  watch: {
    list: function () {
      /*
      const scroll = this.scroll
      if (scroll) {
        setTimeout(() => {
          this.$nextTick(() => {
            this.$children[1].scrollTo && this.$children[1].scrollTo(scroll.index, 'start-force')
          })
        }, 200)
      } */
    },
    selected: function () {
      this.$emit('selectionChange', this.selected.map(el => el.id))
    }
  },

  methods: {
    scrollChanges (details) {
      this.scroll = details
    }
  },

  created () {
    const hidden = this.hiddenColumns || []
    this.visibleColumns = this.columns.map(el => el.name).filter(el => hidden.indexOf(el) === -1)
  }
}
</script>

<style>
</style>
