<template>
  <q-layout view="lHh Lpr fFr" class="bg-cream">
    <q-header reveal
      :elevated="!back"
      :class="[!back ? 'gradient' : (dark ? 'bg-dark':'bg-cream')]">
      <q-toolbar class="text-grey-10">

        <template v-if="back">
          <q-btn @click="goBack"
            :color="dark ? 'grey-2' : 'grey-10'"
            dense
            round
            flat
            icon="arrow_back_ios"
          />
          <q-toolbar-title class="text-center text-weight-light"
            :class="[dark ? 'text-grey-2' : 'text-accent']"
          >
            {{title}}
          </q-toolbar-title>
        </template>

        <template v-else>
          <q-btn round color="grey-10" size="12px" v-if="$q.screen.lt.md" @click="$router.push('/my_profile')">
            <q-avatar size="32px">
              <img :src="avatar" alt="">
            </q-avatar>
          </q-btn>

          <q-toolbar-title>
            <q-item-section>
              <q-item-label>ADMIN</q-item-label>
              <q-item-label caption style="margin-top: -2px;">CENTRAL</q-item-label>
            </q-item-section>
          </q-toolbar-title>

        </template>
        <!--<q-btn
          flat
          dense
          round
          aria-label="Notifications"
        >
          <q-icon name="notifications" />
        </q-btn>-->

        <template v-if="right.length > 0">
          <q-btn v-for="btn in right" :key="btn"
            :color="dark ? 'grey-2' : 'grey-10'"
            flat
            dense
            round
            :aria-label="btn"
            @click="clickRightBtn(btn)"
          >
            <q-icon :name="btn" />
          </q-btn>
        </template>
        <img v-else :src="`statics/H4C${!dark ? '_black':''}.png`" style="height: 46px;">
      </q-toolbar>
    </q-header>

    <q-footer v-if="$q.screen.lt.md">
      <q-tabs no-caps inline-label
        active-color="white"
        class="bg-secondary text-grey-9"
        align="justify">
        <q-tab @click="transitionName = ''; drawer = !drawer;"
          icon="menu"
        />
      </q-tabs>
    </q-footer>

    <q-drawer
      :overlay="!miniState"
      :elevated="!back"
      v-model="drawer"
      show-if-above
      content-class="bg-black"
      :mini="miniState"
    >
      <q-list dark class="q-mb-lg">
          <q-item clickable @click="toggleMini" v-if="$q.screen.gt.sm">
            <q-item-section avatar>
              <q-icon :name="miniState ? 'menu':'close'" />
            </q-item-section>
          </q-item>

          <q-item-label header class="q-mb-sm q-pa-none text-center">
            <img src="statics/BF.png" style="width: 160px; margin: 20px 10px;"/>
          </q-item-label>

          <q-item>
            <q-item-section avatar>
              <q-avatar size="32px">
                <img :src="avatar" alt="">
              </q-avatar>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{$profile.name()}}</q-item-label>
              <q-item-label caption>{{$profile.email()}}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator dark/>

          <q-separator />

          <q-item clickable to="/users">
            <q-item-section avatar>
              <q-icon name="manage_accounts" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Users</q-item-label>
            </q-item-section>
          </q-item>

          <q-item clickable to="/fitboxers">
            <q-item-section avatar>
              <q-icon name="people" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Fitboxers</q-item-label>
            </q-item-section>
          </q-item>

          <q-item clickable to="/districts">
            <q-item-section avatar>
              <q-icon name="account_balance" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Districts</q-item-label>
            </q-item-section>
          </q-item>

          <q-item clickable to="/campaing_logs">
            <q-item-section avatar>
              <q-icon name="email" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Campañas</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator dark/>

          <q-item clickable to="/orders">
            <q-item-section avatar>
              <q-icon name="shopping_cart" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Orders</q-item-label>
            </q-item-section>
          </q-item>

          <q-item clickable to="/wallet">
            <q-item-section avatar>
              <q-icon name="account_balance_wallet" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Wallet</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator dark/>

          <q-item clickable to="/challenges">
            <q-item-section avatar>
              <q-icon name="music_video" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Challenges</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator dark/>
          <q-item clickable to="/tournaments">
            <q-item-section avatar>
              <q-icon name="sports_mma" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Tournaments</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator dark/>

          <q-item clickable to="/queues">
            <q-item-section avatar>
              <q-icon name="playlist_play" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Queues</q-item-label>
            </q-item-section>
          </q-item>

          <q-item clickable to="/redisKeys">
            <q-item-section avatar>
              <q-icon name="cached" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Cached Keys</q-item-label>
            </q-item-section>
          </q-item>

          <q-item clickable v-if="!miniState || $q.screen.lt.md" @click="logout">
            <q-item-section avatar>
              <q-icon name="exit_to_app" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ $t('mainMenu.logout') }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
    </q-drawer>

    <q-page-container class="bg-cream">
      <transition-group
        :enter-active-class="transitionName"
      >
        <router-view :key="new Date().getTime()" />
      </transition-group>
    </q-page-container>
  </q-layout>
</template>

<script>
// import gql from 'graphql-tag'

const IMAGES_URI = 'https://www.brooklynfitzone.com/resources/images/'

export default {
  name: 'MyLayout',
  data () {
    return {
      switchRoleOpen: false,
      transitionName: 'animated fadeIn',
      back: this.$route.matched[0].meta.back,
      dark: this.$route.matched[0].meta.dark,
      title: this.$route.matched[0].meta.title,
      right: this.$route.matched[0].meta.right || [],
      miniState: true,
      drawer: false,
      // Fitboxer
      fitboxer: {},
      skipQuery: true
    }
  },
  computed: {
    avatar () {
      return IMAGES_URI + (this.$profile.avatar() || 'man_ico.png')
    }
  },

  apollo: {
  },

  watch: {
    '$route' (to, from) {
      /*
      const toDepth = to.path.split('/').length
      const fromDepth = from.path.split('/').length
      if (toDepth === fromDepth) {
        this.transitionName = 'animated fadeIn'
      } else {
        this.transitionName = 'animated ' + (toDepth < fromDepth ? 'slideInLeft' : 'slideInRight')
      } */

      this.miniState = true

      this.back = this.$route.matched[0].meta.back
      this.dark = this.$route.matched[0].meta.dark
      this.title = this.$route.matched[0].meta.title
      this.right = this.$route.matched[0].meta.right || []

      this.$q.dark.set(this.dark)

      if (this.stopAnimation) {
        this.stopAnimation = false
        return
      }

      if (to.path === from.path) {
        this.transitionName = 'animated fadeIn'
        return
      }

      if (to.matched[0].meta.back) {
        // Ir hacia
        this.transitionName = 'animated slideInRight'
      } else if (from.matched[0].meta.back) {
        // Volver
        this.transitionName = 'animated slideInLeft'
      } else {
        this.transitionName = 'animated fadeIn'
      }
    }
  },
  methods: {
    goBack () {
      this.stopAnimation = true
      this.transitionName = 'animated slideInLeft'
      this.$router.back()
    },

    clickRightBtn (btn) {
      this.$root.$emit(btn)
    },

    logout () {
      Object.values(this.$apollo.provider.clients).forEach(client => client.cache.reset())
      this.$router.push('/login')
      this.$store.dispatch('auth/logout')
    },

    toggleMini () {
      this.miniState = !this.miniState
    }
  },

  async mounted () {
    this.$q.dark.set(this.$route.matched[0].meta.dark)
    const isAuthRequired = this.$route.matched.find(record => record.meta.auth)
    if (isAuthRequired) {
      if (this.$auth.isLogged()) {
        try {
          this.$q.loading.show()
          await this.$store.dispatch('auth/verify')
        } catch (ex) {
          if (ex.response) {
            if (ex.response.status === 403) {
              this.$router.push('/login')
            }
          }
        } finally {
          this.$q.loading.hide()
        }
      } else {
        this.$router.push('/login')
      }
    }
  }
}
</script>

<style>
 .gradient {
   background: linear-gradient(145deg,#fc0 11%,#F19833 75%);
 }
</style>
