<template>
  <div>
    <div v-for="g in groups" :key="g.name" :class="g.class">
      <!-- Pre -->
      <slot :name="`${g.name}-top`">
        <div class="text-h6" v-if="g.label">{{g.label}}</div>
      </slot>
      <!-- fields -->
      <!--<pre>{{root}}</pre>-->
      <div v-for="f in (g.fields || Object.keys(fd))" :key="f" >
        <div v-if="fd[f].readOnly" class="q-mb-sm">
          <span class="text-accent col-12 q-mt-sm">{{fd[f].label || f.toUpperCase()}}</span>
          <div class="text-body1 col-12">{{fd[f].readOnly}}</div>
        </div>
        <q-select v-else-if="fd[f] && fd[f].type === 'Array'"
          v-show="fd[f].visible ? fd[f].visible() : true"
          :dark="dark"
          :dense="$q.screen.lt.sm"
          v-model="root[f]"
          :label="fd[f].label || f.toUpperCase()"

          :outlined="!!fd[f].outlined"
          :clearable="!!fd[f].clearable"
          :disable="fd[f].disable && fd[f].disable()"

          :lazy-rules="!!fd[f].lazyRules"
          :rules="fd[f].rules || [() => true]"

          :options-dark="dark"
          :options="fd[f].options"
          emit-value
          map-options
        />
        <q-input v-else-if="fd[f] && fd[f].type === 'Number'"
          v-show="fd[f].visible ? fd[f].visible() : true"
          :dark="dark"
          :dense="$q.screen.lt.sm"
          v-model.number="root[f]"
          :label="fd[f].label || f.toUpperCase()"

          :outlined="!!fd[f].outlined"
          :clearable="!!fd[f].clearable"
          :disable="fd[f].disable && fd[f].disable()"

          :lazy-rules="!!fd[f].lazyRules"
          :rules="fd[f].rules || [() => true]"
        />
        <q-input v-else-if="fd[f] && fd[f].type === 'Text'"
          v-show="fd[f].visible ? fd[f].visible() : true"
          :dark="dark"
          :dense="$q.screen.lt.sm"
          v-model.trim="root[f]"
          :label="fd[f].label || f.toUpperCase()"

          :outlined="!!fd[f].outlined"
          :clearable="!!fd[f].clearable"
          :disable="fd[f].disable && fd[f].disable()"

          :lazy-rules="!!fd[f].lazyRules"
          :rules="fd[f].rules || [() => true]"
        />

        <q-toggle v-else-if="fd[f] && fd[f].type === 'Boolean'"
          v-show="fd[f].visible ? fd[f].visible() : true"
          :dark="dark"
          :dense="$q.screen.lt.sm"
          v-model="root[f]"
          :label="fd[f].label || f.toUpperCase()"

          :disable="fd[f].disable && fd[f].disable()"
        />
      </div>
      <!-- Post -->
      <slot :name="`${g.name}-bottom`">
      </slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'v-form',
  props: {
    dark: Boolean,
    fields: Array,
    visibleFields: {
      type: String,
      default: '.all'
    },
    data: {
      type: Object,
      requied: true,
      default: () => {}
    },
    groups: {
      type: Array,
      default: () => {
        return [{
          name: 'default',
          class: 'col-12'
        }]
      }
    }
  },
  data () {
    return {
      root: { ...this.data }
    }
  },
  computed: {
    fd () {
      function inferTypeByValue (value) {
        if (value === null) return 'Text'
        const typeOf = value.constructor
        switch (typeOf) {
          case String:
            if (['1', '2'].indexOf(value.substr(0, 1)) > -1) {
              return new Date(value) !== 'Invalid Date' ? 'Date' : 'Text'
            }
            return 'Text'
          case Number:
            return 'Number'
          case Boolean:
            return 'Boolean'
          case Array:
            return 'Array'
          case Date:
            return 'Date'
          case Object:
          case Function:
          default:
            return 'Text'
        }
      }
      // Fields definition
      let fields = this.fields || Object.keys(this.data).map((el) => { return { name: el } })
      const visibleFields = this.visibleFields
      if (visibleFields === '.all') {
        fields = Object.keys(this.data).map((el) => { return { name: el } })
      } else if (visibleFields !== '.fields') {
        fields = visibleFields.split(',').map((el) => { return { name: el } })
      }
      // Explicit fields
      if (this.fields.length > 0) {
        for (const defField of this.fields) {
          const index = fields.findIndex(el => el.name === defField.name)
          if (defField.readOnly) {
            defField.readOnly = defField.readOnly.split('.').reduce((value, key) => value && (value[key] || null), this.root)
            delete this.root[defField.name]
          }
          if (index > -1) {
            fields[index] = {
              ...fields[index],
              ...defField
            }
          }
        }
      }
      const ret = {}
      const _default = {
        clearable: true
      }
      for (const field of fields) {
        let type = field.type || inferTypeByValue(this.data[field.name])
        /* Especial options
         * Required
         */
        if (field.required) {
          delete field.required
          field.lazyRules = true
          field.rules = [val => (val && val !== 0) || this.$t('common.fieldRequired')]
        }
        if (field.name !== '__typename') {
          ret[field.name] = {
            type,
            ..._default,
            ...field
          }
        }
      }
      return ret
    }
  },
  watch: {
    data: function (newValue, oldValue) {
      this.root = { ...this.data }
    }
  },
  methods: {
    getValues () {
      const data = { ...this.root }
      delete data.__typename
      return data
    }
  }
}

</script>

<style>
</style>
