<template>
  <q-dialog :maximized="$q.screen.lt.sm" v-model="isOpen" transition-show="flip-down" transition-hide="flip-up" @hide="onHide" persistent>
      <q-card dark style="width: 1000px; max-width: 80vw;">
        <q-bar>
          <div>Challenge</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-form @submit="add">
          <div class="row q-mt-md">
            <div class="col-4 q-px-md">
              <q-input outlined dark :autofocus="action === 'add'" :disable="projects.lenght > 0"
                v-model="data.id"
                label="Id"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div><div class="col-4 q-px-md">
              <q-input outlined dark
                v-model="data.from"
                label="Desde"
                type="date"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div><div class="col-4 q-px-md">
              <q-input outlined dark
                v-model="data.to"
                label="Hasta"
                type="date"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
          </div>

          <q-tabs v-model="tab" class="text-secondary" inline-label align="justify">
            <q-tab label="Entrenamiento" name="one" icon="sports_mma"/>
            <q-tab label="Multimedia" name="two" icon="mms"/>
            <q-tab label="Descripciones" name="three" icon="text_fields"/>
            <q-tab label="H4C" name="four" icon="favorite" v-if="action !== 'add'" />
          </q-tabs>

          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="one" class="bg-dark row q-px-none">
              <div class="col-4 q-px-md">
                <q-input outlined dark :autofocus="action !== 'add'"
                  v-model="data.trainer"
                  label="Trainer"
                />
              </div>
              <div class="col-4 q-px-md">
                <q-input outlined dark
                  v-model.number="data.duration"
                  label="Duracion"
                />
              </div>
              <div class="col-4 q-px-md">
                <q-input outlined dark
                  v-model.number="data.calories"
                  label="Calorias"
                />
              </div>
              <div class="col-12 q-pa-md">
                <q-input outlined dark
                  autogrow
                  v-model="data.techMoves"
                  label="Technical Move"
                />
              </div>
            </q-tab-panel>

            <q-tab-panel name="two" class="bg-dark row q-px-sm">
              <div class="col-12 q-pa-sm">
                <q-input outlined dark
                  v-model="data.vid_url"
                  label="URL Video"
                />
              </div>
              <div class="col-12 q-pa-sm">
                <q-input outlined dark
                  v-model.number="data.vid_tec_url"
                  label="URL Video Técnica"
                />
              </div>
              <div class="col-12 q-pa-sm">
                <q-input outlined dark
                  v-model.number="data.img_url"
                  label="URL Leyenda"
                />
              </div>
              <div class="col-12 q-pa-sm">
                <q-input outlined dark
                  autogrow
                  v-model="data.cover_br"
                  label="Cover Brooklyn"
                />
              </div>
              <div class="col-12 q-pa-sm">
                <q-input outlined dark
                  autogrow
                  v-model="data.cover_f3"
                  label="Cover F3"
                />
              </div>
              <div class="col-12 q-pa-sm">
                <q-input outlined dark
                  autogrow
                  v-model="data.cover_ho"
                  label="Cover BF_Home"
                />
              </div>
            </q-tab-panel>

            <q-tab-panel name="three" class="bg-dark">
              <div class="col-12 q-pa-sm">
                <q-input outlined dark
                  autogrow
                  v-model="data.desc_es"
                  label="Castellano"
                />
              </div>
              <div class="col-12 q-pa-sm">
                <q-input outlined dark
                  autogrow
                  v-model="data.desc_en"
                  label="Inglés"
                />
              </div>
              <div class="col-12 q-pa-sm">
                <q-input outlined dark
                  autogrow
                  v-model="data.desc_it"
                  label="Italiano"
                />
              </div>
              <div class="col-12 q-pa-sm">
                <q-input outlined dark
                  autogrow
                  v-model="data.desc_ru"
                  label="Ruso"
                />
              </div>
            </q-tab-panel>

            <q-tab-panel name="four" class="bg-dark row">
              <div class="col-4 q-px-md">
                <q-input outlined dark
                  v-model="data.fund"
                  label="Bote en $"
                />
              </div>
              <div class="col-8 q-px-md">
                  <q-select outlined dark
                    map-options
                    options-dark
                    v-model="data.defaultHouse"
                    :options="[
                      {value: '0', label: '.Selecciona una casa'},
                      {value: '1', label: 'Casa de la Infancia'},
                      {value: '2', label: 'Casa de la Salud'},
                      {value: '3', label: 'Casa de los Bosques'},
                      {value: '4', label: 'Casa de los Océanos'}
                    ]"
                    emit-value
                    label="Casa por defecto"
                    style="min-width: 150px"
                 />
              </div>
              <div class="col-12">
                <!-- Grid -->
                <projects-grid :list="projects"/>
              </div>
            </q-tab-panel>
          </q-tab-panels>

          <q-card-actions align="right">
            <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
            <q-btn style="min-width: 100px;"
              :loading="loading"
              type="submit"
              :label="$q.lang.label.ok"
              color="secondary"
              text-color="dark" />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
</template>

<script>
import { date } from 'quasar'
import gql from 'graphql-tag'

// Mixins
import notify from 'components/js/mixins/notify'

// Components
import ProjectsGrid from 'components/grids/ChallengeProjects'

export default {
  name: 'SeasonForm',
  mixins: [notify],
  components: {
    ProjectsGrid
  },
  props: {
    open: Boolean,
    action: String,
    initialData: Object
  },
  data () {
    return {
      isOpen: false,
      tab: 'one',
      loading: false,
      projects: [],
      data: {
        id: '',
        from: 'dd/mm/aaaa',
        to: 'dd/mm/aaaa',
        calories: 824,
        duration: 47,
        techMoves: '',
        trainer: '',
        // Multimedia
        vid_url: '',
        vid_tec_url: '',
        img_url: '',
        cover_br: '',
        cover_f3: '',
        cover_ho: '',
        // Descripciones
        desc_es: '',
        desc_en: '',
        desc_it: '',
        desc_ru: '',
        // H4C
        fund: null,
        defaultHouse: null
      }
    }
  },

  apollo: {
    projects: {
      query: gql`query($id: String!){
        challenge(id: $id){
          id
          projects {
            id
            karma
            heroes
            countries
            h4cHouse
          }
        }
      }`,
      variables () {
        return {
          id: this.initialData.id
        }
      },
      update: data => (data.challenge && data.challenge.projects) || [],
      skip () {
        return this.action === 'add'
      }
    }
  },

  watch: {
    open: function (newValue, oldValue) {
      this.isOpen = newValue
      if (newValue && this.action === 'edit') {
        const initial = this.initialData
        this.data.id = initial.id
        this.data.from = date.formatDate(initial.from, 'YYYY-MM-DD')
        this.data.to = date.formatDate(initial.to, 'YYYY-MM-DD')
        this.data.trainer = initial.trainer
        this.data.calories = initial.calories
        this.data.duration = initial.duration
        this.data.techMoves = initial.techMoves
        // Multimedia
        this.data.vid_url = initial.vid_url
        this.data.vid_tec_url = initial.vid_tec_url
        this.data.img_url = initial.img_url
        this.data.cover_br = initial.cover_br
        this.data.cover_f3 = initial.cover_f3
        this.data.cover_ho = initial.cover_ho
        // Descripciones
        this.data.desc_es = initial.desc_es
        this.data.desc_en = initial.desc_en
        this.data.desc_it = initial.desc_it
        this.data.desc_ru = initial.desc_ru
        // H4C
        this.data.fund = initial.fund
        this.data.defaultHouse = initial.defaultHouse || '0'
      }
    }
  },
  methods: {
    async add () {
      try {
        // Mutation
        this.loading = true
        const { data } = await this.$apollo.mutate({
          mutation: gql`mutation($data: String!, $action: String!){
            upsertChallenge(data: $data, action: $action){
              id
              published
              from
              to
              techMoves
              trainer
              calories
              duration
              vid_url
              vid_tec_url
              img_url
              cover_br
              cover_f3
              cover_ho
              desc_es
              desc_en
              desc_it
              desc_ru
              fund
              defaultHouse
            }
          }`,
          variables: {
            data: JSON.stringify(this.data),
            action: this.action
          }
        })
        if (this.action === 'add') this.$emit('add', data.upsertChallenge)
        this.notifyDone()
        this.isOpen = false
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.loading = false
      }
    },

    onHide () {
      this.$emit('hide')
    }
  }
}
</script>

<style>
</style>
