<template>
  <q-dialog :maximized="$q.screen.lt.sm" v-model="isOpen" transition-show="flip-down" transition-hide="flip-up" @hide="onHide" persistent>
      <q-card>
        <q-bar>
          <div>Challenge Round {{env}}</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-form @submit="add">
          <div class="row q-mt-md">
            <div class="col-4 q-px-md">
              <q-input outlined :autofocus="env === 'BROOKLYN'" :disable="env !== 'BROOKLYN'"
                v-model.number="data.rnd"
                type="number"
                label="Round"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
            <div class="col-4 q-px-md">
              <q-input outlined :disable="env !== 'BROOKLYN'"
                v-model.number="data.hits"
                label="Hits"
                type="number"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
            <div class="col-4 q-px-md">
              <q-input outlined :autofocus="env !== 'BROOKLYN'"
                v-model.number="data.start_in"
                label="First Hit"
                type="number"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
            <div class="col-12 q-px-md" v-if="[1,2,4,5].indexOf(data.rnd) > -1">
              <div class="text-caption1 q-mb-xs">Sequence</div>
              <div class="q-mb-sm" v-for="it of [1,2,3,4,5,6,7,8]" :key="it">
                <q-select :disable="env !== 'BROOKLYN'"
                  dark
                  options-dark
                  use-input
                  fill-input
                  hide-selected
                  input-debounce="0"
                  emit-value
                  v-model="data.sequence[it - 1]"
                  :options="options"
                  :label="it.toString()"
                  outlined
                  map-options
                  @filter="filterActions"
                  style="min-width: 50px"
                  :option-value="(item) => item && item.id"
                  :option-label="(item) => item.name"
                />
              </div>
            </div>
          </div>
          <q-card-section class="q-gutter-md">
          </q-card-section>

          <q-card-actions align="right">
            <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
            <q-btn
              :loading="loading"
              type="submit"
              :label="$q.lang.label.ok"
              color="secondary" />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
</template>

<script>
import gql from 'graphql-tag'

// Mixins
import notify from 'components/js/mixins/notify'

export default {
  name: 'SeasonForm',
  mixins: [notify],
  props: {
    open: Boolean,
    action: String,
    initialData: Object,
    env: String,
    challenge: String
  },
  data () {
    return {
      isOpen: false,
      loading: false,
      data: {
        rnd: 1,
        hits: 0,
        start_in: 0,
        sequence: []
      },
      actions: null,
      options: []
    }
  },

  watch: {
    open: function (newValue, oldValue) {
      this.isOpen = newValue
      if (!newValue) return
      if (this.action === 'edit') {
        const initial = this.initialData
        this.data.rnd = initial.rnd
        this.data.hits = initial.hits
        this.data.start_in = initial.start_in
        this.data.sequence = initial.sequence.split(' ')
      }
    }
  },

  apollo: {
    actions: {
      query: gql`query{
        challengeActions
      }`,
      update: (data) => {
        const list = data.challengeActions
        !list.find(el => el.id === '-') && list.unshift({ id: '-', name: '----' })
        return list
      },
      result ({ data }) {
        this.options = data.challengeActions
      }
    }
  },

  methods: {
    filterActions (val, update) {
      if (val === '') {
        update(() => {
          this.options = this.actions
        })
        return
      }
      update(() => {
        const needle = val.toLowerCase()
        this.options = this.actions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    async add () {
      try {
        // Mutation
        this.loading = true
        const data2save = { ...this.data, challenge: this.challenge, env: this.env }
        data2save.sequence = data2save.sequence.join(' ')
        const { data } = await this.$apollo.mutate({
          mutation: gql`mutation($data: String!, $id: String!){
            upsertRound(data: $data, id: $id){
              id
              env
              rnd
              sequence
              start_in
              hits
            }
          }`,
          variables: {
            data: JSON.stringify(data2save),
            id: this.action === 'add' ? 'add' : this.initialData.id
          }
        })
        if (this.action === 'add') this.$emit('add', data.upsertRound)
        else this.$emit('update')
        this.notifyDone()
        this.isOpen = false
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.loading = false
      }
    },

    onHide () {
      this.$emit('hide')
    }
  }
}
</script>

<style>
</style>
