<template>
  <q-dialog
    :maximized="$q.screen.lt.sm"
    v-model="isOpen"
    transition-show="flip-down"
    transition-hide="flip-up"
    @hide="onHide"
  >
    <q-card dark style="width: 1000px; max-width: 80vw;">
      <q-bar>
        <div>Combat</div>
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">{{
            $q.lang.label.close
          }}</q-tooltip>
        </q-btn>
      </q-bar>
      <q-form @submit="confirmEdit" v-if="combat">
        <q-tabs align="left" v-model="currentReferee" class="text-secondary justify-left" inline-label>
          <q-tab :label="ref.firstName" :name="ref.id" icon="sports_mma" v-for="(ref) of combat.referees" :key="ref.id"/>
        </q-tabs>
        <q-tab-panel :name="currentReferee" class="bg-dark">
          <div class="row q-mt-md q-pl-md q-pr-md">
            <div class="col-6  q-px-md">
              <div class="row">
                <div class="col">
                  <q-avatar size="60px">
                    <img :src="data.team1.logo">
                  </q-avatar>
                  <div class="text-h6 text-secondary">{{data.team1.name}}</div>
                </div>
              </div>
            </div>
            <div class="col-6 text-right q-px-md">
              <div class="row">
                <div class="col">
                  <q-avatar size="60px">
                    <img :src="data.team2.logo">
                  </q-avatar>
                  <div class="text-h6 text-white">{{data.team2.name}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" v-if="combat && currentReferee">
            <div class="q-my-md col-xs-12 col-md-4 " v-for="(combo, idx) of Object.keys(refereeVotes)" :key="idx">
              <div class="col text-center q-mx-md">
                <div class="full-width text-center text-h6">Combo {{ combo }}</div>
                <br/>
                <div v-for="(tag, $index) of ['technique', 'coordination', 'hits', 'ranges']" :key="tag"
                class="full-width row q-pa-sm q-mt-sm  q-px-xs" :class="$index % 2 == 0 ? 'bg-grey-8' : 'bg-grey-9'" >
                  <div class="col-auto text-h7"><q-radio color="orange" disable v-model="refereeVotes[combo][`${tag}`]" :val="1"/></div>
                  <div class="col text-h7 text-center q-mt-xs text-uppercase">{{tag}}</div>
                  <div class="col-auto text-h7 text-right text-white"><q-radio color="white" disable v-model="refereeVotes[combo][`${tag}`]" :val="2" /></div>
                </div>
              </div>
            </div>
          </div>
        </q-tab-panel>
      <q-separator :dark="false" />
        <q-card-actions align="right">
          <q-btn :label="$q.lang.label.close" v-close-popup flat />
          <q-btn
            :loading="loading"
            type="submit"
            :label="$q.lang.label.ok"
            color="secondary"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
import gql from 'graphql-tag'
// Mixins
import notify from 'components/js/mixins/notify'
export default {
  name: 'CombatForm',
  mixins: [notify],
  components: {},
  props: {
    open: Boolean,
    action: String,
    combat: Object,
    initialData: Object
  },
  data () {
    return {
      isOpen: false,
      loading: false,
      enableEnergy: false,
      comboValues: {
        1: { energy: 0, technique: 0, coordination: 0, ranges: 0, hits: 0 },
        2: { energy: 0, technique: 0, coordination: 0, ranges: 0, hits: 0 },
        3: { energy: 0, technique: 0, coordination: 0, ranges: 0, hits: 0 }
      },
      propValues: {
        technique: 2
      },
      currentReferee: '',
      currentVotes: '',
      data: {
        id: '',
        team1: {
          name: ''
        },
        team2: {
          name: ''
        }
      }
    }
  },
  computed: {
    scores () {
      return this.calculateScores()
    },
    referees () {
      return this.$props.combat.referees
    },
    refereeVotes () {
      const result = {}
      this.$props.combat.scoresData.forEach((combo, idx) => {
        if (combo.votes && combo.votes[this.currentReferee]) {
          result[idx + 1] = combo.votes[this.currentReferee]
        }
      })
      return result
    }
  },
  watch: {
    open: async function (newValue) {
      this.isOpen = newValue
      if (newValue) {
        const initial = this.initialData
        this.currentReferee = this.$props.combat.referees[0].id
        this.data = {
          ...this.data,
          ...initial
        }
      }
    },
    enableEnergy (newValue) {
      this.calculateScores()
    }
  },
  mounted () {
    // this.currentReferee = this.$props.combat.referees[0]
    this.refresh()
  },
  methods: {
    calculateScores () {
      const data = []
      for (const comboNumber in this.comboValues) {
        const scores = { number: comboNumber }
        for (const itemValue in this.comboValues[comboNumber]) {
          if (this.comboValues[comboNumber][itemValue]) {
            scores[itemValue] = this.comboValues[comboNumber][itemValue] === '1' ? 1 : 2
          }
        }
        data.push(scores)
      }
      const scoresTemp = { team1: 0, team2: 0 }
      for (const it of data) {
        scoresTemp.team1 += it.energy === 0 ? 1 : (it.energy === 1 ? 2 : 0)
        scoresTemp.team1 += it.technique === 1 ? 2 : 0
        scoresTemp.team1 += it.coordination === 1
        scoresTemp.team1 += it.hits === 1
        scoresTemp.team1 += it.ranges === 1
        scoresTemp.team2 += it.energy === 0 ? 1 : (it.energy === 2 ? 2 : 0)
        scoresTemp.team2 += it.technique === 2 ? 2 : 0
        scoresTemp.team2 += it.coordination === 2
        scoresTemp.team2 += it.hits === 2
        scoresTemp.team2 += it.ranges === 2
      }
      return scoresTemp
    },
    async confirmEdit () {
      this.$q.dialog({
        title: 'Modificar combate',
        message: '¿Deseas modificar el combate?',
        cancel: true,
        persistent: true
      }).onOk(async () => {
        try {
          this.$q.loading.show()
          this.loading = true
          const data = []
          for (const comboNumber in this.comboValues) {
            const scores = { number: parseInt(comboNumber) }
            for (const itemValue in this.comboValues[comboNumber]) {
              if (this.comboValues[comboNumber][itemValue]) {
                scores[itemValue] = this.comboValues[comboNumber][itemValue] === '1' ? 1 : 2
              }
            }
            data.push(scores)
          }
          await this.$apollo.mutate({
            mutation: gql`
            mutation(
              $id: String!
              $data: String!
              $enableEnergy: Boolean
            ) {
              setScores(
                id: $id
                data: $data
                enableEnergy: $enableEnergy
              )
            }
          `,
            variables: {
              id: this.data.id,
              data: JSON.stringify(data),
              enableEnergy: this.enableEnergy
            }
          })
          await this.refresh()
          this.notifyDone()
          this.isOpen = false
        } catch (ex) {
          this.notifyError(ex)
        } finally {
          this.$q.loading.hide()
          this.loading = false
        }
      })
    },
    onHide () {
      this.$emit('hide')
    },
    async refresh () {
      // const response = await this.$apollo.queries.combat.refetch()
      // if (response) {
      //   this.data = response.data.combat
      // }
    }
  }
}
</script>

<style></style>
