<template>
  <q-dialog :maximized="$q.screen.lt.sm" v-model="isOpen" transition-show="flip-down" transition-hide="flip-up" @hide="onHide" persistent>
      <q-card>
        <q-bar>
          <div>Región/Estado</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-form @submit="add">
          <div class="row q-mt-md">
            <div class="col-12 q-px-md">
              <q-input outlined
                autofocus
                v-model="data.name"
                label="Nombre"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
                style="min-width: 250px"
              />
            </div>
          </div>
          <q-card-actions align="right">
            <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
            <q-btn
              :loading="loading"
              type="submit"
              :label="$q.lang.label.ok"
              color="secondary" />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
</template>

<script>
import gql from 'graphql-tag'

// Mixins
import notify from 'components/js/mixins/notify'

export default {
  name: 'CountryStateForm',
  components: {
  },
  mixins: [notify],
  props: {
    country: {
      type: Object,
      required: true
    },
    open: Boolean,
    action: String,
    initialData: Object
  },
  data () {
    return {
      isOpen: false,
      loading: false,
      data: {
        name: ''
      }
    }
  },

  watch: {
    open: function (newValue, oldValue) {
      this.isOpen = newValue
      if (newValue && this.action === 'edit') {
        this.data.name = this.initialData.name
      }
    }
  },
  methods: {
    async add () {
      try {
        // Mutation
        this.loading = true
        const { data } = await this.$apollo.mutate({
          mutation: gql`mutation($data: String!, $id: String!){
            countryStateUpsert(data: $data, id: $id){
              id
              name
            }
          }`,
          variables: {
            data: JSON.stringify({ ...this.data, country: this.country }),
            id: this.action === 'add' ? 'add' : this.initialData.id
          }
        })
        this.$emit('ok', data.countryStateUpsert)
        this.notifyDone()
        this.isOpen = false
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.loading = false
      }
    },

    onHide () {
      this.$emit('hide')
    }
  }
}
</script>

<style>
</style>
