<template>
  <q-dialog :maximized="$q.screen.lt.sm" v-model="isOpen" transition-show="flip-down" transition-hide="flip-up" @hide="onHide" persistent>
      <q-card>
        <q-bar>
          <div>District</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-form @submit="add">
          <div class="row q-mt-md">
            <div class="col-3 q-px-md">
              <q-input outlined
                v-model.number="data.v7_id"
                label="v7_id"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
            <div class="col-9 q-px-md">
              <q-input outlined disable
                v-model="data.alias"
                label="Alias"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
            <div class="col-12 q-px-md">
              <q-input outlined
                v-model="data.postgreeId"
                label="Postgree Id"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
            <div class="col-12 q-px-md">
              <q-input outlined
                v-model="data.salesForceId"
                label="Sales Force Id"
              />
            </div>
          </div>
          <q-card-section class="q-gutter-md" v-if="false">
            <q-select
              v-model="data.country"
              options-dark
              :options="countries"
              label="País"
              outlined
              map-options
              option-value="id"
              option-label="name"
              style="min-width: 250px"
            />
            <q-select :disable="!data.country"
              v-model="data.state"
              options-dark
              :options="states"
              label="Región/Estado"
              outlined
              map-options
              option-value="id"
              option-label="name"
            >
              <template v-slot:append>
                <q-btn round dense flat icon="more_vert" @click.stop>
                  <q-menu>
                    <q-list style="min-width: 100px">
                      <q-item clickable v-close-popup @click="isStateOpen = true; modalAction = 'add'">
                        <q-item-section avatar>
                          <q-icon color="accent" name="add" />
                        </q-item-section>
                        <q-item-section>Añadir...</q-item-section>
                      </q-item>
                      <q-item clickable v-close-popup @click="isStateOpen = true; modalAction = 'edit'">
                        <q-item-section avatar>
                          <q-icon color="accent" name="edit" />
                        </q-item-section>
                        <q-item-section>Editar...</q-item-section>
                      </q-item>
                    </q-list>
                  </q-menu>
                </q-btn>
              </template>
            </q-select>
            <country-state-upsert @ok="setState" @hide="isStateOpen = false"
              :open="isStateOpen"
              :action="modalAction"
              :country="data.country"
              :initialData="modalAction === 'edit' ? data.state : null"
            />
          </q-card-section>

          <q-card-actions align="right">
            <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
            <q-btn
              :loading="loading"
              type="submit"
              :label="$q.lang.label.ok"
              color="secondary" />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
</template>

<script>
import gql from 'graphql-tag'

// Mixins
import notify from 'components/js/mixins/notify'

import CountryStateUpsert from 'components/forms/CountryState.upsert'

export default {
  name: 'DistrictForm',
  components: {
    CountryStateUpsert
  },
  mixins: [notify],
  props: {
    open: Boolean,
    action: String,
    initialData: Object
  },
  data () {
    return {
      isOpen: false,
      loading: false,
      countries: [],
      data: {
        v7_id: 0,
        alias: '',
        postgreeId: '',
        salesForceId: ''
      },
      isStateOpen: false,
      modalAction: ''
    }
  },
  computed: {
    states () {
      const id = this.data.country && this.data.country.id
      return id ? this.countries.find(el => el.id === id).states : []
    }
  },
  apollo: {
    /*
    countries: {
      query: gql`query{
        countries{
          id
          name
          states{
            id
            name
          }
        }
      }`,
      result ({ data }) {
        if (!this.initialData) return
        this.selCountry()
      }
    } */
  },

  watch: {
    open: function (newValue, oldValue) {
      this.isOpen = newValue
      if (newValue && this.action === 'edit') {
        const initial = this.initialData
        this.data.v7_id = initial.v7_id
        this.data.alias = initial.alias
        this.data.postgreeId = initial.postgreeId
        this.data.salesForceId = initial.salesForceId
      }
    }
  },
  methods: {
    async add () {
      try {
        // Mutation
        this.loading = true
        const { data } = await this.$apollo.mutate({
          mutation: gql`mutation($data: String!, $id: String!){
            districtUpsert(data: $data, id: $id){
              id
              v7_id
              alias
              postgreeId
              salesForceId
            }
          }`,
          variables: {
            data: JSON.stringify(this.data),
            id: this.action === 'add' ? 'add' : this.initialData.id
          }
        })
        if (this.action === 'add') this.$emit('add', data.districtUpsert)
        this.notifyDone()
        this.isOpen = false
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.loading = false
      }
    },

    onHide () {
      this.$emit('hide')
    }
  }
}
</script>

<style>
</style>
