<template>
  <div>
    <q-dialog v-model="isOpen" transition-show="flip-down" transition-hide="flip-up" @hide="onHide">
      <q-card style="width: 700px; max-width: 90vw;">
        <q-bar>
          <div>Paquetes Fitcoins Extra</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section class="q-pa-none">
          <q-table class="scroll-table"
            virtual-scroll
            :virtual-scroll-sticky-size-start="48"
            :loading="loading"
            flat
            selection="multiple"
            :selected.sync="selected"
            :pagination="{
              rowsPerPage: 0
            }"
            :rows-per-page-options="[0]"
            :data="list"
            :columns="columns"
          >
            <template v-slot:top class="q-pa-none" v-if="$auth.isCenter()">
              <q-btn flat icon="add" color="secondary" :label="$q.screen.gt.xs ? $t('fitcoins.add') : ''" @click="updateIsOpen = true; action = 'add'"/>
              <q-btn flat icon="update" :label="$q.screen.gt.xs ? $t('fitcoins.extend') : ''" :disabled="selected.length === 0" @click="updateIsOpen = true; action = 'extend'"/>
              <q-btn flat icon="delete" :label="$q.screen.gt.xs ? $t('common.delete') : ''" color="negative" :disabled="selected.length === 0" @click="remove"/>
              <q-space />
              <q-badge v-if="totalSelected > 0" text-color="grey-10"><b>{{totalSelected}}</b></q-badge>
            </template>

          </q-table>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn :label="$q.lang.label.close" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="updateIsOpen" transition-show="flip-down" transition-hide="flip-up">
      <q-card class="bg-grey-3">
        <q-bar>
          <div>{{action === 'extend' ? $t('fitcoins.extend') : $t('fitcoins.add')}}</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.cancel}}</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section class="q-gutter-md">
          <q-input v-if="action === 'add'"
            bg-color="white"
            type="number"
            autofocus
            outlined
            v-model.number="amount"
            placeholder="Fitcoins"
            :rules="[val => val !== 0 || $t('common.field.noZero')]"
          >
            <template v-slot:before>
              <q-btn round label="-" color="primary" @click="amount -= 1000"/>
            </template>
            <template v-slot:after>
              <q-btn round label="+" color="primary" @click="amount += 1000"/>
            </template>
          </q-input>

          <q-input v-if="action === 'add' ? amount > 0 : true"
            v-model="dateExpire"
            outlined
            :label="$t('fitcoins.expire')"
            :rules="['date', isValid]"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="expireProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="dateExpire" @input="() => $refs.expireProxy.hide()" :subtitle="$t('fitcoins.expire')"/>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>

        </q-card-section>

        <q-card-actions align="right">
          <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
          <q-btn v-if="action === 'add'"
            :disable="amount === 0"
            @click="setFitcoins"
            :label="$t('common.confirm')"
            color="secondary"
          />
          <q-btn v-else
            @click="extend"
            :label="$t('common.confirm')"
            color="secondary"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import { date } from 'quasar'

import { dateIsValid } from 'components/js/utils/date'

// Mixins
import notify from 'components/js/mixins/notify'

export default {
  name: 'FitcoinsManagerForm',
  mixins: [notify],
  props: {
    open: Boolean,
    v7ProfileId: Number,
    list: Array,
    loading: Boolean
  },
  data () {
    return {
      isOpen: false,
      action: 'add',
      updateIsOpen: false,
      dateExpire: date.formatDate(date.addToDate(new Date(), { month: 1 }), 'YYYY/MM/DD'),
      amount: 1000,
      selected: [],
      columns: [
        {
          name: 'order',
          label: '#',
          field: 'ord'
        },
        {
          name: 'fch_cad',
          label: this.$t('fitcoins.expireIn'),
          field: 'fch_cad',
          format: (val) => {
            if (val !== 'Invalid Date') {
              return date.getDateDiff(val, new Date(), 'days') + ' día(s)'
            } else {
              return '.Nunca'
            }
          }
        },
        {
          name: 'dis',
          label: this.$t('common.available'),
          field: 'dis'
        }
      ]
    }
  },
  computed: {
    totalSelected () {
      return this.selected.reduce((acc, el) => acc + el.dis, 0)
    }
  },

  watch: {
    open: function (newValue, oldValue) {
      this.isOpen = newValue
    }
  },

  methods: {
    isValid (value) {
      return dateIsValid(value) || this.$t('common.invalidDate')
    },
    async setFitcoins () {
      try {
        this.$q.loading.show()
        const expire = date.formatDate(this.dateExpire, 'YYYY/M/D')
        await this.$apollo.mutate({
          mutation: gql`mutation{
            addFitcoins(v7ProfileId: ${this.v7ProfileId}, amount: ${this.amount}, expire: "${expire}")
          }`
        })
        this.$emit('reload')
        this.updateIsOpen = false
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.$q.loading.hide()
      }
    },

    async extend () {
      try {
        this.$q.loading.show()
        await this.$apollo.mutate({
          mutation: gql`mutation($id: Int!, $data: String!, $expire: String!){
            extendFitcoins(v7ProfileId: $id, data: $data, expire: $expire)
          }`,
          variables: {
            id: this.v7ProfileId,
            data: JSON.stringify(this.selected),
            expire: this.dateExpire
          }
        })
        this.$emit('reload')
        this.updateIsOpen = false
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.selected.splice(0) // Clear Array
        this.$q.loading.hide()
      }
    },

    remove () {
      const _self = this
      // Remove function on OK
      async function remove () {
        _self.$q.loading.show()
        try {
          await _self.$apollo.mutate({
            mutation: gql`mutation($id: Int!, $data: String!){
              removeFitcoins(v7ProfileId: $id, data: $data)
            }`,
            variables: {
              id: _self.v7ProfileId,
              data: JSON.stringify(_self.selected)
            }
          })
          _self.$emit('reload')
        } catch (ex) {
          _self.notifyError(ex)
        } finally {
          _self.selected.length = 0 // Clear Array
          _self.$q.loading.hide()
        }
      }

      // Confirm Question
      this.$q.dialog({
        message: this.$t('common.deleteQuestion'),
        cancel: {
          color: 'accent',
          flat: true
        },
        ok: {
          color: 'secondary'
        },
        persistent: true
      }).onOk(remove)
    },
    onHide () {
      this.$emit('hide')
    }
  }
}
</script>

<style>
  .scroll-table {
    max-height: 430px;
  }
  .scroll-table thead tr th {
    position: sticky;
    z-index: 1;
  }

  /* bg color is important for th; just specify one */
  .scroll-table thead tr:first-child th {
    background-color: #fff;
  }

  /* this will be the loading indicator */
  .scroll-table thead tr:last-child th {
    top: 48px
  }
    /* height of all previous header rows */

  .scroll-table thead tr:first-child th {
    top: 0
  }
</style>
