<template>
  <q-dialog v-model="isOpen" transition-show="flip-down" transition-hide="flip-up" @hide="onHide" persistent>
      <q-card dark style="width: 1200px; max-width: 90vw; height: 900px; max-height: 80vh;" ref="jobUpsert">
        <q-bar>
          <div>Job</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section class="q-pa-none">
          <div class="q-pa-sm">
            <q-input v-model="name" hint="Optional" label="Name" dark :disable="!!initialData.id || jobType !== '*'" autofocus/>
          </div>
          <q-tabs v-model="tab" class="text-secondary" inline-label align="justify">
            <q-tab name="*" label="Script" v-if="isExecScript"/>
            <q-tab name="data" label="Data" v-else/>
            <q-tab name="options" label="Job Options" :disable="!!initialData.id"/>
          </q-tabs>

          <q-tab-panels v-model="tab" animated dark>
            <q-tab-panel name="*" class="q-pa-none">
              <cm-editor
                :initial="data && data.function || initDataForFunction"
                @change="codeChange"
              />
            </q-tab-panel>
            <q-tab-panel name="data" class="q-pa-none">
              <cm-editor
                :initial="JSON.stringify(data, null, 2)"
                @change="dataChange"
              />
            </q-tab-panel>
            <q-tab-panel name="options" class="q-pa-none">
              <cm-editor
                :initial="JSON.stringify(opts, null, 2)"
                @change="optsChange"
              />
            </q-tab-panel>
          </q-tab-panels>
        </q-card-section>
        <q-separator />

        <q-card-actions align="right" class="q-pa-md fixed-bottom bg-black">
          <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
          <q-btn @click="set"
            :loading="$apollo.loading"
            :label="$q.lang.label.ok"
            color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
</template>

<script>
import gql from 'graphql-tag'

// Mixins
import notify from 'components/js/mixins/notify'

// Components
import CmEditor from 'components/partials/codemirror'

export default {
  name: 'JobForm',
  components: {
    CmEditor
  },
  mixins: [notify],
  props: {
    open: Boolean,
    action: String,
    initialData: {
      type: Object,
      default: function () {
        return {}
      }
    },
    queue: String,
    jobType: String
  },
  data () {
    return {
      isOpen: false,
      tab: 'data',
      name: this.initialData.name || '',
      data: this.initialData.data || null,
      opts: this.initialData.opts || null
    }
  },
  computed: {
    isExecScript () {
      if (this.data) {
        return this.data && this.data.__typename === 'ExecScript'
      } else {
        return this.jobType === '*' && this.queue === '__tasks_and_jobs__'
      }
    },
    initDataForFunction () {
      return `async function (job, ctx) {
  try {
    // Do your staff here!


  } catch (ex) {
    throw ex;
  }
}`
    }
  },
  watch: {
    open: function (newValue, oldValue) {
      this.isOpen = newValue
      if (newValue) {
        this.name = this.initialData.name || ''
        this.data = this.initialData.data || null
        this.opts = this.initialData.opts || null
        this.tab = this.isExecScript ? '*' : 'data'
      }
    }
  },
  methods: {
    async set () {
      try {
        this.loading = true
        if (this.initialData.id) {
          await this.$apollo.mutate({
            mutation: gql`mutation($id: String!, $jobId: String!, $data: String!){
              updateJob(id: $id, jobId: $jobId, data: $data)
            }`,
            variables: {
              data: typeof this.data === 'string' ? this.data : JSON.stringify(this.data),
              jobId: this.initialData.id,
              id: this.queue
            }
          })
        } else {
          await this.$apollo.mutate({
            mutation: gql`mutation($id: String!, $name: String, $data: String!, $opts: String){
              addJob(data: $data, id: $id, name: $name, opts: $opts)
            }`,
            variables: {
              data: typeof this.data === 'string' ? this.data : JSON.stringify(this.data),
              opts: typeof this.opts === 'string' ? this.opts : JSON.stringify(this.opts),
              name: this.jobType === '*' ? this.name : this.jobType,
              id: this.queue
            }
          })
        }
        this.$emit('ok')
        this.notifyDone()
        this.isOpen = false
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.loading = false
      }
    },

    codeChange (payload) {
      this.data = {
        __queue: this.queue,
        __typename: 'ExecScript',
        function: payload
      }
    },

    optsChange (payload) {
      if (payload.length > 0) {
        this.opts = payload
      } else {
        this.opts = null
      }
    },

    dataChange (payload) {
      if (payload.length > 0) {
        this.data = payload
      } else {
        this.data = null
      }
    },

    onHide () {
      this.$emit('hide')
    }
  }
}
</script>

<style>
 .CodeMirror {
   height: 650px; max-height: 61vh;
 }
</style>
