<template>
  <q-dialog :maximized="$q.screen.lt.sm" v-model="isOpen" transition-show="flip-down" transition-hide="flip-up" @hide="onHide" persistent>
    <q-card dark>
      <q-bar>
        <div>Permisos</div>
        <q-space ></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
        </q-btn>
      </q-bar>
      <q-form @submit="addPermission">
        <div class="row q-mt-md">
          <div class="col-12 q-px-md q-py-md">
            <district-selector @selected="clubSelected" :value="data.district"></district-selector>
          </div>
          <div class="col-12 q-px-md">
            <q-select dark
              v-model="data.role"
              options-dark
              :options="roles"
              label="Rol"
              outlined
              map-options
              option-value="roles"
              option-label="roles"
              style="min-width: 250px"
              class="q-pb-md"
              lazy-rules
              :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
            />
          </div>
        </div>
        <q-card-actions align="right">
          <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
          <q-btn :disable="!data.district"
            :loading="loading"
            type="submit"
            :label="$q.lang.label.ok"
            color="secondary" />
        </q-card-actions>
      </q-form>
      <q-space ></q-space>
    </q-card>
  </q-dialog>
</template>

<script>
import gql from 'graphql-tag'

// Mixins
import notify from 'components/js/mixins/notify'

import DistrictSelector from '../controls/DistrictSelector.vue'
export default {
  name: 'PermissionsForm',
  mixins: [notify],
  components: {
    DistrictSelector
  },
  props: {
    open: Boolean,
    initialData: null
  },
  data () {
    return {
      isOpen: false,
      loading: false,
      data: {
        id: '',
        role: '',
        district: {},
        userId: this.$route.params.id
      },
      roles: [
        'ADMIN',
        'FRANQUISE',
        'TRAINER',
        'FITBOXER',
        'MINIPC'
      ]
    }
  },
  watch: {
    open: function (newValue, oldValue) {
      this.isOpen = newValue
      if (newValue && this.initialData.id) {
        const initial = this.initialData
        this.data.role = initial.role
        this.data.district = initial.club
        this.data.id = initial.id
      }
    },
    initialData: function (newValue, oldValue) {
      if (newValue !== oldValue) {
        const initial = newValue
        this.data.role = initial.role
        this.data.district = initial.club
        this.data.id = initial.id
      }
    }
  },
  methods: {
    async addPermission () {
      try {
        // Mutation
        this.loading = true
        const { data } = await this.$apollo.mutate({
          mutation: gql`mutation($id: String!, $userId: String!, $role: String!, $clubId: String!){
            userPermissionUpsert(id: $id, userId: $userId, role: $role, clubId: $clubId){
              id
              user{
                id
                name
              }
              role
              club{
                id
                alias
              }
            }
          }`,
          variables: {
            userId: this.data.userId,
            role: this.data.role,
            clubId: this.data.district.id,
            id: this.data.id ? this.data.id : 'add'
          }
        })
        this.isOpen = false
        if (!this.data.id) {
          this.$emit('add', data.userPermissionUpsert)
        }
        this.$emit('refresh')
        this.notifyDone()
      } catch (error) {
        this.notifyError(error)
      } finally {
        this.loading = false
      }
    },
    clubSelected (selected) {
      this.data.district = selected
    },
    onHide () {
      this.$emit('hide')
    }
  }
}
</script>

<style>
</style>
