<template>
  <q-dialog :maximized="$q.screen.lt.sm" v-model="isOpen" transition-show="flip-down" transition-hide="flip-up" @hide="onHide" persistent>
      <q-card style="width: 1000px; max-width: 80vw;">
        <q-bar>
          <div>Proyecto H4C</div>
          <q-space ></q-space>
          <q-toggle v-model="oldVersion" label="Version Vieja: myH4C" />
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <div class="row q-pa-md">
          <div class="col-auto q-mt-md q-pa-md">
            <q-avatar rounded size="300px" color="grey-9">
              <img :src="imageURI + data.picture" v-if="data && data.picture">
              <q-icon name="help" v-else/>
            </q-avatar>
            <image-modal entity="project" :value="initialData.id" @ok="setImage" v-if="action === 'edit'"/>
          </div>
          <div class="col">
            <q-form @submit="add">
              <div class="row q-mt-md">
                <div class="col-12 q-pa-md" v-if="oldVersion">
                  <q-select
                    :autofocus="action === 'add'"
                    dark
                    options-dark
                    v-model="data.ong"
                    :options="ongs"
                    label="Ong"
                    outlined
                    style="min-width: 150px"
                    option-value="id"
                    option-label="name"
                    map-options
                    lazy-rules
                    :rules="[ val => val && val.id !== '' || $t('common.fieldRequired')]"
                  />
                </div>
                <!-- ONGS por países -->
                <div class="col-12 q-pa-md" v-else>
                  <q-input outlined
                    :autofocus="action === 'add'"
                    v-model="data.countries.ES"
                    label="Ongs"
                    bottom-slots
                  >
                     <template v-slot:prepend>
                      <img src="statics/countries/ES.svg" />
                    </template>
                    <template v-slot:counter>
                      <div class="cursor-pointer" @click="isCountriesOpen = true">
                        <span>Editar Países...</span>
                      </div>
                    </template>
                  </q-input>
                </div>
                <div class="col-12 q-pa-md">
                  <q-input outlined
                    :autofocus="action !== 'add'"
                    v-model="data.name"
                    label="Nombre"
                    bottom-slots
                    lazy-rules
                    :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
                  >
                    <template v-slot:counter>
                      <div class="cursor-pointer" @click="openTranslations('name')">
                        <q-badge class="q-ml-xs"
                          v-for="(value, key) of nameLangStatus" :key="key"
                          :color="value ? 'grey-9' : 'negative'"
                        >
                          {{key}}
                        </q-badge>
                      </div>
                    </template>
                  </q-input>
                </div>

                <div class="col-12 q-pa-md">
                  <q-input outlined
                    v-model="data.description"
                    label="Descripción"
                    autogrow
                    bottom-slots
                    lazy-rules
                    :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
                  >
                    <template v-slot:counter>
                      <div class="cursor-pointer" @click="openTranslations('description')">
                        <q-badge class="q-ml-xs"
                          v-for="(value, key) of descriptionLangStatus" :key="key"
                          :color="value ? 'grey-9' : 'negative'"
                        >
                          {{key}}
                        </q-badge>
                      </div>
                    </template>
                  </q-input>
                </div>

                <!-- web description -->
                <div class="col-12 q-pa-md">
                  <q-input outlined
                    v-model="data.webDescription"
                    label="Descripción web"
                    autogrow
                    bottom-slots
                    lazy-rules
                    :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
                  >
                    <template v-slot:counter>
                      <div class="cursor-pointer" @click="openTranslations('webDescription')">
                        <q-badge class="q-ml-xs"
                          v-for="(value, key) of webDescriptionLangStatus" :key="key"
                          :color="value ? 'grey-9' : 'negative'"
                        >
                          {{key}}
                        </q-badge>
                      </div>
                    </template>
                  </q-input>
                </div>

                <div class="col-12 q-pa-md" v-if="oldVersion">
                  <q-input outlined
                    v-model="data.gratitude"
                    label="Frases de agradecimiento"
                    autogrow
                    bottom-slots
                  >
                    <template v-slot:hint>
                      <div class="cursor-pointer" @click="testGratitude">
                        <span>Test...</span>
                      </div>
                    </template>
                    <template v-slot:counter>
                      <div class="cursor-pointer" @click="openTranslations('gratitude')">
                        <q-badge class="q-ml-xs"
                          v-for="(value, key) of gratitudeLangStatus" :key="key"
                          :color="value ? 'grey-9' : 'negative'"
                        >
                          {{key}}
                        </q-badge>
                      </div>
                    </template>
                  </q-input>
                </div>
              </div>
              <q-card-section class="q-gutter-md">
              </q-card-section>

              <q-card-actions align="right">
                <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
                <q-btn
                  :loading="loading"
                  type="submit"
                  :label="$q.lang.label.ok"
                  color="secondary" />
              </q-card-actions>
            </q-form>
          </div>

          <translation-form :initialData="data.translations[this.trans.field]"
            @ok="getTranslations"
            :open="trans.isOpen"
            @hide="trans.isOpen = false"
          />

          <q-dialog :maximized="$q.screen.lt.sm" v-model="isCountriesOpen" transition-show="flip-down" transition-hide="flip-up" persistent>
            <q-card style="width: 900px; max-width: 80vw;">
              <q-bar>
                <div>Ongs por país</div>
                <q-space ></q-space>
                <q-btn dense flat icon="close" v-close-popup>
                  <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
                </q-btn>
              </q-bar>
              <div class="row q-pa-md">
                <div class="col">
                    <div class="row q-mt-md">
                      <div class="col-12 q-pa-md" v-for="key in COUNTRIES" :key="key">
                        <q-input outlined
                          v-model="data.countries[key]"
                          autogrow
                          :label="key"
                          clearable
                        >
                          <template v-slot:prepend>
                            <img :src="`statics/countries/${key}.svg`" />
                          </template>
                        </q-input>
                      </div>
                    </div>
                    <q-card-actions align="right">
                      <q-btn :label="$q.lang.label.close" v-close-popup color="secondary"/>
                    </q-card-actions>
                  <!-- {{data.countries}} -->
                </div>
              </div>
            </q-card>
          </q-dialog>
        </div>
      </q-card>
    </q-dialog>
</template>

<script>
import gql from 'graphql-tag'

// Mixins
import notify from 'components/js/mixins/notify'

import { IMAGES_URI, OTHER_LANGS } from 'components/js/constants'

import TranslationForm from 'components/forms/Translations'
import ImageModal from 'components/images/DemoModal'

const COUNTRIES = ['ES', 'AR', 'CO', 'IT', 'PT', 'RU']

export default {
  name: 'ProjectForm',
  mixins: [notify],
  components: {
    TranslationForm,
    ImageModal
  },
  props: {
    open: Boolean,
    action: String,
    initialData: Object,
    seasonId: String,
    ongs: Array
  },
  data () {
    return {
      imageURI: IMAGES_URI + 'projects/',
      isOpen: false,
      loading: false,
      oldVersion: false,
      COUNTRIES,
      isCountriesOpen: false,
      data: {
        name: '',
        picture: null,
        ong: null,
        description: null,
        webDescription: null,
        gratitude: null,
        translations: {},
        countries: {}
      },
      trans: {
        isOpen: false,
        field: 'name'
      },
      nameLangStatus: {},
      descriptionLangStatus: {},
      webDescriptionLangStatus: {},
      gratitudeLangStatus: {}
    }
  },

  watch: {
    open: function (newValue, oldValue) {
      this.isOpen = newValue
      if (newValue && this.action === 'edit') {
        const initial = this.initialData
        this.data.name = initial.name
        this.data.ong = initial.ong
        this.data.description = initial.description
        this.data.webDescription = initial.webDescription
        this.data.picture = initial.picture
        this.data.gratitude = initial.gratitude
        this.data.countries = { ...initial.countries }
        this.data.translations = { ...initial.translations }
        this.setLangStatus('name')
        this.setLangStatus('description')
        this.setLangStatus('webDescription')
        this.setLangStatus('gratitude')
      } else {
        this.data = {
          name: '',
          picture: null,
          ong: null,
          description: null,
          webDescription: null,
          gratitude: null,
          countries: {},
          translations: {}
        }
        this.setLangStatus('name')
        this.setLangStatus('description')
        this.setLangStatus('webDescription')
        this.setLangStatus('gratitude')
      }
    }
  },
  methods: {
    setImage (payload) {
      this.data.picture = payload
    },
    testGratitude () {
      const phrases = { ...this.data.translations.gratitude }
      if (this.data.gratitude && this.data.gratitude.length > 0) phrases.es = this.data.gratitude || ''
      for (const key in phrases) {
        const value = phrases[key] || ''
        if (value && value.length > 0) {
          this.notifySuccess(`${key}: ${(phrases[key] || '').split('|').length} Frases`)
        }
      }
    },
    setLangStatus (field) {
      const info = {}
      for (const lang in OTHER_LANGS) info[lang] = false
      if (this.data) {
        const translations = this.data.translations[field]
        if (translations) {
          for (const lang in translations) info[lang] = translations[lang] && translations[lang].length > 0
        }
      }
      this[`${field}LangStatus`] = info
    },
    async openTranslations (field) {
      this.trans.isOpen = true
      this.trans.field = field
    },
    getTranslations (payload) {
      const field = this.trans.field
      this.trans.isOpen = false
      this.data.translations[ field ] = payload
      this.setLangStatus(field)
    },
    async add () {
      try {
        // Mutation
        this.loading = true
        const { data } = await this.$apollo.mutate({
          mutation: gql`mutation($data: String!, $id: String!, $seasonId: String!){
            projectUpsert(data: $data, id: $id, seasonId: $seasonId){
              id
              name
              description
              webDescription
              picture
              ong{
                id
                name
              }
              gratitude
              translations
              countries
            }
          }`,
          variables: {
            data: JSON.stringify(this.data),
            id: this.action === 'add' ? 'add' : this.initialData.id,
            seasonId: this.seasonId
          }
        })
        if (this.action === 'add') this.$emit('add', data.projectUpsert)
        this.notifyDone()
        this.isOpen = false
      } catch (ex) {
        this.notifyError(ex, 0)
      } finally {
        this.loading = false
      }
    },

    onHide () {
      this.$emit('hide')
    }
  }
}
</script>

<style>
</style>
