<template>
    <q-dialog @hide="onHide"
      v-model="isOpen"
      full-height
      full-width
    >
      <q-layout view="Lhh lpR fff" container class="bg-dark">
        <q-header class="bg-black">
          <q-toolbar>
            <q-space />
            <q-btn icon="close" :label="$q.lang.label.close" v-close-popup />
          </q-toolbar>
        </q-header>
        <q-footer class="bg-black">
          <q-toolbar>
            <q-space />
            <q-btn icon="close" :label="$q.lang.label.close" v-close-popup />
          </q-toolbar>
        </q-footer>
        <q-page-container>
          <q-page>
            <div class="q-pa-md text-white" v-if="cacheKey">
              <redis-content :cacheKey="cacheKey" @delete="removeKey"/>
            </div>
          </q-page>
        </q-page-container>
      </q-layout>
    </q-dialog>
</template>

<script>

// Mixins
import notify from 'components/js/mixins/notify'

import RedisContent from 'components/partials/Redis.content'

export default {
  props: {
    cacheKey: String,
    open: Boolean
  },
  components: {
    RedisContent
  },
  mixins: [notify],
  data () {
    return {
      // Forms
      isOpen: false
    }
  },
  computed: {
  },
  watch: {
    open: function (nv, ov) {
      this.isOpen = nv
    }
  },
  methods: {
    onHide () {
      this.$emit('hide')
    },
    removeKey (payload) {
      this.$emit('removeKey', payload)
    }
  }
}
</script>

<style lang="stylus">
</style>
