<template>
  <q-dialog
    :maximized="$q.screen.lt.sm"
    v-model="isOpen"
    transition-show="flip-down"
    transition-hide="flip-up"
    @hide="onHide"
  >
    <q-card dark style="width: 1000px; max-width: 80vw;">
      <q-bar>
        <div>Referee</div>
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">{{
            $q.lang.label.close
          }}</q-tooltip>
        </q-btn>
      </q-bar>
      <q-form @submit="add">
        <div class="row q-mt-md">
          <div class="col-4 q-px-md" v-if="action === 'edit'">
            <q-input
              outlined
              dark
              :value="data.id"
              label="Id"
              lazy-rules
              readonly
              :rules="[val => (val && val !== 0) || $t('common.fieldRequired')]"
            />
          </div>
          <div class="col-3 q-pa-md">
              <q-input
              outlined
              dark
              v-model="data.firstName"
              label="firstName"
            />
          </div>
          <div class="col-3 q-pa-md">
              <q-input
              outlined
              dark
              v-model="data.lastName"
              label="lastName"
            />
          </div>
          <div class="col-3 q-pa-md">
              <q-input
              outlined
              dark
              v-model="data.email"
              label="email"
            />
          </div>
          <div class="col-3 q-pa-md">
              <q-input
              outlined
              dark
              v-model="data.phone"
              label="phone"
            />
          </div>
        </div>
        <q-card-actions align="right">
          <q-btn :label="$q.lang.label.close" v-close-popup flat />
          <q-btn
            :loading="loading"
            type="submit"
            :label="$q.lang.label.ok"
            color="secondary"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
import gql from 'graphql-tag'
// Mixins
import notify from 'components/js/mixins/notify'
export default {
  name: 'RefereeUpsert',
  mixins: [notify],
  components: { },
  props: {
    open: Boolean,
    action: String,
    initialData: Object
  },
  apollo: {
    $client: 'fwg',
    referee: {
      query: gql`
        query($id: String) {
          referee(id: $id) {
           id
           email
           firstName
           lastName
           phone
          }
        }
      `,
      variables () {
        return {
          id: this.initialData.id
        }
      },
      skip () {
        return this.action !== 'edit'
      },
      fetchPolicy: 'network-only'
    }
  },
  data () {
    return {
      isOpen: false,
      loading: false,
      data: {
        id: '',
        email: '',
        firstName: '',
        lastName: '',
        phone: ''
      }
    }
  },
  computed: { },
  watch: {
    open: async function (newValue) {
      this.isOpen = newValue
      if (newValue && this.action === 'edit') {
        const initial = this.initialData
        this.data = {
          ...this.data,
          ...initial
        }
      }
    }
  },
  async mounted () {
    await this.refresh()
  },
  methods: {
    async add () {
      try {
        // Mutation
        this.loading = true
        if (this.action === 'add') {
          const { data } = await this.$apollo.mutate({
            mutation: gql`
              mutation(
                $email: String!
                $firstName: String!
                $lastName: String!
                $phone: String
                $type: String          
              ) {
                createUser(
                  email: $email
                  firstName: $firstName
                  lastName: $lastName
                  phone: $phone
                  type: $type
                ) {
                  id
                  email
                  firstName
                  lastName
                  type
                }
              }
            `,
            variables: {
              ...this.data,
              type: 'REFEREE'
            }
          })
          this.$emit('add', data.upsertChallenge)
        } else {
          await this.$apollo.mutate({
            mutation: gql`
              mutation(
                $id: String
                $email: String
                $firstName: String
                $lastName: String
                $phone: phone
                $type: String         
              ) {
                updateUser(
                  id: $id
                  email: $email
                  firstName: $firstName
                  lastName: $lastName
                  type: $type
                ) {
                  id
                  email
                  firstName
                  lastName
                  type
                }
              }
            `,
            variables: {
              ...this.data
            }
          })
        }
        this.notifyDone()
        this.isOpen = false
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.loading = false
      }
    },
    onHide () {
      this.$emit('hide')
    },
    async refresh () {
      const response = await this.$apollo.queries.referee.refetch()
      if (response) {
        this.data = response.data.referee
      }
    }
  }
}
</script>

<style></style>
