<template>
  <q-dialog :maximized="$q.screen.lt.sm" v-model="isOpen" transition-show="flip-down" transition-hide="flip-up" @hide="onHide" persistent>
      <q-card>
        <q-bar>
          <div>Temporada H4C</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-form @submit="add">
          <div class="row q-mt-md">
            <div class="col-12 q-px-md">
              <q-input outlined autofocus
                v-model="data.name"
                label="Nombre"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
            <div class="col-4 q-px-md">
              <q-input outlined
                v-model.number="data.found"
                label="Fondo"
                type="number"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div><div class="col-4 q-px-md">
              <q-input outlined
                v-model="data.from"
                label="Desde"
                type="date"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div><div class="col-4 q-px-md">
              <q-input outlined
                v-model="data.to"
                label="Hasta"
                type="date"
                lazy-rules
                :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
              />
            </div>
          </div>
          <q-card-section class="q-gutter-md">
          </q-card-section>

          <q-card-actions align="right">
            <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
            <q-btn
              :loading="loading"
              type="submit"
              :label="$q.lang.label.ok"
              color="secondary" />
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
</template>

<script>
import gql from 'graphql-tag'

// Mixins
import notify from 'components/js/mixins/notify'

export default {
  name: 'SeasonForm',
  mixins: [notify],
  props: {
    open: Boolean,
    action: String,
    initialData: Object
  },
  data () {
    return {
      isOpen: false,
      loading: false,
      data: {
        name: '',
        found: 0,
        from: 'dd/mm/aaaa',
        to: 'dd/mm/aaaa'
      }
    }
  },

  watch: {
    open: function (newValue, oldValue) {
      this.isOpen = newValue
      if (newValue && this.action === 'edit') {
        const initial = this.initialData
        this.data.name = initial.name
        this.data.found = initial.found
        this.data.from = initial.from.split('T')[0]
        this.data.to = initial.to.split('T')[0]
      }
    }
  },
  methods: {
    async add () {
      try {
        // Mutation
        this.loading = true
        const { data } = await this.$apollo.mutate({
          mutation: gql`mutation($data: String!, $id: String!){
            seasonUpsert(data: $data, id: $id){
              id
              name
              found
              from
              to
            }
          }`,
          variables: {
            data: JSON.stringify(this.data),
            id: this.action === 'add' ? 'add' : this.initialData.id
          }
        })
        if (this.action === 'add') this.$emit('add', data.seasonUpsert)
        this.notifyDone()
        this.isOpen = false
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.loading = false
      }
    },

    onHide () {
      this.$emit('hide')
    }
  }
}
</script>

<style>
</style>
