<template>
  <q-dialog
    :maximized="$q.screen.lt.sm"
    v-model="isOpen"
    transition-show="flip-down"
    transition-hide="flip-up"
    @hide="onHide"
  >
    <q-card dark style="width: 1000px; max-width: 80vw;">
      <q-bar>
        <div>Equipo</div>
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">{{
            $q.lang.label.close
          }}</q-tooltip>
        </q-btn>
      </q-bar>
      <q-form @submit="submit">
        <div class="row q-mt-md">
          <div class="col-4 q-px-md">
            <q-input
              outlined
              dark
              v-model="data.code"
              label="Codigo"
              readonly
            />
          </div>
          <div class="col-4 q-px-md">
            <q-input outlined dark v-model="data.id" label="Id" readonly />
          </div>
        </div>
        <q-separator :dark="false" />

        <q-tabs
          v-model="tab"
          class="q-mt-md text-secondary"
          inline-label
          align="justify"
        >
          <q-tab label="Info" name="one" icon="text_fields" />
          <q-tab :label="`Fitboxers ${(data.fitboxers && data.fitboxers.length) > 0 ? '('+data.fitboxers.length+')' : ''}`" name="two" icon="people" />
        </q-tabs>
        <q-tab-panels v-model="tab" animated class="q-mb-md">
          <q-tab-panel name="one" class="bg-dark row q-px-none">
            <div class="col-4 q-pa-md">
              <q-input
                outlined
                dark
                v-model.number="data.trainer.email"
                label="Trainer"
                bottom-slots
                :rules="[val => !!val || 'Field is required']"
                error-message="Trainer required"
              />
            </div>
            <div class="col-4 q-pa-md">
              <q-input outlined dark v-model.number="data.name" label="Name" />
            </div>
            <div class="col-4 q-pa-md">
              <q-input
                outlined
                dark
                v-model.number="data.motto"
                bottom-slots
                :rules="[val => !!val || 'Field is required']"
                label="Motto"
              />
            </div>
          </q-tab-panel>
          <q-tab-panel name="two" class="bg-dark row q-px-none">
            <fitboxers-team :list="data.fitboxers" :team="this.data.code" />
          </q-tab-panel>
        </q-tab-panels>
        <q-card-actions align="right">
          <q-btn :label="$q.lang.label.cancel" v-close-popup flat />
          <q-btn
            :loading="loading"
            type="submit"
            :label="$q.lang.label.ok"
            color="secondary"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
import gql from 'graphql-tag'
import FitboxersTeam from '../partials/FitboxersTeam.vue'
// Mixins
import notify from 'components/js/mixins/notify'

const QUERY_TEAM = gql`
  query($code: String) {
    team(code: $code) {
      id
      name
      code
      motto
      trainer {
        id
        email
        firstName
        lastName
      }
      fitboxers {
        id
        nickName
        email
        firstName
        lastName
      }
    }
  }
`
export default {
  name: 'TeamForm',
  mixins: [ notify ],
  components: {
    FitboxersTeam
  },
  props: {
    open: Boolean,
    initialData: Object
  },
  apollo: {
    $client: 'fwg',
    team: {
      query: QUERY_TEAM,
      variables () {
        return {
          code: this.initialData.code
        }
      },
      skip () {
        return true
      },
      fetchPolicy: 'network-only'
    }
  },
  data () {
    return {
      isOpen: false,
      tab: 'one',
      loading: false,
      data: {
        id: '',
        code: '',
        name: '',
        motto: '',
        trainer: {},
        fitboxers: []
      }
    }
  },

  watch: {
    open: async function (newValue, oldValue) {
      this.isOpen = newValue
      if (newValue) {
        const initial = this.initialData
        // this.fitboxers = initial.fitboxers
        // delete initial.fitboxers
        this.data = {
          ...initial,
          fitboxers: []
        }
        await this.refresh()
      }
    }
  },
  async mounted () {
    // const team = await this.$apollo.queries.team.refetch()
    // console.log(team)
  },
  methods: {
    async submit () {
      try {
        this.loading = true
        await this.$apollo.mutate({
          mutation: gql`
            mutation(
              $code: String
              $name: String
              $motto: String
              $trainerEmail: String
            ) {
              updateTeam(
                code: $code
                name: $name
                motto: $motto
                trainerEmail: $trainerEmail
              ) {
                id
                code
              }
            }
          `,
          variables: {
            code: this.data.code,
            name: this.data.name,
            motto: this.data.motto,
            trainerEmail: this.data.trainer.email
          }
        })
        this.notifyDone()
        await this.$apollo.queries.team.refetch()
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.loading = false
      }
    },
    clubSelected (selected) {
      this.data.clubAlias = selected.alias
    },
    clubMerchantSelected (selected) {
      this.data.clubMerchantAlias = selected.alias
    },
    onHide () {
      this.$emit('hide')
    },
    async refresh () {
      const { data } = await this.$apollo.query({
        query: QUERY_TEAM,
        variables: {
          code: this.initialData.code
        },
        fetchPolicy: 'network-only'
      })
      if (data && data.team) {
        this.data = data.team
      }
    }
  }
}
</script>

<style></style>
