<template>
  <q-dialog
    :maximized="$q.screen.lt.sm"
    v-model="isOpen"
    transition-show="flip-down"
    transition-hide="flip-up"
    @hide="onHide"
  >
    <q-card dark style="width: 1000px; max-width: 80vw;">
      <q-bar>
        <div>Torneos</div>
        <q-space></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">{{
            $q.lang.label.close
          }}</q-tooltip>
        </q-btn>
      </q-bar>
      <q-form @submit="add">
        <div class="row q-mt-md">
          <div class="col-4 q-px-md" v-if="action === 'edit'">
            <q-input
              outlined
              dark
              :value="data.id"
              label="Id"
              lazy-rules
              readonly
              :rules="[val => (val && val !== 0) || $t('common.fieldRequired')]"
            />
          </div>
          <div class="col-4 q-px-md">
            <template>
                <q-input datetime filled :value="data.date" dark readonly>
                  <template v-slot:prepend>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                        <q-date v-model="data.date" :mask="dateMask">
                          <div class="row items-center justify-end">
                            <q-btn v-close-popup label="Close" color="primary" flat />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                  <template v-slot:append>
                    <q-icon name="access_time" class="cursor-pointer">
                      <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                        <q-time v-model="data.date"  :mask="dateMask" format24h @change="()=> { console.log( data ) } ">
                          <div class="row items-center justify-end">
                            <q-btn v-close-popup label="Close" color="primary" flat />
                          </div>
                        </q-time>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
            </template>
          </div>
        </div>
        <q-separator :dark="false" />

        <q-tabs
          v-model="tab"
          class="q-mt-md text-secondary"
          inline-label
          align="justify"
        >
          <q-tab label="Info" name="infoTab" icon="text_fields" />
          <q-tab :label="'Teams (' + teamsQty +')'" name="teamsTab" icon="sports_mma" v-if="action === 'edit'"/>
          <q-tab :label="'Referees'" name="refereeTab" icon="users" v-if="action === 'edit'"/>
        </q-tabs>
        <q-tab-panels v-model="tab" animated class="q-mb-md">
          <q-tab-panel name="infoTab" class="bg-dark row q-px-none">
            <div class="col-3 q-pa-md">
              <district-selector
                @selected="clubSelected"
                label="Sede"
                :value="{ alias: data.clubAlias }"
              ></district-selector>
            </div>
            <div class="col-3 q-pa-md">
              <district-selector
                @selected="clubMerchantSelected"
                label="Centro de cobro"
                :value="{ alias: data.clubMerchantAlias }"
              ></district-selector>
            </div>
            <div class="col-3 q-pa-md">
                <q-input
                outlined
                dark
                v-model="data.capacity"
                label="Capacity"
              />
            </div>
            <div class="col-2 q-pa-md">
              <q-input
                outlined
                dark
                data-lpignore="true"
                v-model.number="data.price"
                label="Price"
              />
            </div>
            <div class="col-2 q-pa-md">
              <q-input
                outlined
                dark
                v-model="data.status"
                label="Estado"
                readonly
              />
            </div>
            <div class="col-2 q-pa-md">
              <q-input
                outlined
                dark
                v-model="data.currency"
                label="Moneda"
                data-lpignore="true"
                readonly
              />
            </div>
          </q-tab-panel>
          <q-tab-panel
            name="teamsTab"
            class="bg-dark full-width"
            v-if="action === 'edit'">
            <teams-tournament
              ref="grid"
              :tournament="this.data.id"
              :list="this.data.teams"
              :flat="false"
              @update="refresh"
            ></teams-tournament>
          </q-tab-panel>
          <q-tab-panel
            name="refereeTab"
            class="bg-dark full-width"
            v-if="action === 'edit'">
            <referee-tournament
              ref="grid"
              :tournament="this.data.id"
              :list="this.data.referees"
              :flat="false"
              @update="refresh"
            ></referee-tournament>
          </q-tab-panel>
        </q-tab-panels>
        <q-card-actions align="right">
          <q-btn :label="$q.lang.label.close" v-close-popup flat />
          <q-btn
            :loading="loading"
            type="submit"
            :label="$q.lang.label.ok"
            color="secondary"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
import gql from 'graphql-tag'
import DistrictSelector from 'components/controls/DistrictSelector'
import TeamsTournament from '../partials/TeamsTournament.vue'
import RefereeTournament from '../partials/RefereeTournament.vue'
// Mixins
import notify from 'components/js/mixins/notify'
import { date } from 'quasar'

export default {
  name: 'TournamentForm',
  mixins: [notify],
  components: {
    DistrictSelector,
    TeamsTournament,
    RefereeTournament
  },
  props: {
    open: Boolean,
    action: String,
    initialData: Object
  },
  apollo: {
    $client: 'fwg',
    tournament: {
      query: gql`
        query($id: String) {
          tournament(id: $id) {
            id
            date
            name
            clubAlias
            clubMerchantAlias
            status
            price
            published
            currency
            capacity
            teams {
              id
              code
              name
              motto
            }
            referees {
              id
              firstName
              lastName
              email
              photo
            }
          }
        }
      `,
      variables () {
        return {
          id: this.initialData.id
        }
      },
      skip () {
        return this.action !== 'edit'
      },
      fetchPolicy: 'network-only'
    }
  },
  data () {
    return {
      isOpen: false,
      tab: 'infoTab',
      dateMask: 'YYYY-MM-DD HH:mm',
      loading: false,
      data: {
        id: '',
        date: new Date(),
        clubMerchantAlias: 'BFI',
        clubAlias: '',
        price: 0.0,
        capacity: 8,
        status: '',
        published: false,
        teams: [],
        referees: [],
        currency: 'EUR',
        time: new Date()
      }
    }
  },
  computed: {
    teamsQty () {
      const qty = this.data.teams ? this.data.teams.length : 0
      return qty
    }
  },
  watch: {
    open: async function (newValue) {
      this.isOpen = newValue
      if (newValue && this.action === 'edit') {
        const initial = this.initialData
        this.data = {
          ...this.data,
          ...initial,
          date: date.formatDate(initial.date, 'YYYY-MM-DD HH:mm')
        }
      }
    }
  },
  async mounted () {
    await this.refresh()
  },
  methods: {
    async add () {
      try {
        // Mutation
        this.loading = true
        const tournamentDate = date.extractDate(this.data.date, 'YYYY-MM-DD HH:mm').toISOString()
        delete this.data.teams
        if (this.action === 'add') {
          const { data } = await this.$apollo.mutate({
            mutation: gql`
              mutation(
                $date: DateTime
                $name: String
                $clubAlias: String
                $clubMerchantAlias: String
                $price: Float
                $status: String
                $capacity: Int
              ) {
                createTournament(
                  date: $date
                  name: $name
                  clubAlias: $clubAlias
                  clubMerchantAlias: $clubMerchantAlias
                  price: $price
                  status: $status
                  capacity: $capacity
                ) {
                  date
                  name
                  clubAlias
                  clubMerchantAlias
                  price
                  status
                  capacity
                }
              }
            `,
            variables: {
              ...this.data,
              capacity: parseInt(this.data.capacity || '8'),
              date: tournamentDate
            }
          })
          this.$emit('add', data.upsertChallenge)
        } else {
          await this.$apollo.mutate({
            mutation: gql`
              mutation(
                $id: String
                $date: DateTime
                $name: String
                $clubAlias: String
                $clubMerchantAlias: String
                $price: Float
                $status: String
                $published: Boolean
                $capacity: Int
              ) {
                updateTournament(
                  id: $id
                  date: $date
                  name: $name
                  clubAlias: $clubAlias
                  clubMerchantAlias: $clubMerchantAlias
                  price: $price
                  status: $status
                  published: $published
                  capacity: $capacity
                ) {
                  id
                  date
                  name
                  clubAlias
                  clubMerchantAlias
                  price
                  status
                  published
                  capacity
                }
              }
            `,
            variables: {
              ...this.data,
              capacity: parseInt(this.data.capacity),
              date: tournamentDate,
              published: true
            }
          })
        }
        this.notifyDone()
        this.isOpen = false
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.loading = false
      }
    },
    clubSelected (selected) {
      this.data.clubAlias = selected.alias
    },
    clubMerchantSelected (selected) {
      this.data.clubMerchantAlias = selected.alias
    },
    onHide () {
      this.$emit('hide')
    },
    async refresh () {
      const response = await this.$apollo.queries.tournament.refetch()
      if (response) {
        this.data = response.data.tournament
        this.data.date = date.formatDate(response.data.tournament.date, 'YYYY-MM-DD HH:mm')
      }
    }
  }
}
</script>

<style></style>
