<template>
  <q-dialog :maximized="$q.screen.lt.sm" v-model="isOpen" transition-show="flip-down" transition-hide="flip-up" @hide="onHide" persistent>
      <q-card style="width: 900px; max-width: 80vw;">
        <q-bar>
          <div>Traducciones</div>
          <q-space ></q-space>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
          </q-btn>
        </q-bar>
        <div class="row q-pa-md">
          <div class="col">
            <q-form @submit="ok">
              <div class="row q-mt-md">
                <div class="col-12 q-pa-md" v-for="(value, key) in otherLangs" :key="key">
                  <q-input outlined
                    v-model="data[key]"
                    :label="value"
                    autogrow
                  />
                </div>
              </div>
              <q-card-actions align="right">
                <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
                <q-btn
                  :loading="loading"
                  type="submit"
                  :label="$q.lang.label.ok"
                  color="secondary" />
              </q-card-actions>
            </q-form>
          </div>
        </div>
      </q-card>
    </q-dialog>
</template>

<script>
// Mixins
import notify from 'components/js/mixins/notify'

import { OTHER_LANGS } from 'components/js/constants'

export default {
  name: 'TranslationsForm',
  mixins: [notify],
  props: {
    open: Boolean,
    initialData: Object,
    field: String
  },
  data () {
    return {
      otherLangs: OTHER_LANGS,
      isOpen: false,
      loading: false,
      data: {}
    }
  },

  watch: {
    open: function (newValue, oldValue) {
      this.isOpen = newValue
      if (newValue) {
        const initial = this.initialData
        for (const lang in initial) {
          this.data[lang] = initial[lang]
        }
      }
    }
  },
  methods: {
    async ok () {
      this.$emit('ok', { ...this.data })
    },

    onHide () {
      this.$emit('hide')
    }
  },
  mounted () {
    for (const lang in OTHER_LANGS) {
      this.$set(this.data, lang, null)
    }
  }
}
</script>

<style>
</style>
