<template>
  <q-dialog :maximized="$q.screen.lt.sm" v-model="isOpen" transition-show="flip-down" transition-hide="flip-up" @hide="onHide" persistent>
    <q-card dark>
      <q-bar>
        <div>User</div>
        <q-space ></q-space>
        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">{{$q.lang.label.close}}</q-tooltip>
        </q-btn>
      </q-bar>
      <q-form @submit="add">
        <div class="row q-mt-md">
          <div class="col-6 q-px-md">
            <q-input outlined dark
              v-model="data.name"
              label="Nombre"
              lazy-rules
              :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
            />
          </div>
          <div class="col-6 q-px-md">
            <q-input outlined dark
              v-model="data.email"
              label="Email"
              lazy-rules
              :rules="[ val => val && val !== 0 || $t('common.fieldRequired')]"
            />
          </div>
          <div class="col-12 q-px-md">
            <q-input outlined dark
              v-model="data.name"
              label="Avatar"
            />
          </div>
        </div>
        <q-card-actions align="right">
          <q-btn :label="$q.lang.label.cancel" v-close-popup flat/>
          <q-btn
            :loading="loading"
            type="submit"
            :label="$q.lang.label.ok"
            color="secondary" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
import gql from 'graphql-tag'

// Mixins
import notify from 'components/js/mixins/notify'

export default {
  name: 'UserEditForm',
  mixins: [notify],
  props: {
    open: Boolean,
    action: String,
    user: Object
  },
  data () {
    return {
      isOpen: false,
      loading: false,
      countries: [],
      data: {
        v7_id: 0,
        alias: '',
        name: '',
        altName: '',
        country: null,
        state: null
      },
      isStateOpen: false,
      modalAction: ''
    }
  },
  computed: {
    states () {
      const id = this.data.country && this.data.country.id
      return id ? this.countries.find(el => el.id === id).states : []
    }
  },
  apollo: {
    countries: {
      query: gql`query{
        countries{
          id
          name
          states{
            id
            name
          }
        }
      }`,
      result ({ data }) {
        if (!this.initialData) return
        this.selCountry()
      }
    }
  },

  watch: {
    open: function (newValue, oldValue) {
      this.isOpen = newValue
      if (newValue && this.action === 'edit') {
        const user = this.user
        this.data.name = user.name
        this.data.email = user.email
        this.data.avatar = user.avatar
      }
    }
  },
  methods: {
    async add () {
      try {
        // Mutation
        this.loading = true
        const { data } = await this.$apollo.mutate({
          mutation: gql`mutation($data: String!, $id: String!){
            districtUpsert(data: $data, id: $id){
              id
              name
              email
            }
          }`,
          variables: {
            data: JSON.stringify(this.data),
            id: this.action === 'add' ? 'add' : this.initialData.id
          }
        })
        if (this.action === 'add') this.$emit('add', data.districtUpsert)
        this.notifyDone()
        this.isOpen = false
      } catch (ex) {
        this.notifyError(ex)
      } finally {
        this.loading = false
      }
    },

    setState (payload) {
      if (this.modalAction === 'add') {
        this.data.country.states.unshift(payload)
      } else {
        const reg = this.states.find(el => el.id === payload.id)
        Object.assign(reg, payload)
      }
      this.data.state = payload
    },

    selCountry () {
      const countryId = this.initialData.country && this.initialData.country.id
      if (countryId) {
        const stateId = this.initialData.state && this.initialData.state.id
        this.data.country = this.countries.find(el => el.id === countryId)
        this.data.state = this.states.find(el => el.id === stateId)
      }
    },
    onHide () {
      this.$emit('hide')
    }
  }
}
</script>

<style>
</style>
